<!DOCTYPE html>
<html>
<#include "/module/header.html">
<head>
    <meta charset="UTF-8">
    <title>服务监控系统 </title>
    <link rel="stylesheet" type="text/css" href="${_static}/js/lib/laydate/theme/default/laydate.css">
    <link rel="stylesheet" type="text/css" href="${_static}/js/lib/ValidateForm/Validform.css">
    <link rel="stylesheet" type="text/css" href="${_static}/css/appServiceManage.css"/>
    <style type="text/css">
        i:hover{
            cursor: pointer;
        }
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            appearance: none;
        }
        input[type="number"]{
            -moz-appearance: textfield;
        }
    </style>
</head>

<body>

<div class="main-box clearfix">

    <#include "/module/navLeft.html">
    <div class="right-box">
        <div class="top-bar">
            <div class="text-title pull-left">
                主机管理 > 主机应用 > <span class="active">修改</span>
            </div>
            <a class="button-icon pull-right" onclick="history.back()">
                返回
            </a>
        </div>
        <div class="main" ng-app="app" ng-controller="controller" ng-cloak>
            <div class="block">
                <div class="text-title">修改主机应用信息</div>
                <div class="content">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label"><span class="text-danger">*&nbsp;</span>所属应用</label>
                            <div class="col-sm-8">
                                <select class="form-control" ng-options="system.appId as system.name for system in systemList" ng-model="app.appId"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"><span class="text-danger">*&nbsp;</span>部署目录</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" ng-model="app.installPath" datatype="*" nullmsg="部署目录不能为空">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"><span class="text-danger">*&nbsp;</span>分配内存(G)</label>
                            <div class="col-sm-8">
                                <input type="number" class="form-control" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')" ng-model="app.mem" datatype="*,n1-8" nullmsg="分配内存不能为空">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"><span class="text-danger">*&nbsp;</span>分配硬盘(G)</label>
                            <div class="col-sm-8">
                                <input type="number" class="form-control" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')" ng-model="app.harddisk" datatype="*,n1-8" nullmsg="分配硬盘不能为空">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"><span class="text-danger">*&nbsp;</span>访问地址</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" ng-model="app.indexUrl" datatype="*" nullmsg="访问地址不能为空">
                            </div>
                        </div>
                        <!--<div class="form-group">-->
                        <!--<label class="col-sm-2 control-label">部署时间</label>-->
                        <!--<div class="col-sm-8">-->
                        <!--<input id="deploy-time" type="text" class="form-control" placeholder="点击选择时间" ng-model="">-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--<div class="form-group">-->
                        <!--<label class="col-sm-2 control-label">申请使用截止日期</label>-->
                        <!--<div class="col-sm-8">-->
                        <!--<input id="stop-date"  type="text" class="form-control" placeholder="点击选择时间">-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--<div class="form-group">-->
                        <!--<label class="col-sm-2 control-label">部署人</label>-->
                        <!--<div class="col-sm-8">-->
                        <!--<input type="text" class="form-control">-->
                        <!--</div>-->
                        <!--</div>-->
                        <div class="form-group">
                            <label class="col-sm-2 control-label">备注</label>
                            <div class="col-sm-8">
                                <textarea class="form-control" ng-model="app.remark"></textarea>
                            </div>
                        </div>
                    </form>
                    <div class="button-bar button-bar-center">
                        <button class="btn btn-primary btn-submit" ng-click="save()">提交</button>
                        <button class="btn btn-default " onclick="history.back();return false;">取消</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<#include "/module/footer.html">
    <script type="text/javascript" src="${_static}/js/lib/laydate/laydate.js"></script>
    <script type="text/javascript" src="${_static}/js/lib/ValidateForm/Validform_v5.3.2_min.js"></script>
<script type="text/javascript" src="${_static}/js/lib/ValidateForm/Valid.js"></script>
<script>
    var pageType="hostList";
    /*初始化laydate*/
    //部署时间
    laydate.render({
        elem: '#deploy-time'
        ,type: 'datetime'
    });
    //使用截止日配
    laydate.render({
        elem: '#stop-date'
        ,type: 'date'
    });
    /*初始化laydate*/
</script>
</body>
<script type="text/javascript">
    /*angularJS*/
    var app = angular.module('app', []);
    app.controller('controller', function ($scope, $http, token) {
        var urlPrev = getUrlPrev('${_gate_url}');
        $scope.app = {};
        $('.btn-submit').valid({
            form: '#dataForm',
            showAllError: true,
            ignoreHidden: true,
            checkpassed: function () {
                $scope.save();
            }
        });
        //获取应用列表
        $scope.getSystem = function (appId) {
            $http.get(urlPrev + 'application/find',{
                headers: getHeaders(),
            }).success(function (res) {
                $scope.systemList = res.data;
                $scope.app.appId = appId;
            })
        }
        /*获取主机应用详情*/
        $scope.getApp = function () {
            $http.post(urlPrev + 'hostInstall/findforEdit',null,{
                params:{id:'${id}'},
                headers: {token: token.getToken(), isAdminx: true}
            }).success(function (res) {
                $scope.app = res.data;
                $scope.getSystem(res.data.appId);
            })
        }
        $scope.getApp();
        //更新主机应用信息
        $scope.app.hostId = '${id}';
        $scope.save = function() {
            $http.post(urlPrev + 'hostInstall/updateHostInstall',$scope.app,{
                headers: getHeaders(),
            }).success(function (res) {
                // if(res.data){
                //     history.back();
                // }
                if(res.errcode == 0){
                    history.back();
                }
            })
        }
    }).service('token', function () {
        this.getToken = function () {
            // return $.cookie('token');
            return getToken();
        }
    })
    /*angularJS*/
</script>
</html>