<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>短信历史记录</title>
    <link type="text/css" rel="stylesheet" href="${_static}/js/lib/bootstrap/css/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="${_static}/js/lib/jqgrid/css/ui.jqgrid-bootstrap.css">
    <link rel="stylesheet" href="${_static}/js/lib/zTree/css/zTreeStyle/zTreeStyle.css" />
    <link rel="stylesheet" href="${_static}/themes/blue/css/ui.css">
    <link rel="stylesheet" href="${_static}/css/sys_com/com.css">
    <link rel="stylesheet" type="text/css" href="${_static}/css/smsmessage/common.css"/>
    <link rel="stylesheet" type="text/css" href="${_static}/css/smsmessage/channel.css"/>
    <link rel="stylesheet" href="${_static}/css/core/module.css">
    <link rel="stylesheet" type="text/css" href="${_static}/css/smsmessage/drafts.css">
    <style>
        #right-box{
            height:calc(100% - 45px);
            border: 0;
        }
    </style>
</head>
<body style="background: #ffffff;border: 1px solid #eee;padding: 2%;height: 98%;">
<div class="draftsWrap">
    <div>
        已发布（共<span id="number">10</span>封）&nbsp;&nbsp;
    </div>
    <div>
        <ul class="form-wrap">
            <li>
                <label for="">应用程序：</label>
                <input class="easyui-combobox" id="way_type">
            </li>
            <li>
                <label for="">短信内容：</label>
                <input type="text" class="dr-ipt" >
            </li>
            <li>
                <label for="">发送时间：</label>
                <input id="createTimeStart" name="createTimeStart" class="Wdate" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',readOnly:true,maxDate:'#F{$dp.$D(\'createTimeEnd\')}'})" />
                <span>至</span>
                <input id="createTimeEnd" name="createTimeEnd" class="Wdate" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',readOnly:true,minDate:'#F{$dp.$D(\'createTimeStart\')}',startDate:'#F{$dp.$D(\'createTimeStart\',{d:+1})}'})" />
            </li>
            <li style="float: right;">
                <input type="button" class="btn-query" value="查询" onclick="search()">
            </li>
            <div class="clearfix"></div>
        </ul>
    </div>
    <div id="right-box" class="list-section">
        <!--<div class="list-content">-->
        <!--<div class="form-inline">-->
        <!--<fieldset>-->
        <div class="grid-section">
            <table id="list">
            </table>
            <div id="pager"></div>
        </div>
        <!--</fieldset>-->
        <!--</div>-->
        <!--</div>-->
    </div>
</div>
</body>
<script type="text/javascript" src="${_static}/js/jquery-1.8.0.js"></script>
<script src="${_static}/js/lib/zTree/js/jquery.ztree.core.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" src="${_static}/js/lib/jqgrid/js/jquery.jqGrid.js"></script>
<script type="text/javascript" src="${_static}/js/lib/jqgrid/i18n/grid.locale-cn.js"></script>
<script type="text/javascript" src="${_static}/js/hengyun/hengyun_ajax.js"></script>
<script type="text/javascript" src="${_static}/js/app.js"></script>
<script type="text/javascript" src="${_static}/js/module.js"></script>
<script type="text/javascript" src="${_static}/js/lib/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src="${_static}/js/lib/jquery/jquery.cookie.js" charset="utf-8"></script>
<script type="text/javascript" src="${_static}/js/lib/layer/layer.js" charset="utf-8"></script>
<script type="text/javascript" src="${_static}/js/jquery.combobox.js"></script>
<script>
    var tableObj = null;//jqgrid表对象

    $(function(){
        ajaxHengyun({
            type: 'post',
            url: "${_gate_url}/api/msgs/channeltype/querySelect",
            dataType: "json",
            contentType: "application/json",
            cache: false,
            success: function(res) {
                res.data.list.unshift({
                    name: '全部',
                    id: ''
                })
                $("#way_type").combobox({
                    disabled: false,
                    editable: false, // 可编辑
                    panelHeight: 'auto',
                    valueField: 'id',
                    textField: 'name',
                    height: 32,
                    multiple: false, // 单选复选
                    data: res.data.list,
                    onSelect: function(data) {
                        $("#way_type").attr("id_find",$(this).combobox('getValues')[0])
//						   $(this).combobox('setValues',$(this).combobox('getValues'))
//							(this).combobox('setTexts',$(this).combobox('getTexts'))
                    },
                    onLoadSuccess: function(data) {
                        //							$(this).combobox('setValue', "1")
                        //          $(this).combobox('setTexts',"全部")
                    }
                });
            },
        });


    })
    //获取文档列表
    window.onload=function(){
        getdocumentList()
    }
    function getdocumentList() {
        var height = $("#right-box").height() - 90;
        tableObj = $("#list").jqGrid({
            mtype: 'post',
            datatype: "json",
            postData: {
                pageNo: 1,
                pageSize: 10,
                data: {
                    msgStatus: 0
                }
            },
            contentType: 'application/json',
            serializeGridData:function(postData){
                return JSON.stringify(postData);
            },
            url: '${_gate_url}/api/msgs/message/query',
            rowList : [10,15,20],
            rowNum:10,
            sortname: 'id', //初始化的时候排序的字段
            colNames: ["应用程序","接收人", "短信内容","发送时间","操作"],
            colModel: [{
                name: 'channelSum',
                index: 'channelSum'
            }, {
                name: 'msgTxt',
                index: 'msgTxt'
            },{
                name: 'msgTxt',
                index: 'msgTxt'
            }, {
                name: 'createTime',
                index: 'createTime'
            }, {
                name: 'act',
                index: 'act',
                title: false,
                width: '150',
                align: 'center',
                formatter: formatterAct
            }],
            jsonReader: {
                root:"data.list",
                page: "data.pageNum",
                total: "data.pages",
                records: "data.size"
            },
            onPaging: function(pgButton) {
                var pageNo = $(".ui-pg-input").val();
                pageNo = parseInt(pageNo);
                var total = ($("#sp_1_pager_toppager").text()).replace(/,/g,'');
                total = parseInt(total);
                if(pgButton == "next") {
                    if(pageNo >= total) {
                        return false;
                    } else {
                        pageNo += 1;
                    }
                } else if(pgButton == "prev") {
                    if(pageNo > 1) {
                        pageNo -= 1;
                    } else {
                        return false;
                    }
                } else if(pgButton == "last") {
                    pageNo = total;
                } else if(pgButton == "first") {
                    pageNo = 1;
                }
                var pageSize = $(".ui-pg-selbox").val();
                if(pageNo != 0) {
                    $("#list").setGridParam({
                        postData: {
                            pageNo: pageNo,
                            pageSize: pageSize
                        }
                    }).trigger("reloadGrid");
                    return false;
                }
            },
            pager: '#pager',
            height: height
        });

    }
    //上传时间
    function formatterCreateTime(cellvalue, options, rawObject) {
        Date.prototype.Format = function (fmt) { //author: meizz
            var o = {
                "M+": this.getMonth() + 1, //月份
                "d+": this.getDate(), //日
                "h+": this.getHours(), //小时
                "m+": this.getMinutes(), //分
                "s+": this.getSeconds(), //秒
                "q+": Math.floor((this.getMonth() + 3) / 3), //季度
                "S": this.getMilliseconds() //毫秒
            };
            if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
            for (var k in o)
                if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
            return fmt;
        }
        return new Date(cellvalue).Format("yyyy-MM-dd hh:mm:ss");
    }
    //是否过期
    function formatterIsEnable(cellvalue, options, rawObject) {
        if(cellvalue=="true"){
            return "在用";
        }else{
            return "过期";
        }
    }
    //操作列
    var id;
    function formatterAct(cellvalue, options, rawObject) {
        var returnValue = "";
        id = rawObject.id;
        returnValue += '<a class="ui-button" href="${_cp}/msgs/messageView?id='+id+'">';
        returnValue += '详情</a>';

        return returnValue;
    }
    //模糊查询
    function search() {
        var name = $('.dr-ipt').val();
        var code = $('#code').val();
        var channetype_id=$("#way_type").attr("id_find")//渠道类型id
        var classifyId = $("#classifyId").val();
        var createUserName = $("#createUserName").val();
        var createTimeStart = $("#createTimeStart").val();
        if(createTimeStart != "") {
            createTimeStart = createTimeStart + " 00:00:00";
        }
        var createTimeEnd = $("#createTimeEnd").val();
        if(createTimeEnd != "" ) {
            createTimeEnd = createTimeEnd + " 23:59:59";
        };
        var isEnable = $("#isEnable").val();
        tableObj.setGridParam({
            postData: {
                pageNo: 1,
                pageSize: 10,
                data: {
                    msgStatus: 0,
                    name: name,
                    channelType: channetype_id,
                    createTimeStart: createTimeStart,
                    createTimeEnd: createTimeEnd,
                    isEnable: isEnable
                }
            },
            datatype: "json",
            contentType: 'application/json',
            serializeGridData: function(postData) {
                return JSON.stringify(postData);
            }

        }, true).trigger('reloadGrid');
    }
    //刷新表格
    function reloadJqgrid(){
        tableObj.setGridParam({
            postData:{pageNo:1,pageSize:20,}},true).trigger('reloadGrid');
    }

    //添加页面数据用后台编程获取数据时可删除
    var newrowid;
</script>
</html>



