<!doctype html>
<html>
<head>
    <base href="<%=basePath%>">

    <!--<title>短信使用</title>-->
    <meta http-equiv="Expires" content="0" />
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- begin 外部CSS引入 -->

    <!-- 外部CSS引入 -->
    <link type="text/css" rel="stylesheet" href="${_static}/js/lib/bootstrap/css/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="${_static}/js/lib/jqgrid/css/ui.jqgrid-bootstrap.css">
    <link type="text/css" rel="stylesheet" href="${_static}/themes/blue/css/ui.css">
    <link type="text/css" rel="stylesheet" href="${_static}/css/sys_com/com.css">
    <link type="text/css" rel="stylesheet" href="${_static}/css/core/module.css">
    <link rel="stylesheet" type="text/css" href="${_static}/js/lib/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="${_static}/css/sms/common.css"/>
    <link rel="stylesheet" type="text/css" href="${_static}/css/sms/zstyle.css"/>
    <link type="text/css" rel="stylesheet" href="${_static}/js/lib/zTree/css/zTreeStyle/zTreeStyle.css"/>
    <link href="${_static}/css/viewCss/smsanalysis/com.css?v=0" rel="stylesheet" type="text/css"/>
    
    <style type="text/css">
        .console-container{
            height: auto;
        }
        .chart-container{
            height: 350px;
        }
        .rleasebox{
            min-height: 475px;
        }
        .heightAuto{
            height: 100%;
        }
        .heightAutoScend{
            height: 85%;
        }
    </style>
</head>
<body>
<div class="zworkspace-body" style="padding: 0;">
    <div class="clear rleasebox" style="padding: 0;border: none;">
        <div class="row heightAuto" style="margin-top: 0;">
            <div style="margin: 15px 0 0 70px;">
                <label>时间区间：</label>
                <label>开始时间</label>
                <input id="startTime" class="Wdate" style="width: 170px" />
                <span>~</span>
                <label>截止时间</label>
                <input id="endTime" class="Wdate"  style="width: 170px" />
                <button type="button" class="btn btn-primary" id="search">查询</button>
            </div>
            <!-- begin 页面内容主体 -->
            <div class="row heightAutoScend" style="margin: 15px 15px 0;">
                <div class="col-sm-12 heightAuto" style="background-color: #fff;padding: 0;">
                    <div class="chart-container heightAuto">
                        <div id="chart1" class="chart"></div>
                    </div>
                    <br>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
            <!-- end 页面内容主体 -->
        </div>
    </div>
</div>
<!--begin 外部JS引入 -->
<script type="text/javascript">
    var _GATE_URL = "${_gate_url}";
</script>
<script type="text/javascript" src="${_static}/js/lib/jquery/jquery.min.js"></script>
<script type="text/javascript" src="${_static}/js/lib/echarts/echarts.min.js?v=2"></script>
<script type="text/javascript" src="${_static}/js/lib/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src="${_static}/js/lib/jquery/jquery.cookie.js" charset="utf-8"></script>
<script type="text/javascript" src="${_static}/js/lib/layer/layer.js" charset="utf-8"></script>
<script type="text/javascript" src="${_static}/js/lib/jquery/jquery.cookie.js" charset="utf-8"></script>
<script type="text/javascript" src="${_static}/js/hengyun/hengyun_ajax.js"></script>
<script type="text/javascript" src="${_static}/js/hengyun/hengyun_resource.js"></script>
<script src="${_static}/js/viewJs/smsanalysis/sendAndReceive.js?v=3"></script>
</body>
</html>
