.page-title{
    height: 15px;
    font-size: 14px;
    line-height: 14px;
}
.fileItem{
    color:#333;
    line-height: 24px;
}
.fileItem i{
    margin-left: 10px;
    color: #333;
    cursor: pointer;
}