.row {
    margin: 0 0;
    margin-bottom: 15px;
    padding-bottom: 15px;
}

.console-title {
    min-height: 20px;
    text-align: center;
    font-size: 18px;
    color: #000000;
    border-bottom: none;
}

.list-section {
    padding-bottom: 24px;
    background: #fff;
}

.list-content {
    width: 98%;
    margin: 0 auto;
}

.list-content h5 {
    margin: 0 0;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #0099cc;
}

.list-content h4 {
    font-size: 12px;
    line-height: 12px;
    font-family: "微软雅黑";
    vertical-align: middle;
}

label.control-label {
    text-align: right;
}

table.infoList tr th {
    border: 1px solid #e1e6eb;
    padding: 10px 12px;
    vertical-align: middle;
    width: 180px;
    font-weight: normal;
}

table.infoListTab tr th {
    width: auto;
}

.upuserhead {
    position: absolute;
    top: 0;
    right: 0;
}

.uploader {
    width: 100%;
}

table.infoList tbody tr td input.form-control {
    width: 100%;
}

table.infoList tbody tr td select.form-control {
    width: 100%;
}

.w153 {
    width: 180px !important;
}

/* 日志查看css代码开始 */
.div_right {
    border: 1px solid #2fb8ff;
}

.div_btm div {
    margin-right: 30px;
    float: left;
    color: #FFFFFF;
    line-height: 27px;
}

.text-center {
    margin-top: 30px;
}

.text-center > div {
    margin-bottom: 50px;
}

.table_workName th {
    text-align: right;
    padding-right: 10px;
    vertical-align: middle;
}

.table_workName td {
    text-align: left;
}

.table tbody tr .tale_btm {
    border-bottom: 1px dashed #d4e1f9;
}

.table tbody tr td a {
    text-decoration: underline;
    color: #00AFF0;
    margin-right: 10px;
}

ul {
    padding: 0;
}

ul li {
    list-style: none;
}

.personNameTxt {
    font-size: 18px;
}

.numTxt {
    font-size: 24px;
    color: #0af6ff;
}

.numTxtEro {
    font-size: 24px;
    color: #fd0909;
}

.img_type {
    position: absolute;
    right: 16px;
}

.table > tbody > tr > th,
.table > tbody > tr > td {
    border-top: 0;
}

/* 日志查看css代码结束 */

.task-box {
    min-height: 135px;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    width: 24%;
    margin-right: 1%;
}

.task-box img {
    margin-top: 10px;
    width: 80px;
    height: 80px;
}

.task-box #logTag {
    display: inline-block;
    width: 120px;
    height: 30px;
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
    font-weight: bold;
    line-height: 30px;
    position: absolute;
    transform: rotate(45deg);
    text-align: center;
    top: 10px;
    right: -35px;
    letter-spacing: 3px;

}

.task-box ul {
    list-style: none;
    margin: 8px 0 0 6px;
}

.task-box li {
    height: 24px;
    line-height: 24px;
    text-align: left;
    color: #fff;
}

.task-box li.nameClass {
    font-size: 14px;
    font-weight: 700;
}

.task-box em {
    font-size: 36px;
    color: #fff;
    font-style: normal;
    padding: 0 20px;
}

.logName {
    color: #fff;
    padding: 5px;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
}

.text-center > div {
    margin-bottom: 15px;
}

.col-sm-3 {
    padding: 0 9px;
}
.userImgSize{
    width: 87px;
    height: 96px;
}