/*渠道类型管理*/
.fixed-table-container thead{
	background: #f2f2f2;
}
.console-container{
	margin: 0;
	padding: 0;
	background: none;
}
.combo{
	border-radius: 0px !important;
}
#addEditForm .form-group>.combo{
	float: right !important;
}
#channel_editContent .form-group>.combo{
	float: right !important;
}
.ui-jqgrid-toppager{
	padding-right: 20px;
}
.ui-jqgrid{
	border: 0;
}
.ui-jqgrid .ui-jqgrid-toppager{
	border:0
}
.ui-jqgrid .ui-jqgrid-htable{
	border-top: 1px solid #ddd;
}
.ui-jqgrid .table-bordered{
	border-left: 1px solid #ddd !important;
}
.list-section{
	height: 50px;
}
/*渠道管理*/
.form-inline{
	float: left;
	margin-right: 10px;
	width: 100%;
}
.form-operat{
	border: 1px solid #0091d0;
	color:#0091d0 ;
	background: #fff;
	display: block;
	height: 34px;
	line-height: 34px;
	text-align: center;
	font-size: 14px;
	border-radius: 5px;
	float: right;
	margin-right: 20px;
	cursor: pointer;
	text-decoration: none !important;
	padding: 0 15px;
}
.form-operat:hover{
	background: #0091d0;
	color: #fff !important;
	border-color: #0091d0;
}
.btn-default{
	background: none;
	cursor: pointer;
}
.btn-default:hover{
	background-color:none !important;
}
.layui-layer-title{
	background-color: #0091d0 !important;
	color: #fff !important;
}
@media(min-width:1360px ) {
	.channel_checkContent{
    width:100% !important;
    margin: 0 auto;
    padding: 0;
    margin: 0 !important;
}
.form-inline .form-group{
	margin: 0 !important;
}
}


.channel_checkContent{
    width: 68%;
    margin: 0 auto;
    padding: 0;
    margin-left: 17%
}
.channel_checkContent>div{
	width: 80%;
	height: auto;
	margin-top: 15px;
	margin-bottom: 15px;
}
.channel_checkContent>div label{
	font-size: 16px;
	font-weight: 600;
}
.panel-body{
	padding: 0;
	padding-top: 0px;
}
#list_toppager_left{
	display: none;
}
.layui-layer-content{
	height: auto;
}
.channel_check footer{
	width: 100%;
	height: 40px;
	background-color: #0091d0
}
#layui-layer-shade1{
	z-index: 5 !important;
}
#layui-layer1{
	z-index: 10 !important;
}
.combo-arrow {
    background: url(../../images/sys_com/combo_arrow.jpg) no-repeat center center;
}
.channel_check footer a{
	float: left;
	display: block;
	width: 60px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	border-radius: 10px;
	color: #fff;
	border:1px solid #fff;
	margin-left: 42%;
	margin-top: 5px;
}
.channel_check footer a:hover{
	background:#fff;
	color:#0091d0 ;
}
/*错误样式*/
.form-group{
	position: relative;
}
.form-group>i{
	position: absolute;
	left: 20%;
	bottom: 0;
	font-size: 14px;
	color: red;
}
/* 手写下拉框 */
.sinput{
  border: solid 1px #d6d6d6;  
  background: url(../../images/sys_com/combo_arrow.jpg) no-repeat;
  background-position:99%; 
  background-color: #fff;
  text-indent: 1em;
  cursor: pointer;
}
.selectUl{
  position: absolute;
  left: 0;
  top: 32px;
  border: solid 1px #d6d6d6;
  background-color: white;
  width: 100%;
  z-index: 1000;
  display: none;
}

.selectUl li{
  line-height: 30px;
  text-indent: 1em;
}

.selectUl li:hover{
  background-color: #c9e3fe;
}