<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hengyunsoft.platform.admin.repository.application.dao.FastEntryMapper">
  <resultMap id="BaseResultMap" type="com.hengyunsoft.platform.admin.entity.application.po.FastEntry">
    <!--
    @mbggenerated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="resource_id" jdbcType="BIGINT" property="resourceId" />
    <result column="app_id" jdbcType="VARCHAR" property="appId" />
    <result column="app_resource_name" jdbcType="VARCHAR" property="appResourceName" />
    <result column="url_" jdbcType="VARCHAR" property="url" />
    <result column="icon_" jdbcType="VARCHAR" property="icon" />
    <result column="desc_" jdbcType="VARCHAR" property="desc" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="delete_status" jdbcType="BIT" property="deleteStatus" />
    <result column="create_user" jdbcType="BIGINT" property="createUser" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_user" jdbcType="BIGINT" property="updateUser" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <sql id="Example_Where_Clause">
    <!--
    @mbggenerated
    -->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--
    @mbggenerated
    -->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--
    @mbggenerated
    -->
    id, user_id, resource_id, app_id, app_resource_name, url_, icon_, desc_, user_name, 
    delete_status, create_user, create_time, update_user, update_time
  </sql>
  <select id="selectByExample" parameterType="com.hengyunsoft.platform.admin.repository.application.example.FastEntryExample" resultMap="BaseResultMap">
    <!--
    @mbggenerated
    -->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from c_fast_entry
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="groupByClause != null">
      group by ${groupByClause}
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limitValue != null">
      limit ${limitValue}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--
    @mbggenerated
    -->
    select 
    <include refid="Base_Column_List" />
    from c_fast_entry
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectEntity" parameterType="com.hengyunsoft.platform.admin.repository.application.example.FastEntryExample" resultMap="BaseResultMap">
    <!--
    @mbggenerated
    -->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from c_fast_entry
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="groupByClause != null">
      group by ${groupByClause}
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    limit 0,1 
  </select>
  <select id="selectByAppIdAndId" parameterType="map" resultMap="BaseResultMap">
    <!--
    @mbggenerated
    -->
    select
    <include refid="Base_Column_List" />
    from c_fast_entry
    where 1=1 and app_id = #{appId,jdbcType=VARCHAR} and id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAppIdById" parameterType="map" resultType="java.lang.String">
    <!--
    @mbggenerated
    -->
    select app_id 
    from c_fast_entry
    where 1=1 and id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--
    @mbggenerated
    -->
    delete from c_fast_entry
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.hengyunsoft.platform.admin.repository.application.example.FastEntryExample">
    <!--
    @mbggenerated
    -->
    delete from c_fast_entry
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <delete id="deleteByIds" parameterType="list">
    <!--
    @mbggenerated
    -->
    delete from  c_fast_entry where id in 
    <foreach close=")" collection="list" index="index" item="item" open="(" separator=",">
      #{item}
    </foreach> 
  </delete>
  <delete id="deleteByAppIdAndId" parameterType="java.lang.Long">
    <!--
    @mbggenerated
    -->
    delete from c_fast_entry
    where id = #{id,jdbcType=BIGINT}
     and app_id = #{appId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByAppIdAndIds" parameterType="list">
    <!--
    @mbggenerated
    -->
    delete from  c_fast_entry where id in 
    <foreach close=")" collection="list" index="index" item="item" open="(" separator=",">
      #{item}
    </foreach> 
     and app_id = #{appId,jdbcType=VARCHAR}
  </delete>
  <update id="removeByExample" parameterType="com.hengyunsoft.platform.admin.entity.application.po.FastEntry">
    <!--
    @mbggenerated
    -->
    update c_fast_entry
    set is_delete = 1 

    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </update>
  <update id="removeByAppIdAndIds" parameterType="com.hengyunsoft.platform.admin.entity.application.po.FastEntry">
    <!--
    @mbggenerated
    -->
    update c_fast_entry
    set is_delete = 1 
 where 1=1 and id in 
 <foreach close=")" collection="list" index="index" item="item" open="(" separator=",">
    #{item}
  </foreach>
     and app_id = #{appId,jdbcType=VARCHAR}
  </update>
  <update id="removeByPrimaryKey" parameterType="com.hengyunsoft.platform.admin.entity.application.po.FastEntry">
    <!--
    @mbggenerated
    -->
    update c_fast_entry
    set is_delete = 1 

     where 1=1 and id = #{id,jdbcType=BIGINT}
  </update>
  <update id="removeByAppIdAndId" parameterType="com.hengyunsoft.platform.admin.entity.application.po.FastEntry">
    <!--
    @mbggenerated
    -->
    update c_fast_entry
    set is_delete = 1 

     where 1=1 and id = #{id,jdbcType=BIGINT}
     and app_id = #{appId,jdbcType=VARCHAR}
  </update>
  <insert id="insert" parameterType="com.hengyunsoft.platform.admin.entity.application.po.FastEntry">
    <!--
    @mbggenerated
    -->
    insert into c_fast_entry (id, user_id, resource_id, 
      app_id, app_resource_name, url_, 
      icon_, desc_, user_name, 
      delete_status, create_user, create_time, 
      update_user, update_time)
    values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{resourceId,jdbcType=BIGINT}, 
      #{appId,jdbcType=VARCHAR}, #{appResourceName,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, 
      #{icon,jdbcType=VARCHAR}, #{desc,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, 
      #{deleteStatus,jdbcType=BIT}, #{createUser,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateUser,jdbcType=BIGINT}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="batchInsert" parameterType="java.util.List">
    <!--
    @mbggenerated
    -->
    insert into c_fast_entry (id, user_id, resource_id, app_id, app_resource_name, url_, icon_, desc_, user_name, delete_status, create_user, create_time, update_user, update_time ) values 
    <foreach collection="list" index="index" item="item" separator=",">
      (#{item.id,jdbcType=BIGINT}, #{item.userId,jdbcType=BIGINT}, #{item.resourceId,jdbcType=BIGINT}, 
        #{item.appId,jdbcType=VARCHAR}, #{item.appResourceName,jdbcType=VARCHAR}, #{item.url,jdbcType=VARCHAR}, 
        #{item.icon,jdbcType=VARCHAR}, #{item.desc,jdbcType=VARCHAR}, #{item.userName,jdbcType=VARCHAR}, 
        #{item.deleteStatus,jdbcType=BIT}, #{item.createUser,jdbcType=BIGINT}, #{item.createTime,jdbcType=TIMESTAMP}, 
        #{item.updateUser,jdbcType=BIGINT}, #{item.updateTime,jdbcType=TIMESTAMP})
    </foreach>
  </insert>
  <insert id="insertSelective" parameterType="com.hengyunsoft.platform.admin.entity.application.po.FastEntry">
    <!--
    @mbggenerated
    -->
    insert into c_fast_entry
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="resourceId != null">
        resource_id,
      </if>
      <if test="appId != null">
        app_id,
      </if>
      <if test="appResourceName != null">
        app_resource_name,
      </if>
      <if test="url != null">
        url_,
      </if>
      <if test="icon != null">
        icon_,
      </if>
      <if test="desc != null">
        desc_,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="deleteStatus != null">
        delete_status,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="resourceId != null">
        #{resourceId,jdbcType=BIGINT},
      </if>
      <if test="appId != null">
        #{appId,jdbcType=VARCHAR},
      </if>
      <if test="appResourceName != null">
        #{appResourceName,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="icon != null">
        #{icon,jdbcType=VARCHAR},
      </if>
      <if test="desc != null">
        #{desc,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="deleteStatus != null">
        #{deleteStatus,jdbcType=BIT},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hengyunsoft.platform.admin.repository.application.example.FastEntryExample" resultType="java.lang.Integer">
    <!--
    @mbggenerated
    -->
    select count(*) from c_fast_entry
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--
    @mbggenerated
    -->
    update c_fast_entry
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=BIGINT},
      </if>
      <if test="record.resourceId != null">
        resource_id = #{record.resourceId,jdbcType=BIGINT},
      </if>
      <if test="record.appId != null">
        app_id = #{record.appId,jdbcType=VARCHAR},
      </if>
      <if test="record.appResourceName != null">
        app_resource_name = #{record.appResourceName,jdbcType=VARCHAR},
      </if>
      <if test="record.url != null">
        url_ = #{record.url,jdbcType=VARCHAR},
      </if>
      <if test="record.icon != null">
        icon_ = #{record.icon,jdbcType=VARCHAR},
      </if>
      <if test="record.desc != null">
        desc_ = #{record.desc,jdbcType=VARCHAR},
      </if>
      <if test="record.userName != null">
        user_name = #{record.userName,jdbcType=VARCHAR},
      </if>
      <if test="record.deleteStatus != null">
        delete_status = #{record.deleteStatus,jdbcType=BIT},
      </if>
      <if test="record.createUser != null">
        create_user = #{record.createUser,jdbcType=BIGINT},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateUser != null">
        update_user = #{record.updateUser,jdbcType=BIGINT},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--
    @mbggenerated
    -->
    update c_fast_entry
    set id = #{record.id,jdbcType=BIGINT},
      user_id = #{record.userId,jdbcType=BIGINT},
      resource_id = #{record.resourceId,jdbcType=BIGINT},
      app_id = #{record.appId,jdbcType=VARCHAR},
      app_resource_name = #{record.appResourceName,jdbcType=VARCHAR},
      url_ = #{record.url,jdbcType=VARCHAR},
      icon_ = #{record.icon,jdbcType=VARCHAR},
      desc_ = #{record.desc,jdbcType=VARCHAR},
      user_name = #{record.userName,jdbcType=VARCHAR},
      delete_status = #{record.deleteStatus,jdbcType=BIT},
      create_user = #{record.createUser,jdbcType=BIGINT},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_user = #{record.updateUser,jdbcType=BIGINT},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hengyunsoft.platform.admin.entity.application.po.FastEntry">
    <!--
    @mbggenerated
    -->
    update c_fast_entry
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="resourceId != null">
        resource_id = #{resourceId,jdbcType=BIGINT},
      </if>
      <if test="appId != null">
        app_id = #{appId,jdbcType=VARCHAR},
      </if>
      <if test="appResourceName != null">
        app_resource_name = #{appResourceName,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        url_ = #{url,jdbcType=VARCHAR},
      </if>
      <if test="icon != null">
        icon_ = #{icon,jdbcType=VARCHAR},
      </if>
      <if test="desc != null">
        desc_ = #{desc,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="deleteStatus != null">
        delete_status = #{deleteStatus,jdbcType=BIT},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByAppIdAndIdSelective" parameterType="com.hengyunsoft.platform.admin.entity.application.po.FastEntry">
    <!--
    @mbggenerated
    -->
    update c_fast_entry
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="resourceId != null">
        resource_id = #{resourceId,jdbcType=BIGINT},
      </if>
      <if test="appId != null">
        app_id = #{appId,jdbcType=VARCHAR},
      </if>
      <if test="appResourceName != null">
        app_resource_name = #{appResourceName,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        url_ = #{url,jdbcType=VARCHAR},
      </if>
      <if test="icon != null">
        icon_ = #{icon,jdbcType=VARCHAR},
      </if>
      <if test="desc != null">
        desc_ = #{desc,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="deleteStatus != null">
        delete_status = #{deleteStatus,jdbcType=BIT},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
     and app_id = #{appId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hengyunsoft.platform.admin.entity.application.po.FastEntry">
    <!--
    @mbggenerated
    -->
    update c_fast_entry
    set user_id = #{userId,jdbcType=BIGINT},
      resource_id = #{resourceId,jdbcType=BIGINT},
      app_id = #{appId,jdbcType=VARCHAR},
      app_resource_name = #{appResourceName,jdbcType=VARCHAR},
      url_ = #{url,jdbcType=VARCHAR},
      icon_ = #{icon,jdbcType=VARCHAR},
      desc_ = #{desc,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      delete_status = #{deleteStatus,jdbcType=BIT},
      create_user = #{createUser,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByAppIdAndId" parameterType="com.hengyunsoft.platform.admin.entity.application.po.FastEntry">
    <!--
    @mbggenerated
    -->
    update c_fast_entry
    set user_id = #{userId,jdbcType=BIGINT},
      resource_id = #{resourceId,jdbcType=BIGINT},
      app_id = #{appId,jdbcType=VARCHAR},
      app_resource_name = #{appResourceName,jdbcType=VARCHAR},
      url_ = #{url,jdbcType=VARCHAR},
      icon_ = #{icon,jdbcType=VARCHAR},
      desc_ = #{desc,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      delete_status = #{deleteStatus,jdbcType=BIT},
      create_user = #{createUser,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
     and app_id = #{appId,jdbcType=VARCHAR}
  </update>

</mapper>