<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hengyunsoft.platform.exchange.repository.screen.dao.DataOverviewMapper">
        <select id="getOrgList" resultType="com.hengyunsoft.platform.exchange.entity.screen.po.OrgDO">
            SELECT id AS unitId,name_ AS unitName,icon_url AS  iconUrl
            FROM v_org
        </select>
</mapper>