html,body{
	height: 100%;
	min-width: 1200px;
}

.main-box {
	padding: 15px 8%;
	min-height: calc(100% - 175px);
	box-sizing: border-box;
}


.top-bar {
	padding: 0 25px;
	width: 100%;
	height: 45px;
	line-height: 45px;
	background: #fff;
}

.top-bar .text-title {
	color: #808080;
}

.top-bar .text-title span.active {
	color: #333;
}

.button-icon {
	color: #36b3fe;
	text-decoration: none;
}

.button-icon:hover {
	cursor: pointer;
	color: #36b3fe;
	text-decoration: none;
}

.button-icon img {
	margin-top: -3px;
	width: 22px;
	margin-right: 3px;
}

.left {
	float: left;
}

.right {
	float: right;
}

.main {
	width: 100%;
}

.main_item {
	margin: 30px 0;
}

.main h3 {
	margin-bottom: 10px;
}

.main_item_title {
	color: #333;
	padding-left: 5px;
	line-height: 12px;
	border-left: 2px solid #5ab4ff;
}

.main_item .more {
	line-height: 12px;
	background: url(../images/icon_02.png) no-repeat right 2px/ 18px;
	text-indent: 1em;
	display: block;
	width: 62px;
	height: 25px;
	line-height: 25px;
	color: #5ab4ff;
}

.main_item_conter {
	float: left;
	display: inline-block;
	width: 24.6%;
	height: 120px;
	padding: 20px;
	background: #fff;
	margin: 0.2%;
	min-width: 250px;
	position: relative;
	overflow: hidden;
}

.main_item_conter_hover{
	position: absolute;
	width: 100%;
	height: 100%;
	background: #36b3fe;
	top: 0;
	left: 0;
	display: none;
}

.main_item_conter_hover ul{
	width: 90%;
	margin: 12px auto;
	line-height: 35px;
}

.main_item_conter_hover li{
	float: left;
	text-align: left;
	margin: 10px 5px 0;
}

.main_item_conter_hover li.minWidth{
	min-width: 5em;
}

.main_item_conter_hover li.autoWidth{
	width: auto;
}

.main_item_conter_hover li a{
	color: #fff;
}

.main_item_conter_hover li a:hover{
	text-decoration: none;
}
.main_item_conter .left img{
	width: 50px;
	height: 50px;
}
.main_item_conter .right {
	width: calc(100% - 60px);
}

.main_item_conter h3 {
	font-size: 16px;
	color: #3d3d3d;
	margin-top: 0;
	margin-bottom: 6px;
}

.main_item_conter p {
	color: #656565;
	text-align: justify;
	font-size: 14px;
	line-height: 20px;
	height:60px;
	overflow: hidden;
}

/*.main h3 {
	font-size: 16px;
}*/

.block{
	margin-top: 15px;
	background: #f1f1f1;
	overflow: hidden;
	min-height: 534px;
}

.block .text-title{
	padding: 12px;
}

.block .content{
	padding: 30px 0;
}

.searchForm{
	margin: 10px 24px;
}
.apply-btn{
    position: fixed;
    right: 8%;
    bottom: 170px;
    box-shadow: 2px 2px 6px 2px #aaa;
    z-index: 9999;
}
/*main样式*/
/*表单样式*/
.form-control{
	border-radius: 0;
}
textarea.form-control{
	height: 120px;
}
.button-bar{
	margin: 30px 0;
}
.button-bar-center{
	text-align: center;
}
.btn{
	border-radius: 0;
    padding: 6px 20px;
}
.btn-primary{
	background: #1789E7;
	border: 1px solid #1789E7;
	color: #fff;
}

.btn-primary:hover{
	border: 1px solid #187cce;
	background: #187cce;

}

.btn-info{
	background: #00bcd4;
	border: 1px solid #00bcd4;
	color: #fff;
}
.btn-info:hover{
	background: #009db1;
	border: 1px solid #009db1;
	color: #fff;
}

.btn-lg{
	padding: 8px 28px;
	margin: 0 8px;
}
/*表单样式*/
/*表格样式*/
.table-box{
	margin-top: 15px;
	padding: 10px 30px;
	width: 100%;
	background: #fff;
	min-height: 525px;
}
.table-box .top-bar{
	padding: 0;
	float: left;
    margin: 0 0 12px;
	height: auto;
}
.table-box .top-bar .form-control,.table-box .top-bar .btn{
	height: 35px;
	margin-right: 15px;
}
.table-box .top-bar .btn{
	margin-top: 5px;
}
.table th,.table td{
	line-height: 25px !important;
}
.table-darck th{
	background: #373F4F;
	color: #fff;
}
.table{
	border: 1px solid #ccc;
	margin-bottom: 0 !important;
}
.table td{
	color: #333;
    vertical-align: middle !important;
}
.table td.act a{
	margin: 0 5px;
}
.table-darck .table-hover tbody tr:hover{
	background: #ddd !important;
}
.table a{
	color: #24A7DE;
}
.table-box .bottom-bar{
	width: calc(100% - 1px);
	padding: 20px 0 30px;
	background: #fcfcfc;
	margin-top: 0;
}
.table-list{
	width: calc(100% - 50px );
	margin: auto;
}
.bottom-bar{
	margin: 20px 0 0;
}
/*表格样式*/

/*表格样式*/
.tab{
	width: calc(100% - 50px);
	margin: auto;
	border-collapse: separate;
	border-spacing: 0 20px
}

.tab th,.tab td{
	padding: 10px;
	color: #333;
	vertical-align: top;
}
.tab th{
	text-align: right;
	width: 10em;
}
.tab td{
	border: 1px solid #eee;
	background: #eee;
}
.block .editHistory{
	padding:0 25px 30px;
}
.table-bordered > thead > tr > th, .table-bordered > thead > tr > td{
	border-bottom-width: 1px;
}
.table-bordered th,.table-bordered td{
	text-align: center;
}
.ztreeList{
	width: 260px;
	position: relative;
	background-color: #fff;
}
.docList,.docDesc{
	width:calc(100% - 260px);
	min-height: 545px;
	border-left: 15px solid #f1f1f1;
	background-color: #fff;
}
.docList{
    padding-top: 20px;
    background-color: #fff;
}

.main .listTitle{
	text-align: center;
	background: #061024;
	color: #fff;
	padding: 12px 0;
	border: 1px solid #d6d6d6;
	margin-bottom: 0px;
	position: relative;
}
.main .listTitle img{
	width: 8px;
}
.provideList{
	position: absolute;
	width: 100%;
	top: 39px;
	left: 0;
	background: #fff;
	color: #333;
	box-shadow: 2px 2px 2px #999;
	display: none;
	height: 500px;
	overflow: auto;
}
ul.provideList li{
	cursor: pointer;
	background: none;
}
.ztreeList ul li{
	padding: 8px 15px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	cursor: pointer;
}
.ztreeList ul li.active{
	color: #6bc2fe;
	border-right: 3px solid;
}
.ztreeList ul li:hover{
	background: #f2f2f2;
}
ul.provideList li:hover{
	background: #f2f2f2;
}
/*表格样式*/
/*分页样式*/
.whj_jqueryPaginationCss-1 .whj_border{
	color: #1789e7;
}
.whj_jqueryPaginationCss-1 .whj_color{
	color: #777;
}
.whj_jqueryPaginationCss-1 .whj_checked{
	background: #1789e7;
	color: #fff;
}
/*分页样式*/

/*图表样式*/
.charts-box{
	margin-top: 15px;
	padding: 30px;
	background: #fff;
}
.charts-box .top-bar{
	margin-bottom: 50px;
	padding: 0;
}
.charts-box .top-bar .form-inline .form-group{
	margin-right: 30px;
}
/*图表样式*/

/*API列表页样式*/
.apiDocListTitle{
	margin: 20px;
	padding-bottom: 10px;
	border-bottom: 1px solid #ddd;
	color: #999;
	font-size: 16px;
}
.apiDocListTitle span{
	margin: 0 10px 0 0;
}
.apiDocListNmae{
	color: #000;
	cursor: pointer;
}
.apiDocListBtn{
	cursor: pointer;
}
.apiDocListConter{
	margin: 0 20px;
}
.apiDocListConter .item{
	background-color: #e7f6ec;
	border: 1px solid #c3e8d1;
	margin-bottom: 12px;
}
.apiDocListConter .item p.item_header{
	cursor: pointer;
}
.apiDocListConter .item .item_conter{
	border-top: 1px solid #c3e8d1;
}
.requestType,.requestAddress,.requestDesc{
	display: inline-block;
	height: 32px;
	line-height: 32px;
}
.requestType{
	background: #10a54a;
	color: #fff;
	font-size: 0.7em;
	display: inline-block;
	height: 32px;
	line-height: 32px;
	padding: 0px 10px;
	border-radius: 3px;
}
.requestAddress{
	margin: 0 0 0 20px;
	color:#000;
}
.requestDesc{
	margin-right: 10px;
	color: #10a54a;
	margin-right: 10px;
	color: #10a54a;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 50%;
	text-align: right;
}
.item_conter .item_conter_title{
	margin-bottom: 0px;
	padding: 9px;
	color: #10a54a;
}
.item_conter_p{
	padding: 9px;
	color: #333;
}
.item_conter_div{
	padding: 9px;
	color: #000;
}
.item_conter_div span{
	margin: 0 6px 0 0;
	color: #666;
	cursor: pointer;
}
.item_conter_div span.active{
	color: #000;
}
.item_conter_div .model{
	display: none;
}
.item_conter_div .model,.exampleValue{
	margin-top: 10px;
}
.item_conter_div .model span{
	color:#000;
}
.item_conter_div .model ul{
	text-indent: 1em;
}
.item_conter_div .model span.colorBlue{
	color:#5555aa;
}
.item_conter_div .model span.colorGray{
	color:#333;
}
.item_conter_div pre{
	padding: 10px;
	width: 100%;
	max-height: 180px;
	overflow: auto;
}
.colorGreen{
	color: #10a54a;
}
.item_conter button{
	margin: 9px;
	border-radius: 3px;
}
.apiDocListConter li.getColor{
	background-color: #e7f0f7;
	border: 1px solid #c3d9ec;
}
.apiDocListConter li.getColor .item_conter{
	border-top: 1px solid #c3d9ec;
}
.apiDocListConter li.getColor .requestType{
	background: #0f6ab4;
}
.apiDocListConter li.getColor .requestDesc,
.apiDocListConter li.getColor .item_conter .item_conter_title,
.apiDocListConter li.getColor .colorGreen {
	color:#0f6ab4;
}
.apiDocListConter li.deleteColor{
	background-color: #f5e8e8;
	border: 1px solid #e8c6c7;
}
.apiDocListConter li.deleteColor .item_conter{
	border-top: 1px solid #e8c6c7;
}
.apiDocListConter li.deleteColor .requestType{
	background: #a41e22;
}
.apiDocListConter li.deleteColor .requestDesc,
.apiDocListConter li.deleteColor .item_conter .item_conter_title,
.apiDocListConter li.deleteColor .colorGreen {
	color:#a41e22;
}
.apiDocListConter li.putColor{
	background-color: #f9f2e9;
	border: 1px solid #f0e0ca;
}
.apiDocListConter li.putColor .item_conter{
	border-top: 1px solid #f0e0ca;
}
.apiDocListConter li.putColor .requestType{
	background: #c5862b;
}
.apiDocListConter li.putColor .requestDesc,
.apiDocListConter li.putColor .item_conter .item_conter_title,
.apiDocListConter li.putColor .colorGreen {
	color:#c5862b;
}
.item_conter{
	display: none;
}
/*API列表页样式*/
/*上传图标*/
.webuploader-pick{
	width: 100px;
	padding: 10px 15px;
	background-color: #1789E7;
}
/*上传图标*/
/*富文本编辑器*/
#editor{
	width:100%;
	height:500px;
}
/*富文本编辑器*/
/*功能管理图标上传*/
#logoImg{
	height: 40px;
}
#logoImg img{
	width: 30px;
	height: 30px;
}
/*功能管理图标上传*/

/*api文档和帮助文档左边菜单的样式*/
.provideList .text-title {
	background: #f7f7f7;
	color: #999;
	padding: 10px 15px !important;
	border-bottom: 3px solid #fff;
}
.provideList li:not(.text-title) {
	padding: 8px 15px !important;
	font-weight: normal;
	padding-left: 28px !important;
}

.provideList .text-title:hover {
	background: #f7f7f7 !important;
}

.ztreeList li:hover:not(.text-title) {
	color: #36b3fe !important;
	background: none;
}

.provideList {
	display: block;
	box-shadow: none;
}

.left-slider .list-item{
	padding-left: 33px;
}
/*api文档和帮助文档左边菜单的样式*/

