/*---------------初始化 begin----------------*/

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}

td,
th,
caption {
    font-size: 12px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    font-size: 100%;
}

/*address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal;}*/

a {
    color: #555;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    border: none;
}

ol,
ul,
li {
    list-style: none;
}

input,
textarea,
select,
button {
    font: 14px "\5B8B\4F53", Verdana, Helvetica, Arial, sans-serif;
}

table {
    border-collapse: collapse;
}

label {
    max-width: none;
}

/*---------------初始化 end----------------*/

/*-------------常用自定义样式 begin--------------*/

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

.left {
    float: left;
}

.right {
    float: right;
}

.alignRight {
    text-align: right;
}

.alignCenter {
    text-align: center;
}

.alignLeft {
    text-align: left;
}

/*-------------常用自定义样式 end---------------*/

/*---------------头部header begin-------------*/
body {
    font-size: 14px;
    font-family: 'Microsoft YaHei', '微软雅黑', STSong, '宋体', '\5B8B\4F53', 'Times New Roman', Verdana, Arial, Helvetica, sans-serif;
    min-width: 1024px;
    width: 100%;
    background: #f1f1f1;
}

header {
    width: 100%;
    height: 60px;
    background: #061024;
    color: #fff;
}

.navber_header, .search_content {
    width: 84%;
    min-width: 1024px;
    margin: auto;
}

.logo {
    font-size: 18px;
    margin: 18px 0 0;
    font-size: 17px;
}

#navber_header_ul {
    font-size: 16px;
    margin: 0 0 0 100px;
}

.login {
    font-size: 16px;
    /*margin: 15px 0 0;*/
}

.login a {
    color: #FFFFFF;
}

.login a:hover {
    text-decoration: none;
}
.lava_with_border .userInfo,.lava_with_border .docInfo{
    position: absolute;
    right: 6px;
    top: 39px;
    width: 81px;
    text-align: center;
    background: #FFFFFF;
    box-shadow: 1px 1px 2px #ddd;
    display: none;
    z-index: 999;
}
.lava_with_border .docInfo{
    right: 13px;
}
.lava_with_border .userInfo li,.lava_with_border .docInfo li{
    margin: 10px 0;
    width: 100%;
    height: 18px;
    line-height: 18px;
}
.lava_with_border .userInfo li a,.lava_with_border .docInfo li a{
    color: #0066cc;
    display: inline-block;
    width: 100%;
    font-size: 12px;
    margin: 0;
}
.lava_with_border .userInfo li a:hover,.lava_with_border .docInfo li a:hover{
    text-decoration: none;
}
.userTxt img{
    width: 8px;
    margin-top: -2px;
}
.userTxt img.rotate{
    transform: rotate(180deg);
}
/*---------------头部header end---------------*/

/*---------------底部footer begin-------------*/

footer {
    width: 100%;
    height: 115px;
    background: #2989b7 url(../images/icon_07.png) no-repeat center;
    text-align: center;
    color: #FFFFFF;
}

footer ul {
    display: inline-block;
    margin: 36px 0 0;
}

footer ul li {
    float: left;
    margin-right: 10px;
    text-align: left;
}

footer ul li p:first-child {
    margin-top: 4px;
    margin-right: 20px;
}

footer ul li p img {
    margin-top: 2px;
}

/*---------------底部footer end---------------*/

/*-----------------火焰灯效果 begin------------*/

.lava_with_border {
    position: relative;
    display: inline-block;
}

.lava_with_border li {
    float: left;
    height: 60px;
    line-height: 58px;
    position: relative;
}

.lava_with_border li a.active {
    border-bottom: 1px solid #31b4ff;
}

.lava_with_border li a {
    float: left;
    font-weight: bold;
    color: #fff;
    font-size: 14px;
    margin: auto 25px;
    text-decoration: none;
    position: relative;
    z-index: 3;
}

.lava_with_border li a:hover {
    text-decoration: none;
    color: #31b4ff;
}

.lava_with_border li.back {
    height: 38px;
    border-bottom: 1px solid #36b3fe;
    position: absolute;
    z-index: 2;
}

/*-----------------火焰灯效果 bend-------------*/

/*---------------左边菜单栏 begin-------------*/
.left-slider {
    float: left;
    width: 260px;
    min-height: 600px;
    background: #fff;
}

.left-slider .title-bar {
    height: 45px;
    color: #fff;
    background: #373f4f;
    text-align: center;
    line-height: 45px;
    font-size: 18px;
}

.left-slider .list-group {
    margin: 18px 0;
    padding: 0 12px;
    color: #676e79;
    text-decoration: none;
    display: block;
}

.left-slider .app-icon {
    float: left;
    margin-right: 8px;
    width: 25px;
    height: 24px;
}

.left-slider .list-group:hover {
    cursor: pointer;
}

.left-slider .list-group:hover .text-title,
.left-slider .list-group:hover .right-icon,
.left-slider .list-group.open .text-title,
.left-slider .list-group.open .right-icon {
    color: #36b3fe;
}

.left-slider .text-title {
    float: left;
    font-size: 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: calc(100% - 50px);
}

.left-slider .right-icon {
    float: right;
}

.left-slider .list-box {
    width: 100%;
    display: none;
    padding-left: 0px;
    margin-bottom: 0;
    float: left;
    list-style-type: none;
}

.left-slider .list-item {
    margin: 15px 0;
    padding-left: 25px;
    width: 100%;
}

.left-slider .list-item:hover {
    color: #36b3fe;
}

.right-box {
    float: left;
    margin-left: 15px;
    width: calc(100% - 275px);
}

.my-task {
    background: url(../images/my_task.png) no-repeat;
    background-size: 100%;
}

.open .app-icon {
    background-position: left -23px;
}
.active a{
    color: #36b3fe;
}
.app-manage {
    background: url(../images/app_manage.png) no-repeat;
    background-size: 100%;
}

.fun-manage {
    background: url(../images/fun_manage.png) no-repeat;
    background-size: 100%;
}

.call-manage {
    background: url(../images/call_manage.png) no-repeat;
    background-size: 100%;
}

.host-manage {
    background: url(../images/host_manage.png) no-repeat;
    background-size: 100%;
}

.type-manage {
    background: url(../images/type_manage.png) no-repeat;
    background-size: 100%;
}

.fun-call-track {
    background: url(../images/fun_call_track.png) no-repeat;
    background-size: 100%;
}

.call-status-analysis {
    background: url(../images/call_status_analysis.png) no-repeat;
    background-size: 100%;
}


.app-icon1 {
    background-position: left 0px;
}

.open .app-icon1 {
    background-position: left -23px;
}

/*---------------左边菜单栏 end---------------*/

/*-----------layer弹窗样式begin-------------------*/
.layui-layer-iframe .layui-layer-title, .layui-layer-dialog .layui-layer-title {
    background-color: #0088b6;
    color: #fff;
}

.layui-layer-iframe .layui-layer-btn, .layui-layer-page .layui-layer-btn,
.layui-layer-dialog .layui-layer-btn {
    background-color: #0088b6;
    padding-top: 0;
    padding: 6px 0;
}

.layui-layer-btn a {
    border: 1px solid #2e8ded;
    background-color: #2e8ded;
    color: #fff;
}
.layui-layer-prompt .layui-layer-content textarea.layui-layer-input {
    width: 100%;
    height: 100%;
    line-height: 20px;
    outline: none;
}

/*-----------layer弹窗样式 end-------------------*/


/*滚动监听样式定义*/
.contents{
    max-width: none !important;
}

/*滚动监听样式定义*/
/*表单验证样式调整*/
.form-group{
    position: relative;
}
/*表单验证样式调整*/
