/*------------------主体内容 begin-------------*/

.container{
	width: 100% !important;
	padding: 0 !important;
	background: #f1f1f1;
}
.search{
	width: 100%;
	height: 280px;
	overflow: hidden;
	background: #14598f;
	color: #fff;
}
.search_content .input-group{
	width: 90%;
	margin: auto;
}
.search_content .input-group{
	margin-top: 50px;
}
.search_content .input-group input{
	background: #FFFFFF url(../images/icon_01.png) no-repeat 10px;
	background-size: 18px;
	text-indent: 20px;
}
.search_content .input-group-addon{
	color:#fff;
	background: #36b3fe;
	border: 1px solid #36b3fe;
}
.search_content_ul{
	width: 90%;
	margin: 10px auto 0;
}
.search_content_ul li{
	float: left;
	color: #FFFFFF;
	margin: 0 10px;
}
.flow{
	width: 90%;
	margin: 30px auto 0;
}
.flow .item_center{
	display: inline-block;
}
.flow h3 {
	text-align: left;
}
.flow h3 span{
	display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #fff;
    text-align: center;
    line-height: 25px;
    color: #36b3fe;
    margin-right: 10px;
}
.flow ul li{
	font-size: 12px;
	text-indent: 3em;
	margin: 5px 0 0;
	text-align: left;
}
.navber_header,.search_content,.main{
	width: 70%;
	min-width: 1024px;
	margin: auto;
}
.main{
	margin: 30px auto 0;
	min-height: 550px;
}
.main_item {
	margin-bottom: 20px;
}
.main h3{
	margin-bottom: 10px;
}
.main_item_title{
	color: #333;
	padding-left: 5px;
	line-height: 12px;
    border-left: 2px solid #5ab4ff;
}
.main_item .more{
	line-height: 12px;
	background: url(../images/icon_02.png) no-repeat right 2px/ 18px;
	text-indent: 1em;
	display: block;
	width: 62px;
	height: 25px;
	line-height: 25px;
	color: #5ab4ff;
}
.main_item_conter{
	float: left;
	display: inline-block;
	width: 24.6%;
	height: 120px;
    padding: 20px;
    background: #fff;
    margin: 2px;
	border-color: #36b3fe;
	transition: border,box-shadow .1s;
}
.main_item_conter img{
	width: 50px;
	height: 50px;
}
.main_item_conter:hover{
	cursor: pointer;
	border: 1px solid #36b3fe;
	box-shadow: 0px 10px 15px rgba(159, 206, 234,.6);
	position: relative;
}
.main_item_conter .right{
	width: calc(100% - 60px);
	height: 95px;
	overflow: hidden;
}
.main_item_conter h3{
	font-size: 16px;
	color: #3d3d3d;
}
.main_item_conter p{
	color: #656565;
	overflow: hidden;
	font-size: 12px;
}
.popover {
	max-width: 500px;
}
#msgElement{
	display: none;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: red;
	color: #fff;
	font-size: 12px;
	text-align: center;
	line-height: 25px;
	position: absolute;
	top: 7px;
	right: -24px;
    display: none;
}
.popoverCss li{
	padding: 6px 0;
	border-bottom: 1px solid #DDDDDD;
}
.search_content .search_btn{
	cursor: pointer;
}
.stopped{
	background: #e4e2e2;
}
.stopped h3{
	color: #999;
}
.stopped p{
	color: #999;
}
.expire{
	position: relative;
}
.expire span.tips{
	color: #f00;
	position: absolute;
    right: 5px;
    top: 20px;
    font-size: 14px;
}
/*------------------主体内容 end---------------*/
