/****************************************************************************   搜索结果 ************************************************************************************/
#searchList, .page-container{
	width: 70%;
    min-width: 1024px;
    margin: 0 auto 0;
    float: none !important;
    background-color: #fff;
}
.page-container{
	text-align: center;
}
.page-container:after{
	content: '';
	clear: both;
	display: block;
}
.searchContainer{
	min-height: 500px;
}
.searchContainer .search{
	width: 720px;
	height: 40px;
	background: #fff;
	border-radius: 3px;
	 margin: 0 auto;
	float: none;
	position: relative;
}
.searchContainer .search input::-webkit-input-placeholder{
	color:#333;
}
.searchContainer .search input::-moz-placeholder{
	color:#333;
}
.searchContainer .search input:-ms-input-placeholder{
	color:#333;
}
.searchContainer .search input {
	width: 630px;
	border: 0;
	outline: none;
	color: #333;
	margin: 12px 0;
}
#searchBtn{
	width: 40px;
	height: 40px;
}
#searchBtn img{
	margin: 8px 0 0 8px;
}
.btn-search{
	background: #2BB2FF;
	color:#fff;
	text-align: center;
	line-height: 40px;
	width: 50px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	cursor: pointer;
}
.searchInfoMain{
	width: 960px;
	background: #fff;
	margin: 20px auto;
	min-height: 450px;
	overflow: auto;
}
.list-contain {
	background-color: #fff;
	margin-top: 20px;
    padding: 20px;
    color: #000;
}

a.result-list-item {
	/*float: left;*/
	width: 100%;
	margin: 5px 0 20px;
	color: #333;
	transition: border .5s;
	text-decoration: none;
}

.result-list-item:hover,.result-list-item:visited {
	text-decoration: none;
	color: #333;
}

.text-title {
	color: #2BB2FF;
	padding-bottom: 2px;
	font-size: 16px;
}

.result-list-item .status {
	margin-top: 8px;
	color: #333;
}

.result-list-item .update-time {
	margin: 6px 0 20px;
	color: #999;
}

.result-list-item .update-time .text-val {
	color: #999;
}
.currentPage {
	margin-top: 20px;
	color: #666;
	font-size: 14px;
	line-height: 36px;
	padding-right: 20px;
}
.searchnav{
	width: 70%;
	text-align: center;
	height: 40px;
	border-bottom: 1px solid #ddd;
	background-color: #fff;
	margin: 20px auto 0;
	min-width: 1024px;
}
.searchnav ul{
	display: inline-block;
	line-height: 39px;
}
.searchnav li{
	float: left;
	margin: 0 6px;
	cursor: pointer;
	color: #000;
}
.view-framework{
	height: 100%;
	position: relative;
}
.searchnav li.active{
	color:#2BB2FF;
	border-bottom: 1px solid #2BB2FF;
}
.view-framework-sidebar{
	height: 100%;
	position: absolute;
	top: 0;
}
