.dialPlate_bg,.dialPlate{
	width:100%;
	margin:auto;
	background: url(../images/commonService/dialPlate.png) no-repeat center top;
	background-size: 55.4% 100%;
}
.dialPlate_bg{
	background: url(../images/commonService/dialPlate_bg.png) no-repeat center top;
	background-size: 55.4% 100%;
}
.main_content{
	width: 56%;
	overflow: hidden;
	position:absolute;
	top: 0;
	left: 22%;
}
.title{
	font-size: 24px;
	font-weight: 700;
	color: #FFFFFF;
	text-align: center;
	margin: 10px auto;
	
}
.main_content .item{
	height: 14.82%;
    width: 13%;
    /*background: url(../images/commonService/round.png) no-repeat;*/
    background: url(../images/commonService/round_bg.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
}
.main_content .item  a{
	width: 100%;
    text-align: center;
    display: inline-block;
    padding-top: 14%;
}
.main_content .item  a:hover{
	text-decoration: none;
}
.main_content .item  a img{
	width:52%;
	margin: 9% 0 4%;
}
.main_content .item p{
	width: 70%;
	margin: auto;
	text-align: center;
	color: #FFFFFF;
	font-size: 16px;
    line-height: 17px;
}
.main_content .item_01{
	left: 13%;
    top: 14.5%;
}
.main_content .item_02{
	right: 13%;
    top: 14.5%;
}
.main_content .item_02  a img{
	width:35%;
}
.main_content .item_03{
	left: 7.9%;
    top: 35.3%;
}
.main_content .item_03  a img{
	width:36%;
}
.main_content .item_04{
	right: 7.9%;
    top: 35.3%;
}
.main_content .item_04  a img{
	width:32%;
}
.main_content .item_05{
	left: 12.7%;
    top: 56%;
}
.main_content .item_05  a img{
	width:30%;
}
.main_content .item_06{
	right: 12.7%;
    top: 56%;
}
.main_content .item_06  a img{
	width:32%;
}
.main_content .item_07{
	left: 25.8%;
    top: 70.8%;
}
.main_content .item_07  a img{
	width:36%;
}
.main_content .item_08{
	right: 25.8%;
    top: 70.8%;
}
.main_content .item_08  a img{
	width:40%;
}
.main_content .item_09{
	height: 18.24%;
    width: 16%;
    left: 41.91%;
    top: 33.9%;
}
.main_content .item_09  a p{
	font-size: 18px;
}
.main_content .item_09  a img{
	/*width:40%;*/
	width: 50%;
	margin: 15% 0;
}
.main_content .item_10{
	left: 43.6%;
    bottom: 9.3%;
}
.main_content .item_10  a img{
	width:38%;
	margin: 4% 0 4%;
}
.roundAnimation{
	width: 30.747%;
    height: 63.54%;
    margin: auto;
    background: url(../images/commonService/roundAnimation.png) no-repeat center top;
    background-size: 100% 100%;
    position: absolute;
    top: 10.2%;
    left: 34.6%;
}
.roundAnimation{
	animation:roundAnimation 3s 0s linear infinite;
	-webkit-animation:roundAnimation 3s 0s linear infinite;
}
@keyframes roundAnimation{
	from{
		transform: rotate(0);
	}
	to{
		transform: rotate(-360deg);
	}
}
@-webkit-keyframes roundAnimation{
	from{
		transform: rotate(0);
	}
	to{
		transform: rotate(-360deg);
	}
}
.video_bg{
	position: fixed;
	top: 0;	
	left: 0;
	width: 100%;
	z-index: -1;
}
.main_container{
	background: none;
}
.item{
	transform: scale(0.95);
	-webkit-transform: scale(0.95);
	-ms-transform: scale(0.95);
}
.item:hover{
	animation:scale 0.5s 0s 1;
	-webkit-animation:scale 0.5s 0s 1;
}
@-webkit-keyframes scale{
	from{
		-webkit-transform: scale(0.95);
	}
	50%{
		-webkit-transform: scale(1);
	}
	100%{
		-webkit-transform: scale(0.95);
	}
}
@keyframes scale{
	from{
		transform: scale(0.95);
	}
	50%{
		transform:scale(1);
	}
	100%{
		transform: scale(0.95);
	}
}