body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td { margin: 0; padding: 0; }
body { font-size: 14px; font-family: 'Microsoft YaHei','微软雅黑',STSong,'宋体', '\5B8B\4F53','Times New Roman', Verdana, Arial, Helvetica, sans-serif; }
td, th, caption { font-size: 16px; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; font-size: 100%; }
/*address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal;}*/
a { color: #555; text-decoration: none; }
    a:hover { text-decoration: underline; }
img { border: none; }
ol, ul, li { list-style: none; }
input, textarea, select, button { font: 14px "\5B8B\4F53",Verdana,Helvetica,Arial,sans-serif; }
table { border-collapse: collapse; }
.clearfix:after { clear: both; content: "."; display: block; height: 0; visibility: hidden; }
/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
body::-webkit-scrollbar{
    width: 6px;
    height: 6px;
    background-color: #1e5772;
}

/*定义滚动条轨道 内阴影+圆角*/
body::-webkit-scrollbar-track{
    border-radius: 10px;
    background-color: #1e5772;
}

/*定义滑块 内阴影+圆角*/
body::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: #3498cd;
}
