html,body{
	width: 100%;
	height: 100%;
}
.main_container{
	width: 100%;
	min-width: 1340px;
	height: 100%;
	overflow: hidden;
	margin: auto;
	background: url(../images/guide/guide_bg.png) no-repeat;
	background-size: 100% 100%;
	position: relative;
}
.header{
	width: 100%;
	height: 80px;
	overflow: hidden;
}
.left_top_nav{
	float: left;
	margin: 20px 0 0 50px;
}
.right_top_nav{
	float: right;
	margin: 15px 30px 0 0;
}
.right_top_nav .item{
	float: left;
}
.item_user,.item_btn{
	height: 58px;
	padding-left: 45px;
	color: #FFFFFF;
}
.item_user{
	background: url(../images/guide/user.png) no-repeat left 50%;
	background-size: 40px 40px;
	line-height: 58px;
}
.item_btn{
	line-height: 50px;
	margin-right: 20px;
	padding-top: 24px;
	padding-left: 0px;
	width: 40px;
    text-align: center;
}
.item_btn:hover,.item_btn:visited{
	color: #FFFFFF;
	text-decoration: none;
	cursor: pointer;
}
.item_signOut{
	background: url(../images/guide/signOut.png) no-repeat left top;
	background-size: 40px 40px;
}
.item_home{
	background: url(../images/guide/home.png) no-repeat left top;
	background-size: 40px 40px;
}
.item_info{
	background: url(../images/guide/info.png) no-repeat left top;
	background-size: 40px 40px;
}
.item_user span{
	display: inline-block;
	width: 100%;
}
span.userName{
	margin-top: 9px;
	display: none;
}
