body{
	color: #FFFFFF;
	font-size: 16px;
	width: 100%;
	height: 100%;
	position: relative;
}
a:hover{
	text-decoration: none;
}
.w50{
	width: 50px;
}
.w60{
	width: 60px;
}
.w100{
	width: 100px;
}
.w150{
	width: 150px;
}
.w126{
	width: 126px;
}
.w200{
	width: 200px;
}
.w280{
	width: 280px;
}
.w300{
	width: 300px;
}
table tbody tr:hover{
	background: rgba(255,255,255,.15);
}
span.tip{
	position: absolute;
    width: 18px;
    height: 18px;
    line-height: 16px;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    color: #FFFFFF;
    text-align: center;
    background: url(../images/guide/img_00.png) no-repeat;
    top: -9px;
    right: 0;
    border: 1px solid #F44336;
    background: #F44336;
    border-radius: 3px;
    box-shadow: 2px 2px 9px #092330;
}
.more{
	background: url(../images/guide/more.png) no-repeat;
	width: 57px;
	height: 9px;
	display: inline-block;
	position: absolute;
    right: 0;
    bottom: 6px;
}
.main_container{
	width: 100%;
	min-width: 1340px;
	height: 1169px;
	margin: auto;
	background: url(../images/guide/guide_bg.png) no-repeat;
	background-size: 100% 100%;
}
.main_content h3{
	background: url(../images/guide/rect02.png) no-repeat bottom;
	font-size: 16px;
	font-style: italic;
	padding-bottom: 6px;
	margin: 6px 0;
	position: relative;
    text-indent: 18px;
}
.h3_img{
	display: inline-block;
	width: 16px;
	height: 16px;
	position: absolute;
    left: 0;
	background: url(../images/guide/img_01.png) no-repeat;
	background-size: 100% 100%;
}
.main_content_bottom h3{
	width: 100%;
	margin: 6px 0 0;
	background: url(../images/guide/rect03.png) no-repeat bottom;
}
.header{
	width: 100%;
	height: 124px;
	overflow: hidden;
}
.header_nav{
	opacity: 0;
}
.login{
	float: left;
	width: 526px;
	height: 74px;
	margin: 24px 0 0 40px;
	background: url(../images/guide/login.png) no-repeat;
}
.right_top_nav{
	float: right;
	margin: 60px 0 0;
}
.right_top_nav .item{
	float: left;
}
.item_user,.item_signOut{
	height: 58px;
	padding-left: 58px;
	color: #FFFFFF;
	line-height: 50px;
	margin-right: 10px;
}
.item_signOut:hover{
	color: #FFFFFF;
	cursor: pointer;
	text-decoration: underline;
}
.item_user{
	background: url(../images/guide/user.png) no-repeat;
}
.item_signOut{
	background: url(../images/guide/signOut.png) no-repeat;
	line-height: 50px;
	margin-right: 40px;
}
.item_user span{
	display: inline-block;
	width: 100%;
}
span.userName{
	margin-top: 6px;
	display:none;
}
.main_content_top_left{
	width: 400px;
    height: 695px;
    overflow: hidden;
    padding-left: 35px;
}
.main_content_top_left>div{
	width: 100%;
	overflow: hidden;
	opacity: 0;
}
.main_content_top_left>.item_top{
	height: 220px;
}
.main_content_top_left>.item_middle{
	height: 315px;
}
.main_content_top_left>.item_bottom{
	height: 160px;
}
.main_content_top_left .item{
	float: left;
	display: inline-block;
	width: 50%;
	margin: 15px 0;
	height: 58px;
	padding-left: 60px;
	line-height: 56px;
	color: #FFFFFF;
}
.main_content_top_left .item01{
	background: url(../images/guide/img_02.png) no-repeat;
}
.main_content_top_left .item02{
	background: url(../images/guide/img_03.png) no-repeat;
}
.main_content_top_left .item03{
	background: url(../images/guide/img_04.png) no-repeat;
}
.main_content_top_left .item04{
	background: url(../images/guide/img_05.png) no-repeat;
}
.main_content_top_left .item05{
	background: url(../images/guide/img_06.png) no-repeat;
}
.main_content_top_left .item06{
	background: url(../images/guide/img_07.png) no-repeat;
}
.main_content_top_left .item07{
	background: url(../images/guide/img_08.png) no-repeat;
}
.main_content_top_left .item08{
	background: url(../images/guide/img_09.png) no-repeat;
}
.main_content_top_left .item09{
	background: url(../images/guide/img_10.png) no-repeat;
}
.main_content_top_left .item_bottom .item{
	width: 33%;
	padding: 68px 0 0 0;
    line-height: normal;
    height: 80px;
    text-align: center;
}
.main_content_top_left .item10{
	background: url(../images/guide/img_11.png) no-repeat center top; 
}
.main_content_top_left .item11{
	background: url(../images/guide/img_12.png) no-repeat center top;
}
.main_content_top_left .item12{
	background: url(../images/guide/img_13.png) no-repeat center top;
}
.main_content_top_right{
	width: 400px;
	height: 669px;
	overflow: hidden;
	margin: 32px 0 0 0;
	padding-right: 50px;
}
.main_content_top_right>div{
	width: 100%;
	overflow: hidden;
	opacity: 0;
}
.main_content_top_right>.item_top{
	height: 379px;
}
.main_content_top_right>.item_bottom{
	height: 260px;
}
.main_content_top_right .item{
	float: left;
	display: inline-block;
	width: 50%;
	margin: 25px 0 30px;
	height: 58px;
	padding-left: 60px;
	line-height: 56px;
	color: #FFFFFF;
}
.main_content_top_right .item1{
	background: url(../images/guide/img_14.png) no-repeat;
}
.main_content_top_right .item2{
	background: url(../images/guide/img_15.png) no-repeat;
}
.main_content_top_right .item3{
	background: url(../images/guide/img_16.png) no-repeat;
}
.main_content_top_right .item4{
	background: url(../images/guide/img_23.png) no-repeat;
}
.main_content_top_right .item5{
	background: url(../images/guide/img_17.png) no-repeat;
}
.main_content_top_right .item6{
	background: url(../images/guide/img_18.png) no-repeat;
}
.main_content_top_right .item7{
	background: url(../images/guide/img_19.png) no-repeat;
}
.main_content_top_right .item8{
	background: url(../images/guide/img_20.png) no-repeat;
}
.main_content_top_right .item9{
	background: url(../images/guide/img_21.png) no-repeat;
}
.main_content_top_right .item10{
	background: url(../images/guide/img_22.png) no-repeat;
}
.main_content_top_center{
	/*width:600px;*/
	height: 600px;
	margin:16px 435px 0;
}
.main_content_top_center>div{
	width:100%;
	height: 280px;
	opacity: 0;
}
.tabParent{
	width: 100%;
	height: 240px;
	overflow: hidden;
}
.main_content_top_center .item_top{
	width: 100%;
	height: 100%;
	background: url(../images/guide/tab_02.png) no-repeat;
	background-size: 100% 100%;
}
.main_content_top_center .item_bottom{
	width: 100%;
	height: 100%;
	background: url(../images/guide/tab_11.png) no-repeat;
	background-size: 100% 100%;
}
.main_content_top_center .item_top.activeTabTwo{
	background: url(../images/guide/tab_01.png) no-repeat;
	background-size: 100% 100%;
}
.main_content_top_center .item_bottom.activeTabTwo{
	background: url(../images/guide/tab_12.png) no-repeat;
	background-size: 100% 100%;
}
.main_content_top_center .item_bottom.activeTabThree{
	background: url(../images/guide/tab_13.png) no-repeat;
	background-size: 100% 100%;
}
.main_content_top_center  h4{
	margin: 0;
    font-size: 16px;
}
.main_content_top_center  h4 a{
	color: #FFFFFF;
	padding: 10px 1.6%;
    display: inline-block;
    text-decoration: none;
    width: 20%;
}
.main_content_top_center  h4 a:hover,.main_content_top_center  h4 a:visited {
	text-decoration: none;
}
a.tab{
	margin-right: 3.1%;
	position: relative;
}
.main_content_top_center .mask_item_top{
	margin-bottom: 80px;
}
.main_content_top_center table{
	table-layout: fixed;
	width:96.3%;
	margin: auto;
}
.main_content_top_center table th{
	padding: 6px 0;
	border-bottom: 1px solid #fff;
	text-align: center;
}
.main_content_top_center table td{
	padding: 6px 0;
	text-align: center;
	white-space: nowrap;
	text-overflow: ellipsis;
    overflow: hidden;
}
.main_content_top_center table td a{
	color: #FFFFFF;
	text-decoration: underline;
}
.main_content_bottom{
	width: 95%;
	margin: 10px auto 0;
}
.main_content_bottom_container{
	width: 100%;
	height: 312px;
	background: rgba(255,255,255,.2);
	overflow: hidden;
}
.main_content_bottom_container .item{
	width: 30%;
	height: 286px;
	float: left;
	margin: 20px 1.6% 0;
	background: url(../images/guide/dsadas.png) no-repeat;
	background-size: 100% 100%;
	opacity: 0;
}
.main_content_bottom_container .item h4{
	text-indent: 15px;
	font-size: 16px;
}
.main_content_bottom table{
	table-layout: fixed;
	width: 94%;
	margin: auto;
}
.main_content_bottom table th{
	padding: 6px 0;
	border-bottom: 1px solid #fff;
	text-align: center;
}
.main_content_bottom table td{
	padding: 6px 0;
	text-align: center;
	white-space: nowrap;
	text-overflow: ellipsis;
    overflow: hidden;
}
/*动画设置*/
.main_content_top_left>.item_top{
	animation:showTopLeft 2s 0s linear 1;
	-webkit-animation:showTopLeft 2s 0s linear 1;
}
.main_content_top_left>.item_middle{
	animation:showTopLeft 2s 0.5s linear 1;
	-webkit-animation:showTopLeft 2s 0.5s linear 1;
}
.main_content_top_left>.item_bottom{
	animation:showTopLeft 2s 1s linear 1;
	-webkit-animation:showTopLeft 2s 1s linear 1;
}
.main_content_top_right>.item_top{
	animation:showTopRight 2.5s 0s linear 1;
	-webkit-animation:showTopRight 2s 0s linear 1;
}
.main_content_top_right>.item_bottom{
	animation:showTopRight 2.5s 0.5s linear 1;
	-webkit-animation:showTopRight 2.5s 0.5s linear 1;
}
.header_nav{
	animation: showTop 1.5s 0s linear 1;
	-webkit-animation: showTop 1.5s 0s linear 1;
}
.main_content_bottom_left{
	animation:showTopBottom 2s 0s linear 1;
	-webkit-animation:showTopBottom 2s 0s linear 1;
}
.main_content_bottom_center{
	animation:showTopBottom 2s 0.5s linear 1;
	-webkit-animation:showTopBottom 2s 0.5s linear 1;
}
.main_content_bottom_right{
	animation:showTopBottom 2s 1s linear 1 ;
	-webkit-animation:showTopBottom 2s 1s linear 1;
}
.main_content_top_center .mask_item_top{
	animation:fadeInTop 2s 0.5s linear 1;
	-webkit-animation:fadeInTop 2s 0.5s linear 1;
}
.main_content_top_center .mask_item_bottom{
	animation:fadeInBottom 2s 1.3s linear 1;
	-webkit-animation:fadeInBottom 2s 1.3s linear 1;
}
/*动画animation*/
@keyframes showTopLeft{
	from{
		margin-left:-448px;
		opacity: 0;
	}
	to{
		margin-left:0px;
		opacity: 1;
	}
}
@-webkit-keyframes showTopLeft{
	from{
		margin-left:-448px;
		opacity: 0;
	}
	to{
		margin-left:0;
		opacity: 1;
	}
}
@keyframes showTopRight{
	from{
		margin-left:410px;
		opacity: 0;
	}
	to{
		margin-left:0px;
		opacity: 1;
	}
}
@-webkit-keyframes showTopRight{
	from{
		margin-left:-410px;
		opacity: 0;
	}
	to{
		margin-left:0;
		opacity: 1;
	}
}

@keyframes showTop{
	from{
		margin-top:-124px;
		opacity: 0;
	}
	to{
		margin-top:0px;
		opacity: 1;
	}
}
@-webkit-keyframes showTop{
	from{
		margin-top:-124px;
		opacity: 0;
	}
	to{
		margin-top:0;
		opacity: 1;
	}
}
@keyframes showTopBottom{
	from{
		margin-top:406px;
		opacity: 0;
	}
	to{
		margin-top:20px;
		opacity: 1;
	}
}
@-webkit-keyframes showTopBottom{
	from{
		margin-top:406px;
		opacity: 0;
	}
	to{
		margin-top:20px;
		opacity: 1;
	}
}
@-webkit-keyframes fadeInTop{
	from{
		opacity: 0;
		-webkit-transform: translateY(160px) scale(0);
	}
	50%{
		opacity: 0.5;
		-webkit-transform: translateY(80px) scale(0.5);
	}
	to{
		opacity: 1;
		-webkit-transform: translateY(0px) scale(1);
	}
}
@keyframes fadeInTop{
	from{
		opacity: 0;
		transform: translateY(160px) scale(0);
	}
	50%{
		opacity: 0.5;
		transform: translateY(80px) scale(0.5);
	}
	to{
		opacity: 1;
		transform: translateY(0px) scale(1);
	}
}
@-webkit-keyframes fadeInBottom{
	from{
		opacity: 0;
		-webkit-transform: translateY(-260px) scale(0);
	}
	50%{
		opacity: 0.5;
		-webkit-transform: translateY(-130px) scale(0.5);
	}
	to{
		opacity: 1;
		-webkit-transform: translateY(0px) scale(1);
	}
}
.border-animation{
	width: 100%;
	height: 100%;
	padding: 10px;
	position: relative;
	overflow: hidden;
}
.top,.right,.bottom,.left{
	background: #09b5b4;
}
.top{
	position: absolute;
	top: 0;
	left: -100%;
	width: 100%;
	height: 2px;
}
.right{
	position: absolute;
	top: -100%;
	right: 0;
	width: 2px;
	height: 100%;
}
.bottom{
	position: absolute;
	bottom: 0;
	right: -100%;
	width: 100%;
	height: 2px;
}
.left{
	position: absolute;
	bottom: -100%;
	left: 0;
	width: 2px;
	height: 100%;
}
@-webkit-keyframes borderAnimationTop{
	from{
		left:-340px;
	}
	50%{
		left: 0;
	}
	100%{
		left:340px;
	}
}
@keyframes borderAnimationTop{
	from{
		left:-340px;
	}
	50%{
		left: 0;
	}
	100%{
		left:340px;
	}
}
@-webkit-keyframes borderAnimationRight{
	from{
		top:-100%;
	}
	50%{
		top: 0;
	}
	100%{
		top: 100%;
	}
}
@keyframes borderAnimationRight{
	from{
		top:-100%;
	}
	50%{
		top: 0;
	}
	100%{
		top: 100%;
	}
}
@-webkit-keyframes borderAnimationBottom{
	from{
		left:340px;
	}
	50%{
		left: 0;
	}
	100%{
		left:-340px;
	}
}
@keyframes borderAnimationBottom{
	from{
		left:340px;
	}
	50%{
		left: 0;
	}
	100%{
		left:-340px;
	}
}
@-webkit-keyframes borderAnimationLeft{
	from{
		top:100%;
	}
	50%{
		top: 0;
	}
	100%{
		top: -100%;
	}
}
@keyframes borderAnimationLeft{
	from{
		top:100%;
	}
	50%{
		top: 0;
	}
	100%{
		top: -100%;
	}
}
.border-animation .item{
	transform: scale(0.95);
	-webkit-transform: scale(0.95);
	-ms-transform: scale(0.95);
}
.border-animation .item:hover{
	animation:scale 0.5s 0s 1;
	-webkit-animation:scale 0.5s 0s 1;
}
@-webkit-keyframes scale{
	from{
		-webkit-transform: scale(0.95);
	}
	50%{
		-webkit-transform: scale(1);
	}
	100%{
		-webkit-transform: scale(0.95);
	}
}
@keyframes scale{
	from{
		transform: scale(0.95);
	}
	50%{
		transform:scale(1);
	}
	100%{
		transform: scale(0.95);
	}
}
