.main_content .item{
	height:  17.1%;
    width: 15%;
}
.main_content .item  a img{
	width:40%;
	margin: 9% 0 5%;
}
.main_content .item p{
	font-size: 16px;
	line-height: 17px;
}
.main_content .item_01{
	left: 11.7%;
    top: 13.8%;
}
.main_content .item_02{
	right: 11.7%;
    top: 13.7%;
}
.main_content .item_02  a img{
	width:42%;
}
.main_content .item_03{
	left: 8.2%;
    top: 44.9%;
}
.main_content .item_03  a img{
	width:26%;
}
.main_content .item_04{
	right: 8.1%;
    top: 44.9%;
}
.main_content .item_04  a img{
	width:30%;
}
.main_content .item_05{
	left: 24.6%;
    top: 69.8%;
}
.main_content .item_05  a img{
	width:30%;
}
.main_content .item_06{
	right: 24.6%;
    top: 69.8%;
}
.main_content .item_06  a img{
	width:24%;
}
.main_content .item_09{
	height: 18.24%;
    width: 16%;
    left: 41.91%;
    top: 33.9%;
    text-align: center;
    padding-top: 2%;
}
.main_content .item_09{
	transform: scale(1);
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
}
.main_content .item_09:hover{
	animation:none;
	-webkit-animation:none;
}