.header{
	width: 100%;
	height: 80px;
	overflow: hidden;
	background: #3399ff;
}
.login{
	float: left;
	font-size: 24px;
	font-weight: 700;
	padding-bottom: 6px;
	margin: 24px 0 0 16px;
	position: relative;
    text-indent: 24px;
    color: #FFFFFF;
}
.h3_img{
	display: inline-block;
	width: 16px;
	height: 16px;
	position: absolute;
    left: 0;
    top: 10px;
	background: url(../images/guide/img_01.png) no-repeat;
	background-size: 100% 100%;
}
.right_top_nav{
	float: right;
	margin: 15px 0 0;
}
.right_top_nav .item{
	float: left;
}
.item_user,.item_btn{
	height: 58px;
	padding-left: 45px;
	color: #FFFFFF;
}
.item_user{
	background: url(../images/guide/user.png) no-repeat left 50%;
	background-size: 40px 40px;
}
.item_btn{
	line-height: 50px;
	margin-right: 20px;
	padding-top: 24px;
	padding-left: 0px;
	width: 40px;
    text-align: center;
}
.item_btn:hover,.item_btn:visited{
	color: #FFFFFF;
	text-decoration: none;
	cursor: pointer;
}
.item_signOut{
	background: url(../images/guide/signOut.png) no-repeat left top;
	background-size: 40px 40px;
}
.item_home{
	background: url(../images/guide/home.png) no-repeat left top;
	background-size: 40px 40px;
}
.item_info{
	background: url(../images/guide/info.png) no-repeat left top;
	background-size: 40px 40px;
}
.item_user span{
	display: inline-block;
	width: 100%;
}
span.userName{
	margin-top: 9px;
}
.itemList {
	margin: 80px 0 0 93px;
}
.itemList li{
	float: left;
	width: 93px;
	text-align: center;
	margin: 10px 20px;
}
.itemList li img{
	margin-bottom: 10px;
}
.itemList li a{
	color: #99ccff;
}
