<!DOCTYPE html>
<html lang="en">
<head>
    <title>${status?if_exists }</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style type="text/css">
        body {
            margin-left: 200px
        }
        span {
            font-size: 25px;
            font-weight: bold;
            margin-right: 10px
        }
    </style>
</head>
<body>
<h1>这是单点登录拒绝接入界面</h1>
<br>
<p>当前时间：${.now?string("yyyy-MM-dd HH:mm:ss.sss")}</p>
<div class="body">
    您的系统不具有单点登录功能，请去申请。<br/>
  <strong style="color: red"> 注意：  service必须是包含在服务监控系统中填写的应用首页访问地址。比如： 首页地址如： https://192.168.1.1:8080/hello   那么service地址必须是：https://192.168.1.1:8080/hello/..... </strong>
</div>
</body>
</html>