<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hengyunsoft.platform.search.repository.developer.dao.ServiceModuleDocMapper">

  <resultMap id="BaseResultMap" type="com.hengyunsoft.platform.search.entity.core.po.ServiceModuleDoc">
    <!--
    @mbggenerated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="module_id" jdbcType="BIGINT" property="moduleId" />
    <result column="order_" jdbcType="INTEGER" property="order" />
    <result column="title_" jdbcType="VARCHAR" property="title" />
    <result column="publish_status" jdbcType="BIT" property="publishStatus" />
    <result column="content_" jdbcType="LONGVARCHAR" property="content" />
    <result column="public_is" jdbcType="BIT" property="publicIs" />
    <result column="create_user" jdbcType="BIGINT" property="createUser" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_user" jdbcType="BIGINT" property="updateUser" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="json_content" jdbcType="LONGVARCHAR" property="jsonContent" />
  </resultMap>

  <sql id="Base_Column_List">
    <!--
    @mbggenerated
    -->
    id, module_id, order_, title_, publish_status, content_, public_is, create_user,
    create_time, update_user, update_time, json_content
  </sql>

  <select id="selectAll" resultMap="BaseResultMap">
    <!--
    @mbggenerated
    -->
    select
    <include refid="Base_Column_List" />
    from c_service_module_doc
  </select>
</mapper>