/* reset */

* {
    margin: 0px;
    padding: 0px;
    /* 点击高亮 */
    -webkit-tap-highlight-color: transparent;
    /* 设置盒子的*/
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.content,
#index,
#canvas {
    height: 100% !important;
}

html,
body {
    font-size: 14px;
    font-family: "microsoft yahei";
    color: #3f3f3f;
    min-width: 1280px;
    /*min-height: 768px;*/
    height: 100%;
}

body::-webkit-scrollbar {
    width: 0;
}

body {
    min-height: 1080px;
    width: 1920px;
    position: relative;
    background: #0d276c url(../images/bg_bk.png) no-repeat;
}

.w {
    width: 1200px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #3f3f3f;
}

em {
    font-style: normal;
}

ol,
ul {
    list-style: none;
}

input,
button {
    /*	去除系统默认的样式，如CheckBox点击选中不了*/
    /*-webkit-appearance:none;*/
    border: 0 none;
    outline: 0 none;
}

input {
    padding-left: 5px;
    padding-right: 5px;
}

button {
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}
.hidden {
	visibility: hidden;
}

/* comman */

.f_left {
    float: left;
}

.f_right {
    float: right;
}

.clearfix::after,
.clearfix::before {
    content: ".";
    line-height: 0;
    height: 0;
    display: block;
    visibility: hidden;
    clear: both;
}

.fs-14 {
    font-size: 14px;
}

.nav a.nav_left {
    position: absolute;
    left: 22%;
    top: -25px;
}

.nav a.nav_right {
    position: absolute;
    right: 22%;
    top: -25px;
}

.py_big_head {
    width: 514px;
    height: 43px;
    text-align: center;
    background: url(../img/title.png) no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    position: absolute;
    top: -41%;
    left: 50%;
    margin-left: -257px;
}

/*数字样式*/

.num-group {
    position: absolute;
    margin-top: 24px;
    left: 50%;
    transform: translateX(-50%);
    display: table;
}

.num-group .num-item {
    float: left;
    margin: 0 50px;
}

.num-group .title {
    font-size: 16px;
    color: #b4e1f7;
    margin-left: 4px;
    margin-bottom: 5px;
}

.num-group .num,
.num-group .unit {
    float: left;
    height: 44px;
    color: #0BCAE3;
    font-weight: normal;
}

.num-group .num {
    font-family: LCDMono2;
    font-size: 30px;
    line-height: 44px;
    width: 34px;
    text-align: center;
    background: url(../images/num_border.png) no-repeat 0 0/ 100% 100%;
    overflow: hidden;
    margin: 0 2px;
}

.num-group .num span {
    display: block;
}

.num-group .num span.original {
    visibility: hidden;
}

.num-group .unit {
    font-size: 16px;
    line-height: 65px;
}

.left-50 {
    float: left;
    width: 50% !important;
}

.right-50 {
    float: right;
    width: 50% !important;
}

.width-25,
.width-30,
.width-40,
.width-50,
.width-60,
.width-70,
.width-75,
.width-100 {
    float: left;
}

.width-25 {
    width: 25% !important;
}

.width-30 {
    width: 30% !important;
}

.width-40 {
    width: 40% !important;
}

.width-50 {
    width: 50% !important;
}

.width-60 {
    width: 60% !important;
}

.width-70 {
    width: 70% !important;
}

.width-75 {
    width: 75% !important;
}

.width-100 {
    width: 100% !important;
}

.plot_title {
    width: 219px !important;
    height: 33px !important;
    margin-bottom: -6px !important;
    margin-left: 20px !important;
    background: url(../images/ico_01.png) no-repeat left 15px top 20px/ 100px 5px;
}

.plot_title span {
    font-size: 16px;
    color: #b4e1f7;
    display: block;
    padding-left: 8px;
    height: 15px;
    line-height: 13px;
    border-left: 3px solid #16DFEF;
}

/*数字样式*/

.roll-box {
    width: 100%;
    height: calc(100% - 20px);
    overflow: hidden;
}

/*让表数据动起来*/

.table-rolling {
    animation: rollUp 5s infinite linear;
}

@keyframes rollUp {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-100%);
    }
}

.table_list:not(.table-head) {
    margin-bottom: 1px;
}

/*让表数据动起来*/

/*日期样式*/
.date_ {
    width: 100%;
    height: 55px;
    display: inline-block;
    padding: 5px 10px;
}

/*导航样式*/
.nav {
    position: relative;
    width: 100%;
    height: 60px;
    margin-top: 70px;
}
.py_ul_l {
    float: left;
    margin-bottom: 20px;
    width: 100%;
}
