/* 2018/4/30 */

@font-face {
	font-family: LCDM2N__;
	/*这里是说明调用来的字体名字*/
	src: url(../fonts/LCDM2N__.ttf’);
	/*这里是字体文件路径*/
}

.mod_title {
	position: absolute;
	left: 25%;
	margin-top: 20px;
}

.left_28 {
	left: 28%;
}

.mod_title li {
	width: 193px;
	height: 62px;
	background: url(../images/mod_bj.png) no-repeat;
	margin-right: 23px;
	border-radius: 2px;
	float: left;
}

.mod_title li span {
	font-size: 14px;
	/*font-weight: bold;*/
	color: #b4e1f7;
	margin: 10px auto 0px 52px;
	display: block;
}

.mod_title li p {
	font-size: 22px;
	font-weight: bold;
	color: #0df1f9;
	margin-left: 102px;
	float: left;
	font-family: LCDM2N__;
}

.mod_title li em {
	font-size: 14px;
	font-weight: bold;
	color: #b4e1f7;
	margin-left: 8px;
	line-height: 30px;
}

.main_box {
	width: 100%;
	margin-top: 20px;
}

.plot_left {
	width: 28%;
	height: 395px;
	float: left;
}

.ml_29 {
	margin-left: 29px;
}

.ml_27 {
	margin-left: 27px !important;
}

.ml_11 {
	margin-left: 11px;
}

.plot_bj {
	width: 100%;
	height: 362px;
}

.plot_bj_left {
	width: 42px;
	height: 362px;
	/*background: url(../images/plot_bj_left.png) no-repeat;*/
	float: left;
}

.plot_bj_mid {
	width: calc(100% - 62px);
	height: 100%;
	/*background: url(../images/plot_bj_mid.png) repeat-x;*/
	float: left;
}

.plot_bj_right {
	width: 20;
	height: 362px;
	/*background: url(../images/plot_bj_right.png) no-repeat;*/
	float: right;
}

.main_box2 {
	width: 100%;
	margin-top: 4px;
}

.main_box2 .left {
	width: calc(100% - 502px);
	float: left;
}

.main_box2 .right {
	width: 502px;
	float: right;
}

.plot_two {
	width: 32%;
	height: 364px;
	float: left;
}

.plot_two_bj {
	width: 100%;
	height: 364px;
}

.plot_two_left {
	width: 42px;
	height: 364px;
	/*background: url(../images/plot_left_2.png) no-repeat;*/
	background-size: 100% 100%;
	float: left;
}

.plot_two_mid {
	width: calc(100% - 62px);
	height: 364px;
	/*background: url(../images/plot_mid_2.png) repeat-x;*/
	background-size: 100% 100%;
	float: left;
}

.plot_two_right {
	width: 20;
	height: 364px;
	/*background: url(../images/plot_right_2.png) no-repeat;*/
	background-size: 100% 100%;
	float: right;
}

.table_list {
	width: 100%;
	/*padding-left: 10px;
	padding-right: 6px;
	margin-top: 20px;*/
}

.table_list thead {
	background: #1b2d80;
	line-height: 40px;
	font-size: 14px;
	color: #3ccbe3;
	font-weight: bold;
}

.table_list tbody tr {
	background: rgba(27, 45, 128, 0.3);
}

.table_list tbody tr td {
	line-height: 37px;
	font-size: 12px;
	color: #fff;
}

.table_list tbody tr:nth-child(even) {
	background: rgba(27, 45, 128, 0.2);
}

.width_152 {
	width: 152px !important;
}


/*降本提质*/

.assembly_box {
	width: 100%;
	height: 100%;
	float: left;
}

.asse_bj {
	width: 100%;
	height: 100%;
}

.asse_bj_top {
	width: 450px;
	height: 45px;
	/*background: url(../images/asse_bj_top.png) no-repeat;*/
}

.asse_bj_mid {
	width: 450px;
	height: calc(100% - 61px);
	/*background: url(../images/asse_bj_mid.png) repeat-y;*/
}

.asse_bj_bot {
	width: 450px;
	height: 16px;
	/*background: url(../images/asse_bj_bot.png) no-repeat;*/
}

.redu_right {
	width: calc(100% - 450px);
	margin-bottom: 40px;
	float: left;
}

.case_box {
	width: 482px;
	height: 353px;
	margin: 30px 0;
	/*float: left;*/
}

.case_bj {
	width: 100%;
	height: 353px;
}

.cost_bj_left {
	width: 60px;
	height: 353px;
	/*background: url(../images/cost_bj_left.png) no-repeat;*/
	float: left;
}

.cost_bj_mid {
	width: calc(100% - 82px);
	height: 353px;
	/*background: url(../images/cost_bj_mid.png) repeat-x;*/
	float: left;
}

.cost_bj_right {
	width: 20px;
	height: 353px;
	/*background: url(../images/cost_bj_right.png) no-repeat;*/
	float: left;
}

.cost_box {
	width: 100%;
	height: 330px;
	margin: 30px 0;
	float: left;
}

.ratio_box {
	width: calc(100% - 30px);
	height: 353px;
	position: relative;
	left: 15px;
	top: 15px;
}

.ratio_left {
	width: 48%;
	height: 100%;
	position: absolute;
	left: 0px;
}

.ratio_mid {
	width: 2px;
	height: 205;
	background: url(../images/fg.png) no-repeat;
	position: absolute;
	left: 48%;
	top: 50%;
	margin-top: -102px;
}

.ratio_right {
	width: 48%;
	height: 100%;
	position: absolute;
	right: 0px;
}