<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hengyunsoft.platform.security.repository.assess.dao.SafetyAssessmentReportMapper">
  <resultMap id="BaseResultMap" type="com.hengyunsoft.platform.security.entity.assess.po.SafetyAssessmentReport">
    <!--
    @mbggenerated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="assessment_id" jdbcType="BIGINT" property="assessmentId" />
    <result column="level" jdbcType="VARCHAR" property="level" />
    <result column="assessment_time" jdbcType="TIMESTAMP" property="assessmentTime" />
    <result column="assessment_file_id" jdbcType="BIGINT" property="assessmentFileId" />
    <result column="assessment_file_name" jdbcType="VARCHAR" property="assessmentFileName" />
    <result column="assessment_file_url" jdbcType="VARCHAR" property="assessmentFileUrl" />
    <result column="rectification_file_id" jdbcType="BIGINT" property="rectificationFileId" />
    <result column="rectification_file_name" jdbcType="VARCHAR" property="rectificationFileName" />
    <result column="rectification_file_url" jdbcType="VARCHAR" property="rectificationFileUrl" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_user" jdbcType="BIGINT" property="createUser" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_user" jdbcType="BIGINT" property="updateUser" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--
    @mbggenerated
    -->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--
    @mbggenerated
    -->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--
    @mbggenerated
    -->
    id, assessment_id, level, assessment_time, assessment_file_id, assessment_file_name, 
    assessment_file_url, rectification_file_id, rectification_file_name, rectification_file_url, 
    remarks, create_time, create_user, update_time, update_user
  </sql>
  <select id="selectByExample" parameterType="com.hengyunsoft.platform.security.repository.assess.example.SafetyAssessmentReportExample" resultMap="BaseResultMap">
    <!--
    @mbggenerated
    -->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from se_safety_assessment_report
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="groupByClause != null">
      group by ${groupByClause}
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limitValue != null">
      limit ${limitValue}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--
    @mbggenerated
    -->
    select 
    <include refid="Base_Column_List" />
    from se_safety_assessment_report
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectEntity" parameterType="com.hengyunsoft.platform.security.repository.assess.example.SafetyAssessmentReportExample" resultMap="BaseResultMap">
    <!--
    @mbggenerated
    -->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from se_safety_assessment_report
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="groupByClause != null">
      group by ${groupByClause}
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    limit 0,1 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--
    @mbggenerated
    -->
    delete from se_safety_assessment_report
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.hengyunsoft.platform.security.repository.assess.example.SafetyAssessmentReportExample">
    <!--
    @mbggenerated
    -->
    delete from se_safety_assessment_report
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <update id="removeByExample" parameterType="com.hengyunsoft.platform.security.entity.assess.po.SafetyAssessmentReport">
    <!--
    @mbggenerated
    -->
    update se_safety_assessment_report
    set is_delete = 1 

    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </update>
  <update id="removeByPrimaryKey" parameterType="java.lang.Long">
    <!--
    @mbggenerated
    -->
    update se_safety_assessment_report
    set is_delete = 1 

     where 1=1 and id = #{id,jdbcType=BIGINT}
  </update>
  <insert id="insert" parameterType="com.hengyunsoft.platform.security.entity.assess.po.SafetyAssessmentReport">
    <!--
    @mbggenerated
    -->
    insert into se_safety_assessment_report (id, assessment_id, level, 
      assessment_time, assessment_file_id, assessment_file_name, 
      assessment_file_url, rectification_file_id, 
      rectification_file_name, rectification_file_url, 
      remarks, create_time, create_user, 
      update_time, update_user)
    values (#{id,jdbcType=BIGINT}, #{assessmentId,jdbcType=BIGINT}, #{level,jdbcType=VARCHAR}, 
      #{assessmentTime,jdbcType=TIMESTAMP}, #{assessmentFileId,jdbcType=BIGINT}, #{assessmentFileName,jdbcType=VARCHAR}, 
      #{assessmentFileUrl,jdbcType=VARCHAR}, #{rectificationFileId,jdbcType=BIGINT}, 
      #{rectificationFileName,jdbcType=VARCHAR}, #{rectificationFileUrl,jdbcType=VARCHAR}, 
      #{remarks,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{createUser,jdbcType=BIGINT}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=BIGINT})
  </insert>
  <insert id="batchInsert" parameterType="java.util.List">
    <!--
    @mbggenerated
    -->
    insert into se_safety_assessment_report (id, assessment_id, level, assessment_time, assessment_file_id, assessment_file_name, assessment_file_url, rectification_file_id, rectification_file_name, rectification_file_url, remarks, create_time, create_user, update_time, update_user ) values 
    <foreach collection="list" index="index" item="item" separator=",">
      (#{item.id,jdbcType=BIGINT}, #{item.assessmentId,jdbcType=BIGINT}, #{item.level,jdbcType=VARCHAR}, 
        #{item.assessmentTime,jdbcType=TIMESTAMP}, #{item.assessmentFileId,jdbcType=BIGINT}, 
        #{item.assessmentFileName,jdbcType=VARCHAR}, #{item.assessmentFileUrl,jdbcType=VARCHAR}, 
        #{item.rectificationFileId,jdbcType=BIGINT}, #{item.rectificationFileName,jdbcType=VARCHAR}, 
        #{item.rectificationFileUrl,jdbcType=VARCHAR}, #{item.remarks,jdbcType=VARCHAR}, 
        #{item.createTime,jdbcType=TIMESTAMP}, #{item.createUser,jdbcType=BIGINT}, #{item.updateTime,jdbcType=TIMESTAMP}, 
        #{item.updateUser,jdbcType=BIGINT})
    </foreach>
  </insert>
  <insert id="insertSelective" parameterType="com.hengyunsoft.platform.security.entity.assess.po.SafetyAssessmentReport">
    <!--
    @mbggenerated
    -->
    insert into se_safety_assessment_report
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="assessmentId != null">
        assessment_id,
      </if>
      <if test="level != null">
        level,
      </if>
      <if test="assessmentTime != null">
        assessment_time,
      </if>
      <if test="assessmentFileId != null">
        assessment_file_id,
      </if>
      <if test="assessmentFileName != null">
        assessment_file_name,
      </if>
      <if test="assessmentFileUrl != null">
        assessment_file_url,
      </if>
      <if test="rectificationFileId != null">
        rectification_file_id,
      </if>
      <if test="rectificationFileName != null">
        rectification_file_name,
      </if>
      <if test="rectificationFileUrl != null">
        rectification_file_url,
      </if>
      <if test="remarks != null">
        remarks,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="assessmentId != null">
        #{assessmentId,jdbcType=BIGINT},
      </if>
      <if test="level != null">
        #{level,jdbcType=VARCHAR},
      </if>
      <if test="assessmentTime != null">
        #{assessmentTime,jdbcType=TIMESTAMP},
      </if>
      <if test="assessmentFileId != null">
        #{assessmentFileId,jdbcType=BIGINT},
      </if>
      <if test="assessmentFileName != null">
        #{assessmentFileName,jdbcType=VARCHAR},
      </if>
      <if test="assessmentFileUrl != null">
        #{assessmentFileUrl,jdbcType=VARCHAR},
      </if>
      <if test="rectificationFileId != null">
        #{rectificationFileId,jdbcType=BIGINT},
      </if>
      <if test="rectificationFileName != null">
        #{rectificationFileName,jdbcType=VARCHAR},
      </if>
      <if test="rectificationFileUrl != null">
        #{rectificationFileUrl,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hengyunsoft.platform.security.repository.assess.example.SafetyAssessmentReportExample" resultType="java.lang.Integer">
    <!--
    @mbggenerated
    -->
    select count(*) from se_safety_assessment_report
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--
    @mbggenerated
    -->
    update se_safety_assessment_report
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.assessmentId != null">
        assessment_id = #{record.assessmentId,jdbcType=BIGINT},
      </if>
      <if test="record.level != null">
        level = #{record.level,jdbcType=VARCHAR},
      </if>
      <if test="record.assessmentTime != null">
        assessment_time = #{record.assessmentTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.assessmentFileId != null">
        assessment_file_id = #{record.assessmentFileId,jdbcType=BIGINT},
      </if>
      <if test="record.assessmentFileName != null">
        assessment_file_name = #{record.assessmentFileName,jdbcType=VARCHAR},
      </if>
      <if test="record.assessmentFileUrl != null">
        assessment_file_url = #{record.assessmentFileUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.rectificationFileId != null">
        rectification_file_id = #{record.rectificationFileId,jdbcType=BIGINT},
      </if>
      <if test="record.rectificationFileName != null">
        rectification_file_name = #{record.rectificationFileName,jdbcType=VARCHAR},
      </if>
      <if test="record.rectificationFileUrl != null">
        rectification_file_url = #{record.rectificationFileUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.remarks != null">
        remarks = #{record.remarks,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createUser != null">
        create_user = #{record.createUser,jdbcType=BIGINT},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateUser != null">
        update_user = #{record.updateUser,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--
    @mbggenerated
    -->
    update se_safety_assessment_report
    set id = #{record.id,jdbcType=BIGINT},
      assessment_id = #{record.assessmentId,jdbcType=BIGINT},
      level = #{record.level,jdbcType=VARCHAR},
      assessment_time = #{record.assessmentTime,jdbcType=TIMESTAMP},
      assessment_file_id = #{record.assessmentFileId,jdbcType=BIGINT},
      assessment_file_name = #{record.assessmentFileName,jdbcType=VARCHAR},
      assessment_file_url = #{record.assessmentFileUrl,jdbcType=VARCHAR},
      rectification_file_id = #{record.rectificationFileId,jdbcType=BIGINT},
      rectification_file_name = #{record.rectificationFileName,jdbcType=VARCHAR},
      rectification_file_url = #{record.rectificationFileUrl,jdbcType=VARCHAR},
      remarks = #{record.remarks,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      create_user = #{record.createUser,jdbcType=BIGINT},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      update_user = #{record.updateUser,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hengyunsoft.platform.security.entity.assess.po.SafetyAssessmentReport">
    <!--
    @mbggenerated
    -->
    update se_safety_assessment_report
    <set>
      <if test="assessmentId != null">
        assessment_id = #{assessmentId,jdbcType=BIGINT},
      </if>
      <if test="level != null">
        level = #{level,jdbcType=VARCHAR},
      </if>
      <if test="assessmentTime != null">
        assessment_time = #{assessmentTime,jdbcType=TIMESTAMP},
      </if>
      <if test="assessmentFileId != null">
        assessment_file_id = #{assessmentFileId,jdbcType=BIGINT},
      </if>
      <if test="assessmentFileName != null">
        assessment_file_name = #{assessmentFileName,jdbcType=VARCHAR},
      </if>
      <if test="assessmentFileUrl != null">
        assessment_file_url = #{assessmentFileUrl,jdbcType=VARCHAR},
      </if>
      <if test="rectificationFileId != null">
        rectification_file_id = #{rectificationFileId,jdbcType=BIGINT},
      </if>
      <if test="rectificationFileName != null">
        rectification_file_name = #{rectificationFileName,jdbcType=VARCHAR},
      </if>
      <if test="rectificationFileUrl != null">
        rectification_file_url = #{rectificationFileUrl,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hengyunsoft.platform.security.entity.assess.po.SafetyAssessmentReport">
    <!--
    @mbggenerated
    -->
    update se_safety_assessment_report
    set assessment_id = #{assessmentId,jdbcType=BIGINT},
      level = #{level,jdbcType=VARCHAR},
      assessment_time = #{assessmentTime,jdbcType=TIMESTAMP},
      assessment_file_id = #{assessmentFileId,jdbcType=BIGINT},
      assessment_file_name = #{assessmentFileName,jdbcType=VARCHAR},
      assessment_file_url = #{assessmentFileUrl,jdbcType=VARCHAR},
      rectification_file_id = #{rectificationFileId,jdbcType=BIGINT},
      rectification_file_name = #{rectificationFileName,jdbcType=VARCHAR},
      rectification_file_url = #{rectificationFileUrl,jdbcType=VARCHAR},
      remarks = #{remarks,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>