.none{
	display: none;
}
#uploader .filelist{
	display: none !important;
}
#dndArea{
	background-size: cover;
	background-repeat: no-repeat;
}
.NEXT_STEP .form-group{
	margin-left: 50px;
}
#desc{
	resize: none;
}
.component-title{
	font-size: 14px;
}
.component-container{
	padding: 20px 0 0 30px;
}
#case .form-group{
	margin-right: 20px;
}
#case input{
	margin-right: 5px;
}
.component-container input{
	margin-right: 5px;
}
.logo-line{
	height: 100px;
	padding-top: 31px;
	padding-bottom: 31px;
}
.logo-line #uploader{
	position: absolute;
    left: 100px;
    top: -30px;
    width: 80px;
    display: block !important;
}
.webuploader-pick{
	padding: 8px 16px;
	background-color: #fff;
	color: #09c;
	border: 1px solid #09c;
}