<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hengyunsoft.platform.exchange.repository.system.dao.ShareFlowMapper">
  <!-- 根据流程key查询 -->
  <select id="getByFlowKey" parameterType="java.util.Map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from b_share_flow
    where proc_code = #{procCode,jdbcType=VARCHAR}
  </select>

</mapper>