<!doctype html>
<html>
	<head>
		<meta http-equiv="Expires" content="0"/>
	    <meta name="renderer" content="webkit"/>
	    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link rel="stylesheet" type="text/css" href="${_static}/js/lib/bootstrap/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="${_static}/js/lib/webuploader/webuploader.css"/>
    	<link rel="stylesheet" type="text/css" href="${_static}/js/lib/webuploader/upload.css" />
		<link rel="stylesheet" type="text/css" href="${_static}/css/com.css">
		<link rel="stylesheet" type="text/css" href="${_static}/css/index.css">
	</head>
	<body class="bgNone">
		<div class="workspace-body">
			<div id="console-container" class="clearfix">
				<div class="col-sm-12">
					<div class="general_list_main clearfix">
						<div class="main_bottom col-lg-12 col-sm-12">
							<div class="view_item">
								<table class="table default-table tab-border-no-layer borderCollapse">
									<tbody>
										<tr>
											<th width="100">处理人：</th>
											<td id="userName" class="viewTd"></td>
										</tr>
										<tr>
											<th>处理结果：</th>
											<td id="status" class="viewTd"></td>
										</tr>
										<tr>
											<th>处理意见：</th>
											<td id="content" class="viewTd"></td>
										</tr>
										<tr>
											<th>处理时间：</th>
											<td id="auditTime" class="viewTd"></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>	
			</div>
		</div>
		<script type="text/javascript" src="${_static}/js/lib/jquery/jquery.min.js" charset="utf-8"></script>
		<script type="text/javascript" src="${_static}/js/lib/jquery/jquery.cookie.js"  charset="utf-8"></script>
		<script type="text/javascript" src="${_static}/js/hengyun/hengyun_ajax.js"></script>
		<script src="${_static}/js/com.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
            ajaxHengyun({
                type:"GET",
                dataType: 'json',
                url:  '${_gate_url}/api/exchange/directory/findAudit',
                data:{auditId:"${id}"},
                success:function(rows){
                	if(rows.data){
                	    var obj=dealElement(rows.data);
                	    $("#userName").text(obj.userName);
                	    $("#content").text(obj.content);
                        if(obj.status==1){
                            statusName="已通过";
                        };
                        if(obj.status==2){
                            statusName="已驳回";
                        };
                	    $("#status").text(statusName);
                	    $("#auditTime").text(fmtDateTime(obj.auditTime));

					}
                }
            });
		</script>
	</body>
</html>