<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>应用服务管理 </title>
    <link rel="stylesheet" type="text/css" href="${_static}/js/lib/font-awesome/css/font-awesome.css"/>
    <link rel="stylesheet" type="text/css" href="${_static}/js/lib/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="${_static}/js/lib/layer/skin/layer.css">
    <link rel="stylesheet" type="text/css" href="${_static}/css/com_base.css"/>
    <link rel="stylesheet" type="text/css" href="${_static}/css/appServiceManage.css"/>
    <script type="text/javascript" src="${_static}/js/jquery.min.js"></script>
    <script type="text/javascript" src="${_static}/js/lib/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="${_static}/js/lib/layer/layer.js"></script>
</head>

<body>
<#include "/module/header.html">
<div class="main-box clearfix">

    <#include "/module/navLeft.html">
    <div class="right-box">
        <div class="top-bar">
            <div class="text-title pull-left">
                管理中心 > 类型维护 > 应用类型维护 > <span class="active">应用列表</span>
            </div>
        </div>
        <div class="main">
            <div class="main_item clearfix">
                <h3 class="clearfix">
                    <span class="left main_item_title">应用类别1</span>
                </h3>
                <div class="main_item_conter clearfix">
                    <div class="left">
                        <img src="${_static}/images/icon_03.png"/>
                    </div>
                    <div class="right">
                        <h3>当面付</h3>
                        <p>商户扫码收款，消费者扫码付款</p>
                    </div>
                    <div class="main_item_conter_hover">
                        <ul class="clearfix">
                            <li><a href="${_cp}/module/provideEdit">修改</a></li>
                            <li><a href="javascript:void(0);" onclick="remove()">删除</a></li>
                            <li><a href="javascript:void(0);">详情</a></li>
                            <li><a href="javascript:void(0);">API管理</a></li>
                            <li class="autoWidth"><a href="${_cp}/module/provideDocManage">帮助文档管理</a></li>
                        </ul>
                    </div>
                </div>
                <div class="main_item_conter clearfix">
                    <div class="left">
                        <img src="${_static}/images/icon_03.png"/>
                    </div>
                    <div class="right">
                        <h3>APP支付</h3>
                        <p>接入支付宝SDK，用户支付 时唤起支付宝完成支付</p>
                    </div>
                </div>
                <div class="main_item_conter clearfix">
                    <div class="left">
                        <img src="${_static}/images/icon_03.png"/>
                    </div>
                    <div class="right">
                        <h3>手机网站支付</h3>
                        <p>商户扫码收款，消费者扫码付款</p>
                    </div>
                </div>
                <div class="main_item_conter clearfix">
                    <div class="left">
                        <img src="${_static}/images/icon_03.png"/>
                    </div>
                    <div class="right">
                        <h3>电脑网站支付</h3>
                        <p>商户扫码收款，消费者扫码付款</p>
                    </div>
                </div>
                <div class="main_item_conter clearfix">
                    <div class="left">
                        <img src="${_static}/images/icon_03.png"/>
                    </div>
                    <div class="right">
                        <h3>当面付</h3>
                        <p>商户扫码收款，消费者扫码付款</p>
                    </div>
                </div>
                <div class="main_item_conter clearfix">
                    <div class="left">
                        <img src="${_static}/images/icon_03.png"/>
                    </div>
                    <div class="right">
                        <h3>当面付</h3>
                        <p>商户扫码收款，消费者扫码付款</p>
                    </div>
                </div>
                <div class="main_item_conter clearfix">
                    <div class="left">
                        <img src="${_static}/images/icon_03.png"/>
                    </div>
                    <div class="right">
                        <h3>当面付</h3>
                        <p>商户扫码收款，消费者扫码付款</p>
                    </div>
                </div>
                <div class="main_item_conter clearfix">
                    <div class="left">
                        <img src="${_static}/images/icon_03.png"/>
                    </div>
                    <div class="right">
                        <h3>当面付</h3>
                        <p>商户扫码收款，消费者扫码付款</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<#include "/module/footer.html">
<script>
    var pageType={open:['typeManage'],act:['appType']};
    $(".main_item_conter").mouseenter(function(){
        $(this).find(".main_item_conter_hover").css("display","block");
    });
    $(".main_item_conter").mouseleave(function(){
        $(this).find(".main_item_conter_hover").css("display","none");
    });
    /*删除方法*/
    function remove() {
        layer.confirm("您确定要删除吗？", {
            title: '温馨提示',
            shade: [0.4, '#000'],
            btn: ['确定', '取消'] //按钮
        }, function () {
            layer.msg("删除成功！",{time:1500});
        });
    }
</script>
</body>
</html>