.clearfix:before,.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.w24 {
	width: 24px;
}

.hidden {
	display: none;
}

.show {
	display: block;
}

.inline-block {
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

.floatleft {
	float: left !important;
}

.floatright {
	float: right !important;
}

.bigcursor {
	cursor: url(images/big.cur), auto !important;
}

.smallcursor {
	cursor: url(images/small.cur), auto !important;
}

.container {
	clear: both;
}

.searchform {
	display: block;
}

img {
	border: 0px;
}

a {
	text-decoration: none;
}