<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hengyunsoft.platform.exchange.repository.set.dao.ShareDbSourceMapper">
  <resultMap id="BaseResultMap" type="com.hengyunsoft.platform.exchange.entity.set.po.ShareDbSource">
    <!--
    @mbggenerated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="unit_id" jdbcType="VARCHAR" property="unitId" />
    <result column="org_id" jdbcType="VARCHAR" property="orgId" />
    <result column="source_name" jdbcType="VARCHAR" property="sourceName" />
    <result column="db_name" jdbcType="VARCHAR" property="dbName" />
    <result column="db_port" jdbcType="VARCHAR" property="dbPort" />
    <result column="db_address" jdbcType="VARCHAR" property="dbAddress" />
    <result column="cont_type" jdbcType="INTEGER" property="contType" />
    <result column="db_type" jdbcType="INTEGER" property="dbType" />
    <result column="server_type" jdbcType="INTEGER" property="serverType" />
    <result column="db_account" jdbcType="VARCHAR" property="dbAccount" />
    <result column="db_password" jdbcType="VARCHAR" property="dbPassword" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_user" jdbcType="BIGINT" property="createUser" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_user" jdbcType="BIGINT" property="updateUser" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--
    @mbggenerated
    -->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--
    @mbggenerated
    -->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--
    @mbggenerated
    -->
    id, unit_id, org_id, source_name, db_name, db_port, db_address, cont_type, db_type, 
    server_type, db_account, db_password, create_time, create_user, update_time, update_user
  </sql>
  <select id="selectByExample" parameterType="com.hengyunsoft.platform.exchange.repository.set.example.ShareDbSourceExample" resultMap="BaseResultMap">
    <!--
    @mbggenerated
    -->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from b_share_db_source
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="groupByClause != null">
      group by ${groupByClause}
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limitValue != null">
      limit ${limitValue}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--
    @mbggenerated
    -->
    select 
    <include refid="Base_Column_List" />
    from b_share_db_source
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectEntity" parameterType="com.hengyunsoft.platform.exchange.repository.set.example.ShareDbSourceExample" resultMap="BaseResultMap">
    <!--
    @mbggenerated
    -->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from b_share_db_source
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="groupByClause != null">
      group by ${groupByClause}
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    limit 0,1 
  </select>
  <select id="selectAppIdById" parameterType="java.lang.Long" resultType="java.lang.String">
    <!--
    @mbggenerated
    -->
    select app_id 
    from b_share_db_source
    where 1=1 and id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--
    @mbggenerated
    -->
    delete from b_share_db_source
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.hengyunsoft.platform.exchange.repository.set.example.ShareDbSourceExample">
    <!--
    @mbggenerated
    -->
    delete from b_share_db_source
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <delete id="deleteByIds" parameterType="list">
    <!--
    @mbggenerated
    -->
    delete from  b_share_db_source where id in 
    <foreach collection="list" open="(" close=")" index="index" item="item" separator=",">
      #{item}
    </foreach> 
  </delete>
  <delete id="deleteByAppIdAndId" parameterType="map">
    <!--
    @mbggenerated
    -->
    delete from b_share_db_source
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByAppIdAndIds" parameterType="map">
    <!--
    @mbggenerated
    -->
    delete from  b_share_db_source where id in 
    <foreach collection="list" open="(" close=")" index="index" item="item" separator=",">
      #{item}
    </foreach> 
  </delete>
  <update id="removeByExample" parameterType="com.hengyunsoft.platform.exchange.entity.set.po.ShareDbSource">
    <!--
    @mbggenerated
    -->
    update b_share_db_source
    set is_delete = 1 

    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </update>
  <update id="removeByAppIdAndIds" parameterType="map">
    <!--
    @mbggenerated
    -->
    update b_share_db_source
    set is_delete = 1 
 where 1=1 and id in 
 <foreach collection="list" open="(" close=")" index="index" item="item" separator=",">
    #{item}
  </foreach>
  </update>
  <update id="removeByPrimaryKey" parameterType="java.lang.Long">
    <!--
    @mbggenerated
    -->
    update b_share_db_source
    set is_delete = 1 

     where 1=1 and id = #{id,jdbcType=BIGINT}
  </update>
  <update id="removeByAppIdAndId" parameterType="map">
    <!--
    @mbggenerated
    -->
    update b_share_db_source
    set is_delete = 1 

     where 1=1 and id = #{id,jdbcType=BIGINT}
  </update>
  <insert id="insert" parameterType="com.hengyunsoft.platform.exchange.entity.set.po.ShareDbSource">
    <!--
    @mbggenerated
    -->
    insert into b_share_db_source (id, unit_id, org_id, 
      source_name, db_name, db_port, 
      db_address, cont_type, db_type, 
      server_type, db_account, db_password, 
      create_time, create_user, update_time, 
      update_user)
    values (#{id,jdbcType=BIGINT}, #{unitId,jdbcType=VARCHAR}, #{orgId,jdbcType=VARCHAR}, 
      #{sourceName,jdbcType=VARCHAR}, #{dbName,jdbcType=VARCHAR}, #{dbPort,jdbcType=VARCHAR}, 
      #{dbAddress,jdbcType=VARCHAR}, #{contType,jdbcType=INTEGER}, #{dbType,jdbcType=INTEGER}, 
      #{serverType,jdbcType=INTEGER}, #{dbAccount,jdbcType=VARCHAR}, #{dbPassword,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{createUser,jdbcType=BIGINT}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{updateUser,jdbcType=BIGINT})
  </insert>
  <insert id="batchInsert" parameterType="java.util.List">
    <!--
    @mbggenerated
    -->
    insert into b_share_db_source (id, unit_id, org_id, source_name, db_name, db_port, db_address, cont_type, db_type, server_type, db_account, db_password, create_time, create_user, update_time, update_user ) values 
    <foreach collection="list" index="index" item="item" separator=",">
      (#{item.id,jdbcType=BIGINT}, #{item.unitId,jdbcType=VARCHAR}, #{item.orgId,jdbcType=VARCHAR}, 
        #{item.sourceName,jdbcType=VARCHAR}, #{item.dbName,jdbcType=VARCHAR}, #{item.dbPort,jdbcType=VARCHAR}, 
        #{item.dbAddress,jdbcType=VARCHAR}, #{item.contType,jdbcType=INTEGER}, #{item.dbType,jdbcType=INTEGER}, 
        #{item.serverType,jdbcType=INTEGER}, #{item.dbAccount,jdbcType=VARCHAR}, #{item.dbPassword,jdbcType=VARCHAR}, 
        #{item.createTime,jdbcType=TIMESTAMP}, #{item.createUser,jdbcType=BIGINT}, #{item.updateTime,jdbcType=TIMESTAMP}, 
        #{item.updateUser,jdbcType=BIGINT})
    </foreach>
  </insert>
  <insert id="insertSelective" parameterType="com.hengyunsoft.platform.exchange.entity.set.po.ShareDbSource">
    <!--
    @mbggenerated
    -->
    insert into b_share_db_source
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="unitId != null">
        unit_id,
      </if>
      <if test="orgId != null">
        org_id,
      </if>
      <if test="sourceName != null">
        source_name,
      </if>
      <if test="dbName != null">
        db_name,
      </if>
      <if test="dbPort != null">
        db_port,
      </if>
      <if test="dbAddress != null">
        db_address,
      </if>
      <if test="contType != null">
        cont_type,
      </if>
      <if test="dbType != null">
        db_type,
      </if>
      <if test="serverType != null">
        server_type,
      </if>
      <if test="dbAccount != null">
        db_account,
      </if>
      <if test="dbPassword != null">
        db_password,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="unitId != null">
        #{unitId,jdbcType=VARCHAR},
      </if>
      <if test="orgId != null">
        #{orgId,jdbcType=VARCHAR},
      </if>
      <if test="sourceName != null">
        #{sourceName,jdbcType=VARCHAR},
      </if>
      <if test="dbName != null">
        #{dbName,jdbcType=VARCHAR},
      </if>
      <if test="dbPort != null">
        #{dbPort,jdbcType=VARCHAR},
      </if>
      <if test="dbAddress != null">
        #{dbAddress,jdbcType=VARCHAR},
      </if>
      <if test="contType != null">
        #{contType,jdbcType=INTEGER},
      </if>
      <if test="dbType != null">
        #{dbType,jdbcType=INTEGER},
      </if>
      <if test="serverType != null">
        #{serverType,jdbcType=INTEGER},
      </if>
      <if test="dbAccount != null">
        #{dbAccount,jdbcType=VARCHAR},
      </if>
      <if test="dbPassword != null">
        #{dbPassword,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hengyunsoft.platform.exchange.repository.set.example.ShareDbSourceExample" resultType="java.lang.Integer">
    <!--
    @mbggenerated
    -->
    select count(*) from b_share_db_source
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--
    @mbggenerated
    -->
    update b_share_db_source
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.unitId != null">
        unit_id = #{record.unitId,jdbcType=VARCHAR},
      </if>
      <if test="record.orgId != null">
        org_id = #{record.orgId,jdbcType=VARCHAR},
      </if>
      <if test="record.sourceName != null">
        source_name = #{record.sourceName,jdbcType=VARCHAR},
      </if>
      <if test="record.dbName != null">
        db_name = #{record.dbName,jdbcType=VARCHAR},
      </if>
      <if test="record.dbPort != null">
        db_port = #{record.dbPort,jdbcType=VARCHAR},
      </if>
      <if test="record.dbAddress != null">
        db_address = #{record.dbAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.contType != null">
        cont_type = #{record.contType,jdbcType=INTEGER},
      </if>
      <if test="record.dbType != null">
        db_type = #{record.dbType,jdbcType=INTEGER},
      </if>
      <if test="record.serverType != null">
        server_type = #{record.serverType,jdbcType=INTEGER},
      </if>
      <if test="record.dbAccount != null">
        db_account = #{record.dbAccount,jdbcType=VARCHAR},
      </if>
      <if test="record.dbPassword != null">
        db_password = #{record.dbPassword,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createUser != null">
        create_user = #{record.createUser,jdbcType=BIGINT},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateUser != null">
        update_user = #{record.updateUser,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--
    @mbggenerated
    -->
    update b_share_db_source
    set id = #{record.id,jdbcType=BIGINT},
      unit_id = #{record.unitId,jdbcType=VARCHAR},
      org_id = #{record.orgId,jdbcType=VARCHAR},
      source_name = #{record.sourceName,jdbcType=VARCHAR},
      db_name = #{record.dbName,jdbcType=VARCHAR},
      db_port = #{record.dbPort,jdbcType=VARCHAR},
      db_address = #{record.dbAddress,jdbcType=VARCHAR},
      cont_type = #{record.contType,jdbcType=INTEGER},
      db_type = #{record.dbType,jdbcType=INTEGER},
      server_type = #{record.serverType,jdbcType=INTEGER},
      db_account = #{record.dbAccount,jdbcType=VARCHAR},
      db_password = #{record.dbPassword,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      create_user = #{record.createUser,jdbcType=BIGINT},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      update_user = #{record.updateUser,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hengyunsoft.platform.exchange.entity.set.po.ShareDbSource">
    <!--
    @mbggenerated
    -->
    update b_share_db_source
    <set>
      <if test="unitId != null">
        unit_id = #{unitId,jdbcType=VARCHAR},
      </if>
      <if test="orgId != null">
        org_id = #{orgId,jdbcType=VARCHAR},
      </if>
      <if test="sourceName != null">
        source_name = #{sourceName,jdbcType=VARCHAR},
      </if>
      <if test="dbName != null">
        db_name = #{dbName,jdbcType=VARCHAR},
      </if>
      <if test="dbPort != null">
        db_port = #{dbPort,jdbcType=VARCHAR},
      </if>
      <if test="dbAddress != null">
        db_address = #{dbAddress,jdbcType=VARCHAR},
      </if>
      <if test="contType != null">
        cont_type = #{contType,jdbcType=INTEGER},
      </if>
      <if test="dbType != null">
        db_type = #{dbType,jdbcType=INTEGER},
      </if>
      <if test="serverType != null">
        server_type = #{serverType,jdbcType=INTEGER},
      </if>
      <if test="dbAccount != null">
        db_account = #{dbAccount,jdbcType=VARCHAR},
      </if>
      <if test="dbPassword != null">
        db_password = #{dbPassword,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByAppIdAndIdSelective" parameterType="com.hengyunsoft.platform.exchange.entity.set.po.ShareDbSource">
    <!--
    @mbggenerated
    -->
    update b_share_db_source
    <set>
      <if test="unitId != null">
        unit_id = #{unitId,jdbcType=VARCHAR},
      </if>
      <if test="orgId != null">
        org_id = #{orgId,jdbcType=VARCHAR},
      </if>
      <if test="sourceName != null">
        source_name = #{sourceName,jdbcType=VARCHAR},
      </if>
      <if test="dbName != null">
        db_name = #{dbName,jdbcType=VARCHAR},
      </if>
      <if test="dbPort != null">
        db_port = #{dbPort,jdbcType=VARCHAR},
      </if>
      <if test="dbAddress != null">
        db_address = #{dbAddress,jdbcType=VARCHAR},
      </if>
      <if test="contType != null">
        cont_type = #{contType,jdbcType=INTEGER},
      </if>
      <if test="dbType != null">
        db_type = #{dbType,jdbcType=INTEGER},
      </if>
      <if test="serverType != null">
        server_type = #{serverType,jdbcType=INTEGER},
      </if>
      <if test="dbAccount != null">
        db_account = #{dbAccount,jdbcType=VARCHAR},
      </if>
      <if test="dbPassword != null">
        db_password = #{dbPassword,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hengyunsoft.platform.exchange.entity.set.po.ShareDbSource">
    <!--
    @mbggenerated
    -->
    update b_share_db_source
    set unit_id = #{unitId,jdbcType=VARCHAR},
      org_id = #{orgId,jdbcType=VARCHAR},
      source_name = #{sourceName,jdbcType=VARCHAR},
      db_name = #{dbName,jdbcType=VARCHAR},
      db_port = #{dbPort,jdbcType=VARCHAR},
      db_address = #{dbAddress,jdbcType=VARCHAR},
      cont_type = #{contType,jdbcType=INTEGER},
      db_type = #{dbType,jdbcType=INTEGER},
      server_type = #{serverType,jdbcType=INTEGER},
      db_account = #{dbAccount,jdbcType=VARCHAR},
      db_password = #{dbPassword,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByAppIdAndId" parameterType="com.hengyunsoft.platform.exchange.entity.set.po.ShareDbSource">
    <!--
    @mbggenerated
    -->
    update b_share_db_source
    set unit_id = #{unitId,jdbcType=VARCHAR},
      org_id = #{orgId,jdbcType=VARCHAR},
      source_name = #{sourceName,jdbcType=VARCHAR},
      db_name = #{dbName,jdbcType=VARCHAR},
      db_port = #{dbPort,jdbcType=VARCHAR},
      db_address = #{dbAddress,jdbcType=VARCHAR},
      cont_type = #{contType,jdbcType=INTEGER},
      db_type = #{dbType,jdbcType=INTEGER},
      server_type = #{serverType,jdbcType=INTEGER},
      db_account = #{dbAccount,jdbcType=VARCHAR},
      db_password = #{dbPassword,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>