<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hengyunsoft.platform.msgs.repository.msgsmessagetype.dao.MsgsMessageTypeMapper">

  <delete id="deleteByMessageId" parameterType="java.lang.Long">
    <!--
    @mbggenerated
    -->
    delete from msgs_message_type where  message_id = ${messageId}

  </delete>
</mapper>