.row {
	margin: 0 0;
	margin-bottom: 15px;
	padding-bottom: 15px;
}

.console-title {
	min-height: 20px;
	text-align: center;
	font-size: 18px;
	color: #000000;
	border-bottom: none;
}

.list-section {
	padding-bottom: 24px;
	background: #fff;
}

.list-content {
	width: 95%;
	margin: 0 auto;
	padding-top: 24px;
}

.list-content h5 {
	margin: 0 0;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #0099cc;
}

.list-content h4 {
	font-size: 12px;
	line-height: 12px;
	font-family: "微软雅黑";
	vertical-align: middle;
}

label.control-label {
	text-align: right;
}

table.infoList tr th {
	border: 1px solid #e1e6eb;
	padding: 10px 12px;
	vertical-align: middle;
	width: 180px;
	font-weight: normal;
}

table.infoListTab tr th {
	width: auto;
}

table.infoList tbody tr td input.form-control {
	width: 100%;
}

table.infoList tbody tr td select.form-control {
	width: 100%;
}
.filelist{
	border:none!important;
}
.filelist li{
	margin:10px!important;
}
.form-control-wrap select{
	width: 153px !important;
}
.w90{
	width:90%!important;
	margin-left: 5px;
}
.textIndent{
	text-indent: 40px;
}
.textIndent span{
	display:inline;
	text-indent: 0;
}
.uploader1-active{
	text-align: center;
    padding-top: 130px;
    position: relative;
}
.dndArea1-active{
	position: absolute !important;
	padding: 0 !important;
	top: 5px;
    left: 50%;
    width: 100px;
    height: 100px;
    background-position: center !important;
    background-size: contain !important;
    padding: 0;
    min-height: auto !important;
    clip: auto;
    margin-left: -50px;
    border: 1px solid rgba(10,10,10,0.1);
    line-height: 100px;
    text-align: center;
}
.file-container{
	margin-left: 89px;
}
.console-container{
	height: auto;
	min-height: calc(100% - 30px);
}
.text-center .btn{
	margin: 0 15px;
}