.console-container {
	 height: auto;
}
.general_list_main{
	background: #fff;
}
.general_list_main .main_left{
	width: 320px;
	min-height: 390px;
	border-right:20px solid #f2f2f2;
}
.general_list_main .main_left .item{
	margin-bottom:10px ;
	border: 1px solid #ddd;
}
.general_list_main .main_left .item h3{
	width: 100%;
	height: 36px;
	line-height: 36px;
	background: #3472db;
	color: #fff;
	cursor: pointer;
}
.item_tle{
	margin-left: 20px;
}
.item_angle{
	margin: 11px;
}
.general_list_main .main_left .item ul{
	width: 96%;
	margin: 10px auto;
}
.general_list_main .main_left .item ul li a{
	display: inline-block;
	/*width: 100%;*/
	padding-left: 20px;
	margin: 10px 0;
	cursor: pointer;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.general_list_main .main_left .item ul li a:hover{
	color:#3472db;
	text-decoration: none;
}
.classify {
	padding: 10px 0;
}
.classify span{
	background: #eee;
	padding: 5px 12px;
	color: #000;
	cursor: pointer;
}
.classify span.active{
	background: #3472db;
	color: #fff;
}
.main_right{
	background: #fff;
	margin-left: 320px;
}
#secondhome{
	width: 100%;
}
.general_list_main .main_left .item ul {
	margin: auto;
}
.general_list_main .main_left .item ul li a {
	padding-left: 0px;
	margin: 0px;
}
.ztree li a.curSelectedNode {
	height: auto;
}
