/*---------------初始化 begin----------------*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td { margin: 0; padding: 0; }
body { font-size: 14px; font-family: 'Microsoft YaHei','微软雅黑',STSong,'宋体', '\5B8B\4F53','Times New Roman', Verdana, Arial, Helvetica, sans-serif; }
td, th, caption { font-size: 12px; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; font-size: 100%; }
/*address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal;}*/
a { color: #555; text-decoration: none; }
    a:hover { text-decoration: underline; }
img { border: none; }
ol, ul, li { list-style: none; }
input, textarea, select, button { font: 14px "\5B8B\4F53",Verdana,Helvetica,Arial,sans-serif; }
table { border-collapse: collapse; }
label{max-width: none;}
.clearfix:after { clear: both; content: "."; display: block; height: 0; visibility: hidden; }
input[type="radio"], input[type="checkbox"]{vertical-align:middle; margin-top:-2px;}
.wid100{width:4em; display: inline-block; text-align: left;}
.required{color:red; margin-right: 6px; font-size: 16px;}
.hidden{display: none;}
.marginLeft{margin-left: 10px;}
.marginTop{margin-top: 39px;}
/*.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control{background: none;cursor: no-drop;}*/
#maindeptIdName[readonly]{background: none;cursor: text;}
.table-title-left tbody tr td img.nopic{width:110px; height: 120px;}
.photoFilePicker .webuploader-pick{width: 110px;}
.photoUploader{display: none}
.pRelative{position: relative;}
.iconPathStyle{ position: absolute; top: 5px; left: 120px; width: 37px; height: 37px;}
#index-top-msg a{
	position: relative;
	display: inline-block;
	padding-top: 5px;
	margin-top: -5px;
}
#msgElement{
	display: none;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: red;
	color: #fff;
	font-size: 12px;
	text-align: center;
	line-height: 25px;
	position: absolute;
	top:-1px;
	right: 0;
}
.popover {
	max-width: 500px;
}
.popoverCss li{
	border-bottom: 1px solid #ddd;
	padding: 6px;
	white-space: nowrap;
	cursor: pointer;
}
.index-top-shortcut ul li{
	width: 6em;
	margin: 0;
}
/*---------------初始化 end----------------*/


/*---------------页面排版样式 begin----------------*/
.row {margin: 0 0; margin-bottom: 15px; padding-bottom: 15px;}
	/*页面标题*/
	.console-title {min-height: 20px; text-align: center; font-size: 18px; color: #000000; margin-bottom: 10px;}
        .page-title {border-left: 2px solid #6699cc; color: #666666; font-size: 14px;}
        	.page-title-scend {color: #0066cc;}
        a.btn-back {color: #6699cc; font-size: 14px; cursor: pointer;}
    /*主体内容*/
    .list-section {padding: 5px 10px; background: #fff; }
		/*.list-section .selWid-form-search {width: 99px;}*/  
		.list-section .selWid-form-search {width: auto;max-width: 150px; min-width: 80px;}    	  	
        .list-section .list-content { width: 100%; margin: 0 auto; }
	        .list-content h5 { margin: 0 0; padding-top: 10px; padding-bottom: 10px; border-bottom: 1px solid #0099cc; }
	        .ui-button {color:#6699cc;}
	    .form-inline .pull-right .form-field { margin: 4px 0px; }
	    	.form-inline .pull-right .form-field .form-group{ margin: 4px 0px; }
	    .center{text-align: center;}
	/*ul选项卡*/
	.tab-ul{width: 100%;}
	.tab-ul li{float: left; padding: 5px 10px; background: #e7e7e7; color: #333; margin-right: 2px; cursor: pointer;}
	.tab-ul li.active{background: #0099cc; color: #fff;}
	.reply label{ color: #333; display: inline-block; margin: 10px 0; }
	.reply p{ text-indent: 2em; margin-bottom: 20px; }
/*---------------页面排版样式 end----------------*/


/*---------------jqgrid样式设置 start---------------*/
.ui-jqgrid .ui-jqgrid-bdiv { overflow-x: hidden;}
.ui-jqgrid .ui-jqgrid-pager, .ui-jqgrid .ui-jqgrid-toppager{ overflow-x:visible;}
.ui-jqgrid .ui-jqgrid-pager .ui-pg-div, .ui-jqgrid .ui-jqgrid-toppager .ui-pg-div{ color:#fff; background: #28b5d6; border-radius:3px; padding: 6px; }
.ui-th-ltr, .ui-jqgrid .ui-jqgrid-htable th.ui-th-ltr, .ui-jqgrid .ui-jqgrid-btable { text-align: center; }
.ui-jqgrid .ui-jqgrid-btable tbody tr.jqgrow td{ white-space: normal; vertical-align: middle; padding:8px 0;}
.jqgrid-img{width: 80px;}
.ui-jqgrid-bdiv table tr td a>i{width: 12px; height: 14px;}
/*.ui-jqgrid-bdiv .table{margin-bottom: 0px; border: 0;}*/
.ui-jqgrid .ui-jqgrid-btable tbody tr.jqgrow td:last-child{border-right: 0;}
/*---------------qgrid样式设置 end----------------*/


/*
 * 表格样式 start
 * 说明
 * .table-title-top 标题在顶部
 * .table-title-left 标题在左边
 * .tab-border-no 无边框，标题在左表格
 * .tab-img-id 图片
 */
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{padding:3px;}
.table-title-top,.table-title-left,.tab-border-no{width: 100%; table-layout: fixed;}
.table-title-top thead tr th,.table-title-top tbody tr td,.table-title-left tbody tr th,.table-title-left tbody tr td{border: 1px solid #ddd; font-size: 14px; color: #000; text-align: center; vertical-align: middle; padding: 6px;}
.table-title-top thead tr th{ background: #f5f5f5; border-top:1px solid #ddd ;}
.table-title-left tbody tr th{ background: #f5f5f5; font-weight: normal;}
.table-title-left tbody tr td{ text-align: left;}
.table-title-left tbody tr td img{width: 120px; height: 90px;}
.table tr td input.inp-form,.table tr td select.set-form {width: 100%;}
.table tr td textarea.textarea-form{width: 100%; resize: none; margin-bottom: 10px;}
.td-div{position: relative;}
.td-div:first-child{margin-bottom: 6px;}
.td-div label{position: absolute; top: 8px; left: 5px; font-size: 12px; font-weight: normal;}
.td-div input{text-indent: 5em;}
.tab-border-no{border:0;}
.tab-border-no tbody tr th,.tab-border-no tbody tr td{border:0;text-align: left;vertical-align: middle;padding:5px 0; font-weight: normal;}
.tab-border-no tbody tr th{text-align: right; padding-right: 10px; }
.tab-border-no-top tbody tr th,.tab-border-no-top tbody tr td{vertical-align:top; }
.tab-border-no-top tbody tr td img{width:132px; height:120px;}
.tab-img-id tbody tr th{vertical-align: top; width: 100px;}
.tab-img-id tbody tr th,.tab-img-id tbody tr td{padding: 20px 10px 20px 0;}
.tab-img-id tbody tr td img{width:192px;height:120px;}
.tab-img-id tbody tr td img.phone{width:132px;}
/*-----------表格样式 end-------------------*/


/*-----------webuploader文件上传样式 begin-------------------*/
.uploader {border: 1px solid #ddd;}
/*-----------webuploader文件上传样式 end-------------------*/


/*-----------layer弹窗样式begin-------------------*/
.layui-layer-iframe .layui-layer-title,.layui-layer-dialog .layui-layer-title {background-color: #0088b6; color: #fff; }
.layui-layer-iframe .layui-layer-btn,.layui-layer-page .layui-layer-btn,
.layui-layer-dialog .layui-layer-btn{ background-color: #0088b6; padding-top: 0; padding: 6px 0;}
.layui-layer-btn a { border: 1px solid #2e8ded; background-color: #2e8ded; color: #fff;}
/*-----------layer弹窗样式 end-------------------*/

.none{
	display: none;
}