<!DOCTYPE>
<html>

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>应用集成</title>
		<link rel="stylesheet" href="${_static}/platform_bg/nui/css/nui.css" />
		<link rel="stylesheet" href="${_static}/platform_bg/css/index.css" />
		<link rel="stylesheet" href="${_static}/css_base/base.css" />
		<link rel="stylesheet" href="${_static}/css_base/index.css" />
		<link rel="stylesheet" href="${_static}/css_base/style.css" />
		<style type="text/css">
			.plot {
				float: left;
			}
			
			.plot_one,
			.plot_three,
			.plot_four,
			.plot_six {
				width: 28%;
			}
			
			.plot_tow {
				width: 44%;
			}
			
			.charts-box {
				width: 100%;
			}
			.charts-box1 .plot_bj{
				height: 524px;
			}
			.charts-box2 .plot_bj{
				height: 200px;
			}
		</style>
	</head>
    <script type="text/javascript">
        var gateUrl = "${_gate_url}";
    </script>
	<body>
		<div class="content">
			<div id="index" class="section platform_bg" style="overflow: hidden;">
				<div class="banner-img"></div>
				<canvas id="canvas"></canvas>
			</div>
		</div>
		<!-- 内容区-->
		<div class="py_big_con clearfix">

			<div class="big_head">
				<div class="date_">
					<div class="date"></div>
				</div>
				<div class="nav">
					<ul class="py_ul_l clearfix">
						<li>
							<a href="index.html">
								整体概览
							</a>
						</li>
						<li></li>
						<li>
							<a href="share.html">
								共享交换
							</a>
						</li>
						<li></li>
						<li>
							<a href="appIntegrate.html">
								应用集成
							</a>
						</li>
						<li>
							<a href="operate.html">
								运维监控
							</a>
						</li>
						<li></li>
						<li>
							<a href="jbtz.html">
								降本提质
							</a>
						</li>
						<li></li>
						<li>
							<a href="supervision.html" class="width_152">
								统一监管
							</a>
						</li>
					</ul>
					<a href="main.html" class="py_big_head clearfix"></a>
				</div>
				<ul class="num-group">
					<li class="num-item">
						<div class="title">应用</div>
						<div class="icon_number" id="app_num">
							<!--<div class="num">-->
								<!--<div class="contain">-->
									<!--<span class="original">1</span>-->
								<!--</div>-->
							<!--</div>-->
							<!--<div class="num">-->
								<!--<div class="contain">-->
									<!--<span class="original">4</span>-->
								<!--</div>-->
							<!--</div>-->
							<div class="unit">个</div>
						</div>
					</li>
					<li class="num-item">
						<div class="title">服务</div>
						<div class="icon_number" id="service_num">
							<!--<div class="num">
								<div class="contain">
									<span class="original">2</span>
								</div>
							</div>
							<div class="num">
								<div class="contain">
									<span class="original">0</span>
								</div>
							</div>
							<div class="num">
								<div class="contain">
									<span class="original">0</span>
								</div>
							</div>-->
							<div class="unit">个</div>
						</div>
					</li>
					<li class="num-item">
						<div class="title">模块</div>
						<div class="icon_number">
							<div class="num">
								<div class="contain">
									<span class="original">2</span>
								</div>
							</div>
							<div class="num">
								<div class="contain">
									<span class="original">0</span>
								</div>
							</div>
							<div class="num">
								<div class="contain">
									<span class="original">0</span>
								</div>
							</div>
							<div class="unit">个</div>
						</div>
					</li>
					<li class="num-item">
						<div class="title">支撑组件</div>
						<div class="icon_number">
							<div class="num">
								<div class="contain">
									<span class="original">3</span>
								</div>
							</div>
							<div class="num">
								<div class="contain">
									<span class="original">6</span>
								</div>
							</div>
							<div class="num">
								<div class="contain">
									<span class="original">0</span>
								</div>
							</div>
							<div class="unit">个</div>
						</div>
					</li>
				</ul>
			</div>
			<div class="main_box clearfix">
				<!--plot_one -->
				<div class="plot_one plot">
					<div class="charts-box">
						<div class="plot_title">
							<span>平台接入应用情况</span>
						</div>
						<div class="plot_bj">
							<div id="app" style="height: 100%;"></div>
						</div>
					</div>
					<div class="charts-box">
						<div class="plot_title">
							<span>共性设施发展情况</span>
						</div>
						<div class="plot_bj">
							<div id="develop" style="height: 100%;"></div>
						</div>
					</div>
				</div>
				<!--plot_one -->
				<!--plot_one -->
				<div class="plot_tow plot">
					<div class="charts-box charts-box1">
						<div class="plot_title">
							<span>关系图</span>
						</div>
						<div class="plot_bj">
							<div id="relationship" style="height: 92%; margin-top: 2%;"></div>
						</div>
					</div>
					<div class="charts-box charts-box2">
						<div class="plot_title">
							<span>组件各类别占比情况</span>
						</div>
						<div class="plot_bj">
						<div id="assembly" style="height: 100%;"></div>
						</div>
					</div>
				</div>
				<div class="plot_three plot">
					<div class="charts-box">
						<div class="plot_title ml_11">
							<span>共性设施使用情况</span>
						</div>
						<div class="plot_two_bj">
							<div id="usage" style="height: 100%;"></div>
						</div>
					</div>
					<div class="charts-box">
						<div class="plot_title ml_11">
							<span>常用组件排名</span>
						</div>
						<table class="table_list" cellspacing="0">
							<thead>
								<tr>
									<th>排名</th>
									<th>模块</th>
									<th>服务</th>
									<th>应用</th>
									<th>API</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td >1</td>
									<td>模块1</td>
									<td>服务1</td>
									<td>应用1</td>
									<td>API1</td>
								</tr>
								<tr>
									<td>2</td>
									<td>模块2</td>
									<td>服务2</td>
									<td>应用2</td>
									<td>API2</td>
								</tr>
								<tr>
									<td>3</td>
									<td>模块3</td>
									<td>服务3</td>
									<td>应用3</td>
									<td>API3</td>
								</tr>
								<tr>
									<td>4</td>
									<td>模块4</td>
									<td>服务4</td>
									<td>应用4</td>
									<td>API4</td>
								</tr>
								<tr>
									<td>5</td>
									<td>模块5</td>
									<td>服务5</td>
									<td>应用5</td>
									<td>API5</td>
								</tr>
								<tr>
									<td>6</td>
									<td>模块6</td>
									<td>服务6</td>
									<td>应用6</td>
									<td>API6</td>
								</tr>
								<tr>
									<td>7</td>
									<td>模块7</td>
									<td>服务7</td>
									<td>应用7</td>
									<td>API7</td>
								</tr>
								<tr>
									<td>8</td>
									<td>模块7</td>
									<td>服务7</td>
									<td>应用7</td>
									<td>API7</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<!--main_box -->
		</div>
		<script src="${_static}/js/jquery-1.11.1.min.js"></script>
		<script src="${_static}/js/echarts.js"></script>
		<script src="${_static}/platform_bg/js/banner.js"></script>
		<script src="${_static}/js/base.js"></script>
		<script src="${_static}/js/appIntegrate.js"></script>
        <script src="${_static}/js/hengyun/hengyun_ajax.js"></script>
        <script src="${_static}/js/hengyun/jquery.cookie.js"></script>
	<script>
		/*应用和服务数量*/
        ajaxHengyun({
            url: gateUrl + "/api/developer/app/findApplicationAndServiceNum",
            success: function (r) {
                buildI("#service_num", r.data.serviceNum);
                buildI("#app_num", r.data.appNum);
            },
            error: function (r) {
               
            }
        });
	</script>
	</body>

</html>