<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <script type="text/javascript">
    (function(doc, win) {
        var docEl = doc.documentElement,
            resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
            recalc = function() {
                var clientWidth = docEl.clientWidth;
                if (!clientWidth) return;
                docEl.style.fontSize = 100 * (clientWidth / 1920) + '%';
            };

        if (!doc.addEventListener) return;
        win.addEventListener(resizeEvt, recalc, false);
        doc.addEventListener('DOMContentLoaded', recalc, false);
    })(document, window);
    </script>
    <title>主页</title>
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>

<body class="bodyWrapper" style="overflow-x: hidden;overflow-y: scroll;">
    <div id="headerNorthMenu" class="headerNavMenu">
        <div class="headerbg">
            <a href="javascript:;" class="titleLogo">
                <img src="${_static}/images/logo_titlt.png" class="img">
            </a>
        </div>
        <div class="top_right fr">
            <div class="top_info fr">
                <div class="top-search fl mr20">
                    <input type="text" name="" class="holder" data-holder="搜索数据、应用、菜单">
                </div>
                <div class="head fl">
                    <img src="${_static}/images/head.png">
                    <span>张伟</span>
                </div>
                <div class="exit fl">
                    <img src="${_static}/images/info_exit.png">
                    <a href="#">退出</a>
                </div>
            </div>
        </div>
    </div>
    <div id="mainPanle" class="middleContent">
        <div class="topWrapper">
            <!-- slide left -->
            <div id="sidebar_left" class="xb4 xm4 xs4" style="padding-right: 15px;">
                <div class="sidebar_ptb">
                    <!-- 提醒中心 -->
                    <div class="slidebar_left_box s-l-b1">
                        <div class="slidebar_left_cnt s-l-c1">
                            <div class="cnt-title">
                                <h2 class="title-cnt fl">
                                    <img class="img" src="${_static}/images/mid_tp_01.png">提醒中心</h2>
                                <p class="t-obc"></p>
                            </div>
                            <div class="cnt-content">
                                <div style="padding:12px 20px;height: 100%;width: 100%;">
                                    <ul class="one_box up clearfix">
                                        <li class="item">
                                            <div class="pking">
                                                <p>45</p>
                                                <span>待办事项</span>
                                            </div>
                                        </li>
                                        <li class="item">
                                            <div class="pking">
                                                <p>5</p>
                                                <span>待办公文</span>
                                            </div>
                                        </li>
                                        <li class="item">
                                            <div class="pking">
                                                <p class="color_2">21</p>
                                                <span>消息中心</span>
                                            </div>
                                        </li>
                                    </ul>
                                    <ul class="one_box down clearfix">
                                        <li class="item">
                                            <div class="pking">
                                                <p class="color_3">21</p>
                                                <span>预警中心</span>
                                            </div>
                                        </li>
                                        <li class="item">
                                            <div class="pking">
                                                <p>11</p>
                                                <span>邮件中心</span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <p class="cnt-obc"></p>
                            </div>
                        </div>
                    </div>
                    <!-- 支撑平台 -->
                    <div class="slidebar_left_box s-l-b2">
                        <div class="slidebar_left_cnt s-l-c2">
                            <div class="cnt-title">
                                <h2 class="title-cnt fl">
                                    <img class="img" src="${_static}/images/mid_tp_02.png">支撑平台</h2>
                                <p class="t-obc"></p>
                            </div>
                            <div class="cnt-content">
                                <ul class="two_box clearfix">
                                    <li class="item">
                                        <div class="pking clearfix">
                                            <div class="pdking">
                                                <span><cell class="tablecell"><img src="${_static}/images/two_1.png"></cell></span>
                                                <span><cell class="tablecell">共享交换平台</cell></span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="item">
                                        <a href="index.html" class="pking clearfix">
                                            <div class="pdking">
                                                <span><cell class="tablecell"><img src="${_static}/images/two_4.png"></cell></span>
                                                <span><cell class="tablecell">大数据分析平台</cell></span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="item">
                                        <div class="pking clearfix">
                                            <div class="pdking">
                                                <span><cell class="tablecell"><img src="${_static}/images/two_2.png"></cell></span>
                                                <span><cell class="tablecell">统一监管平台</cell></span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="item">
                                        <div class="pking clearfix">
                                            <div class="pdking">
                                                <span><cell class="tablecell"><img src="${_static}/images/two_5.png"></cell></span>
                                                <span><cell class="tablecell">安全保障平台</cell></span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="item">
                                        <div class="pking clearfix">
                                            <div class="pdking">
                                                <span><cell class="tablecell"><img src="${_static}/images/two_3.png"></cell></span>
                                                <span><cell class="tablecell">统一运维平台</cell></span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="item">
                                        <div class="pking clearfix">
                                            <div class="pdking">
                                                <span><cell class="tablecell"><img src="${_static}/images/two_6.png"></cell></span>
                                                <span><cell class="tablecell">移动终端平台</cell></span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <p class="cnt-obc"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- slide middle -->
            <div id="sidebar_mid" class="xb4 xm4 xs4">
                <div class="sidebar_mid_p">
                    <!-- 接入应用 -->
                    <div class="slidebar_mid_box s-m-b1">
                        <div class="slidebar_mid_cnt s-m-c2" style="padding-top: 0;">
                            <div class="cnt-content">
                                <div class="access_main">
                                    <img class="rotation img" src="${_static}/images/access_main.png">
                                    <span class="txtCenter">接入应用</span>
                                    <ul class="rotatemenu">
                                        <li class="app app_1">
                                            <div class="item">
                                                <span class="imgWz"><img src="${_static}/images/app_01.png"></span>
                                                <span class="ttname" class="ttname">生态监测</span>
                                            </div>
                                        </li>
                                        <li class="app app_2">
                                            <div class="item">
                                                <span class="imgWz"><img src="${_static}/images/app_02.png"></span>
                                                <span class="ttname">国土监测</span>
                                            </div>
                                        </li>
                                        <li class="app app_3">
                                            <div class="item">
                                                <span class="imgWz"><img src="${_static}/images/app_03.png"></span>
                                                <span class="ttname">安全监管</span>
                                            </div>
                                        </li>
                                        <li class="app app_4">
                                            <div class="item">
                                                <span class="imgWz"><img src="${_static}/images/app_04.png"></span>
                                                <span class="ttname">结对帮扶</span>
                                            </div>
                                        </li>
                                        <li class="app app_5">
                                            <div class="item">
                                                <span class="imgWz"><img src="${_static}/images/app_05.png"></span>
                                                <span class="ttname">政务服务</span>
                                            </div>
                                        </li>
                                        <li class="app app_6">
                                            <div class="item">
                                                <span class="imgWz"><img src="${_static}/images/app_06.png"></span>
                                                <span class="ttname" class="app_color">移动办公</span>
                                            </div>
                                        </li>
                                        <li class="app app_7">
                                            <div class="item">
                                                <span class="imgWz"><img src="${_static}/images/app_07.png"></span>
                                                <span class="ttname">权力监督</span>
                                            </div>
                                        </li>
                                        <li class="app app_8">
                                            <div class="item">
                                                <span class="imgWz"><img src="${_static}/images/app_08.png"></span>
                                                <span class="ttname">招商安商</span>
                                            </div>
                                        </li>
                                        <li class="app app_9">
                                            <div class="item">
                                                <span class="imgWz"><img src="${_static}/images/app_09.png"></span>
                                                <span class="ttname">综合治税</span>
                                            </div>
                                        </li>
                                        <li class="app app_10">
                                            <div class="item">
                                                <span class="imgWz"><img src="${_static}/images/app_10.png"></span>
                                                <span class="ttname">经济监测</span>
                                            </div>
                                        </li>
                                        <li class="app app_11">
                                            <div class="item">
                                                <span class="imgWz"><img src="${_static}/images/app_11.png"></span>
                                                <span class="ttname">市场监管</span>
                                            </div>
                                        </li>
                                        <li class="app app_12">
                                            <div class="item">
                                                <span class="imgWz"><img src="${_static}/images/app_12.png"></span>
                                                <span class="ttname">信用评价</span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <!-- <p class="cnt-obc-color"></p> -->
                            </div>
                            <span class="flMidbgline"></span>
                            <span class="frMidbgline"></span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- slide right -->
            <div id="sidebar_right" class="xb4 xm4 xs4" style="padding-left: 15px;">
                <div class="sidebar_ptb">
                    <!-- 快捷入口 -->
                    <div class="slidebar_right_box s-r-b1">
                        <div class="slidebar_right_cnt s-r-c1">
                            <div class="cnt-title" style="padding-left: 20px;">
                                <h2 class="title-cnt fl">
                                    <img class="img" src="${_static}/images/mid_tp_03.png">快捷入口</h2>
                                <a class="more" href="javascript:;">配置</a>
                                <p class="t-obc"></p>
                            </div>
                            <div class="cnt-content">
                                <div style="height: 100%;width: 100%;">
                                    <ul class="three_box up clearfix">
                                        <li class="item">
                                            <div class="pking">
                                                <img src="${_static}/images/three_img.png">
                                                <span>全部文件</span>
                                            </div>
                                        </li>
                                        <li class="item">
                                            <div class="pking">
                                                <img src="${_static}/images/three_img.png">
                                                <span>全部文件</span>
                                            </div>
                                        </li>
                                        <li class="item">
                                            <div class="pking">
                                                <img src="${_static}/images/three_img.png">
                                                <span>全部文件</span>
                                            </div>
                                        </li>
                                    </ul>
                                    <ul class="three_box down clearfix">
                                        <li class="item">
                                            <div class="pking">
                                                <img src="${_static}/images/three_img.png">
                                                <span>全部文件</span>
                                            </div>
                                        </li>
                                        <li class="item">
                                            <div class="pking">
                                                <img src="${_static}/images/three_img.png">
                                                <span>全部文件</span>
                                            </div>
                                        </li>
                                        <li class="item">
                                            <div class="pking">
                                                <img src="${_static}/images/three_img.png">
                                                <span>全部文件</span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <p class="cnt-obc"></p>
                            </div>
                        </div>
                    </div>
                    <!-- 支撑服务模块 -->
                    <div class="slidebar_right_box s-r-b2">
                        <div class="slidebar_right_cnt s-r-c2">
                            <div class="cnt-title" style="padding-left: 100px;">
                                <h2 class="title-cnt fl">
                                <img class="img" src="${_static}/images/mid_tp_04.png">支撑服务模块</h2>
                                <p class="t-obc"></p>
                            </div>
                            <div class="cnt-content">
                                <ul class="four_box clearfix">
                                    <li class="item">
                                        <div class="pking clearfix">
                                            <div class="pdking">
                                                <span><cell class="tablecell"><img src="${_static}/images/four_img.png"></cell></span>
                                                <span><cell class="tablecell">共性管理模块</cell></span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="item">
                                        <div class="pking clearfix">
                                            <div class="pdking">
                                                <span><cell class="tablecell"><img src="${_static}/images/four_img.png"></cell></span>
                                                <span><cell class="tablecell">共性管理工具</cell></span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="item">
                                        <div class="pking clearfix">
                                            <div class="pdking">
                                                <span><cell class="tablecell"><img src="${_static}/images/four_img.png"></cell></span>
                                                <span><cell class="tablecell">模块管理中心</cell></span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="item">
                                        <div class="pking clearfix">
                                            <div class="pdking">
                                                <span><cell class="tablecell"><img src="${_static}/images/four_img.png"></cell></span>
                                                <span><cell class="tablecell">日志模块</cell></span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="item">
                                        <div class="pking clearfix">
                                            <div class="pdking">
                                                <span><cell class="tablecell"><img src="${_static}/images/four_img.png"></cell></span>
                                                <span><cell class="tablecell">日志服务</cell></span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="item">
                                        <div class="pking clearfix">
                                            <div class="pdking">
                                                <span><cell class="tablecell"><img src="${_static}/images/four_img.png"></cell></span>
                                                <span><cell class="tablecell">发布管道服务</cell></span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <p class="cnt-obc"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottomWrapper">
            <div class="sup_box fl">
                <div class="sup_box_left"></div>
                <div class="sup_box_mid">
                    <div class="sup_title">
                        <span>支撑应用</span>
                        <div class="under"></div>
                    </div>
                    <ul class="sup_cont">
                        <li>
                            <img src="${_static}/images/sup_img.png">
                            <span>权限管理系统</span>
                        </li>
                        <li>
                            <img src="${_static}/images/sup_img.png">
                            <span>云盘管理系统</span>
                        </li>
                        <li>
                            <img src="${_static}/images/sup_img.png">
                            <span>标准管理系统</span>
                        </li>
                        <li>
                            <img src="${_static}/images/sup_img.png">
                            <span>预警管理系统</span>
                        </li>
                        <li>
                            <img src="${_static}/images/sup_img.png">
                            <span>消息管理系统</span>
                        </li>
                        <li>
                            <img src="${_static}/images/sup_img.png">
                            <span>模块监控系统</span>
                        </li>
                        <li>
                            <img src="${_static}/images/sup_img.png">
                            <span>短信管理系统</span>
                        </li>
                        <li>
                            <img src="${_static}/images/sup_img.png">
                            <span>日志管理系统</span>
                        </li>
                        <li>
                            <img src="${_static}/images/sup_img.png">
                            <span>邮件管理系统</span>
                        </li>
                    </ul>
                </div>
                <div class="sup_box_right"></div>
            </div>
        </div>
    </div>
    <div class="footer">
        <span>技术支持：中科恒运股份有限公司</span>
    </div>
    <script type="text/javascript" src="${_static}/js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="${_static}/js/main.js"></script>
</body>

</html>