<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
    <meta http-equiv="Expires" content="0"/>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link type="text/css" rel="stylesheet" href="${_static}/js/lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="${_static}/js/lib/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="${_static}/js/lib/chosen/chosen.min.css">
    <link rel="stylesheet" type="text/css" href="${_static}/js/lib/ValidateForm/Validform.css">
    <link rel="stylesheet" href="${_static}/themes/blue/css/ui.css">
    <link rel="stylesheet" href="${_static}/css/core/module.css">
    <link rel="stylesheet" type="text/css" href="${_static}/css/sys_com/com.css"/>
</head>

<body>
<div class="workspace-body">
    <div class="col-md-12 col-lg-12">
        <div class="row">
            <!--内容-->
            <div class="list-section">
                <div class="list-content">
                    <div class="form-inline" ng-app="app" ng-controller="controller">
                        <form autocomplete="off" id="myForm" action="" method="post">
                            <table class="table default-table table-title-left table-top-30">
                                <tbody>
                                <tr>
                                    <th width="130"><sub class="required">*</sub>单位全称</th>
                                    <td><input class="form-control inp-form" name="name" dataType="*" nullmsg="单位全称不能为空"/></td>
                                    <th>单位简称</th>
                                    <td><input class="form-control inp-form" name="shortName"/></td>
                                </tr>
                                <tr>
                                    <th>单位其他名称</th>
                                    <td><input class="form-control inp-form" name="elseName"/></td>
                                    <th><sub class="required">*</sub>所属类型</th>
                                    <td>
                                        <select name="forType" class="form-control chosen-select set-form" dataType="*" nullmsg="所属类型不能为空"></select>
                                    </td>
                                </tr>
                                <tr>
                                    <th><sub class="required">*</sub>所属级别</th>
                                    <td>
                                        <select name="forClass" class="form-control chosen-select set-form" dataType="*" nullmsg="所属级别不能为空"></select>
                                    </td>
                                    <th><sub class="required">*</sub>所属系统</th>
                                    <td>
                                        <select name="forindustry" class="form-control chosen-select set-form" dataType="*" nullmsg="所属系统不能为空"></select>
                                    </td>
                                </tr>
                                <tr>
                                    <th><sub class="required">*</sub>单位节点类型</th>
                                    <td>
                                        <select name="fornodetype" class="form-control chosen-select set-form" dataType="*" nullmsg="节点类型不能为空">
                                            <option value="0">实体</option>
                                            <option value="1">分类</option>
                                        </select>
                                    </td>
                                    <th><sub class="required">*</sub>单位归口</th>
                                    <td>
                                        <select name="forgk" class="form-control chosen-select set-form" dataType="*" nullmsg="单位归口不能为空"></select>
                                    </td>
                                </tr>
                                <tr>
                                    <th>所属省份</th>
                                    <td>
                                        <select name="forarea" class="form-control chosen-select set-form">
                                            <option value="">---请选择---</option>
                                        </select>
                                    </td>
                                    <th>所属市州</th>
                                    <td>
                                        <select name="forcity" class="form-control chosen-select set-form">
                                            <option value="">---请选择---</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th>所属区县</th>
                                    <td>
                                        <select name="forcounty" class="form-control chosen-select set-form">
                                            <option value="">---请选择---</option>
                                        </select>
                                    </td>
                                    <th>所属乡镇</th>
                                    <td>
                                        <select name="fortown" class="form-control chosen-select set-form">
                                            <option value="">---请选择---</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th>排序权重</th>
                                    <td>
                                        <input type="number" class="form-control pull-left" name="sortvalue" ignore="ignore"  style="width: calc(100% - 85px);"/>
                                        <div class="pull-left" style="width: 85px;line-height: 30px;color: #555;">
                                            （值小排前）
                                        </div>
                                    </td>
                                    <th><sub class="required">*</sub>电话</th>
                                    <td><input class="form-control inp-form" name="telcode" dataType="phone" errormsg="请输入正确的电话号码"></td>
                                </tr>
                                <tr>
                                    <th>邮编</th>
                                    <td><input class="form-control inp-form" name="zipcode"/></td>
                                    <th>传真</th>
                                    <td><input class="form-control inp-form" name="faxcode"/></td>
                                </tr>
                                <tr>
                                    <th>状态</th>
                                    <td>
                                        <select name="status" class="form-control chosen-select set-form">
                                            <option value="1">正常</option>
                                            <option value="2">等待</option>
                                            <option value="3">撤销</option>
                                        </select>
                                    </td>
                                    <th>启用标记</th>
                                    <td>
                                        <select name="isenable" class="form-control chosen-select set-form">
                                            <option value="1">启用</option>
                                            <option value="0">禁用</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th>单位管理员</th>
                                    <td>
                                        <select name="orgadmin" class="form-control chosen-select set-form">
                                            <option value="">---请选择---</option>
                                        </select>
                                    </td>
                                    <th></th>
                                    <td></td>
                                </tr>
                                <!--<tr>-->

                                <!--&lt;!&ndash;<th><sub class="required">*</sub>所属业务系统</th>&ndash;&gt;-->
                                <!--&lt;!&ndash;<td><div id="shareIds" style="width: 100%;height: 30px;"><div style="color:#397bf1;margin-top: 5px;cursor: pointer">点击选择</div></div></td>&ndash;&gt;-->
                                <!--</tr>-->
                                <tr>
                                    <th>单位介绍</th>
                                    <td><textarea class="form-control inp-form" name="descrption" dataType="*0-800" errormsg="单位介绍内容过长，不能超过800字符"></textarea></td>
                                    <th>单位职责</th>
                                    <td><textarea class="form-control inp-form" name="orgduty" dataType="*0-800" errormsg="单位职责内容过长，不能超过800字符"></textarea></td>
                                </tr>
                                </tbody>
                            </table>
                            <button type="hidden" class="btn-submit"></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="${_static}/js/lib/jquery/jquery.min.js"></script>
<script type="text/javascript" src="${_static}/js/lib/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src="${_static}/js/lib/chosen/chosen.jquery.min.js"></script>
<script type="text/javascript" src="${_static}/js/lib/ValidateForm/Validform_v5.3.2_min.js"></script>
<script type="text/javascript" src="${_static}/js/lib/ValidateForm/Valid.js"></script>
<script type="text/javascript" src="${_static}/js/lib/serializeJSON/jquery.serializejson.min.js"></script>
<script type="text/javascript" src="${_static}/js/lib/jquery/jquery.cookie.js" charset="utf-8"></script>
<script type="text/javascript" src="${_static}/js/hengyun/hengyun_ajax.js"></script>
<script src="${_static}/js/lib/layer/layer.js"></script>
<script type="text/javascript" src="${_static}/js/lib/hengyun/hengyun_validator.js"></script>
<script type="text/javascript" src="${_static}/js/lib/angular/angular.min-1-4-6.js"></script>
<script type="text/javascript">

    //表单验证开始
    $(function(){
        openValidator({
            type:"POST",
            dataType: 'json',
            contentType : 'application/json',
            url: "${_gate_url}/api/admin/gxqpt/org/update",
        },"#myForm",{
            attrName:"name",
            prefix:"",
            suffix:"",
        });
    })

    var id = "${id}";
    var systemCode = parent.home.systemCode;
    var shareIds = [];
    var area = null;
    var dictionary = null;
    var Index = null;
    $('input[type=number]').keypress(function(e) {
        if (!String.fromCharCode(e.keyCode).match(/[0-9]/)) {
            return false;
        }
    });

    /*----------------------angular.js---------------------------------------*/
    var app = angular.module('app', []);

    app.controller('controller', function ($scope,$http,token) {
        var urlPrev ='${_gate_url}';
        $scope.submit = function () {
            $('.btn-submit').click();
        };
        $scope.save = function () {
            saveObj();
        }
    }).service('token',function () {
        this.getToken = function () {
            return getToken();
        }
    });
    $('.btn-submit').valid({
        form: '#myForm',
        showAllError: true,
        ignoreHidden: true,
        checkpassed: function () {
            var appElement = document.querySelector('[ng-controller=controller]');
            var $scope = angular.element(appElement).scope();
            $scope.save();
        }
    });

    //提交保存
    //提交保存
    function saveObj() {
        var data = $('#myForm').serializeJSON();
        data.parentId = id == parent.home.node.id ? null : parent.home.node.id;
        data.insertId = [];
        data.deleteId = [];
        data.id = id;
        data.systemCode = systemCode;
        data.shareIds = shareIds;
        ajaxHengyun({
            url: "${_gate_url}/api/admin/gxqpt/org/update",
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(data),
            success: function (res) {
                if (res.data) {
                    parent.home.editNode(res.data);
                    parent.home.reloadOrgan();
                    parent.layer.msg("编辑单位成功！", {icon: 6, time: 1000});
                    parent.layer.close(Index);

                } else {
                    parent.layer.msg("编辑单位出错，请重试！", {time: 1000});
                }
            }
        })
    };

    //获取单位的值
    //初始化表单验证插件
    /*$('.btn-submit').valid({
        form: '#myForm',
        showAllError: true,
        checkpassed: function () {
            var data = $('#myForm').serializeJSON();
            data.parentId = id == parent.home.node.id ? null : parent.home.node.id;
            data.insertId = [];
            data.deleteId = [];
            data.id = id;
            data.systemCode = systemCode;
            data.shareIds = shareIds;
            ajaxHengyun({
                url: "${_gate_url}/api/admin/gxqpt/org/update",
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(data),
                success: function (res) {
                    if (res.data) {
                        parent.home.editNode(res.data);
                        parent.home.reloadOrgan();
                        parent.layer.close(Index);
                        parent.layer.msg("编辑单位成功！", {icon: 6, time: 1000});

                    } else {
                        parent.layer.msg("编辑单位出错，请重试！", {time: 1000});
                    }
                }
            })
        }
    });*/
    getOrgan()

    function getOrgan() {
        ajaxHengyun({
            type: 'GET',
            // url: 'http://192.168.1.124:9770/api/admin/gxqpt/org/getById',
            url: '${_gate_url}/api/admin/gxqpt/org/getById',
            data: {systemCode: systemCode, id: id},
            success: function (res) {
                $('[name="name"]').val(res.data.name);
                $('[name="shortName"]').val(res.data.shortName);
                $('[name="elseName"]').val(res.data.elseName);
                $('[name="telcode"]').val(res.data.telcode);
                $('[name="zipcode"]').val(res.data.zipcode);
                $('[name="faxcode"]').val(res.data.faxcode);
                $('[name="status"]').val(res.data.status);
                $('[name="isenable"]').val(res.data.isenable);
                $('[name="sortvalue"]').val(res.data.sortvalue);
                //字典数据
                dictionary = {
                    forgk: res.data.forgk,
                    forindustry: res.data.forindustry,
                    forClass: res.data.forClass,
                    forType: res.data.forType
                };
                //地区数据
                area = {
                    forarea: res.data.forarea,
                    forcity: res.data.forcity,
                    forcounty: res.data.forcounty,
                    fortown: res.data.fortown,
                };
                getType();
                //所属业务系统
                $('[name="descrption"]').val(res.data.descrption);
                $('[name="orgduty"]').val(res.data.orgduty);
                $('[name="fornodetype"]').val(res.data.fornodetype);
                // setShareApps(res.data.shareApps);
                getOrgAdmin(res.data.orgadmin);
                getProvince();
            }
        })
    }

    //获取字典
    function getType() {
        //字典,  "根据typeCode查找字典,node.type：节点类型;org.ascription：单位归口;" +
        //       "app_type：所属系统;level：所属级别;org.type：所属类型", notes = "根据typeCode查找字典"
        var arr = ['org.ascription', 'app_type', 'level', 'org.type'];
        ajaxHengyun({
            type: 'GET',
            // url:'http://192.168.1.124:9770/api/admin/gxqpt/org/findDictionary',
            url: '${_gate_url}/api/admin/dictionary/findDictionary',
            data: {typeCode: arr},
            success: function (res) {
                if (res.data.hasOwnProperty('org.ascription')) {
                    $.each(res.data['org.ascription'], function (key, value) {
                        var option = document.createElement('option');
                        option.selected = true;
                        option.value = key;
                        option.innerText = value;
                        $('[name="forgk"]').append(option).val(dictionary.forgk);
                    })
                }
                if (res.data.hasOwnProperty('app_type')) {
                    $.each(res.data['app_type'], function (key, value) {
                        var option = document.createElement('option');
                        option.selected = true;
                        option.value = key;
                        option.innerText = value;
                        $('[name="forindustry"]').append(option).val(dictionary.forindustry);
                    })
                }
                if (res.data.hasOwnProperty('level')) {
                    $.each(res.data['level'], function (key, value) {
                        var option = document.createElement('option');
                        option.selected = true;
                        option.value = key;
                        option.innerText = value;
                        $('[name="forClass"]').append(option).val(dictionary.forClass);
                    })
                }
                if (res.data.hasOwnProperty('org.type')) {
                    $.each(res.data['org.type'], function (key, value) {
                        var option = document.createElement('option');
                        option.selected = true;
                        option.value = key;
                        option.innerText = value;
                        $('[name="forType"]').append(option).val(dictionary.forType);
                    })
                }
            }
        })
    }

    /*获取单位管理员*/
    function getOrgAdmin(data) {
        var ids = [];
        ids.push(id)
        ajaxHengyun({
            type: 'POST',
            url: '${_gate_url}/api/admin/emp/findUserByOrgId',
            // url: '${_gate_url}/api/admin/emp/findEmpListBySelect',
            // url:'http://192.168.1.124:9770/api/admin/emp/findEmpListBySelect',
            contentType:'application/json',
            data: JSON.stringify({orgIds: ids}),
            success: function (res) {
                if (res.data) {
                    var htmlStr = '';
                    $.each(res.data, function (index, value) {
                        htmlStr += '<option value=' + value.account + '>' + value.name + '</option>';
                    })
                    $('[name="orgadmin"]').html(htmlStr).val(data);
                }
            }
        })
    }

    /*获取省*/
    function getProvince() {
        var data = {code:'1',parentId: '-1'};
        getArea(data, 'forarea');
    }

    /*监听选择省事件*/
    $('[name="forarea"]').change(function () {
        $('[name="forcity"]').html('<option value="" selected="selected">---请选择---</option>');
        $('[name="forcounty"]').html('<option value="">---请选择---</option>');
        $('[name="fortown"]').html('<option value="">---请选择---</option>');
        getCity($(this).val());

    })

    /*获取市*/
    function getCity(id) {
        var data = {code:'2',parentId: id};
        getArea(data, 'forcity');
    }

    /*监听选择市事件*/
    $('[name="forcity"]').change(function () {
        $('[name="forcounty"]').html('<option value="">---请选择---</option>');
        $('[name="fortown"]').html('<option value="">---请选择---</option>');
        getCounty($(this).val());

    })

    /*获取区县*/
    function getCounty(id) {
        var data = {code:'3',parentId: id};
        getArea(data, 'forcounty');
    }

    /*监听选择区县事件*/
    $('[name="forcounty"]').change(function () {
        $('[name="fortown"]').html('<option value="">---请选择---</option>');
        getTown($(this).val());
    })

    /*获取乡镇*/
    function getTown(id) {
        var data = {code:'4',parentId: id};
        getArea(data, 'fortown');
    }

    /*获取地区名称*/
    function getArea(data, selectName) {
        if (data.parentId) {
            ajaxHengyun({
                type: 'GET',
                async: false,
                url: '${_gate_url}/api/admin/area/find',
                // url:'192.168.1.124:9770/api/admin/area/find',
                data: data,
                success: function (res) {
                    $.each(res.data, function (index, value) {
                        var option = document.createElement('option');
                        option.value = value.id;
                        option.innerText = value.name;
                        $('[name=' + selectName + ']').append(option);
                    })
                    switch(data.code){
                        case '1':
                            $('[name="forarea"]').val(area.forarea).change();
                            break;
                        case '2':
                            $('[name="forcity"]').val(area.forcity).change();
                            break;
                        case '3':
                            $('[name="forcounty"]').val(area.forcounty).change();
                            break;
                        case '4':
                            $('[name="fortown"]').val(area.fortown);
                            break;
                    }
                }
            })
        }
    }

    // function setShareApps(shareApps) {
    //     var htmlStr = '';
    //     if(shareApps.length){
    //         $.each(shareApps,function (index,value) {
    //             shareIds.push(value.appId);
    //             htmlStr += '<span data-Id='+value.appId+'>'+value.appName+';</span>'
    //         })
    //         $('#shareIds').html(htmlStr);
    //     }
    // }
    /* 弹出选择业务系统 */
    // $("#shareIds").click(function(){
    //     layer.open({
    //         id: 'share',
    //         type: 2,
    //         anim:6,
    //         title: '选择业务系统',
    //         maxmin: false, //开启最大化最小化按钮
    //         area: ['70%', '80%'],
    //         content: "${_cp}/power/shareIds",
    //         btn: ['<span class="glyphicon glyphicon-ok"></span> 确认','<span class="glyphicon glyphicon-remove"></span> 取消'],
    //         yes: function (index, layero) {
    //             var iframeWin = window[layero.find('iframe')[0]['name']];
    //             iframeWin.save(index);
    //         }
    //     });
    // });
    // function getIds(ids,names) {
    //     shareIds = ids;
    //     var htmlStr = '';
    //     $.each(names,function (index,value) {
    //         htmlStr += '<span data-Id='+ids[index]+'>'+names[index]+';</span>'
    //     })
    //     $('#shareIds').html(htmlStr);
    // }
    function save(index) {
        Index = index;
        $('.btn-submit').click();
    }
</script>
</body>

</html>