<!doctype html>
<html>
	<head>
		<meta http-equiv="Expires" content="0"/>
	    <meta name="renderer" content="webkit"/>
	    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link rel="stylesheet" type="text/css" href="${_static}/js/lib/bootstrap/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="${_static}/css/com.css">
		<link rel="stylesheet" type="text/css" href="${_static}/css/index.css">
	</head>
	<body>
		<div id="container" class="container">
			<div class="main clearfix">
				<div class="row">
					<div class="current pull-left">
						<h3 class="page-title">
							<span>共享管理</span> &gt; <span>新增</span> &gt; <span class="page-title-scend">选择目录</span>
						</h3>
					</div>
					<div class="back pull-right">
						<a class="btn_back" href="javascript:void(0);" onclick="history.back()">返回上一页</a>
					</div>
				</div>
				<div class="view_container view_container_first row">
					<div class="main_right pull-right">
						<div id="secondPage" class="secondPage">
							<div id="unit" class="view_item">
								<table class="table default-table tab-border-no-layer">
									<tbody>
									<tr>
										<th width="80">目录名称：</th>
										<td>
											<input type="text" name="" id="selCatalog" class="form-control" readonly="readonly" autocomplete="off"/>
										</td>
									</tr>
									</tbody>
								</table>
							</div>
							<div id="apiSet" class="view_item">
								<table class="table default-table tab-title-top">
									<thead>
									<tr>
										<th width="60">选择</th>
										<th>API名称</th>
										<th>API编号</th>
										<th>API地址</th>
										<th>支持格式</th>
										<th>请求示例</th>
										<th>是否可用</th>
										<th width="130">授权有效时间</th>
										<th>操作</th>
									</tr>
									</thead>
									<tbody>
									<tr>
										<td>
											<input type="radio" name="" id="" value="" autocomplete="off"/>
										</td>
										<td>API名称</td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td><a href="${_cp}/module/shareMagView">API详情</a></td>
									</tr>
									<tr>
										<td>
											<input type="radio" name="" id="" value="" autocomplete="off"/>
										</td>
										<td>API名称</td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td><a href="${_cp}/module/shareMagView">API详情</a></td>
									</tr>
									<tr>
										<td>
											<input type="radio" name="" id="" value="" autocomplete="off"/>
										</td>
										<td>API名称</td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td><a href="${_cp}/module/shareMagView">API详情</a></td>
									</tr>
									</tbody>
								</table>
							</div>
							<div id="fileSet" class="view_item">
								<table class="table default-table tab-title-top">
									<thead>
									<tr>
										<th width="60">序号</th>
										<th>文件名称</th>
										<th>文件编号</th>
										<th>文件提供格式</th>
										<th>文件大小</th>
									</tr>
									</thead>
									<tbody>
									<tr>
										<td>1</td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
									<tr>
										<td>2</td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
									<tr>
										<td>3</td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
									</tbody>
								</table>
							</div>
							<div class="text-center">
								<button type="button" class="btn btn-primary" onclick="openFlow()">查看流程</button>
								<button type="button" class="btn btn-primary" onclick="save()">下一步</button>
								<button type="button" class="btn btn-primary" onclick="history.back()">取消</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="${_static}/js/lib/jquery/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" src="${_static}/js/lib/My97DatePicker/WdatePicker.js" charset="utf-8"></script>
		<script type="text/javascript" src="${_static}/js/lib/jquery/jquery.cookie.js"  charset="utf-8"></script>
		<script type="text/javascript" src="${_static}/js/hengyun/hengyun_ajax.js"></script>
		<script src="${_static}/js/lib/jqPaginator/jqPaginator.js" type="text/javascript" charset="utf-8"></script>
		<script src="${_static}/js/com.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			var parm={
                data:"",
				pageNo:1,
				pageSize:10
			}
            $("#selCatalog").click(function(){
                parent.layer.open({
                    id: 'openZtree',
                    type: 2,
                    anim:6,
                    title: '目录选择',
                    maxmin: false, //开启最大化最小化按钮
                    area: ['750px', '600px'],
                    shade: [0.9, '#000'],
                    content: "${_cp}/module/shareMagOpenZtree",
                    btn: ['确定','取消'],
                    yes: function (index, layero) {
                        var html=layero.context;
                        var Id=html.getElementById("openZtree");
                        var iframe=$(Id).find("iframe").attr("name");
                        var rowData = parent[iframe].save(index);
                    },
                });
            });
            function setCatalog(id,dictName,dataType){
                $("#selCatalog").val(dictName);
                selType (id,dataType);
			};
			function selType (id,dataType) {
				if(dataType=="1"){
					$("#apiSet").css("display","block");
					$("#fileSet").css("display","none");
                    findApiByDirId(id);
				}else if(dataType=="2"){
					$("#apiSet").css("display","none");
					$("#fileSet").css("display","block");
				}else{
					$("#apiSet,#fileSet").css("display","none");
				}
                var height=document.getElementById("container").scrollHeight;
                $("#home", window.parent.document).height(height);
			}
			function save(){
				var type = $("#selType").val();
				if(type=="0"){
					window.location.href="${_cp}/module/shareMagApplyFirst?pageType=apply";
				}else if(type=="1"){
                    window.location.href="${_cp}/module/shareMagFileApply";
				}
			};
			function findApiByDirId(id){
			    parm.id=id;
                ajaxHengyun({
                    type: "POST",
                    async: false,
                    dataType: 'json',
                    contentType: 'application/json',
                    url: '${_gate_url}/api/exchange/dataapi/api/findApiByDirId',
                    data: JSON.stringify(parm),
                    success: function (rows) {
                        var html = ""
                        if (rows.data) {
                            rows.data.list.forEach(function (value, index) {
                                value = dealElement(value);
                                var apiStatus = value.apiStatus;
                                if(apiStatus == 2){
                                    apiStatus = "禁用";
                                }else {
                                    apiStatus = "启用";
                                }
                                var status = value.status;
                                if(status == 1){
                                    status = "待审批";
                                }else if(status == 2){
                                    status = "已驳回";
                                }else if(status == 3){
                                    status = "已通过";
                                }else {
                                    status = "";
                                }
                                // value.limitTime=
                                html += '<tr>';
                                html += '<td>' + value.apiName + '</td>';
                                html += '<td>' + value.apiCode + '</td>';
                                html += '<td>' + value.dirName + '</td>';
                                html += '<td>' + value.useNum + '</td>';
                                html += '<td>' + apiStatus + '</td>';
                                html += '<td>' + value.limitTime + '</td>';
                                html += '<td>' + status + '</td>';
                                html += '<td>' + value.content + '</td>';
                                html += '<td>';
                                html += '<a href="${_cp}/module/shareMagView?id=' + value.apiId + '&pageNo=' + parm.pageNo + '">详情</a>';
                                if(value.status ==3){
                                    html += '<a href="avascript:void(0);" onclick="delayed(\''+value.id+'\')">续期申请</a>';
                                }
                                if(value.status==3 && value.isTake == 2){
                                    html += '<a href="avascript:void(0);" onclick="subscribe(\''+value.id+'\')">订阅</a>';
                                }
                                html += '</td>';
                                html += '</tr>';
                            });
                            if(rows.data.list.length==0){
                                html+="<tr><td class='text-center' colspan='9'>暂无数据</td></tr>"
                                $(".pagination,.currentPage").css("display","none");
                            } else {
                                $(".pagination,.currentPage").css("display","block");
                            };
                            $("#applyList tbody").html(html);
                            $('#totalPages').text(rows.data.pages);
                            jqPaginator(rows.data);
                        }
                    }
                });
			}
		</script>
	</body>
</html>