/*---------------初始化 begin----------------*/

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
	margin: 0;
	padding: 0;
}

body {
	font-size: 16px;
	font-family: 'Microsoft YaHei', '微软雅黑', STSong, '宋体', '\5B8B\4F53', 'Times New Roman', Verdana, Arial, Helvetica, sans-serif;
}

td,
th,
caption {
	font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
	font-size: 100%;
}


/*address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal;}*/

a {
	color: #555;
	text-decoration: none;
}

a:hover,a:active,a:visited {
	text-decoration: none;
}

img {
	border: none;
}

ol,
ul,
li {
	list-style: none;
}

input,
textarea,
select,
button {
	font: 14px "\5B8B\4F53", Verdana, Helvetica, Arial, sans-serif;
}

table {
	border-collapse: collapse;
}

label {
	max-width: none;
	font-weight: normal;
}

.clearfix:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}

input[type="radio"],
input[type="checkbox"] {
	vertical-align: middle;
	margin-top: -2px;
}
.text-center {
	text-align: center !important;
}
.stateTwo,.stateThree,.stateFour,.stateFive,.sqlSel,.fieldSel{
	display: none;
}
.requiredSpan{
	color: red;
}
/*---------------初始化 end----------------*/

/*------------滚动条样式 begin-------------*/

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
#container::-webkit-scrollbar,body::-webkit-scrollbar,ul.ztree::-webkit-scrollbar,::-webkit-scrollbar
{
	width: 5px;
	height: 5px;
}

/*定义滚动条轨道 内阴影+圆角*/
#container::-webkit-scrollbar-track,body::-webkit-scrollbar-track,ul.ztree::-webkit-scrollbar-track,::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #ddd;
}

/*定义滑块 内阴影+圆角*/
#container::-webkit-scrollbar-thumb,body::-webkit-scrollbar-thumb,ul.ztree::-webkit-scrollbar-thumb,::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #1b4876;
}

/*------------滚动条样式 end---------------*/


/*-------------弹窗样式  begin-------------*/
body .layui-layer {
	border-radius: 18px;
	/*background: rgba(8,25,72,0.8);*/
}
.layui-layer .layui-layer-title{
	/*background-color: rgba(25,69,171,0.9);*/
	background-color: #3289b2;
	color: #fff;
    border-radius: 18px 18px 0 0;
    border-bottom: 0;
}
.layui-layer .layui-layer-content{
	background: none;
	color: #163c90;
}
.layui-layer-msg .layui-layer-content{
	background: none;
	color: #fff;
}
.layui-layer .layui-layer-ico{
	background: none;
}
.layui-layer .layui-layer-ico:before{
	content: "x";
	font-size: 16px;
    font-weight: normal;
    line-height: 14px;
    color: #fff;
}
.layui-layer .layui-layer-btn,.layui-layer-iframe .layui-layer-btn, .layui-layer-page .layui-layer-btn,.layui-layer-prompt .layui-layer-btn{
	text-align: center;
}
.layui-layer .layui-layer-btn a{
	border-color: #84a6c7;
    background-color: #fff;
    color: #3289b2;
	line-height: 26px;
}
.layui-layer .layui-layer-btn .layui-layer-btn0{
	border-color: #84a6c7;
    background-color: #0a4d8f;
	color:#fff;
}
.bgNone{
	background: none;
	height: auto;
}
.layui-layer-prompt .layui-layer-content textarea.layui-layer-input{
	width: 100%;
	height: 100%;
	/*background: rgba(20,46,78,0.9);*/
	border:1px solid #0187ea;
	outline: none;
	box-shadow: 0 0 0;
	color: #333;
}
/*-------------弹窗样式  end*/