/*粒子背景*/
html,body,canvas{
	width: 100%;
	height: 100%;
    overflow: auto;
}
canvas{
	position: absolute;
	top: 0;
	left: 0;
	z-index: -2;
}
.bottom_bg{
	width: 100%;
	height: 22px;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: -1;
	background: url(../images/com/bj_02.png) no-repeat right;
}
/*header  begin*/
.header{
	padding: 0 70px;
	margin: 0 ;
	background: #2e63b3;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
#container{
	width: 100%;
	height: calc(100% - 138px);
	overflow-y: auto;
    margin: 88px 0 0;
	padding: 0 70px;
	background: #f0f8ff;
}
.logo{
	width: 259px;
	height: 56px;
	margin-top: 20px;
}
.user_info{
	margin-top: 20px;
}
.user_info .photo{
	margin-right: 10px;
	width: 57px;
	height: 57px;
	border-radius: 50%;
}
.user_info .user_operation{
	line-height: 57px;
	color: #fff;
	position: relative;
	padding-right: 20px;
}
.user_info .user_operation label{
	margin-bottom: 0;
}
.user_info .user_operation i{
	color: #0fd7f5;
	margin-left: 6px;
}
.user_info .user_operation i.triangle{
	position: absolute;
	display: inline-block;
	width: 10px;
	height: 10px;
	top: 35px;
	right: 20px;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 19px solid #fff;
	display: none;
}
.user_operation ul{
	display: none;
	position: absolute;
	top: 52px;
	right: -64px;
	width: 153px;
	background: #fff;
	box-shadow: 1px 1px 1px #333;
}
.user_operation ul li{
	line-height: 20px;
	color:#333;
}
.user_operation ul li.title{
	margin: 6px 0 20px 0;
	text-indent: 1em;
}
.user_operation ul li a{
	color: #333;
	display: inline-block;
	width: 100px;
	float: right;
	border-top: 1px solid #dbe2e9;
	padding: 8px 0;
	font-size: 14px;
}
.user_operation ul li a:hover{
	color:#0a4ac2;
	font-weight: 700;
}
.user_info .logout{
	padding-left: 30px;
	color: #fff;
	cursor: pointer;
	border-left: 1px solid #838fa1;
	margin-left: 10px;
}
.user_info .logout img{
	width: 25px;
	height: 24px;
	margin: 5px 0;
}
.user_info .logout a{
	color: #fff;
}
#user_photo{
	width: 57px;
	height: 57px;
	border-radius: 50%;
	/*border: 1px solid #ddd;*/
}
.infoTip span{
	position: absolute;
	display: none;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #FF0000;
	color: #fff;
	line-height: 25px;
	text-align: center;
	font-size: 12px;
	top: 0px;
	right: 0px;
	top: -9px;
	right: -6px;
	cursor: pointer;
}
.popover {
	max-width: 500px;
}
.popoverCss li{
	border-bottom: 1px solid #ddd;
	padding: 6px;
	white-space: nowrap;
	cursor: pointer;
}
.nav_container{
	margin: 0 300px 0 333px;
	padding: 0 18px;
	height: 88px;
	overflow: hidden;
	position: relative;
}
.nav_container ul{
	height: 88px;
	overflow: hidden;
}
.nav_container li{
	color: #b7bac1;
	width: 130px;
	height: 88px;
	padding: 0 10px;
	text-align: center;
}
.nav_container ul li a{
	color: #14c3f4;
	display: inline-block;
	width: 100%;
	height: 100%;
	text-decoration: none;
}
.nav_container li img{
	margin: 20px 0 3px;
}
.nav_container li.active{
	background: #56b4ec;
	color: #fff;
}
.nav_container li.active a{
	color: #fff;
}
.applybtn{
	position: absolute;
	right: 30px;
	bottom: 108px;
}
.nav_btn{
	position: absolute;
	top: 16px;
	cursor: pointer;
	display: none;
}
#nav_l{
	left: 0;
}
#nav_r{
	right: 0;
}
.nav_main{
	margin: auto;
	overflow: hidden;
}
.infoTip{
	float: left;
	margin-top: 5px;
	margin-right: 16px;
	position: relative;
}
.infoTip img{
	width: 43px;
	height: 45px;
	cursor: pointer;
}
/*header  end*/
#home{
	margin-top: 16px;
}
.navImg{
	display: inline-block;
    width: 22px;
    height: 22px;
    overflow: hidden;
	margin-top: 20px;
}
.nav_container li .navImg img{
	margin-top: -22px;
}
.nav_container li.active .navImg img{
	margin-top: 0;
}
.footer{
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
	line-height: 50px;
	background: #1c282e;
	color: #fff;
	font-size: 14px;
}
.footer span{
	padding: 0 15px;
}