html,body{
	width: 100%;
	background: none;
}

/*main  begin*/

#container{
	width: 100%;
	padding: 0;
}
.main{
	width: 100%;
	margin-top: 0;
}
.main_top{
	width: 100%;
	height: 100px;
	background: #fff;
}
.main_top .item{
	text-indent: 2em;
	margin-top: 24px;
	color: #333;
	border-left: 1px solid #84a6c7;
}
.main_top div:nth-child(1) .item{
	border-left:0;
}
.main_top .item p{
	margin: 10px;
}
.main_top .item span{
	color: #118ecf;
	font-size: 16px;
	font-weight: bold;
}
.main_middle{
	margin: 25px 0;
}
.main_middle_content{
	background: #fff;
	height: 400px;
}
.main_middle_right .main_middle_content{
	padding:0 10px;
}
h3{
	background: #c4d3d7;
	height: 40px;
}
h3 span{
	display: inline-block;
	width: 108px;
	text-align: center;
	border-top: 4px solid #00b4e9;
	background-color: #fff;
	line-height: 36px;
	color: #00b4e9;
}
.main_middle_left .item,.main_bottom_left .item{
    text-align: center;
    margin: 20px 0 2px;
    font-size: 14px;
    cursor: pointer;
}
.main_middle_left .item img{
	height: 48px;
	max-width: 48px;
    margin-bottom: 10px;
}
.main_bottom_content{
    background: #fff;
    height: 350px;
}
.main_bottom_left span.active:first-child{
	border-top: 4px solid #60b58e;
	background-color: #fff;
	color: #60b58e;
}
.main_bottom_left span.active{
	border-top: 4px solid #727fc3;
	background-color: #fff;
	color: #727fc3;
}
.main_bottom_left span{
	border-top: 4px solid #c4d3d7;
	background-color: #c4d3d7;
	color: #56b4ec;
	cursor: pointer;
}
.main_bottom_left .item{
	border:1px solid #727fc3;
	border-radius: 8px;
	margin-top:  18px;
	float: left;
	width: 70px;
	height: 70px;
	margin: 10px;
	border-radius: 50%;
}
.main_bottom_left .item p{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 70px;
	padding: 0 10px;
	font-size: 12px;
}
.libraryItem{
	margin-top: 20px;
}
.main_bottom_left .item:hover{
	color: #727fc3;
}
.main_bottom_left .item img{
	margin: 13px 3px 0px;
	height: 25px;
	width: 25px;
}
.main_bottom_right h3{
	margin: 0 10px;
}
.main_bottom_right span{
	border-top: 4px solid #727fc3;
	color: #727fc3;
}
.main_bottom_left ul li{
	float: left;
	width: 22%;
	margin-top: 15px;
	padding-left: 10px;
	border-left: 2px solid #727fc3;
	background: #f2f2f2;
	margin: 15px 10px 0;
}
.main_bottom_left ul li a{
	display: inline-block;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.main_bottom_left ul li a img{
	float: left;
}
.main_bottom_left ul li a span{
	float: left;
	background: none;
	border-top: 0px;
	color: #333;
	margin-top: 16px;
}
#basics li:hover span{
	color:#60b58e;
}
#major li:hover span{
    color:#727fc3;
}
#basics img{
	width: 52px;
	height: 52px;
}
#major img{
	width: 40px;
	height: 40px;
}
#major span{
    margin-top: 9px;
    margin-left: 5px;
}
/*.main_bottom_left .main_middle_content,
.main_bottom_left .main_bottom_content{
	padding: 10px;
}*/
.right_h3{
	background: none;
	border-bottom: 1px solid #e5e5e5;
	height: 30px;
	line-height: 30px;
}
.right_h3 span{
	color:#333;
	border-top:0;
	border-bottom:3px solid #1790cf;
	text-align: left;
	width: 4em;
	height: 30px;
	line-height: 30px;
}
.main_middle_right .main_middle_content ul li{
	width: 100%;
	color: #a49c9c;
	margin: 14px 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.serial{
	display: inline-block;
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	border-radius: 50%;
	background: #a49c9c;
	color: #fff;
	margin-right: 9px;
}
.serial.active{
	background: #118ecf;
}
#wordCloud{
	width:100%;
	height: 300px;
	border:none;
	overflow:hidden;
}
/*main    end*/
