html,body,canvas{
	width: 100%;
	height: 100%;
	background: none;
}
.disNone{
	display: none;
}
.sizexz{
	color: red;
	font-size: 12px;
	padding-right: 15px;
}
/*main  begin*/

#container{
	width: 100%;
	padding: 0;
}
.main{
	width: 100%;
	margin-top: 10px;
}
.page-title{
	color: #1443a3;
	border-left: 2px solid #1443a3;
	padding-left: 10px;
	line-height: 16px;
}
.page-title-scend{
	color: #1443a3;
}
.btn_back{
	color: #1443a3;
	font-weight: 700;
	line-height: 16px;
}
.main .row{
	margin-left: 0;
	margin-right: 0;
}
.marginTop{
	margin-top: 20px;
}
.magRight10{
    margin-right: 10px;
}
.main_left{
	width: 336px;
	margin-top: 20px;
}
.ztreeContainer ul.ztree{
	overflow: auto;
}
.subnav ul li{
	padding: 5px 10px;
	background: #e1f1fa;
	color: #416881;
	margin-right: 3px;
	cursor: pointer;
}
.subnav ul li.active{
	background: #2563ef;
	color: #fff;
}
.sidebar{
	margin-top: 10px ;
}
.sidebar ul li{
	background: url(../images/index/left_bj01_1.png) no-repeat;
	background-size: 100% 100%;
	line-height: 56px;
	width: 273px;
	margin: 10px 0;
	color: #fff;
}
.sidebar ul li a{
	color: #333;
}
.sidebar ul li span.pull-left{
	margin-left: 20px;
}
.sidebar ul li span.pull-right{
	margin-right: 20px;
}
.sidebar ul li.active{
	background: url(../images/index/left_bj01_2.png) no-repeat;
	background-size: 100% 100%;
}
.sidebar ul li.active a{
	color: #2563ef;
}
.main_right{
	width: calc(100% - 360px);
	margin-top: 20px;
}
.shop{
	color: #333;
	padding: 5px 0;
}
.shop_tel{
	margin-right: 30px;
}
.colorBlue,.shop_btn.active{
	color: #2563ef;
}
.shop_btn{
	margin-right: 10px;
	cursor: pointer;
}
.search{
	padding: 5px 0;
	border-bottom:1px solid #666;
}
.search input,.search span{
	background: none;
	border: 0;
	outline: none;
	color: #666;
}
.search input{
	width: 240px;
}
.search input:-ms-input-placeholder{
	color: #666;
}
.search input::-moz-placeholder{
	color: #666;
}
.search input::-webkit-input-placeholder{
	color: #666;
}
.searchResult{
	border:1px solid #0a4d8f;
	padding: 10px;
	width: 260px;
	position: absolute;
	top: 36px;
	z-index: 9;
	display: none;
}
.searchResult li{
	border-bottom: 1px solid #0a4d8f;
	padding: 10px 0;
	color: #fff;
}
.searchResult li:last-child{
	border: 0;
}
.searchResult li p.title{

}
.searchResult li p.content{
	font-size: 14px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.relative{
	position: relative;
}
.main_right_content{
	margin-top: 22px;
}
.main_right_content .item{
	padding: 7px 20px;
	border-bottom: 1px solid #adc4da;
	color: #666;
	background: #f4f7fa;
}
.main_right_content .item:hover{
	padding: 7px 20px;
	border-bottom: 1px solid #adc4da;
	background: #fff;
}
.main_right_content .item:first-child{
	border-top: 1px solid #adc4da;
}
.item_div{
	margin-top: 6px;
	font-size: 14px;
	height: 20px;
}
.item_div span{
	display: inline-block;
	width: 23%;
	padding: 0 6px;
}
.item_div i{
	font-style: normal;
	color: #2a7cf4;
	display: inline-block;
	width: calc(100% - 5em);
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.item_div a{
	color: #0c72f4;
	font-size: 16px;
}
.currentPage{
	margin-top: 20px;
	color: #666;
	font-size: 14px;
	line-height: 36px;
}
.currentPage i{
	font-style: normal;
}
.pagination li a{
	background: none;
	border:1px solid #014f8e;
	margin: 0 5px;
	color: #0a4d8f;
}
#paginationHtml li a{
	margin: 0;
	padding: 2px 8px;
}
.w273{
	width: 273px;
}
.pagination > li:first-child > a, .pagination > li:first-child > span,
.pagination > li:last-child > a, .pagination > li:last-child > span{
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.pagination > li:last-child > a, .pagination > li:last-child > span{
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.pagination > .active > a{
	background-color: #133d91;
	border-color: #014f8e;
}
.pagination > .disabled > a{
	color: #0a4d8f;
	pointer-events: none;
	cursor: not-allowed;
	background-color: inherit;
	border-color: #014f8e;
}
.pagination li a:hover{
	background-color: inherit;
	border-color: #014f8e;
	color: #014f8e;
}
.main_container{
	padding: 30px 0;
}
.main_container .tle{
	color:#fff;
}
.applybtnContainer .applybtn{
	display: none;
}
.apiType,.dataBaseType,.comType{
	display: none;
}
.analysis{
	width: 100%;
	height: 360px;
	margin: 20px 0;
}
/*main    end*/

/*table  begin*/
.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
	padding: 3px;
}

.table tr td input.inp-form,
.table tr td select.set-form {
	width: 100%;
}

.table tr td textarea.textarea-form {
	width: 100%;
	resize: none;
	margin-bottom: 10px;
}

.tab-border-no,.tab-title-top,.tab-border-no-layer{
	width: 100%;
	table-layout: fixed;
	border: 0;
	margin: 20px 0;
}
.tab-border-no{
	border: 1px solid #ddd;
}
.tab-border-no-layer{
	margin: 20px 0 0;
}
.tab-border-no tbody tr th,
.tab-border-no tbody tr td {
	border-top:1px solid #ddd;
	border-bottom:1px solid #ddd;
	text-align: left;
	vertical-align: middle;
	padding: 9px;
	font-weight: normal;
	color: #333;
	background: #fff;
}
.tab-border-no tbody tr:nth-child(odd),
.tab-border-no tbody tr:nth-child(odd) {
	background: rgba(2,31,62,0.6);
}
.tab-border-no tbody tr th {
	text-align: right;
	padding-right: 10px;
}
.tab-title-top thead tr th,
.tab-title-top tbody tr td {
	padding: 9px 12px;
	text-align: left;
	vertical-align: middle;
	color:#fff;
	border-top:1px solid #999;
	border-bottom:1px solid #999;
}
.tab-title-top thead tr th.text-right,
.tab-title-top tbody tr td.text-right{
	text-align: right;
}
.tab-title-top thead tr th{
	background: #3289b2;
}
.tab-title-top tbody tr td{
	background: #fff;
	color: #333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.tab-title-top tbody tr td a{
	color:#2563ef;
	margin-right: 6px;
}
.borderCollapse{
	border-collapse: separate;
	border-spacing: 0px 20px;
}
.tab-border-no-layer tbody tr th,
.tab-border-no-layer tbody tr td {
	border:0;
	text-align: right;
	vertical-align: middle;
	padding: 9px 0;
	font-weight: normal;
	/*color: #b7bac1;*/
	color: #333;
	white-space: nowrap;
	text-overflow: ellipsis;
	/*overflow: hidden;*/
}
.tab-border-no-layer tbody tr td.text-left{
	text-align: left;
}
.tab-title-top tbody tr td input,
.tab-title-top tbody tr td textarea,
.tab-title-top tbody tr td select,
.tab-border-no-layer tbody tr td input,
.tab-border-no-layer tbody tr td textarea,
.tab-border-no-layer tbody tr td select,
.tab-border-no-layer tbody tr td .form-control,
.tab-border-no-layer tbody tr td.viewTd{
	/*background: rgba(20,46,78,0.9);*/
	/*border:1px solid #0187ea;*/
	border:1px solid #999;
	outline: #0187ea;
	/*outline: none;*/
	box-shadow: 0 0 0;
	color: #333;
}
.tab-border-no-layer tbody tr td.viewTd{
	text-align: left;
	padding: 6px;
	white-space: normal;
}
.tab-border-no-layer tbody tr td .downFileText{
	display: inline-block;
	width: calc(100% - 76px);
}
.tab-border-no-layer tbody tr td .downFileText .form-control{
	line-height: 40px;
	height: 40px;
}
.webuploader-pick{
	background: #1840a0;
}
.table tbody tr th.vtop{
	vertical-align: top;
	padding-top: 27px;
}
/*table    end*/

.layerDataApply h3{
	font-size: 14px;
	color: #9ca1ae;
	margin: 10px 0;
}
.layerDataApply h3 a{
	font-size: 14px;
	margin: 0 6px;
	color: #333;
}
.layerDataApply h3 a.selAll{
	color: #2e63b3
}
.selectno{
	display: inline-block;
	width: 18px;
	height: 18px;
	background: url(../images/com/select_01.png) no-repeat;
	background-size: 100% 100% ;
	float: left;
	margin-right:10px ;
	cursor: pointer;
}
.selectno.checked{
	background: url(../images/com/select_02.png) no-repeat;
	background-size: 100% 100% ;
}
.elementData {
	margin-top: 20px;
}
.elementData li{
	margin:0 30px 20px 0;
}
.elementData label{
	font-size: 14px;
	color: #333;
	line-height: 18px;
	margin: 0;
}
.navsecond{
	border: 1px solid #0a3c6c;
	border-radius: 36px;
	height: 50px;
	line-height: 45px;
}
.navsecond li a{
	display: inline-block;
	width: 100%;
	height: 50px;
	padding: 0 22px;
	color: #333;
}
.navsecond li a.active{
	background: url(../images/com/tab_01.png) no-repeat;
	background-size: 100% 48px;
	color: #1684f5;
}
.color-warning{
	color:#fff;
}
.search-form li{
	margin-right: 6px;
	margin-bottom: 10px;
}
.search-form li.magRt8{
	margin-right: 8px;
}
.search-form li.marginAuto{
	margin-right: 0;
}
.search-form li label{
	color: #666;
}
.search-form li input,
.search-form li select{
	background-color: #f2fdff;
	border:1px solid #999;
	outline: none;
	box-shadow: 0 0 0;
	color: #333;
	padding: 9px 3px;
	width: 150px;
}
.search-form li input.w180{
	width: 180px;
}
.search-form li input.w120,
.search-form li select.w120{
	width: 120px;
}
.search-form li input.w100,
.search-form li select.w100{
	width: 100px;
}
.search-form .btn-primary {
	color: #fff;
	/*background-color: #133d91;*/
	border-color: #0187ea;
	border-radius: 0;
	height: 36px;
	padding: 6px 16px;
}
.view_container .main_left,
.view_container .main_right{
	/*border: 1px solid #303ca6;*/
	/*background: rgba(3,29,59,0.9);*/
	border: 1px solid #ddd;
	border-radius: 10px;
	padding: 12px 21px;
}
.view_container_first .main_right{
	width: 100%;
}
.ztreeContainer h3 span{
	color:#000;
}
.ztreeContainer h3{
	margin-bottom: 30px;
}
.ztreeContainer .search {
	padding: 5px 9px;
	border: 1px solid #666;
	border-radius: 9px;
}
.ztreeContainer .search input{
	width: 250px;

}
.ztree li {
	padding:5px 0;
}
.ztree li a{
	color: #333;
}
.ztree li a span{
	font-size: 14px;
	display: inline-block;
	max-width: 149px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.ztree li span.button.noline_open,
.ztree li span.button.noline_close{
	background: none;
	position: relative;
}
.ztree li span.button.noline_open:before{
	content: '';
	display: inline-block;
	width: 10px;
	height: 10px;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 8px solid #20457d;
	position: absolute;
	right: 3px;
	top: 5px;
}
.ztree li span.button.noline_close:before{
	content: '';
	display: inline-block;
	width: 10px;
	height: 10px;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 8px solid #20457d;
	position: absolute;
	right: 3px;
	top: 3px;
}
.ztree li a.curSelectedNode{
	color: #2563ef;
	border: 0;
	background: none;
}
.ztree li span.button.update {
	margin-right: 2px;
	background-position: -127px -48px;
	vertical-align: top;
}
.ztree li span.button.setTab {
	margin-right: 2px;
	background-position: -127px -32px;
	vertical-align: top;
}
.secondPage h3{
	color: #000;
}
.secondPage .view_item{
	display: none;
}
.secondPage #unit{
	display: block;
}
.secondTitle{
	color: #fff;
	font-size: 18px;
	border-left: 4px solid #fff;
	padding-left: 10px;
	line-height: 16px;
	height: 18px;
}
.pad_left{
	padding-left: 52px;
}
.pad_left h3{
	font-size: 14px;
}
#apiSet h3,
#fileSet h3{
	color: #fff;
}
#apiSet,#fileSet{
	display: none;
}
td.catalog_td{
	position: relative;
}
td.catalog_td ul.ztree{
	position: absolute;
	top: 45px;
	width: 100%;
	height: 390px;
	overflow-y: auto;
	border: 1px solid #0186e9;
	display: none;
}
.tr_hidden{
	display: none;
}
.minHeight360{
	min-height: 390px;
}
.colorSm{
	font-size: 14px;
}
.colorSm p{
	margin: 8px 0 ;
}
.fontColor{
	color: red;
}