/*粒子背景*/
html,body,canvas{
	width: 100%;
	height: 100%;
}
canvas{
	position: absolute;
	top: 0;
	left: 0;
	z-index: -2;
}
.bottom_bg{
	width: 100%;
	height: 22px;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: -1;
	background: url(../images/com/bj_02.png) no-repeat right;
}
/*header  begin*/
#container{
	width: 100%;
	padding: 0 70px;
}
.logo{
	width: 259px;
	height: 56px;
	margin-top: 20px;
}
.user_info{
	margin-top: 20px;
}
.user_info .photo{
	margin-right: 10px;
	width: 57px;
	height: 57px;
	border-radius: 50%;
}
.user_info .user_operation{
	line-height: 57px;
    color: #fff;
    border-right: 1px solid #838fa1;
    padding-right: 50px;
}
.user_info .user_operation label{
	margin-bottom: 0;
}
.user_info .user_operation i{
	color: #0fd7f5;
	margin-left: 6px;
}
.user_info .logout{
	margin-left: 30px;
    color: #fff;
}
.user_info .logout img{
	width: 25px;
	height: 24px;
    margin: 5px 0;
}
.nav_container{
	margin: 0 250px 0 320px;
	height: 100px;
	overflow: hidden;
}
.nav_container li{
	color: #b7bac1;
	height: 88px;
	padding: 0 20px;
	text-align: center;
}
.nav_container li img{
	margin: 20px 0 3px;
}
.nav_container li.active{
	background: url(../images/index/nav_bj02.png) repeat-x;
	color: #fff;
}
/*header  end*/

/*main  begin*/

.main{
	width: 100%;
	margin-top: 10px;
}
.page-title{
    color: #bdc0ca;
    border-left: 2px solid #ddd;
    padding-left: 10px;
    line-height: 16px;
}
.page-title-scend{
	color: #fff;
}
.btn_back{
	color: #1443a3;
	font-weight: 700;
	line-height: 16px;
}
.main .row{
	margin-left: 0;
	margin-right: 0;
}
.main_left{
	width: 280px;
	margin-top: 20px;
}
.subnav ul li{
	padding: 5px 10px;
	background: #053d65;
	color: #fff;
	margin-right: 3px;
}
.subnav ul li.active{
	background: #2563ef;
}
.sidebar{
	margin-top: 10px ;
}
.sidebar ul li{
	background: url(../images/index/left_bj01_1.png) no-repeat;
	background-size: 100% 100%;
    line-height: 56px;
    width: 273px;
    margin: 5px 0;
    color: #fff;
}
.sidebar ul li a{
	color: #fff;
}
.sidebar ul li span.pull-left{
	margin-left: 20px;
}
.sidebar ul li span.pull-right{
	margin-right: 20px;
}
.sidebar ul li.active{
	background: url(../images/index/left_bj01_2.png) no-repeat;
	background-size: 100% 100%;
}
.sidebar ul li.active a{
	color: #1747a9;
}
.main_right{
	width: calc(100% - 300px);
	margin-top: 20px;
}
.shop{
	color: #fff;
	padding: 5px 0;
}
.shop_tel{
	margin-right: 30px;
}
.colorBlue,.shop_btn.active{
	color: #2563ef;
}
.shop_btn{
	margin-right: 10px;
}
.search{
	padding: 5px 0;
	border-bottom:1px solid #fff;
}
.search input,.search span{
	background: none;
	border: 0;
	outline: none;
	color: #fff;
}
.search input{
	width: 240px;	
}
.search input:-ms-input-placeholder{
	color: #fff;
}
.search input::-moz-placeholder{
	color: #fff;
}
.search input::-webkit-input-placeholder{
	color: #fff;
}
.searchResult{
	border:1px solid #0a4d8f;
	padding: 10px;
	width: 260px;
    position: absolute;
    top: 36px;
    z-index: 9;
    display: none;
}
.searchResult li{
	border-bottom: 1px solid #0a4d8f;
	padding: 10px 0;
	color: #fff;
}
.searchResult li:last-child{
	border: 0;
}
.searchResult li p.title{
	
}
.searchResult li p.content{
	font-size: 14px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.relative{
	position: relative;
}
.main_right_content{
	margin-top: 25px;
}
.main_right_content .item{
	padding: 7px 20px;
	border-bottom: 1px solid #0a4d8f;
	color: #fff;
	background: #021f3e;
}
.main_right_content .item:first-child{
	border-top: 1px solid #0a4d8f;
}
.item_div{
	margin-top: 6px;
	font-size: 14px;
	height: 20px;
}
.item_div span{
	display: inline-block;
	width: 22%;
}
.item_div i{
	font-style: normal;
	color: #51bcf0;
	display: inline-block;
	width: calc(100% - 5em);
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.item_div a{
	color: #1648a9;
	font-size: 16px;
}
.currentPage{
	margin-top: 20px;
	color: #fff;
	font-size: 14px;
	line-height: 36px;
}
.currentPage i{
	font-style: normal;
}
.pagination li a{
	background: none;
	border:1px solid #014f8e;
	margin: 0 5px;
	color: #fff;
}
.pagination > li:first-child > a, .pagination > li:first-child > span,
.pagination > li:last-child > a, .pagination > li:last-child > span{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.pagination > li:last-child > a, .pagination > li:last-child > span{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.pagination > .active > a{
	background-color: #133d91;
    border-color: #014f8e;
}
.pagination > .disabled > a{
	color: #fff;
    pointer-events: none;
    cursor: not-allowed;
    background-color: inherit;
    border-color: #014f8e; 
}
.pagination li a:hover{
	background-color: inherit;
	border-color: #014f8e; 
	color: #014f8e;
}
/*main    end*/