/*---------------初始化 begin----------------*/
* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 14px;
    font-family: 'Microsoft YaHei', '微软雅黑', STSong, '宋体', '\5B8B\4F53', 'Times New Roman', Verdana, Arial, Helvetica, sans-serif;
}

html,
body {
    height: 100%;
}

td,
th,
caption {
    font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    font-size: 100%;
}

a {
    color: #555;
    text-decoration: none;
}

a:hover,a:active,a:visited {
    text-decoration: none;
}

img {
    border: none;
}

ol,
ul,
li {
    list-style: none;
}

input,
textarea,
select,
button {
    font: 14px "\5B8B\4F53", Verdana, Helvetica, Arial, sans-serif;
}

table {
    border-collapse: collapse;
}

label {
    max-width: none;
    font-weight: normal;
}

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

input[type="radio"],
input[type="checkbox"] {
    vertical-align: middle;
    margin-top: -2px;
}
/*---------------初始化 end----------------*/

.container {
    width: 100%;
    height: 100%;
    background: #F3F3F4;
}

.marginTop {
    margin-top: 10px;
}

.btn-sm {
    border-radius: 15px;
}

.btn-sm i{
    float: left;
    margin: 3px;
}

.borderRadius {
    border-radius: 3px;
}

.table {
    table-layout:fixed;
}

.table-bordered > thead > tr > th {
    background: #EFF3F8;
    text-align: center;
}

.table-bordered > tbody > tr > td {
    text-align: center;
}

.pagination {
    margin: 0;
}

.colStyle {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.modal-header{
    background: #3C8DBC;
    color: #fff;
}

.close {
    opacity: 1;
    color: #fff;
}

.modal-dialog {
    width: 1080px;
}

.modal-dialog label {
    display: inline-block;
    width: 160px;
    text-align: right;
    float: left;
}

.modal-dialog span {
    display: inline-block;
    width: calc(100% - 180px);
    text-align: left;
    float: right;
}

.fixed-table-loading {
    text-align: center;
}
.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
    outline: none !important;
}