<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Expires" content="0"/>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link type="text/css" rel="stylesheet" href="${_static}/js/lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="${_static}/js/lib/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="${_static}/js/lib/chosen/chosen.min.css">
    <link rel="stylesheet" href="${_static}/themes/blue/css/ui.css">
    <link rel="stylesheet" href="${_static}/css/module.css">
    <style type="text/css">
    	h3{line-height: 30px;}
    	.sharePassword{width: 100%; margin-top: 10px; border: 0; border-bottom: 1px solid #66afe9; outline: 0; padding: 3px 0;}
    	.error{background: #e51c23; padding: 5px; color: #fff; border-radius: 3px; margin-top: 9px; display: none; font-size: 12px;}
    </style>
</head>
<body>
<div class="workspace-body">
    <div class="col-sm-12 col-xs-12">
        <div class="list-content">
            <div class="form-inline">
            	<h3>请输入提取密码</h3>
            	<input type="text" name="" id="sharePassword" class="sharePassword" />
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="${_static}/js/lib/jquery/jquery.min.js"></script>
<script type="text/javascript" src="${_static}/js/lib/jquery/jquery.cookie.js"></script>
<script type="text/javascript" src="${_static}/js/lib/chosen/chosen.jquery.min.js"></script>
<script type="text/javascript" src="${_static}/themes/blue/js/ui.js"></script>
<script type="text/javascript" src="${_static}/js/module.js"></script>
<script type="text/javascript">
    var token = '';
    var _user_id = $.cookie("_user_id");
    var _user_name = encodeURIComponent($.cookie("_user_name"));
    function save(){
        var sharePassword = $("#sharePassword").val();
        if(sharePassword==null||sharePassword==''){
            parent.layer.msg("请输入密码！");
            return;
        }
        var parm = {
            id: "${id}",
            sharePassword: sharePassword
        };
        $.ajax({
            type:"GET",

            headers: {"token": token,"_isAdmin": true, "_user_id":_user_id, "_user_name":_user_name},
            url: "${_gate_url}/api/file/share/url/verify",
            data:parm,
            datatype:'json',
            success:function(rows){
                if (rows.data){//密码正确，关闭弹窗并调用getList()方法
                    var key = "share"+"${id}";
                    setCookie(key,sharePassword,3);
                    var rows = {
                        data:{id:'${id}',name:''},
                        pageNo: 1,
                        pageSize: '20',
                    };
                    parent.getList(rows);
                    parent.layer.closeAll();

                }else{
                    parent.layer.msg("密码错误，请重新输入！");
                    $("#sharePassword").val('');
                }
            }
        });
    };
</script>
</body>
</html>