<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="Expires" content="0"/>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/>
    <!-- 外部CSS引入 -->
    <link rel="stylesheet" type="text/css" href="${_css}/reset.css">
    <link type="text/css" rel="stylesheet" href="${_static}/js/lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="${_static}/js/lib/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="${_lib}/jquery-step/jquery.step.css">
    <link rel="stylesheet" href="${_static}/themes/blue/css/ui.css?v=0.1">
    <link rel="stylesheet" href="${_css}/app.css">
    <link href="${_static}/css/viewCss/module/home.css?v=2" rel="stylesheet" type="text/css"/>
</head>

<body>

<div class="workspace-body">
    <div class="console-container">
        <div class="row">
            <div class="col-sm-12">
                <!-- begin 标题 -->
                <div class="console-title console-title-border clearfix">
                    <div class="pull-left">
                        <h5><font color="#0099cc">首页</font></h5>
                    </div>
                </div>
                <!-- begin 页面内容主体 -->
                <div class="content-card">
                    <div class="row">
                        <div class="col-sm-3 card card-1">
                            <div class="card-content double">
                                <p>APP版本总数：<span id="appNum">--</span>个</p>
                                <p>最新APP版本升级数量：<span id="appLastUpdateNum">--</span>人</p>
                            </div>
                        </div>
                        <div class="col-sm-3 card card-2">
                            <div class="card-content double">
                                <p>应用程序数量：<span id="applNum">--</span>个</p>
                                <p>基础应用程序数量：<span id="baseApplNum">--</span>个</p>
                            </div>
                        </div>
                        <div class="col-sm-3 card card-3">
                            <div class="card-content double">
                                <p>当月应出勤天数：<span id="nowMonthDayNum">--</span>天</p>
                                <p>当月实际出勤天数：<span id="nowNormalDayNum">--</span>天</p>
                            </div>
                        </div>
                        <div class="col-sm-3 card card-4">
                            <div class="card-content double">
                                <p class="link aprNum">考勤待审批条数：<span id="aprNum">--</span>条</p>
                                <p class="link workLogNum">日志待查看数量：<span id="workLogNum">--</span>条</p>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 25px">
                        <div class="chart-container pull-left">
                            <div id="app"></div>
                        </div>
                        <div class="chart-container pull-right">
                            <div class="radio-container">
                                <label class="radio-inline">
                                    <input type="radio" name="optionsRadiosinline" value="normalDays" checked>正常出勤
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="optionsRadiosinline" value="workHous">加班
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="optionsRadiosinline" value="leaveHous">请假
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="optionsRadiosinline" value="travelHous">出差
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="optionsRadiosinline" value="lateHour">迟到
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="optionsRadiosinline" value="earlyHour">早退
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="optionsRadiosinline" value="minerCounts">旷工
                                </label>
                            </div>
                            <div id="info"></div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <!-- end 页面内容主体 -->
            </div>
        </div>
    </div>
</div>

<!--begin 外部JS引入 -->
<script type="text/javascript">
    var _GATE_URL = "${_gate_url}";
</script>
<script type="text/javascript" src="${_static}/js/lib/echarts/echarts.common.min.js"></script>
<script type="text/javascript" src="${_static}/js/lib/jquery/jquery.min.js"></script>
<script type="text/javascript" src="${_static}/js/lib/jquery/jquery.cookie.js" charset="utf-8"></script>
<script type="text/javascript" src="${_static}/js/hengyun/hengyun_ajax.js"></script>
<script type="text/javascript" src="${_static}/js/hengyun/hengyun_resource.js"></script>
<script type="text/javascript" src="${_js}/viewJs/module/home.js?v=2"></script>
<!--end 外部JS引入 -->
</body>
</html>