#right-box{
    height:calc(100% - 45px);
    border: 0;
}
.ui-jqgrid-hdiv .ui-jqgrid-htable .ui-th-div{
    font-weight: bold;
}
.combo-arrow {
    background: url(../../../images/sys_com/combo_arrow.jpg) no-repeat center center;
}
.Wdate {
    width: 100px!important;
    height: 32px!important;
    padding: 0!important;
}
.dr-ipt{
    width: 120px;
}
.workspace-body{
    width: 97%;
    margin: 10px auto;
    padding: 10px 0;
}
.workspace-body .btn_a{
    border: 1px solid #ccc;
    padding: 6px 15px;
    border-radius: 5px;
    background: #fff;
}
.container{
    margin-top: 20px;
    overflow: hidden;
    border: 1px solid #ddd;
    padding: 0 10px;
}

.container .header {
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    margin: 15px 5px;
    text-indent: 0.5em;
    border: 1px solid #ddd;
}

.content ul {
    margin: 15px 5px;
}

.content ul>li{
    border: 1px solid #ddd;
    width: auto;
    height: auto;
    margin-top: 10px;
    padding-left: 0.5em;
    padding-top: 10px;
    padding-bottom: 10px;
}

.channel li.channel_type{
    border:0;
    color: #000;
    font-size: 16px;
    padding-left: 2em;
    margin: 10px 0;
    width: auto;
}
.sucess_span,
.error_span{
    padding-left: 2em;
    color: #000;
    display: inline-block;
    width: 20%;
    margin-right: 10px;
}
.error_span{
    padding-left: 0;
}

.word_content{
    padding-top: 10px;
    text-indent: 2em;
    min-height:100px;
}