.console-container {
  height: auto !important;
}
.card {
  padding: 20px;
}
.card .card-item {
  padding: 10px 0;
}
.card .map {
  width: 400px;
  height: 270px;
  margin-left: 60px;
  background-color: #ddd;
}
.file-container {
  display: inline-block;
  vertical-align: middle;
  padding: 10px 5px;
}
.file-container:after {
  content: '';
  clear: both;
  display: block;
}
.file-container .file {
  float: left;
  width: 60px;
  height: 60px;
  background-color: red;
  margin: 0 10px;
}
.footer {
  height: 80px;
  margin-top: 100px;
  text-align: center;
}
.footer button {
  margin: 0 10px;
}
