<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="Expires" content="0"/>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/>
    <!-- 外部CSS引入 -->
    <link rel="stylesheet" type="text/css" href="${_lib}/jqgrid/css/ui.jqgrid-bootstrap.css">
    <link type="text/css" rel="stylesheet" href="${_static}/js/lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="${_static}/js/lib/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="${_lib}/chosen/bootstrap-chosen.css">
    <link type="text/css" rel="stylesheet" href="${_lib}/ValidateForm/Validform.css"/>
    <link rel="stylesheet" href="${_static}/themes/blue/css/ui.css?v=0.1">
    <link rel="stylesheet" href="${_css}/app.css">
    <!-- end 外部CSS引入 -->
    <!-- begin 自定义样式 -->
    <link rel="stylesheet" href="${_static}/css/viewCss/workapprove/detail.css">
    <!-- end   自定义样式 -->    
</head>
<body>

<div class="workspace-body">
    <div class="console-container">
        <div class="row">
            <div class="col-sm-12">
                <!-- begin 标题 -->
                <div class="console-title console-title-border clearfix">
                    <div class="pull-left">
                        <h5>
                            考勤管理 > 考勤审批 > <font color="#0099cc">详情</font>
                        </h5>
                    </div>
                </div>
                <!-- end 标题 -->
                <div class="card">
                    <form action="javascript:void(0)" id="checkForm">
                        <div class="card-item none" id="handleResult">
                            <div class="left-container"><span class="text-danger">*</span>审核结果：</div>
                            <div class="right-container from-inline">
                                <label style="margin: 0;">
                                    <input type="radio" name="result" checked value="0">同意
                                </label>
                                <label style="margin: 0;">
                                    <input type="radio" name="result" value="1">不同意
                                </label>
                            </div>
                        </div>
                        <div class="card-item none" id="handleContent">
                            <div class="left-container"><span class="text-danger">*</span>审核意见：</div>
                            <div class="right-container from-inline">
                                <textarea rows="6" id="apprOpinion" datatype="*" nullmsg="审核意见不允许为空"></textarea>
                            </div>
                        </div>
                        <div class="footer none" id="audit">
                            <button class="btn btn-primary none" id="submit">确定</button>
                            <button class="btn btn-primary btn-back">返回</button>
                        </div>
                    </form>
                    <div class="footer none" id="detail">
                        <button class="btn btn-primary none" id="quit">撤销</button>
                        <button class="btn btn-primary btn-back">返回</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--begin 外部JS引入 -->
<script type="text/javascript">
    var _GATE_URL = "${_gate_url}";
</script>
<script type="text/javascript" src="${_static}/js/lib/jquery/jquery.min.js"></script>
<script type="text/javascript" src="${_static}/js/lib/jquery/jquery.cookie.js"></script>
<script type="text/javascript" src="${_static}/js/hengyun/hengyun_ajax.js"></script>
<script type="text/javascript" src="${_static}/js/hengyun/hengyun_resource.js"></script>
<script type="text/javascript" src="${_static}/themes/blue/js/ui.js"></script>
<script src="${_static}/js/lib/layer/layer.js"></script>
<script type="text/javascript" src="${_lib}/ValidateForm/Validform_v5.3.2_min.js"></script>
<script type="text/javascript" src="${_lib}/ValidateForm/Valid.js"></script>

<!--begin 自定义JS -->
<script type="text/javascript" src="${_js}/viewJs/workapprove/detail.js?v=4"></script>
<!--end 自定义JS -->
</body>
</html>
