.main {
	padding: 18px;
	height: calc(100% - 65px);
	background: #fff;
	float: left;
	width: calc(100% - 30px);
	margin: 0 15px;
	box-sizing: border-box;
}

.change-system {
	margin-bottom: 12px;
	width: 198px;
}
.change-system_tle{
	float: left;
	margin-top: 6px;
}
.content{
	width: 100%;
	height: calc(100% - 25px);
}
.organ-list-tree{
	width: 240px;
	height: 100%;
}
.organ-list-tree .panel {
	height: calc(100% - 20px);
	border-radius: 0;
}
.organ-list-tree .panel-heading {
	/*background: #D3E0F1;*/
	border-radius: 0;
	padding: 12px 8px;
}
.organ-list-tree .panel-body {
	padding: 0;
	height: calc(100% - 45px);
	overflow: auto;
}

.right-box{
	width: calc(100% - 250px);
	border: 1px solid #ddd;
	margin-left: 10px;
	height: calc( 100% - 20px );
}
.resource_main .change-system {
	width: calc(100% - 43px);
	float: left;
}
.resource_main .organ-list-tree{
	width: 100%;
}
.list-section{
	padding: 1px 10px !important;
}
.inp-form{
	width: 100% !important;
}
.table-top-30{
	margin-top: 30px;
}
