<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hengyunsoft.platform.supervise.repository.dao.PowerSuperviseLinkMapper">
  <resultMap id="BaseResultMap" type="com.hengyunsoft.platform.supervise.entity.po.PowerSuperviseLink">
    <!--
    @mbggenerated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="power_supervise_id" jdbcType="BIGINT" property="powerSuperviseId" />
    <result column="code_" jdbcType="VARCHAR" property="code" />
    <result column="name_" jdbcType="VARCHAR" property="name" />
    <result column="time_limit" jdbcType="DOUBLE" property="timeLimit" />
    <result column="duty_user" jdbcType="VARCHAR" property="dutyUser" />
    <result column="confirm_user" jdbcType="LONGVARCHAR" property="confirmUser" />
    <result column="copy_user" jdbcType="LONGVARCHAR" property="copyUser" />
    <result column="remind_type" jdbcType="SMALLINT" property="remindType" />
    <result column="sort_num" jdbcType="INTEGER" property="sortNum" />
    <result column="desc_" jdbcType="VARCHAR" property="desc" />
    <result column="create_user" jdbcType="BIGINT" property="createUser" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_user" jdbcType="BIGINT" property="updateUser" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="level" jdbcType="INTEGER" property="level" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--
    @mbggenerated
    -->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--
    @mbggenerated
    -->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--
    @mbggenerated
    -->
    id, power_supervise_id, code_, name_, time_limit, duty_user, confirm_user, copy_user, 
    remind_type, sort_num, desc_, create_user, create_time, update_user, update_time, 
    level
  </sql>
  <select id="selectByExample" parameterType="com.hengyunsoft.platform.supervise.repository.example.PowerSuperviseLinkExample" resultMap="BaseResultMap">
    <!--
    @mbggenerated
    -->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from b_power_supervise_link
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="groupByClause != null">
      group by ${groupByClause}
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limitValue != null">
      limit ${limitValue}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--
    @mbggenerated
    -->
    select 
    <include refid="Base_Column_List" />
    from b_power_supervise_link
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectEntity" parameterType="com.hengyunsoft.platform.supervise.repository.example.PowerSuperviseLinkExample" resultMap="BaseResultMap">
    <!--
    @mbggenerated
    -->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from b_power_supervise_link
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="groupByClause != null">
      group by ${groupByClause}
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    limit 0,1 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--
    @mbggenerated
    -->
    delete from b_power_supervise_link
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.hengyunsoft.platform.supervise.repository.example.PowerSuperviseLinkExample">
    <!--
    @mbggenerated
    -->
    delete from b_power_supervise_link
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <update id="removeByExample" parameterType="com.hengyunsoft.platform.supervise.entity.po.PowerSuperviseLink">
    <!--
    @mbggenerated
    -->
    update b_power_supervise_link
    set is_delete = 1 

    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </update>
  <update id="removeByPrimaryKey" parameterType="java.lang.Long">
    <!--
    @mbggenerated
    -->
    update b_power_supervise_link
    set is_delete = 1 

     where 1=1 and id = #{id,jdbcType=BIGINT}
  </update>
  <insert id="insert" parameterType="com.hengyunsoft.platform.supervise.entity.po.PowerSuperviseLink">
    <!--
    @mbggenerated
    -->
    insert into b_power_supervise_link (id, power_supervise_id, code_, 
      name_, time_limit, duty_user, 
      confirm_user, copy_user, remind_type, 
      sort_num, desc_, create_user, 
      create_time, update_user, update_time, 
      level)
    values (#{id,jdbcType=BIGINT}, #{powerSuperviseId,jdbcType=BIGINT}, #{code,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{timeLimit,jdbcType=DOUBLE}, #{dutyUser,jdbcType=VARCHAR}, 
      #{confirmUser,jdbcType=LONGVARCHAR}, #{copyUser,jdbcType=LONGVARCHAR}, #{remindType,jdbcType=SMALLINT}, 
      #{sortNum,jdbcType=INTEGER}, #{desc,jdbcType=VARCHAR}, #{createUser,jdbcType=BIGINT}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=BIGINT}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{level,jdbcType=INTEGER})
  </insert>
  <insert id="batchInsert" parameterType="java.util.List">
    <!--
    @mbggenerated
    -->
    insert into b_power_supervise_link (id, power_supervise_id, code_, name_, time_limit, duty_user, confirm_user, copy_user, remind_type, sort_num, desc_, create_user, create_time, update_user, update_time, level ) values 
    <foreach collection="list" index="index" item="item" separator=",">
      (#{item.id,jdbcType=BIGINT}, #{item.powerSuperviseId,jdbcType=BIGINT}, #{item.code,jdbcType=VARCHAR}, 
        #{item.name,jdbcType=VARCHAR}, #{item.timeLimit,jdbcType=DOUBLE}, #{item.dutyUser,jdbcType=VARCHAR}, 
        #{item.confirmUser,jdbcType=LONGVARCHAR}, #{item.copyUser,jdbcType=LONGVARCHAR}, 
        #{item.remindType,jdbcType=SMALLINT}, #{item.sortNum,jdbcType=INTEGER}, #{item.desc,jdbcType=VARCHAR}, 
        #{item.createUser,jdbcType=BIGINT}, #{item.createTime,jdbcType=TIMESTAMP}, #{item.updateUser,jdbcType=BIGINT}, 
        #{item.updateTime,jdbcType=TIMESTAMP}, #{item.level,jdbcType=INTEGER})
    </foreach>
  </insert>
  <insert id="insertSelective" parameterType="com.hengyunsoft.platform.supervise.entity.po.PowerSuperviseLink">
    <!--
    @mbggenerated
    -->
    insert into b_power_supervise_link
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="powerSuperviseId != null">
        power_supervise_id,
      </if>
      <if test="code != null">
        code_,
      </if>
      <if test="name != null">
        name_,
      </if>
      <if test="timeLimit != null">
        time_limit,
      </if>
      <if test="dutyUser != null">
        duty_user,
      </if>
      <if test="confirmUser != null">
        confirm_user,
      </if>
      <if test="copyUser != null">
        copy_user,
      </if>
      <if test="remindType != null">
        remind_type,
      </if>
      <if test="sortNum != null">
        sort_num,
      </if>
      <if test="desc != null">
        desc_,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="level != null">
        level,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="powerSuperviseId != null">
        #{powerSuperviseId,jdbcType=BIGINT},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="timeLimit != null">
        #{timeLimit,jdbcType=DOUBLE},
      </if>
      <if test="dutyUser != null">
        #{dutyUser,jdbcType=VARCHAR},
      </if>
      <if test="confirmUser != null">
        #{confirmUser,jdbcType=LONGVARCHAR},
      </if>
      <if test="copyUser != null">
        #{copyUser,jdbcType=LONGVARCHAR},
      </if>
      <if test="remindType != null">
        #{remindType,jdbcType=SMALLINT},
      </if>
      <if test="sortNum != null">
        #{sortNum,jdbcType=INTEGER},
      </if>
      <if test="desc != null">
        #{desc,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="level != null">
        #{level,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hengyunsoft.platform.supervise.repository.example.PowerSuperviseLinkExample" resultType="java.lang.Integer">
    <!--
    @mbggenerated
    -->
    select count(*) from b_power_supervise_link
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--
    @mbggenerated
    -->
    update b_power_supervise_link
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.powerSuperviseId != null">
        power_supervise_id = #{record.powerSuperviseId,jdbcType=BIGINT},
      </if>
      <if test="record.code != null">
        code_ = #{record.code,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null">
        name_ = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.timeLimit != null">
        time_limit = #{record.timeLimit,jdbcType=DOUBLE},
      </if>
      <if test="record.dutyUser != null">
        duty_user = #{record.dutyUser,jdbcType=VARCHAR},
      </if>
      <if test="record.confirmUser != null">
        confirm_user = #{record.confirmUser,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.copyUser != null">
        copy_user = #{record.copyUser,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.remindType != null">
        remind_type = #{record.remindType,jdbcType=SMALLINT},
      </if>
      <if test="record.sortNum != null">
        sort_num = #{record.sortNum,jdbcType=INTEGER},
      </if>
      <if test="record.desc != null">
        desc_ = #{record.desc,jdbcType=VARCHAR},
      </if>
      <if test="record.createUser != null">
        create_user = #{record.createUser,jdbcType=BIGINT},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateUser != null">
        update_user = #{record.updateUser,jdbcType=BIGINT},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.level != null">
        level = #{record.level,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--
    @mbggenerated
    -->
    update b_power_supervise_link
    set id = #{record.id,jdbcType=BIGINT},
      power_supervise_id = #{record.powerSuperviseId,jdbcType=BIGINT},
      code_ = #{record.code,jdbcType=VARCHAR},
      name_ = #{record.name,jdbcType=VARCHAR},
      time_limit = #{record.timeLimit,jdbcType=DOUBLE},
      duty_user = #{record.dutyUser,jdbcType=VARCHAR},
      confirm_user = #{record.confirmUser,jdbcType=LONGVARCHAR},
      copy_user = #{record.copyUser,jdbcType=LONGVARCHAR},
      remind_type = #{record.remindType,jdbcType=SMALLINT},
      sort_num = #{record.sortNum,jdbcType=INTEGER},
      desc_ = #{record.desc,jdbcType=VARCHAR},
      create_user = #{record.createUser,jdbcType=BIGINT},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_user = #{record.updateUser,jdbcType=BIGINT},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      level = #{record.level,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hengyunsoft.platform.supervise.entity.po.PowerSuperviseLink">
    <!--
    @mbggenerated
    -->
    update b_power_supervise_link
    <set>
      <if test="powerSuperviseId != null">
        power_supervise_id = #{powerSuperviseId,jdbcType=BIGINT},
      </if>
      <if test="code != null">
        code_ = #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name_ = #{name,jdbcType=VARCHAR},
      </if>
      <if test="timeLimit != null">
        time_limit = #{timeLimit,jdbcType=DOUBLE},
      </if>
      <if test="dutyUser != null">
        duty_user = #{dutyUser,jdbcType=VARCHAR},
      </if>
      <if test="confirmUser != null">
        confirm_user = #{confirmUser,jdbcType=LONGVARCHAR},
      </if>
      <if test="copyUser != null">
        copy_user = #{copyUser,jdbcType=LONGVARCHAR},
      </if>
      <if test="remindType != null">
        remind_type = #{remindType,jdbcType=SMALLINT},
      </if>
      <if test="sortNum != null">
        sort_num = #{sortNum,jdbcType=INTEGER},
      </if>
      <if test="desc != null">
        desc_ = #{desc,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="level != null">
        level = #{level,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hengyunsoft.platform.supervise.entity.po.PowerSuperviseLink">
    <!--
    @mbggenerated
    -->
    update b_power_supervise_link
    set power_supervise_id = #{powerSuperviseId,jdbcType=BIGINT},
      code_ = #{code,jdbcType=VARCHAR},
      name_ = #{name,jdbcType=VARCHAR},
      time_limit = #{timeLimit,jdbcType=DOUBLE},
      duty_user = #{dutyUser,jdbcType=VARCHAR},
      confirm_user = #{confirmUser,jdbcType=LONGVARCHAR},
      copy_user = #{copyUser,jdbcType=LONGVARCHAR},
      remind_type = #{remindType,jdbcType=SMALLINT},
      sort_num = #{sortNum,jdbcType=INTEGER},
      desc_ = #{desc,jdbcType=VARCHAR},
      create_user = #{createUser,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      level = #{level,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>