<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hengyunsoft.platform.exchange.repository.api.dao.ShareDataApiUserMapper">
  <resultMap id="BaseResultMap" type="com.hengyunsoft.platform.exchange.entity.api.po.ShareDataApiUser">
    <!--
    @mbggenerated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="apply_code" jdbcType="VARCHAR" property="applyCode" />
    <result column="unit_id" jdbcType="VARCHAR" property="unitId" />
    <result column="api_id" jdbcType="BIGINT" property="apiId" />
    <result column="date_term" jdbcType="INTEGER" property="dateTerm" />
    <result column="limit_time" jdbcType="TIMESTAMP" property="limitTime" />
    <result column="secret_key" jdbcType="VARCHAR" property="secretKey" />
    <result column="reason" jdbcType="LONGVARCHAR" property="reason" />
    <result column="is_take" jdbcType="INTEGER" property="isTake" />
    <result column="auth_status" jdbcType="INTEGER" property="authStatus" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="apply_time" jdbcType="TIMESTAMP" property="applyTime" />
    <result column="api_type" jdbcType="INTEGER" property="apiType" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_user" jdbcType="BIGINT" property="createUser" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_user" jdbcType="BIGINT" property="updateUser" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--
    @mbggenerated
    -->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--
    @mbggenerated
    -->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--
    @mbggenerated
    -->
    id, apply_code, unit_id, api_id, date_term, limit_time, secret_key, reason, is_take, 
    auth_status, user_id, apply_time, api_type, create_time, create_user, update_time, 
    update_user
  </sql>
  <select id="selectByExample" parameterType="com.hengyunsoft.platform.exchange.repository.api.example.ShareDataApiUserExample" resultMap="BaseResultMap">
    <!--
    @mbggenerated
    -->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from b_share_data_api_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="groupByClause != null">
      group by ${groupByClause}
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limitValue != null">
      limit ${limitValue}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--
    @mbggenerated
    -->
    select 
    <include refid="Base_Column_List" />
    from b_share_data_api_user
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectEntity" parameterType="com.hengyunsoft.platform.exchange.repository.api.example.ShareDataApiUserExample" resultMap="BaseResultMap">
    <!--
    @mbggenerated
    -->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from b_share_data_api_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="groupByClause != null">
      group by ${groupByClause}
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    limit 0,1 
  </select>
  <select id="selectAppIdById" parameterType="java.lang.Long" resultType="java.lang.String">
    <!--
    @mbggenerated
    -->
    select app_id 
    from b_share_data_api_user
    where 1=1 and id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--
    @mbggenerated
    -->
    delete from b_share_data_api_user
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.hengyunsoft.platform.exchange.repository.api.example.ShareDataApiUserExample">
    <!--
    @mbggenerated
    -->
    delete from b_share_data_api_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <delete id="deleteByIds" parameterType="list">
    <!--
    @mbggenerated
    -->
    delete from  b_share_data_api_user where id in 
    <foreach collection="list" open="(" close=")" index="index" item="item" separator=",">
      #{item}
    </foreach> 
  </delete>
  <delete id="deleteByAppIdAndId" parameterType="map">
    <!--
    @mbggenerated
    -->
    delete from b_share_data_api_user
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByAppIdAndIds" parameterType="map">
    <!--
    @mbggenerated
    -->
    delete from  b_share_data_api_user where id in 
    <foreach collection="list" open="(" close=")" index="index" item="item" separator=",">
      #{item}
    </foreach> 
  </delete>
  <update id="removeByExample" parameterType="com.hengyunsoft.platform.exchange.entity.api.po.ShareDataApiUser">
    <!--
    @mbggenerated
    -->
    update b_share_data_api_user
    set is_delete = 1 

    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </update>
  <update id="removeByAppIdAndIds" parameterType="map">
    <!--
    @mbggenerated
    -->
    update b_share_data_api_user
    set is_delete = 1 
 where 1=1 and id in 
 <foreach collection="list" open="(" close=")" index="index" item="item" separator=",">
    #{item}
  </foreach>
  </update>
  <update id="removeByPrimaryKey" parameterType="java.lang.Long">
    <!--
    @mbggenerated
    -->
    update b_share_data_api_user
    set is_delete = 1 

     where 1=1 and id = #{id,jdbcType=BIGINT}
  </update>
  <update id="removeByAppIdAndId" parameterType="map">
    <!--
    @mbggenerated
    -->
    update b_share_data_api_user
    set is_delete = 1 

     where 1=1 and id = #{id,jdbcType=BIGINT}
  </update>
  <insert id="insert" parameterType="com.hengyunsoft.platform.exchange.entity.api.po.ShareDataApiUser">
    <!--
    @mbggenerated
    -->
    insert into b_share_data_api_user (id, apply_code, unit_id, 
      api_id, date_term, limit_time, 
      secret_key, reason, is_take, 
      auth_status, user_id, apply_time, 
      api_type, create_time, create_user, 
      update_time, update_user)
    values (#{id,jdbcType=BIGINT}, #{applyCode,jdbcType=VARCHAR}, #{unitId,jdbcType=VARCHAR}, 
      #{apiId,jdbcType=BIGINT}, #{dateTerm,jdbcType=INTEGER}, #{limitTime,jdbcType=TIMESTAMP}, 
      #{secretKey,jdbcType=VARCHAR}, #{reason,jdbcType=LONGVARCHAR}, #{isTake,jdbcType=INTEGER}, 
      #{authStatus,jdbcType=INTEGER}, #{userId,jdbcType=BIGINT}, #{applyTime,jdbcType=TIMESTAMP}, 
      #{apiType,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{createUser,jdbcType=BIGINT}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=BIGINT})
  </insert>
  <insert id="batchInsert" parameterType="java.util.List">
    <!--
    @mbggenerated
    -->
    insert into b_share_data_api_user (id, apply_code, unit_id, api_id, date_term, limit_time, secret_key, reason, is_take, auth_status, user_id, apply_time, api_type, create_time, create_user, update_time, update_user ) values 
    <foreach collection="list" index="index" item="item" separator=",">
      (#{item.id,jdbcType=BIGINT}, #{item.applyCode,jdbcType=VARCHAR}, #{item.unitId,jdbcType=VARCHAR}, 
        #{item.apiId,jdbcType=BIGINT}, #{item.dateTerm,jdbcType=INTEGER}, #{item.limitTime,jdbcType=TIMESTAMP}, 
        #{item.secretKey,jdbcType=VARCHAR}, #{item.reason,jdbcType=LONGVARCHAR}, #{item.isTake,jdbcType=INTEGER}, 
        #{item.authStatus,jdbcType=INTEGER}, #{item.userId,jdbcType=BIGINT}, #{item.applyTime,jdbcType=TIMESTAMP}, 
        #{item.apiType,jdbcType=INTEGER}, #{item.createTime,jdbcType=TIMESTAMP}, #{item.createUser,jdbcType=BIGINT}, 
        #{item.updateTime,jdbcType=TIMESTAMP}, #{item.updateUser,jdbcType=BIGINT})
    </foreach>
  </insert>
  <insert id="insertSelective" parameterType="com.hengyunsoft.platform.exchange.entity.api.po.ShareDataApiUser">
    <!--
    @mbggenerated
    -->
    insert into b_share_data_api_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="applyCode != null">
        apply_code,
      </if>
      <if test="unitId != null">
        unit_id,
      </if>
      <if test="apiId != null">
        api_id,
      </if>
      <if test="dateTerm != null">
        date_term,
      </if>
      <if test="limitTime != null">
        limit_time,
      </if>
      <if test="secretKey != null">
        secret_key,
      </if>
      <if test="reason != null">
        reason,
      </if>
      <if test="isTake != null">
        is_take,
      </if>
      <if test="authStatus != null">
        auth_status,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="applyTime != null">
        apply_time,
      </if>
      <if test="apiType != null">
        api_type,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="applyCode != null">
        #{applyCode,jdbcType=VARCHAR},
      </if>
      <if test="unitId != null">
        #{unitId,jdbcType=VARCHAR},
      </if>
      <if test="apiId != null">
        #{apiId,jdbcType=BIGINT},
      </if>
      <if test="dateTerm != null">
        #{dateTerm,jdbcType=INTEGER},
      </if>
      <if test="limitTime != null">
        #{limitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="secretKey != null">
        #{secretKey,jdbcType=VARCHAR},
      </if>
      <if test="reason != null">
        #{reason,jdbcType=LONGVARCHAR},
      </if>
      <if test="isTake != null">
        #{isTake,jdbcType=INTEGER},
      </if>
      <if test="authStatus != null">
        #{authStatus,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="applyTime != null">
        #{applyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="apiType != null">
        #{apiType,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hengyunsoft.platform.exchange.repository.api.example.ShareDataApiUserExample" resultType="java.lang.Integer">
    <!--
    @mbggenerated
    -->
    select count(*) from b_share_data_api_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--
    @mbggenerated
    -->
    update b_share_data_api_user
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.applyCode != null">
        apply_code = #{record.applyCode,jdbcType=VARCHAR},
      </if>
      <if test="record.unitId != null">
        unit_id = #{record.unitId,jdbcType=VARCHAR},
      </if>
      <if test="record.apiId != null">
        api_id = #{record.apiId,jdbcType=BIGINT},
      </if>
      <if test="record.dateTerm != null">
        date_term = #{record.dateTerm,jdbcType=INTEGER},
      </if>
      <if test="record.limitTime != null">
        limit_time = #{record.limitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.secretKey != null">
        secret_key = #{record.secretKey,jdbcType=VARCHAR},
      </if>
      <if test="record.reason != null">
        reason = #{record.reason,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.isTake != null">
        is_take = #{record.isTake,jdbcType=INTEGER},
      </if>
      <if test="record.authStatus != null">
        auth_status = #{record.authStatus,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=BIGINT},
      </if>
      <if test="record.applyTime != null">
        apply_time = #{record.applyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.apiType != null">
        api_type = #{record.apiType,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createUser != null">
        create_user = #{record.createUser,jdbcType=BIGINT},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateUser != null">
        update_user = #{record.updateUser,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--
    @mbggenerated
    -->
    update b_share_data_api_user
    set id = #{record.id,jdbcType=BIGINT},
      apply_code = #{record.applyCode,jdbcType=VARCHAR},
      unit_id = #{record.unitId,jdbcType=VARCHAR},
      api_id = #{record.apiId,jdbcType=BIGINT},
      date_term = #{record.dateTerm,jdbcType=INTEGER},
      limit_time = #{record.limitTime,jdbcType=TIMESTAMP},
      secret_key = #{record.secretKey,jdbcType=VARCHAR},
      reason = #{record.reason,jdbcType=LONGVARCHAR},
      is_take = #{record.isTake,jdbcType=INTEGER},
      auth_status = #{record.authStatus,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=BIGINT},
      apply_time = #{record.applyTime,jdbcType=TIMESTAMP},
      api_type = #{record.apiType,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      create_user = #{record.createUser,jdbcType=BIGINT},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      update_user = #{record.updateUser,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hengyunsoft.platform.exchange.entity.api.po.ShareDataApiUser">
    <!--
    @mbggenerated
    -->
    update b_share_data_api_user
    <set>
      <if test="applyCode != null">
        apply_code = #{applyCode,jdbcType=VARCHAR},
      </if>
      <if test="unitId != null">
        unit_id = #{unitId,jdbcType=VARCHAR},
      </if>
      <if test="apiId != null">
        api_id = #{apiId,jdbcType=BIGINT},
      </if>
      <if test="dateTerm != null">
        date_term = #{dateTerm,jdbcType=INTEGER},
      </if>
      <if test="limitTime != null">
        limit_time = #{limitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="secretKey != null">
        secret_key = #{secretKey,jdbcType=VARCHAR},
      </if>
      <if test="reason != null">
        reason = #{reason,jdbcType=LONGVARCHAR},
      </if>
      <if test="isTake != null">
        is_take = #{isTake,jdbcType=INTEGER},
      </if>
      <if test="authStatus != null">
        auth_status = #{authStatus,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="applyTime != null">
        apply_time = #{applyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="apiType != null">
        api_type = #{apiType,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByAppIdAndIdSelective" parameterType="com.hengyunsoft.platform.exchange.entity.api.po.ShareDataApiUser">
    <!--
    @mbggenerated
    -->
    update b_share_data_api_user
    <set>
      <if test="applyCode != null">
        apply_code = #{applyCode,jdbcType=VARCHAR},
      </if>
      <if test="unitId != null">
        unit_id = #{unitId,jdbcType=VARCHAR},
      </if>
      <if test="apiId != null">
        api_id = #{apiId,jdbcType=BIGINT},
      </if>
      <if test="dateTerm != null">
        date_term = #{dateTerm,jdbcType=INTEGER},
      </if>
      <if test="limitTime != null">
        limit_time = #{limitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="secretKey != null">
        secret_key = #{secretKey,jdbcType=VARCHAR},
      </if>
      <if test="reason != null">
        reason = #{reason,jdbcType=LONGVARCHAR},
      </if>
      <if test="isTake != null">
        is_take = #{isTake,jdbcType=INTEGER},
      </if>
      <if test="authStatus != null">
        auth_status = #{authStatus,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="applyTime != null">
        apply_time = #{applyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="apiType != null">
        api_type = #{apiType,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hengyunsoft.platform.exchange.entity.api.po.ShareDataApiUser">
    <!--
    @mbggenerated
    -->
    update b_share_data_api_user
    set apply_code = #{applyCode,jdbcType=VARCHAR},
      unit_id = #{unitId,jdbcType=VARCHAR},
      api_id = #{apiId,jdbcType=BIGINT},
      date_term = #{dateTerm,jdbcType=INTEGER},
      limit_time = #{limitTime,jdbcType=TIMESTAMP},
      secret_key = #{secretKey,jdbcType=VARCHAR},
      reason = #{reason,jdbcType=LONGVARCHAR},
      is_take = #{isTake,jdbcType=INTEGER},
      auth_status = #{authStatus,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=BIGINT},
      apply_time = #{applyTime,jdbcType=TIMESTAMP},
      api_type = #{apiType,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByAppIdAndId" parameterType="com.hengyunsoft.platform.exchange.entity.api.po.ShareDataApiUser">
    <!--
    @mbggenerated
    -->
    update b_share_data_api_user
    set apply_code = #{applyCode,jdbcType=VARCHAR},
      unit_id = #{unitId,jdbcType=VARCHAR},
      api_id = #{apiId,jdbcType=BIGINT},
      date_term = #{dateTerm,jdbcType=INTEGER},
      limit_time = #{limitTime,jdbcType=TIMESTAMP},
      secret_key = #{secretKey,jdbcType=VARCHAR},
      reason = #{reason,jdbcType=LONGVARCHAR},
      is_take = #{isTake,jdbcType=INTEGER},
      auth_status = #{authStatus,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=BIGINT},
      apply_time = #{applyTime,jdbcType=TIMESTAMP},
      api_type = #{apiType,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>