<!DOCTYPE html>
<html>
<#include "/module/header.html">
<head>
    <meta charset="UTF-8">
    <title>服务监控系统 </title>
    <link rel="stylesheet" type="text/css" href="${_static}/css/appServiceManage.css"/>
</head>

<body>

<div class="main-box clearfix">

    <#include "/module/navLeft.html">
    <div class="right-box">
        <div class="top-bar">
            <div class="text-title pull-left">
                管理中心 > 我的申请 > 新增功能跟踪 > <span class="active">提交审核</span>
            </div>
            <a class="button-icon pull-right" onclick="history.back()">
                返回
            </a>
        </div>
        <div class="main">
            <div class="block">
                <div class="text-title">功能信息</div>
                <div class="content">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">功能名称</label>
                            <div class="col-sm-8">
                                <input type="email" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">功能编码</label>
                            <div class="col-sm-8">
                                <input type="email" class="form-control" readonly>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">功能类型</label>
                            <div class="col-sm-8">
                                <select class="form-control"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">功能状态</label>
                            <div class="col-sm-8">
                                <select class="form-control"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">联系人邮箱</label>
                            <div class="col-sm-8">
                                <input type="email" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">swagger  url</label>
                            <div class="col-sm-8">
                                <input type="email" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">是否公开可见</label>
                            <div class="col-sm-8">
                                <select class="form-control"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">是否公开使用</label>
                            <div class="col-sm-8">
                                <select class="form-control"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">源于应用</label>
                            <div class="col-sm-8">
                                <select class="form-control"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">功能描述</label>
                            <div class="col-sm-8">
                                <textarea class="form-control"></textarea>
                            </div>
                        </div>
                    </form>
                    <div class="button-bar button-bar-center">
                        <button class="btn btn-primary ">提交申请</button>
                        <button class="btn btn-default ">取消</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<#include "/module/footer.html">
<script>
    var pageType="myApply";
</script>
</body>
</html>