<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hengyunsoft.platform.warn.repository.dao.GxqptSendeeMapper">
  <resultMap id="BaseResultMap" type="com.hengyunsoft.platform.warn.entity.po.GxqptSendee">
    <!--
    @mbggenerated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="warn_id" jdbcType="BIGINT" property="warnId" />
    <result column="rec_name" jdbcType="VARCHAR" property="recName" />
    <result column="rec_type" jdbcType="VARCHAR" property="recType" />
    <result column="rec_time" jdbcType="TIMESTAMP" property="recTime" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="handler_leve" jdbcType="INTEGER" property="handlerLeve" />
    <result column="result_" jdbcType="BIT" property="result" />
    <result column="who_handle" jdbcType="BIT" property="whoHandle" />
    <result column="department_id" jdbcType="VARCHAR" property="departmentId" />
    <result column="department_name" jdbcType="VARCHAR" property="departmentName" />
    <result column="org_id" jdbcType="VARCHAR" property="orgId" />
    <result column="org_name" jdbcType="VARCHAR" property="orgName" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--
    @mbggenerated
    -->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--
    @mbggenerated
    -->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--
    @mbggenerated
    -->
    id, user_id, warn_id, rec_name, rec_type, rec_time, status, remarks, handler_leve, 
    result_, who_handle, department_id, department_name, org_id, org_name, create_user, create_time, update_user, update_time
  </sql>
  <select id="selectByExample" parameterType="com.hengyunsoft.platform.warn.repository.example.GxqptSendeeExample" resultMap="BaseResultMap">
    <!--
    @mbggenerated
    -->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from b_sendee
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="groupByClause != null">
      group by ${groupByClause}
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limitValue != null">
      limit ${limitValue}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--
    @mbggenerated
    -->
    select 
    <include refid="Base_Column_List" />
    from b_sendee
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectEntity" parameterType="com.hengyunsoft.platform.warn.repository.example.GxqptSendeeExample" resultMap="BaseResultMap">
    <!--
    @mbggenerated
    -->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from b_sendee
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="groupByClause != null">
      group by ${groupByClause}
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    limit 0,1 
  </select>
  <select id="selectAppIdById" parameterType="java.lang.Long" resultType="java.lang.String">
    <!--
    @mbggenerated
    -->
    select app_id 
    from b_sendee
    where 1=1 and id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--
    @mbggenerated
    -->
    delete from b_sendee
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.hengyunsoft.platform.warn.repository.example.GxqptSendeeExample">
    <!--
    @mbggenerated
    -->
    delete from b_sendee
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <delete id="deleteByIds" parameterType="list">
    <!--
    @mbggenerated
    -->
    delete from  b_sendee where id in 
    <foreach close=")" collection="list" index="index" item="item" open="(" separator=",">
      #{item}
    </foreach> 
  </delete>
  <delete id="deleteByAppIdAndId" parameterType="map">
    <!--
    @mbggenerated
    -->
    delete from b_sendee
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByAppIdAndIds" parameterType="map">
    <!--
    @mbggenerated
    -->
    delete from  b_sendee where id in 
    <foreach close=")" collection="list" index="index" item="item" open="(" separator=",">
      #{item}
    </foreach> 
  </delete>
  <update id="removeByExample" parameterType="com.hengyunsoft.platform.warn.entity.po.GxqptSendee">
    <!--
    @mbggenerated
    -->
    update b_sendee
    set is_delete = 1 

    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </update>
  <update id="removeByAppIdAndIds" parameterType="map">
    <!--
    @mbggenerated
    -->
    update b_sendee
    set is_delete = 1 
 where 1=1 and id in 
 <foreach close=")" collection="list" index="index" item="item" open="(" separator=",">
    #{item}
  </foreach>
  </update>
  <update id="removeByPrimaryKey" parameterType="java.lang.Long">
    <!--
    @mbggenerated
    -->
    update b_sendee
    set is_delete = 1 

     where 1=1 and id = #{id,jdbcType=BIGINT}
  </update>
  <update id="removeByAppIdAndId" parameterType="map">
    <!--
    @mbggenerated
    -->
    update b_sendee
    set is_delete = 1 

     where 1=1 and id = #{id,jdbcType=BIGINT}
  </update>
  <insert id="insert" parameterType="com.hengyunsoft.platform.warn.entity.po.GxqptSendee">
    <!--
    @mbggenerated
    -->
    insert into b_sendee (id, user_id, warn_id, 
      rec_name, rec_type, rec_time, 
      status, remarks, handler_leve, 
      result_, who_handle, department_id, department_name, org_id, org_name, create_user,
      create_time, update_user, update_time
      )
    values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{warnId,jdbcType=BIGINT}, 
      #{recName,jdbcType=VARCHAR}, #{recType,jdbcType=VARCHAR}, #{recTime,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=VARCHAR}, #{remarks,jdbcType=VARCHAR}, #{handlerLeve,jdbcType=INTEGER}, 
      #{result,jdbcType=BIT}, #{whoHandle,jdbcType=BIT}, #{departmentId,jdbcType=VARCHAR},
      #{departmentName,jdbcType=VARCHAR}, #{orgId,jdbcType=VARCHAR}, #{orgName,jdbcType=VARCHAR}, #{createUser,jdbcType=VARCHAR},
      #{createTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="batchInsert" parameterType="java.util.List">
    <!--
    @mbggenerated
    -->
    insert into b_sendee (id, user_id, warn_id, rec_name, rec_type, rec_time, status, remarks, handler_leve, result_, who_handle, department_id, department_name, org_id, org_name, create_user, create_time, update_user, update_time ) values
    <foreach collection="list" index="index" item="item" separator=",">
      (#{item.id,jdbcType=BIGINT}, #{item.userId,jdbcType=BIGINT}, #{item.warnId,jdbcType=BIGINT}, 
        #{item.recName,jdbcType=VARCHAR}, #{item.recType,jdbcType=VARCHAR}, #{item.recTime,jdbcType=TIMESTAMP}, 
        #{item.status,jdbcType=VARCHAR}, #{item.remarks,jdbcType=VARCHAR}, #{item.handlerLeve,jdbcType=INTEGER}, 
        #{item.result,jdbcType=BIT}, #{item.whoHandle,jdbcType=BIT}, #{departmentId,jdbcType=VARCHAR},
      #{departmentName,jdbcType=VARCHAR}, #{orgId,jdbcType=VARCHAR}, #{orgName,jdbcType=VARCHAR}, #{item.createUser,jdbcType=VARCHAR},
        #{item.createTime,jdbcType=TIMESTAMP}, #{item.updateUser,jdbcType=VARCHAR}, #{item.updateTime,jdbcType=TIMESTAMP}
        )
    </foreach>
  </insert>
  <insert id="insertSelective" parameterType="com.hengyunsoft.platform.warn.entity.po.GxqptSendee">
    <!--
    @mbggenerated
    -->
    insert into b_sendee
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="warnId != null">
        warn_id,
      </if>
      <if test="recName != null">
        rec_name,
      </if>
      <if test="recType != null">
        rec_type,
      </if>
      <if test="recTime != null">
        rec_time,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="remarks != null">
        remarks,
      </if>
      <if test="handlerLeve != null">
        handler_leve,
      </if>
      <if test="result != null">
        result_,
      </if>
      <if test="whoHandle != null">
        who_handle,
      </if>
      <if test="departmentId != null">
        department_id,
      </if>
      <if test="departmentName != null">
        department_name,
      </if>
      <if test="orgId != null">
        org_id,
      </if>
      <if test="orgName != null">
        org_name,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="warnId != null">
        #{warnId,jdbcType=BIGINT},
      </if>
      <if test="recName != null">
        #{recName,jdbcType=VARCHAR},
      </if>
      <if test="recType != null">
        #{recType,jdbcType=VARCHAR},
      </if>
      <if test="recTime != null">
        #{recTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="handlerLeve != null">
        #{handlerLeve,jdbcType=INTEGER},
      </if>
      <if test="result != null">
        #{result,jdbcType=BIT},
      </if>
      <if test="whoHandle != null">
        #{whoHandle,jdbcType=BIT},
      </if>
      <if test="departmentId != null">
        department_id,
      </if>
      <if test="departmentName != null">
        department_name,
      </if>
      <if test="orgId != null">
        org_id,
      </if>
      <if test="orgName != null">
        org_name,
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hengyunsoft.platform.warn.repository.example.GxqptSendeeExample" resultType="java.lang.Integer">
    <!--
    @mbggenerated
    -->
    select count(*) from b_sendee
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--
    @mbggenerated
    -->
    update b_sendee
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=BIGINT},
      </if>
      <if test="record.warnId != null">
        warn_id = #{record.warnId,jdbcType=BIGINT},
      </if>
      <if test="record.recName != null">
        rec_name = #{record.recName,jdbcType=VARCHAR},
      </if>
      <if test="record.recType != null">
        rec_type = #{record.recType,jdbcType=VARCHAR},
      </if>
      <if test="record.recTime != null">
        rec_time = #{record.recTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.remarks != null">
        remarks = #{record.remarks,jdbcType=VARCHAR},
      </if>
      <if test="record.handlerLeve != null">
        handler_leve = #{record.handlerLeve,jdbcType=INTEGER},
      </if>
      <if test="record.result != null">
        result_ = #{record.result,jdbcType=BIT},
      </if>
      <if test="record.whoHandle != null">
        who_handle = #{record.whoHandle,jdbcType=BIT},
      </if>
      <if test="record.departmentId != null">
        department_id = #{record.departmentId,jdbcType=VARCHAR},
      </if>
      <if test="record.departmentName != null">
        department_name = #{record.departmentName,jdbcType=VARCHAR},
      </if>
      <if test="record.orgId != null">
        org_id = #{record.orgId,jdbcType=VARCHAR},
      </if>
      <if test="record.orgName != null">
        org_name = #{record.orgName,jdbcType=VARCHAR},
      </if>
      <if test="record.createUser != null">
        create_user = #{record.createUser,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateUser != null">
        update_user = #{record.updateUser,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--
    @mbggenerated
    -->
    update b_sendee
    set id = #{record.id,jdbcType=BIGINT},
      user_id = #{record.userId,jdbcType=BIGINT},
      warn_id = #{record.warnId,jdbcType=BIGINT},
      rec_name = #{record.recName,jdbcType=VARCHAR},
      rec_type = #{record.recType,jdbcType=VARCHAR},
      rec_time = #{record.recTime,jdbcType=TIMESTAMP},
      status = #{record.status,jdbcType=VARCHAR},
      remarks = #{record.remarks,jdbcType=VARCHAR},
      handler_leve = #{record.handlerLeve,jdbcType=INTEGER},
      result_ = #{record.result,jdbcType=BIT},
      who_handle = #{record.whoHandle,jdbcType=BIT},
      department_id = #{record.departmentId,jdbcType=VARCHAR},
      department_name = #{record.departmentName,jdbcType=VARCHAR},
      org_id = #{record.orgId,jdbcType=VARCHAR},
      org_name = #{record.orgName,jdbcType=VARCHAR},
      create_user = #{record.createUser,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_user = #{record.updateUser,jdbcType=VARCHAR},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hengyunsoft.platform.warn.entity.po.GxqptSendee">
    <!--
    @mbggenerated
    -->
    update b_sendee
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="warnId != null">
        warn_id = #{warnId,jdbcType=BIGINT},
      </if>
      <if test="recName != null">
        rec_name = #{recName,jdbcType=VARCHAR},
      </if>
      <if test="recType != null">
        rec_type = #{recType,jdbcType=VARCHAR},
      </if>
      <if test="recTime != null">
        rec_time = #{recTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="handlerLeve != null">
        handler_leve = #{handlerLeve,jdbcType=INTEGER},
      </if>
      <if test="result != null">
        result_ = #{result,jdbcType=BIT},
      </if>
      <if test="whoHandle != null">
        who_handle = #{whoHandle,jdbcType=BIT},
      </if>
      <if test="departmentId != null">
        department_id = #{departmentId,jdbcType=VARCHAR},
      </if>
      <if test="departmentName != null">
        department_name = #{departmentName,jdbcType=VARCHAR},
      </if>
      <if test="orgId != null">
        org_id = #{orgId,jdbcType=VARCHAR},
      </if>
      <if test="orgName != null">
        org_name = #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByAppIdAndIdSelective" parameterType="com.hengyunsoft.platform.warn.entity.po.GxqptSendee">
    <!--
    @mbggenerated
    -->
    update b_sendee
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="warnId != null">
        warn_id = #{warnId,jdbcType=BIGINT},
      </if>
      <if test="recName != null">
        rec_name = #{recName,jdbcType=VARCHAR},
      </if>
      <if test="recType != null">
        rec_type = #{recType,jdbcType=VARCHAR},
      </if>
      <if test="recTime != null">
        rec_time = #{recTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="handlerLeve != null">
        handler_leve = #{handlerLeve,jdbcType=INTEGER},
      </if>
      <if test="result != null">
        result_ = #{result,jdbcType=BIT},
      </if>
      <if test="whoHandle != null">
        who_handle = #{whoHandle,jdbcType=BIT},
      </if>
      <if test="departmentId != null">
        department_id = #{departmentId,jdbcType=VARCHAR},
      </if>
      <if test="departmentName != null">
        department_name = #{departmentName,jdbcType=VARCHAR},
      </if>
      <if test="orgId != null">
        org_id = #{orgId,jdbcType=VARCHAR},
      </if>
      <if test="orgName != null">
        org_name = #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hengyunsoft.platform.warn.entity.po.GxqptSendee">
    <!--
    @mbggenerated
    -->
    update b_sendee
    set user_id = #{userId,jdbcType=BIGINT},
      warn_id = #{warnId,jdbcType=BIGINT},
      rec_name = #{recName,jdbcType=VARCHAR},
      rec_type = #{recType,jdbcType=VARCHAR},
      rec_time = #{recTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=VARCHAR},
      remarks = #{remarks,jdbcType=VARCHAR},
      handler_leve = #{handlerLeve,jdbcType=INTEGER},
      result_ = #{result,jdbcType=BIT},
      who_handle = #{whoHandle,jdbcType=BIT},
      department_id = #{departmentId,jdbcType=VARCHAR},
      department_name = #{departmentName,jdbcType=VARCHAR},
      org_id = #{orgId,jdbcType=VARCHAR},
      org_name = #{orgName,jdbcType=VARCHAR},
      create_user = #{createUser,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByAppIdAndId" parameterType="com.hengyunsoft.platform.warn.entity.po.GxqptSendee">
    <!--
    @mbggenerated
    -->
    update b_sendee
    set user_id = #{userId,jdbcType=BIGINT},
      warn_id = #{warnId,jdbcType=BIGINT},
      rec_name = #{recName,jdbcType=VARCHAR},
      rec_type = #{recType,jdbcType=VARCHAR},
      rec_time = #{recTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=VARCHAR},
      remarks = #{remarks,jdbcType=VARCHAR},
      handler_leve = #{handlerLeve,jdbcType=INTEGER},
      result_ = #{result,jdbcType=BIT},
      who_handle = #{whoHandle,jdbcType=BIT},
      department_id = #{departmentId,jdbcType=VARCHAR},
      department_name = #{departmentName,jdbcType=VARCHAR},
      org_id = #{orgId,jdbcType=VARCHAR},
      org_name = #{orgName,jdbcType=VARCHAR},
      create_user = #{createUser,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

</mapper>