<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Expires" content="0"/>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link type="text/css" rel="stylesheet" href="${_static}/js/lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="${_static}/js/lib/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="${_static}/js/lib/chosen/chosen.min.css">
    <link rel="stylesheet" type="text/css" href="${_static}/js/lib/ValidateForm/Validform.css">
    <link rel="stylesheet" href="${_static}/themes/blue/css/ui.css">
    <link rel="stylesheet" href="${_static}/css/core/module.css">
</head>
<body>
<div class="workspace-body">
    <div class="col-md-12 col-lg-12 marginTop">
        <div class="row">
            <!--内容-->
            <div class="list-section">
                <div class="list-content">
                    <div class="form-inline">
                    	<form autocomplete="off" id="dataForm" action="" method="post">
                            <input type="hidden" name="appId" value="${appId}">
                            <table class="table default-table table-title-left">
                            	<tbody>
                            		<tr>
                            			<th width="130"><sub class="required">*</sub>角色名称</th>
                            			<td><input class="form-control inp-form" name="name" dataType="*" nullmsg="角色名称不能为空！"/></td>
                                        <th width="130"><sub class="required">*</sub>角色编码</th>
                            			<td><input class="form-control inp-form" name="code" dataType="*" nullmsg="角色编码不能为空！"/></td>
                                    </tr>
                                    <tr>
                                        <th >功能描述</th>
                                        <td colspan="3" ><input class="form-control inp-form" name="desc"/></td>
                                    </tr>
                            	</tbody>
							</table>
                            <button type="button" class="btn-submit hidden"></button>
                    	</form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="${_static}/js/lib/jquery/jquery.min.js"></script>
<script type="text/javascript" src="${_static}/js/lib/jquery/jquery.cookie.js"  charset="utf-8"></script>
<script type="text/javascript" src="${_static}/js/hengyun/hengyun_ajax.js"></script>
<script type="text/javascript" src="${_static}/js/lib/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src="${_static}/js/lib/chosen/chosen.jquery.min.js"></script>
<script type="text/javascript" src="${_static}/js/lib/serializeJSON/jquery.serializejson.min.js"></script>
<script type="text/javascript" src="${_static}/js/lib/hengyun/hengyun_validator.js"></script>
<script type="text/javascript" src="${_static}/js/lib/ValidateForm/Validform_v5.3.2_min.js"></script>
<script type="text/javascript" src="${_static}/js/lib/ValidateForm/Valid.js"></script>
<script type="text/javascript">
    var index;
    function save(num){
        index=num;
        $('.btn-submit').click();
    }
    //表单验证开始
    $(function(){
        openValidator({
            type:"POST",
            dataType: 'json',
            contentType : 'application/json',
            url: "${_gate_url}/api/admin/role/save",
        },"#dataForm",{
            attrName:"",
            prefix:"",
            suffix:"",
        });
    })
    $('.btn-submit').valid({
        form: '#dataForm',
        //showAllError:可选项 true | false，true：提交表单时所有错误提示信息都会显示，
        //false：一碰到验证不通过的就停止检测后面的元素，只显示该元素的错误信息;
        showAllError: true,
        ignoreHidden: true,
        checkpassed: function () {
            saveObj();
        }
    });
    /*提交*/
    function saveObj(){
        var data =$("#dataForm").serializeJSON();
        ajaxHengyun({
            type:"POST",
            dataType: 'json',
            contentType : 'application/json',
            url: "${_gate_url}/api/admin/role/save",
            data:JSON.stringify(data),
            success:function(rows){
                if (rows.errcode === 0){
                    parent.home.setAppIdVal();
                    parent.layer.msg("新增角色成功！",{icon:6,time:1000});
                    parent.layer.close(index);
                }else{
                    parent.layer.msg(rows.errmsg,{time:1000});
                }
            }
        });
    };
</script>
</body>
</html>