<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="Expires" content="0"/>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/>
    <!-- 外部CSS引入 -->
    <!--<link rel="stylesheet" type="text/css" href="${_css}/reset.css">-->
    <link type="text/css" rel="stylesheet" href="${_static}/js/lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="${_static}/js/lib/font-awesome/css/font-awesome.min.css">
    <!--<link rel="stylesheet" type="text/css" href="${_lib}/jquery-step/jquery.step.css">-->
    <link rel="stylesheet" href="${_static}/themes/blue/css/ui.css?v=0.1">
    <!--<link rel="stylesheet" href="${_css}/app.css">-->
    <link href="${_static}/css/viewCss/module/home.css" rel="stylesheet" type="text/css"/>
</head>

<body>

<div class="workspace-body">
    <div class="console-container">
        <div class="row">
            <div class="col-sm-12">
                <!-- begin 标题 -->
                <div class="console-title console-title-border clearfix">
                    <div class="pull-left">
                        <h5><font color="#0099cc">首页</font></h5>
                    </div>
                </div>
                <!-- begin 页面内容主体 -->
                <div class="row">
                    <div class="col-sm-3 card card-1">
                        <div class="card-content">
                            <p>已发送消息数量：<span id="sendNum">--</span>条</p>
                        </div>
                    </div>
                    <div class="col-sm-3 card card-2">
                        <div class="card-content">
                            <p>草稿箱消息数量：<span id="draftNum">--</span>个</p>
                        </div>
                    </div>
                    <div class="col-sm-3 card card-3">
                        <div class="card-content">
                            <p>渠道维护数量：<span id="channelNum">--</span>个</p>
                        </div>
                    </div>
                    <div class="col-sm-3 card card-4">
                        <div class="card-content">
                            <p class="aprNum">发布商数量：<span id="publisherNum">--</span>个</p>
                        </div>
                    </div>
                </div>
                <div class="row col-sm-12 col-md-12" style="margin-top: 25px">
                    <div class="chart-container pull-left">
                        <div id="topLeft" class="echartsItem"></div>
                    </div>
                    <div class="chart-container pull-right paddingAuto">
                        <div class="chart-container pull-left chart-container-bottom marginTopAuto">
                            <div id="centerLeft" class="echartsItem"></div>
                        </div>
                        <div class="chart-container pull-right chart-container-bottom marginTopAuto">
                            <div id="centerRight" class="echartsItem"></div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 chart-container-bottom">
                        <div id="bottomLeft" class="echartsItem"></div>
                    </div>
                </div>
                <div class="row col-sm-12 col-md-12" >
                    <div class="col-sm-12 col-md-12 chart-container-bottom rightHeight">
                        <p class="analySel">
                            <label>类型</label>
                            <select class="analyType">
                                <option value="wechat">微信</option>
                                <option value="blog">微博</option>
                                <option value="mobile">移动终端</option>
                                <!--<option value="publicSys">公示平台</option>-->
                            </select>
                        </p>
                        <div id="topRight" class="echartsItem"></div>
                    </div>
                </div>
                <!-- end 页面内容主体 -->
            </div>
        </div>
    </div>
</div>

<!--begin 外部JS引入 -->
<script type="text/javascript">
    var _GATE_URL = "${_gate_url}";
</script>
<script type="text/javascript" src="${_static}/js/lib/jquery/jquery.min.js"></script>
<script type="text/javascript" src="${_static}/js/lib/echarts/echarts.min.js"></script>
<script type="text/javascript" src="${_static}/js/lib/jquery/jquery.cookie.js" charset="utf-8"></script>
<script type="text/javascript" src="${_static}/js/hengyun/hengyun_ajax.js"></script>
<script type="text/javascript" src="${_static}/js/hengyun/hengyun_resource.js"></script>
<script type="text/javascript" src="${_js}/viewJs/module/home.js?v=2"></script>
<!--end 外部JS引入 -->
</body>
</html>