<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Expires" content="0"/>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link type="text/css" rel="stylesheet" href="${_static}/js/lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="${_static}/js/lib/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="${_static}/js/lib/chosen/chosen.min.css">
    <link rel="stylesheet" href="${_static}/themes/blue/css/ui.css">
    <link rel="stylesheet" href="${_static}/css/core/module.css">
</head>
<body>
<div class="workspace-body">
    <div class="col-md-12 col-lg-12">
        <div class="row">
            <!--内容-->
            <div class="list-section">
                <div class="list-content">
                    <div class="form-inline">
                    	<form autocomplete="off" action="" method="post">
                            <table class="table default-table table-title-left">
                            	<tbody>
                            		<tr>
                            			<th width="130">职务名称</th>
                            			<td id="name"></td>
                            			<th width="130">所属单位</th>
                            			<td id="orgname"></td>
                            		</tr>
                            		<tr>
                            			<th>是否领导职务</th>
                            			<td id="isleader"></td>
                            			<th>职务级别</th>
                                        <td>
                                            <select id="level" disabled name="level" class="form-control chosen-select set-form">
                                            </select>
                                        </td>
                            		</tr>
                            		<tr>
                            			<th>排序权重</th>
                            			<td><span id="sortvalue"></span> （值最小排前）</td>
                            			<th>启用标记</th>
                            			<td id="isenable"></td>
                            		</tr>
                            		<tr>
                            			<th>说明</th>
                            			<td colspan="3" id="description"></td>
                            		</tr>
                            	</tbody>
							</table>
                    	</form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="${_static}/js/lib/jquery/jquery.min.js"></script>
<script type="text/javascript" src="${_static}/js/lib/jquery/jquery.cookie.js"  charset="utf-8"></script>
<script type="text/javascript" src="${_static}/js/hengyun/hengyun_ajax.js"></script>
<script type="text/javascript" src="${_static}/js/lib/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src="${_static}/js/lib/chosen/chosen.jquery.min.js"></script>
<script>
    var id="${id}";
    var systemCode="${systemCode}";
    /*获取职务级别*/
    getNation();
    function getNation() {
        ajaxHengyun({
            async:false,
            type: 'GET',
            url: '${_gate_url}/api/admin/dictionary/getCodeList?code=DUTY_LEVE',
            success: function (rows) {
                if (rows.data) {
                    var items = rows.data;
                    var html = "";
                    items.forEach(function (val, index) {
                        html += '<option value="' + val.name + '">' + val.name + '</option>';
                    })
                    $("#level").html(html);
                }
                ;
            }
        })
    }
    ajaxHengyun({
        type:"GET",
        url: "${_gate_url}/api/admin/duties/getDutiesById",
        data:{id:id,systemCode:systemCode},
        datatype:'json',
        success:function(rows){debugger;
            if (rows.data){
                $("#name").text(rows.data.name);
                $("#orgname").text(rows.data.orgname);
                if(rows.data.isleader=="0"){
                    $("#isleader").text("否");
				}else if(rows.data.isleader=="1"){
                    $("#isleader").text("是");
				}
                $("#level").val(rows.data.level);
                $("#sortvalue").text(rows.data.sortvalue);
                if(!rows.data.sortvalue && rows.data.sortvalue!='0'){
                    $("#sortvalue").text("");
                }
                if(rows.data.isenable=="0"){
                    $("#isenable").text("禁用");
                }else if(rows.data.isenable=="1"){
                    $("#isenable").text("启用");
                }
                $("#description").text(rows.data.description);
            }
        }
    });
</script>
</body>
</html>