<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hengyunsoft.platform.mt.repository.apprwork.dao.ApprOverTimeMapper">
    <resultMap id="ExtBaseResultMap" type="com.hengyunsoft.platform.mt.entity.apprwork.po.ApprOverTime">
        <!--
        @mbggenerated
        -->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="apply_id" jdbcType="BIGINT" property="applyId"/>
        <result column="start_time" jdbcType="TIMESTAMP" property="startTime"/>
        <result column="end_time" jdbcType="TIMESTAMP" property="endTime"/>
        <result column="content" jdbcType="LONGVARCHAR" property="content"/>
        <result column="create_user" jdbcType="BIGINT" property="createUser"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_user" jdbcType="BIGINT" property="updateUser"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <select id="getByUserAndTimeTime" parameterType="java.util.Map" resultMap="ExtBaseResultMap">
    SELECT
      t.id,
      t.apply_id,
      t.start_time,
      t.end_time,
      t.content,
      t.create_user,
      t.create_time,
      t.update_user,
      t.update_time
  FROM
    b_appr_overtime AS t INNER JOIN b_appr_apply a ON t.apply_id = a.id
      WHERE
    t.create_user = #{userId,jdbcType=BIGINT}
        AND ((t.start_time >  #{startTime,jdbcType=TIMESTAMP}   AND  #{endTime,jdbcType=TIMESTAMP} > t.start_time )
        OR (t.end_time > #{startTime,jdbcType=TIMESTAMP}   AND #{endTime,jdbcType=TIMESTAMP}  > t.end_time ))
    <if test="curState != null">
        AND a.cur_state = #{curState,jdbcType=INTEGER}
    </if>
    <if test="unitId != null and  unitId !=''">
        AND a.unit_id= #{unitId}
    </if>
  </select>
</mapper>