<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Expires" content="0"/>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link type="text/css" rel="stylesheet" href="${_static}/js/lib/jqgrid/css/ui.jqgrid-bootstrap.css">
    <link type="text/css" rel="stylesheet" href="${_static}/js/lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="${_static}/themes/blue/css/ui.css?v=0.1">
    <link type="text/css" rel="stylesheet" href="${_lib}/ValidateForm/Validform.css"/>
    <link rel="stylesheet" href="${_static}/css/core/module.css">
    <style>
    #list img{
        max-width: 50px;
    }
    #list{
        margin-bottom: 0;
    }
    .ui-jqgrid tr.footrow-ltr td{
        text-align: center !important;
    }
    </style>
</head>
<body>
<div class="workspace-body">
    <div class="console-container">
        <div class="row">
            <!--标题-->
            <div class="col-sm-12">
                <div class="console-title console-title-border clearfix">
                    <div class="pull-left">
                        <h5 class="page-title">
                            我的考勤
                        </h5>
                    </div>
                </div>
            </div>
            <!--内容-->
            <div class="col-sm-12">
                <div class="list-section">
                    <form action="" class="form-inline search-form" id="search-condition">
                        <div class="form-field">
                            <div class="form-group">
                                <label class="control-label">
                                    <span class="text-danger"></span>
                                    <span>时限范围：</span>
                                </label>
                                <div class="form-control-wrap">
                                    <input name="startAttDay" id="startTime" class="form-control Wdate" placeholder=""/> — <input name="endAttDay" id="endTime" class="form-control Wdate" placeholder=""/>
                                </div>
                            </div>
                        </div>
                        <div class="form-field">
                            <div class="form-group">
                                <div class="form-control-wrap text-right">
                                    <button type="button" class="btn btn-primary search-button" id="searchBtn">
                                        <span class="glyphicon glyphicon-search"></span> 查询
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="list-section">
                    <div class="list-content">
                        <div class="form-inline">
                            <fieldset>
                                <div class="grid-section">
                                    <table id="list">
                                    </table>
                                    <div id="pager"></div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var _cp="${_cp}";
    var _GATE_URL = "${_gate_url}";
</script>
<script type="text/javascript" src="${_static}/js/lib/jquery/jquery.min.js"></script>
<script type="text/javascript" src="${_static}/js/lib/jquery/jquery.cookie.js"></script>
<script type="text/javascript" src="${_static}/js/lib/jqgrid/js/jquery.jqGrid.js"></script>
<script type="text/javascript" src="${_static}/js/lib/jqgrid/i18n/grid.locale-cn.js"></script>
<script type="text/javascript" src="${_static}/js/lib/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src="${_static}/themes/blue/js/ui.js"></script>
<script type="text/javascript" src="${_static}/js/hengyun/hengyun_ajax.js"></script>
<script type="text/javascript" src="${_static}/js/app.js"></script>
<script type="text/javascript" src="${_static}/js/module.js"></script>
<script type="text/javascript" src="${_lib}/ValidateForm/Validform_v5.3.2_min.js"></script>
<script type="text/javascript" src="${_lib}/ValidateForm/Valid.js"></script>
<script type="text/javascript" src="${_static}/js/viewJs/fast/myattence.js?v=1"></script>
<!--end 自定义JS -->
</body>
</html>