<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>WebUploader</title>
    <link rel="stylesheet" href="webuploader2/webuploader.css"/>
    <style type="text/css">
        .itemDel, .itemStop, .itemUpload {
            margin-left: 15px;
            color: blue;
            cursor: pointer;
        }

        #theList {
            width: 80%;
            min-height: 100px;
            border: 1px solid red;
        }

        #theList .itemStop {
            display: none;
        }
    </style>
    <script src="webuploader2/jquery-1.10.2.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="webuploader2/md5.js" type="text/javascript" charset="utf-8"></script>
    <script src="webuploader2/webuploader.min.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
        var _GATE_URL = "http://127.0.0.1:10003/";  //todo 改成自己的
    </script>

</head>
<body>
<div id="uploader">
    <ul id="theList"></ul>
    <div id="picker">选择文件</div>
</div>
<script src="webuploader2/chunk.js" type="text/javascript" charset="utf-8"></script>

</body>
</html>