<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<meta http-equiv="Expires" content="0"/>
	<meta name="renderer" content="webkit"/>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link type="text/css" rel="stylesheet" href="${_static}/js/lib/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="${_static}/js/lib/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="${_static}/js/lib/chosen/chosen.min.css">
	<link rel="stylesheet" href="${_static}/themes/blue/css/ui.css">
	<link rel="stylesheet" href="${_static}/css/module.css">
	<script type="text/javascript" src="${_static}/js/lib/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="${_static}/js/lib/jquery/jquery.cookie.js" charset="utf-8"></script>
	<script type="text/javascript" src="${_static}/js/hengyun/hengyun_ajax.js"></script>
	<script type="text/javascript" src="${_static}/js/hengyun/hengyun_resource.js"></script>
</head>
<body>
<div class="workspace-body">
	<div class="console-container">
		<div class="row">
			<!--标题-->
			<div class="col-sm-12">
				<div class="console-title console-title-border clearfix">
					<div class="pull-left">
						<h5 class="page-title">
							云盘管理系统  &gt; <span class="page-title-scend">其它</span>
						</h5>
					</div>
				</div>
			</div>
			<!--内容-->
			<div id="cloudDisk" class="col-sm-12">
				<div class="list-section">
					<form action="" class="form-inline search-form" autocomplete="off">
						<div class="form-field">
							<div class="form-group">
								<label class="control-label">
									<span class="text-danger"></span>
									<span>搜索：</span>
								</label>
                                <div class="form-control-wrap">
                                    <input name="submittedFileName" id="submittedFileName" class="form-control" placeholder=""/>
                                </div>
							</div>
						</div>
						<div class="form-field">
							<div class="form-group">
								<div class="form-control-wrap text-right">
									<button type="button" class="btn btn-primary search-button">
										确定
									</button>
								</div>
							</div>
						</div>
						<div class="pull-right">
							<div class="form-field">
								<div class="form-group">
									<div class="form-control-wrap text-right">
										<script type="text/javascript" id="file_other_batch_share">
                                            $(function () {
                                                resourceJs.init("${_gate_url!''}","${_app_id!''}","${l_u_i_s.id!''}").containButton({
                                                    resource_code : "file_other_batch_share",
                                                    btnHtml :'<button type="button" class="btn btn-primary btn-share" onclick="btnShareAuto()"> <span class="fa {{icon}}"></span> {{name}}</button>',
                                                    htmlInsert: true
                                                });
                                            })
										</script>
										<script type="text/javascript" id="file_other_upload">
                                            $(function () {
                                                resourceJs.init("${_gate_url!''}","${_app_id!''}","${l_u_i_s.id!''}").containButton({
                                                    resource_code : "file_other_upload",
                                                    btnHtml :'<button type="button" class="btn btn-primary btn-upload"><span class="fa {{icon}}"></span> {{name}}</button>',
                                                    htmlInsert: true
                                                });
                                            })
										</script>
										<script type="text/javascript" id="file_other_batch_download">
                                            $(function () {
                                                resourceJs.init("${_gate_url!''}","${_app_id!''}","${l_u_i_s.id!''}").containButton({
                                                    resource_code : "file_other_batch_download",
                                                    btnHtml :'<button type="button" class="btn btn-primary btn-download" onclick="downloadPackage()"><span class="fa {{icon}}"></span> {{name}}</button>',
                                                    htmlInsert: true
                                                });
                                            })
										</script>
										<script type="text/javascript" id="file_other_batch_delete">
                                            $(function () {
                                                resourceJs.init("${_gate_url!''}","${_app_id!''}","${l_u_i_s.id!''}").containButton({
                                                    resource_code : "file_other_batch_delete",
                                                    btnHtml :'<button type="button" class="btn btn-primary" onclick="deletePackage()"><span class="fa {{icon}}"></span> {{name}}</button>',
                                                    htmlInsert: true,
                                                });
                                            })
										</script>
										<!--<button type="button" class="btn btn-primary btn-share" onclick="btnShareAuto()">
											<span class="fa fa-share-alt"></span> 分享
										</button>
										<button type="button" class="btn btn-primary btn-upload">
											<span class="fa fa-upload"></span> 上传
										</button>
										<button type="button" class="btn btn-primary btn-download" onclick="downloadPackage()">
											<span class="fa fa-download"></span> 下载
										</button>
                                        <button type="button" class="btn btn-primary" onclick="deletePackage()">
                                            <span class="fa"></span> 批量删除
                                        </button>-->
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
				<div class="list-section">
					<div class="list-content">
						<div class="form-inline">
							<table id="folderList" class="table table-hover">
								<caption>其它文件</caption>
								<col width="20"></col>
								<col ></col>
								<col width="60"></col>
								<col width="150"></col>
								<col width="150"></col>
								<thead>
								<tr>
									<th><input type="checkbox" name="" id="checked_all" value="" /></th>
									<th class="text-left">文件名</th>
									<th>大小</th>
									<th>所在文件夹</th>
									<th>创建日期</th>
								</tr>
								</thead>
								<tbody>
								</tbody>
							</table>
							<div class="pagerDiv">

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" src="${_static}/js/lib/jquery/jquery.min.js"></script>
<script type="text/javascript" src="${_static}/js/lib/jquery/jquery.cookie.js" charset="utf-8"></script>
<script type="text/javascript" src="${_static}/js/hengyun/hengyun_ajax.js"></script>
<script type="text/javascript" src="${_static}/js/lib/chosen/chosen.jquery.min.js"></script>
<script type="text/javascript" src="${_static}/themes/blue/js/ui.js"></script>
<script type="text/javascript" src="${_static}/js/module.js"></script>
<script type="text/javascript">
    var parm = {
        pageNo:1,
        pageSize: '20',
        data:{ dataType: 'OTHER',}
    };
    var ids = new Array();
    var dirArray = new Array();
    $(function(){
        getList(parm);
        /* 选中当前行 */
        $("body").on("click","#folderList tbody tr td",function(){
            var choeckbox_int = $(this).find(".checkbox_int");
            if($(choeckbox_int).length==0){
                var choeckbox_set = $(this).parent().find(".checkbox_int");
                var checked = $(choeckbox_set).prop("checked");
                if(checked){
                    $(choeckbox_set).removeProp("checked");
                    $("#checked_all").removeProp("checked");
                    var ret = jQuery.inArray($(choeckbox_set).attr("id"),ids);
                    ids.splice(ret,1);
                    var ret = jQuery.inArray($(choeckbox_set).attr("id"),dirArray);
                    dirArray.splice(ret,1);
                }else{
                    $(choeckbox_set).prop("checked",true);
                    var num=0;
                    var choeckbox_list = $("#folderList tbody tr td .checkbox_int");
                    $(choeckbox_list).each(function(index,element){
                        var checked = $(element).prop("checked");
                        if(checked){
                            num+=1;
                        }
                    });
                    if(num==$("#folderList tbody tr td .checkbox_int").length){
                        $("#checked_all").prop("checked",true);
                    };
                    ids.push($(choeckbox_set).attr("id"));
                    var dataType = $(choeckbox_set).attr("data-datatype");
                    if(dataType=="DIR"){
                        dirArray.push($(choeckbox_set).attr("id"));
                    }
                }
            }
        });
        $("body").on("click",".checkbox_int",function (){
            var num=0;
            var choeckbox_list = $("#folderList tbody tr td .checkbox_int");
            if($(this).prop("checked")){
                ids.push($(this).attr("id"));
                var dataType = $(this).attr("data-datatype");
                if(dataType=="DIR"){
                    dirArray.push($(this).attr("id"));
                }
            }else{
                var ret = jQuery.inArray($(this).attr("id"),ids);
                ids.splice(ret,1);
                var ret = jQuery.inArray($(this).attr("id"),dirArray);
                dirArray.splice(ret,1);
            }
            $(choeckbox_list).each(function(index,element){
                var checked = $(element).prop("checked");
                if(checked){
                    num+=1;
                }
            });
            if(num==$("#folderList tbody tr td .checkbox_int").length){
                $("#checked_all").prop("checked",true);
            }else{
                $("#checked_all").removeProp("checked");
            }
        });
        /* 全选 */
        $("body").on("click","#checked_all",function (){
            var num=0;
            var choeckbox_list = $("#folderList tbody tr td .checkbox_int");
            $(choeckbox_list).each(function(index,element){
                var checked = $(element).prop("checked");
                if(checked){
                    num+=1;
                }
            });
            if(num!=$("#folderList tbody tr td .checkbox_int").length){
                $(choeckbox_list).each(function(index,element){
                    $(element).prop("checked",true);
                    ids.push($(element).attr("id"));
                    var dataType = $(element).attr("data-datatype");
                    if(dataType=="DIR"){
                        dirArray.push($(element).attr("id"));
                    }
                });
            }else{
                $(choeckbox_list).each(function(index,element){
                    $(element).removeProp("checked");
                    var ret = jQuery.inArray($(element).attr("id"),ids);
                    ids.splice(ret,1);
                    var ret = jQuery.inArray($(element).attr("id"),dirArray);
                    dirArray.splice(ret,1);
                });
            }
        });
        /* 鼠标进入 */
        /*$("body").on("mouseenter","#folderList tbody tr td.text-left",function(){
            var element_span=$(this).find("span.tooltip_span");
            $(element_span).css("display","inline-block");
        });
        $("body").on("mouseleave","#folderList tbody tr",function(){
            var element_span=$(this).find("span.tooltip_span");
            $(element_span).css("display","none");
        });*/
        /* 重命名 */
        $("body").on("click",".tooltip_span i.rename",function (e){
            e.stopPropagation();
            var idElement = $(this).parent().parent().parent().find(".checkbox_int");
            var id = $(idElement).attr('id');
            var folderIdElement = $(this).parent().parent().parent().find(".checkbox_int");
            var folderId = $(idElement).val();
            var folderMameElement = $(this).parent().parent().find(".folderName");
            var folderName = $(folderMameElement).text();
            folderName=encodeURIComponent(folderName);
            parent.layer.open({
                id: 'rename',
                type: 2,
                anim:6,
                title: '重命名',
                maxmin: false, //开启最大化最小化按钮
                area: ['500px', '210px'],
                content: "${_cp}/file/rename?id="+id+"&folderId="+folderId+"&folderName="+folderName,
                btn: ['<span class="glyphicon glyphicon-ok"></span>确定','<span class="glyphicon glyphicon-remove"></span>取消'],
                yes: function (index, layero) {
                    var html=layero.context;
                    var Id=html.getElementById("rename");
                    var iframe=$(Id).find("iframe").attr("name");
                    var rowData = parent[iframe].save(index);
                }
            });
        });
        /* 删除 */
        $("body").on("click",".tooltip_span i.delete",function (e){
            e.stopPropagation();
            var idElement = $(this).parent().parent().parent().find(".checkbox_int");
            var id = $(idElement).attr('id');
            deleteFolder(id);
        });
        /* 下载 */
        $("body").on("click",".tooltip_span i.downLoad",function (e){
            e.stopPropagation();
            var idElement = $(this).parent().parent().parent().find(".checkbox_int");
            var url = $(idElement).attr('data-url');
            var folderMameElement = $(this).parent().parent().find(".folderName");
            var folderName = $(folderMameElement).text();
            var dataType =  $(idElement).attr('data-dataType');
            if (dataType!="DIR"){
                downLoadFolder(url,folderName);
            }else{
                parent.layer.msg("不支持文件夹下载！");
            };
        });
        /* 分享 */
        $("body").on("click",".tooltip_span i.share",function (e){
            e.stopPropagation();
            var idElement = $(this).parent().parent().parent().find(".checkbox_int");
            var id = $(idElement).attr('id');
            var fileNameElement = $(this).parent().parent().find(".folderName");
            var fileName = $(fileNameElement).text();
            openSharePage(id,fileName);
        });
    });
    /* 从服务器获取文件列表 */
    function getList(parm){
        ajaxHengyun({
            type:"POST",

            url: "${_gate_url}/api/file/file/page",
            data:JSON.stringify(parm),
            dataType:'json',
            contentType:"application/json",
            success:function(rows){
                if (rows.data){
                    fileList(rows.data.list);
                    pagerList(rows.data);
                }
            }
        });
    }
    /* 加载文件列表 */
    function fileList(rows){
        var html="";
        if(rows.length!=0){
            rows.forEach(function(value, index){
                var size=fomatFloat(value.size/1024, 2);
                if(size>921.6){
                    size=fomatFloat(size/1024, 2);
                    if(size>921.6){
                        size=fomatFloat(size/1024, 2)+"G";
                    }else{
                        size=size+"M";
                    }
                }else{
                    size=size+"KB";
                };
                html+='<tr>';
                if(ids.length!=0){
                    var ret;
                    ids.forEach(function (idsRow, index) {
                        ret = jQuery.inArray(value.id.toString(),ids);
                    });
                    if(ret>=0){
                        html+='<td><input type="checkbox" name="" id="'+value.id+'" data-dataType="'+value.dataType+'" data-url="'+value.url+'" class="checkbox_int" value="'+value.folderId+'" checked/></td>';
                    }else{
                        html+='<td><input type="checkbox" name="" id="'+value.id+'" data-dataType="'+value.dataType+'" data-url="'+value.url+'" class="checkbox_int" value="'+value.folderId+'" /></td>';
                    }
                }else{
                    html+='<td><input type="checkbox" name="" id="'+value.id+'" data-dataType="'+value.dataType+'" data-url="'+value.url+'" class="checkbox_int" value="'+value.folderId+'" /></td>';
                }
                html+='<td class="text-left"><i class="fa '+ value.icon +'"></i> <span class="folderName"><i>';
                if(value.submittedFileName){
                    html+=value.submittedFileName;
                }else{
                    html+=value.filename;
                }
                html+='</i></span><span class="pull-right tooltip_span"><i class="fa fa-share-alt share" title="分享"></i> <i class="fa fa-download downLoad" title="下载"></i> <i class="fa fa-pencil rename" title="重命名"></i> <i class="fa fa-trash-o delete" title="删除")></i></span></td>';
                if(value.size){
                    html+='<td>'+size+'</td>';
                }else {
                    html+='<td>—</td>';
                }
                if(value.folderName){
                    html+='<td>'+value.folderName+'<sup>转移</sup></td>';
				}else{
                    html+='<td>根文件夹<sup>转移</sup></td>';
				}
                html+='<td>'+value.createTime+'</td>';
                html+='</tr>';
            });
        }else{
            html+='<tr>';
            html+='<td colspan="5" class="tip_td">无文件！</td>';
            html+='</tr>';
        }
        $("#folderList tbody").html(html);
    }
    /* 更新文件目录 */
    function updateFolder() {
        getList(parm);
    }
    /* 删除文件 */
    function deleteFolder(IdVal){
        parent.layer.open({
            type: 1,
            title: '确认删除',
            maxmin: false, //开启最大化最小化按钮
            area: ['320px', '136px'],
            content: "确认要把所选文件放入回收站吗？",
            btn: ['<span class="glyphicon glyphicon-ok"></span>确定','<span class="glyphicon glyphicon-remove"></span>取消'],
            yes: function (index, layero) {
                var parm = {
                    id: IdVal
                };
                ajaxHengyun({
                    type:"POST",

                    
                    url: "${_gate_url}/api/file/file/remove",
                    data:parm,
                    datatype:'json',
                    success:function(rows){
                        if (rows.data){
                            updateFolder();
                            parent.layer.closeAll();
                            parent.layer.msg("删除成功！",{icon: 6,time:1500})
                        }else{
                            parent.layer.closeAll();
                            parent.layer.msg("删除失败，请稍后重试！")
                        }
                    }
                });
            }
        });
    }
    /* 下载文件 */
    function downLoadFolder(url,filename){
        var urlDownload="${_gate_url}/api/file/file/download?url="+url+"&filename="+filename;
        window.open(urlDownload);
    }
    /* 批量下载文件 */
    function downloadPackage(){
        if(dirArray.length!=0){
            parent.layer.msg("不支持文件夹下载！");
            return false;
        }
        if(ids.length==0){
            parent.layer.msg("请选择需要下载的文件！");
            return false;
        }else{
            var urlDownload="${_gate_url}/api/file/file/downloadpackage?ids[]="+ids;
            window.open(urlDownload);
        };
    };
    /* 多个文件分享方法 */
    function btnShareAuto(){
        var choeckbox_list = $("#folderList tbody tr td .checkbox_int");
        var fileName;
        $(choeckbox_list).each(function(index,element){
            var checked = $(element).prop("checked");
            if(checked){
                var fileNameElement = $(element).parent().parent().find(".folderName");
                fileName = $(fileNameElement).text();
            }
        });
        if(ids.length==0){
            parent.layer.msg("请选择需要分享的文件！");
            return false;
        }
        openSharePage(ids.join(","),fileName+"等");
    };
    /* 上传 */
    $(document).on("click", ".btn-upload", function () {
        parent.layer.open({
            id: 'uploadFile',
            type: 2,
            anim:6,
            title: '上传文件',
            maxmin: false, //开启最大化最小化按钮
            area: ['800px', '80%'],
            content: "${_cp}/file/otherUploadFile?folderId=-1&dataType=OTHER",
            btn: ['<span class="glyphicon glyphicon-ok"></span>上传','<span class="glyphicon glyphicon-remove"></span>取消'],
            yes: function (index, layero) {
                var html=layero.context;
                var Id=html.getElementById("uploadFile");
                var iframe=$(Id).find("iframe").attr("name");
                var rowData = parent[iframe].save(index);
            }
        });
    });
    /* 打开分享页面 */
    function openSharePage(id,fileName) {
        parent.layer.open({
            id: 'shareContainer',
            type: 2,
            anim:6,
            title: '分享文件（夹）：'+fileName,
            maxmin: false, //开启最大化最小化按钮
            area: ['600px', '300px'],
            content: "${_cp}/file/share?id="+id+"&folderName="+encodeURIComponent(fileName),
            btn: ['<span class="glyphicon glyphicon-ok"></span>创建连接','<span class="glyphicon glyphicon-remove"></span>关闭'],
            yes: function (index, layero) {
                var html=layero.context;
                var Id=html.getElementById("shareContainer");
                var iframe=$(Id).find("iframe").attr("name");
                var rowData = parent[iframe].save();
            }
        });
    }
    /*查询*/
    function getSearchData () {
        parm.data.submittedFileName = $("#submittedFileName").val();
    };
    $(".search-button").click(function(){
        var parmData = {
            pageNo:1,
            pageSize: parm.pageSize,
            data:{
                dataType: 'OTHER',
                folderId: null,
                submittedFileName:$("#submittedFileName").val()
			}
        };
        getList(parmData);
    });
    /*批量删除*/
    function deletePackage() {
        if(ids.length==0){
            parent.layer.msg("请选择需要删除的文件！");
            return false;
        }else{
            parent.layer.open({
                type: 1,
                title: '确认删除',
                maxmin: false, //开启最大化最小化按钮
                area: ['270px', '136px'],
                content: "确认删除所选中的文件？",
                btn: ['<span class="glyphicon glyphicon-ok"></span>确定','<span class="glyphicon glyphicon-remove"></span>取消'],
                yes: function (index, layero) {
                    ajaxHengyun({
                        type:"POST",
                        url: "${_gate_url}/api/file/file/removeList",
                        data:{ids:ids},
                        datatype:'json',
                        success:function(rows){
                            if (rows.data){
                                updateFolder();
                                ids=[];
                                parent.layer.closeAll();
                                parent.layer.msg("删除成功！",{icon: 6,time:1500})
                            }
                        }
                    });
                }
            });
        };
    }
</script>
</body>
</html>