<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hengyunsoft.platform.supervise.repository.dao.PowerSuperviseTypeMapper">
    <select id="getIdByParentId" parameterType="java.lang.Long" resultType="java.lang.Long">
        SELECT id FROM b_power_supervise_type WHERE parent_id = -1
    </select>
    <select id="getCode" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT code_ FROM b_power_supervise_type WHERE code_ = #{code,jdbcType=VARCHAR}
    </select>
</mapper>