<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hengyunsoft.platform.admin.repository.org.sdzzww.dao.SdzzwwEmpMapper">

    <resultMap id="EmpAndUserMap" type="com.hengyunsoft.platform.admin.entity.org.gxqpt.domain.GxqptEmpAndUserDO">
        <id column="id" jdbcType="VARCHAR" property="id" />
        <result column="name_" jdbcType="VARCHAR" property="name" />
        <result column="nickname" jdbcType="VARCHAR" property="nickname" />
        <result column="passwordmd5" jdbcType="VARCHAR" property="passwordmd5" />
        <result column="passwordsha" jdbcType="VARCHAR" property="passwordsha" />
        <result column="sex_" jdbcType="VARCHAR" property="sex" />
        <result column="birthday_" jdbcType="VARCHAR" property="birthday" />
        <result column="nation_" jdbcType="VARCHAR" property="nation" />
        <result column="photo" jdbcType="VARCHAR" property="photo" />
        <result column="mainorgid" jdbcType="VARCHAR" property="mainorgid" />
        <result column="mainorgname" jdbcType="VARCHAR" property="mainorgname" />
        <result column="maindeptid" jdbcType="VARCHAR" property="maindeptid" />
        <result column="maindeptname" jdbcType="VARCHAR" property="maindeptname" />
        <result column="mainduty" jdbcType="VARCHAR" property="mainduty" />
        <result column="maindutyname" jdbcType="VARCHAR" property="maindutyname" />
        <result column="mainpost" jdbcType="VARCHAR" property="mainpost" />
        <result column="mainpostname" jdbcType="VARCHAR" property="mainpostname" />
        <result column="officetel" jdbcType="VARCHAR" property="officetel" />
        <result column="mainmobile" jdbcType="VARCHAR" property="mainmobile" />
        <result column="submobile" jdbcType="VARCHAR" property="submobile" />
        <result column="isorgadmin" jdbcType="VARCHAR" property="isorgadmin" />
        <result column="isdelete" jdbcType="VARCHAR" property="isdelete" />
        <result column="isenable" jdbcType="VARCHAR" property="isenable" />
        <result column="usertype" jdbcType="VARCHAR" property="usertype" />
        <result column="status_" jdbcType="VARCHAR" property="status" />
        <result column="descrption" jdbcType="VARCHAR" property="descrption" />
        <result column="iscommittee" jdbcType="VARCHAR" property="iscommittee" />
        <result column="isdeputy" jdbcType="VARCHAR" property="isdeputy" />
        <result column="isheader" jdbcType="VARCHAR" property="isheader" />
        <result column="isleader" jdbcType="VARCHAR" property="isleader" />
        <result column="userduty" jdbcType="VARCHAR" property="userduty" />
        <result column="sortvalue" jdbcType="INTEGER" property="sortvalue" />
        <result column="dutylevel" jdbcType="VARCHAR" property="dutylevel" />
        <result column="otherid" jdbcType="VARCHAR" property="otherid" />
        <result column="create_user" jdbcType="VARCHAR" property="createUser" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="logid" jdbcType="VARCHAR" property="logid" />
        <result column="gxqpt_emp_id" jdbcType="BIGINT" property="gxqptEmpId" />
        <!--2018-11-21BUG修改新增-->
        <result column="identityId" jdbcType="VARCHAR" property="identityId"/>
    </resultMap>

    <!--查询单位、部门下的用户 2018-7-20 消息管理系统要求过滤手机为空的用户-->
    <select id="findIdentityEmpList" resultMap="EmpAndUserMap">
        SELECT t.* from (
        SELECT  emp.id,emp.isdelete,emp.name_, emp.dutylevel,emp.officetel,emp.mainmobile,emp.sortvalue,emp.isenable,emp.status_,
        t.org_id mainorgid,org.name_ as mainorgname,t.dept_id maindeptid,dept.name_ as maindeptname,emp.mainpost,post.name_ as mainpostname,emp.mainduty,duty.name_ as maindutyname,
        emp.submobile,  emp.isorgadmin,  emp.usertype, emp.nickname, emp.sex_,  emp.birthday_,  emp.nation_,  emp.photo,
        emp.descrption,  emp.iscommittee,  emp.isdeputy, t.isheader, t.isleader,  emp.userduty,  emp.gxqpt_emp_id,t.id as identityId
        from c_sdzzww_emp_identity t
        JOIN c_sdzzww_emp emp on t.user_id = emp.id
        LEFT JOIN c_sdzzww_org org on t.org_id = org.id
        LEFT JOIN c_sdzzww_department dept on t.dept_id = dept.id
        LEFT JOIN c_sdzzww_post post on t.post_id = post.id
        LEFT JOIN c_sdzzww_duties duty on t.duty_id = duty.id
        where t.isdelete = '0' and t.isenable = '1'
        UNION
        SELECT id, isdelete,name_, dutylevel,officetel,mainmobile,sortvalue, isenable, status_,
        mainorgid,mainorgname, maindeptid, maindeptname, mainpost, mainpostname,mainduty, maindutyname,
        submobile, isorgadmin, usertype,nickname,sex_, birthday_, nation_, photo,
        descrption, iscommittee, isdeputy, isheader, isleader, userduty, gxqpt_emp_id,'' as identityId from c_sdzzww_emp
        ) t where  1=1
        <if test="name !=null and name !=''">
            and t.name_ like #{name,typeHandler=fullLike}
        </if>

        <if test="nickname !=null and nickname !=''">
            and t.nickname like #{nickname,typeHandler=fullLike}
        </if>

        <if test="mainorgname !=null and mainorgname !=''">
            and  t.mainorgname like #{mainorgname,typeHandler=fullLike}
        </if>

        <if test="isdelete !=null and isdelete !=''">
            and  t.isdelete = #{isdelete}
        </if>

        <if test="isenable !=null and isenable !=''">
            and  t.isenable = #{isenable}
        </if>

        <if test="maindeptid !=null and maindeptid !=''">
            and  t.maindeptid = #{maindeptid}
        </if>

        <if test="mainorgid !=null and mainorgid !=''">
            and  t.mainorgid = #{mainorgid}
        </if>
        <if test="mainmobile !=null and mainmobile ==1">
            and  (t.mainmobile !='' or t.submobile !='')
        </if>
        order by t.sortvalue asc
    </select>

    <!--移动端查询-->
    <select id="findIdentityEmpList2app" resultMap="EmpAndUserMap">
        SELECT t.* from (
        SELECT  emp.id,emp.isdelete,emp.name_, emp.dutylevel,emp.officetel,emp.mainmobile,emp.sortvalue,emp.isenable,emp.status_,
        t.org_id mainorgid,org.name_ as mainorgname,t.dept_id maindeptid,dept.name_ as maindeptname,emp.mainpost,post.name_ as mainpostname,emp.mainduty,duty.name_ as maindutyname,
        emp.submobile,  emp.isorgadmin,  emp.usertype, emp.nickname, emp.sex_,  emp.birthday_,  emp.nation_,  emp.photo,
        emp.descrption,  emp.iscommittee,  emp.isdeputy,  emp.isheader,  emp.isleader,  emp.userduty,  emp.gxqpt_emp_id
        from c_sdzzww_emp_identity t
        JOIN c_sdzzww_emp emp on t.user_id = emp.id
        LEFT JOIN c_sdzzww_org org on t.org_id = org.id
        LEFT JOIN c_sdzzww_department dept on t.dept_id = dept.id
        LEFT JOIN c_sdzzww_post post on t.post_id = post.id
        LEFT JOIN c_sdzzww_duties duty on t.duty_id = duty.id
        where t.isdelete = '0' and t.isenable = '1'
        UNION
        SELECT id, isdelete,name_, dutylevel,officetel,mainmobile,sortvalue, isenable, status_,
        mainorgid,mainorgname, maindeptid, maindeptname, mainpost, mainpostname,mainduty, maindutyname,
        submobile, isorgadmin, usertype,nickname,sex_, birthday_, nation_, photo,
        descrption, iscommittee, isdeputy, isheader, isleader, userduty, gxqpt_emp_id from c_sdzzww_emp
        ) t where  1=1
        <if test="name !=null and name !=''">
            and (
            t.name_      like #{name,typeHandler=fullLike} or
            t.nickname   like #{name,typeHandler=fullLike} or
            t.officetel  like #{name,typeHandler=fullLike} or
            t.mainmobile like #{name,typeHandler=fullLike} or
            t.submobile  like #{name,typeHandler=fullLike}
            )
        </if>

        <if test="mainorgname !=null and mainorgname !=''">
            and  t.mainorgname like  #{mainorgname}
        </if>

        <if test="isdelete !=null and isdelete !=''">
            and  t.isdelete = #{isdelete}
        </if>

        <if test="isenable !=null and isenable !=''">
            and  t.isenable = #{isenable}
        </if>

        <if test="maindeptid !=null and maindeptid !=''">
            and  t.maindeptid = #{maindeptid}
        </if>

        <if test="mainorgid !=null and mainorgid !=''">
            and  t.mainorgid = #{mainorgid}
        </if>
        order by t.sortvalue asc
    </select>
    <select id="findEmpIdFroOperation" resultMap="EmpAndUserMap">
        SELECT t.* from (
        SELECT  emp.id,emp.isdelete,emp.name_, emp.dutylevel,emp.officetel,emp.mainmobile,emp.sortvalue,emp.isenable,emp.status_,
        t.org_id mainorgid,org.name_ as mainorgname,t.dept_id maindeptid,dept.name_ as maindeptname,emp.mainpost,post.name_ as mainpostname,emp.mainduty,duty.name_ as maindutyname,
        emp.submobile,  emp.isorgadmin,  emp.usertype, emp.nickname, emp.sex_,  emp.birthday_,  emp.nation_,  emp.photo,
        emp.descrption,  emp.iscommittee,  emp.isdeputy,  emp.isheader,  emp.isleader,  emp.userduty,  emp.gxqpt_emp_id
        from c_${obj.systemCode}_emp_identity t
        JOIN c_${obj.systemCode}_emp emp on t.user_id = emp.id
        LEFT JOIN c_${obj.systemCode}_org org on t.org_id = org.id
        LEFT JOIN c_${obj.systemCode}_department dept on t.dept_id = dept.id
        LEFT JOIN c_${obj.systemCode}_post post on t.post_id = post.id
        LEFT JOIN c_${obj.systemCode}_duties duty on t.duty_id = duty.id

        JOIN c_user ON c_user.id = emp.gxqpt_emp_id
        JOIN c_assign_role on c_assign_role.user_id = c_user.id
        JOIN c_role on c_assign_role.role_id = c_role.id
        AND c_role.app_id= #{obj.theAppId}
        AND c_role.code_!= #{obj.theCode}
        where t.isdelete = '0' and t.isenable = '1'
        UNION
        SELECT emp.id, emp.isdelete, emp.name_, emp.dutylevel, emp.officetel, emp.mainmobile, emp.sortvalue, emp.isenable, emp.status_,
        emp.mainorgid, emp.mainorgname, emp.maindeptid, emp.maindeptname, emp.mainpost, emp.mainpostname, emp.mainduty, emp.maindutyname,
        emp.submobile, emp.isorgadmin, emp.usertype, emp.nickname, emp.sex_, emp.birthday_, emp.nation_, emp.photo,
        emp.descrption, emp.iscommittee, emp.isdeputy, emp.isheader, emp.isleader, emp.userduty, emp.gxqpt_emp_id from c_${obj.systemCode}_emp emp
        JOIN c_user ON c_user.id = emp.gxqpt_emp_id
        JOIN c_assign_role on c_assign_role.user_id = c_user.id
        JOIN c_role on c_assign_role.role_id = c_role.id
        AND c_role.app_id= #{obj.theAppId}
        AND c_role.code_!= #{obj.theCode}
        ) t JOIN c_gxqpt_org ON t.mainorgid = c_gxqpt_org.id
        where  1=1
        AND  c_gxqpt_org.for_type = 'ot_ywdw'
        <if test="obj.name !=null and obj.name !=''">
            and t.name_ like #{obj.name,typeHandler=fullLike}
        </if>

        <if test="obj.nickname !=null and obj.nickname !=''">
            and t.nickname like #{obj.nickname,typeHandler=fullLike}
        </if>

        <if test="obj.mainorgname !=null and obj.mainorgname !=''">
            and  t.mainorgname like #{obj.mainorgname,typeHandler=fullLike}
        </if>

        <if test="obj.isdelete !=null and obj.isdelete !=''">
            and  t.isdelete = #{obj.isdelete}
        </if>

        <if test="obj.isenable !=null and obj.isenable !=''">
            and  t.isenable = #{obj.isenable}
        </if>

        <if test="obj.maindeptid !=null and obj.maindeptid !=''">
            and  t.maindeptid = #{obj.maindeptid}
        </if>

        <if test="obj.mainorgid !=null and obj.mainorgid !=''">
            and  t.mainorgid = #{obj.mainorgid}
        </if>
        <if test="obj.mainmobile !=null and obj.mainmobile ==1">
            and  (t.mainmobile !='' or t.submobile !='')
        </if>
        GROUP BY t.id
        order by t.sortvalue asc
    </select>
</mapper>