<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hengyunsoft.platform.msgs.repository.msgsmessagechannel.dao.MsgsMessageChannelMapper">
  <delete id="deleteByMessagIdAndTypeId"   parameterType="java.lang.Long"  >
    DELETE from  msgs_message_channel where
    message_id =  #{messageId} and  type_id in
    (select  type_id from  msgs_message_type where message_id =  #{messageId} )
  </delete>
  <select id="getByMsgId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" /> 
    from msgs_message_channel    
    where message_id = #{msgId}
  </select>
  <select id="getChannelsByIds" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" /> 
    from msgs_message_channel    
    where message_id in  
    <foreach close=")" collection="ids" index="index" item="item" open="(" separator=",">
        #{item}
    </foreach>
  </select>
</mapper>