<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hengyunsoft.platform.hardware.repository.apply.dao.ApplyResourceMapper">
    <delete id="deleteByApplyKeyId" parameterType="java.lang.Long">
        delete from b_hd_resource_apply
        where apply_keyid = #{applyKeyId,jdbcType=BIGINT}
    </delete>
</mapper>