@charset "utf-8";
/*  
  Document   : CSS样式初始化
  reset */
abbr,address,article,aside,audio,b,blockquote,body,canvas,caption,cite,code,dd,del,details,dfn,div,dl,dt,em,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,p,pre,q,samp,section,small,span,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,ul,var,video{margin:0;padding:0;border:0;outline:0;vertical-align:baseline;-webkit-text-size-adjust:none;font-weight: normal;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:700}
del{text-decoration:line-through;}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
hr{display:block;}
fieldset,img {border:0 none;}  /* 重置fieldset（表单分组）、图片的边框为0*/
nav,dl,ul,ol,menu,li {list-style:none}   /* 重置类表前导符号为onne,menu在HTML5中有效 */
blockquote, q {quotes: none}   /* 重置嵌套引用的引号类型 */
blockquote:before, blockquote:after,q:before, q:after {content:'';content:none}  /* 重置嵌套引用*/
input,select,textarea,button {vertical-align:middle}  /* 重置表单控件垂直居中*/
input{border: none;}
button {border:0 none;background-color:transparent;cursor:pointer}  /* 重置表单button按钮效果 */
html,body {height: 100%;}   /* 重置html,body高度  */
body,th,td,input,select,textarea,button {font-size:14px;font-family:"Microsoft YaHei";color:#666;vertical-align:middle;} /* 重置页面文字属性 */
a {color:#666;text-decoration:none}  /* 重置链接a标签 */
a:active, a:hover {text-decoration:none}   /* 重置链接a标签的鼠标滑动效果 */
address,caption,cite,code,dfn,em,var {font-style:normal;font-weight:normal}  /* 重置样式标签的样式 */
caption {display:none;}    /* 重置表格标题为隐藏 */
table {border-collapse:collapse;border-spacing:0;}    /* 重置table属性 */
img{vertical-align:top}  /* 图片在当前行内的垂直位置 */

/* 页面设置 */
/* 取消a标签点击后的虚线框 */
a {outline: none;}
a:active {star:expression(this.onFocus=this.blur());}

/* 浮动 */
.fl-l,.fl{float:left;}
.fl-r,.fr{float:right;}

/*清除浮动*/
.clear:before,.clearfix:before,.clear:after,.clearfix:after{content: '';display: block;clear: both;}
.pdding2{padding: 2px;}
.pl5{padding-left:5px}
.pr5{padding-right:5px}
.pt5{padding-top:5px}
.pb5{padding-bottom:5px}
.pl10{padding-left:10px}
.pr10{padding-right:10px}
.pt10{padding-top:10px}
.pt15{padding-top: 15px;}
.pb10{padding-bottom:10px}
.pl15{padding-left:15px}
.pb15{padding-bottom: 15px;}
.pr15{padding-right:15px}
.pl20{padding-left:20px}
.pr20{padding-right:20px}
.pt20{padding-top:20px}
.pb20{padding-bottom:20px}
.pt30{padding-top:30px}
.pb30{padding-bottom:30px}
.pl30{padding-left:30px}
.pr30{padding-right:30px}
.pr36{padding-right:36px}
.ml5{margin-left:5px}
.mr5{margin-right:5px}
.ml10{margin-left:10px}
.mr10{margin-right:10px}
.mt10{margin-top:10px}
.mt20{margin-top:20px}
.mb10{margin-bottom:10px}
.ml15{margin-left:15px}
.mr15{margin-right:15px}
.ml20{margin-left:20px}
.mr20{margin-right:20px}
.pl5em{padding-left:0.3125em}
.pr5em{padding-right:0.3125em}
.pt5em{padding-top:0.3125em}
.pb5em{padding-bottom:0.3125em}
.pr7em{padding-right:0.45em}
.pl10em{padding-left:0.625em}
.pr10em{padding-right:0.625em}
.pt10em{padding-top:0.625em}
.pb10em{padding-bottom:0.625em}
.pl15em{padding-left:0.9375em}
.pr15em{padding-right:0.9375em}
.pl20em{padding-left:1.25em}
.pr20em{padding-right:1.25em}
.text-left{text-align: left;}
.text-right{text-align: right;}
.text-center{text-align:center;}
.tablecell{display: table-cell;vertical-align: middle;text-align: center;}
.bodyWrapper{width: 100%;height: 100%;background: url(../images/bus_bj.jpg) no-repeat;background-size: 100% 100%;background-attachment: fixed;}


:after,:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;}
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;}
.tagstable{display: table;}
.tagstablecell{display: table-cell;vertical-align: middle;text-align: center;}

.line-big{margin-left:-10px;margin-right:-10px;}
.line-big .x1,.line-big .x10,.line-big .x11,.line-big .x12,.line-big .x2,.line-big .x3,.line-big .x4,.line-big .x5,.line-big .x6,.line-big .x7,.line-big .x8,.line-big .x9,.line-big .xb1,.line-big .xb10,.line-big .xb11,.line-big .xb12,.line-big .xb2,.line-big .xb3,.line-big .xb4,.line-big .xb5,.line-big .xb6,.line-big .xb7,.line-big .xb8,.line-big .xb9,.line-big .xl1,.line-big .xl10,.line-big .xl11,.line-big .xl12,.line-big .xl2,.line-big .xl3,.line-big .xl4,.line-big .xl5,.line-big .xl6,.line-big .xl7,.line-big .xl8,.line-big .xl9,.line-big .xm1,.line-big .xm10,.line-big .xm11,.line-big .xm12,.line-big .xm2,.line-big .xm3,.line-big .xm4,.line-big .xm5,.line-big .xm6,.line-big .xm7,.line-big .xm8,.line-big .xm9,.line-big .xs1,.line-big .xs10,.line-big .xs11,.line-big .xs12,.line-big .xs2,.line-big .xs3,.line-big .xs4,.line-big .xs5,.line-big .xs6,.line-big .xs7,.line-big .xs8,.line-big .xs9,.line-big .colx2-4{position:relative;display:block;/*padding-right:10px;padding-left:10px;*/height:100%;}

/****************** 检测窗口大小 ***********************/
@media (min-width:320px){.container{width:320px}
    .xl1,.xl10,.xl11,.xl12,.xl2,.xl3,.xl4,.xl5.xl6,.xl7,.xl8,.xl9{float:left}
    .xl1{width:8.33333333%}
    .xl2{width:16.66666667%}
    .xl3{width:25%}
    .xl4{width:33.33333333%}
    .xl5{width:41.66666667%}
    .xl6{width:50%}
    .xl7{width:58.33333333%}
    .xl8{width:66.66666667%}
    .xl9{width:75%}
    .xl10{width:83.33333333%}
    .xl11{width:91.66666667%}
    .xl12{width:100%}
    .xl0-left{left:0}
    .xl1-left{left:8.33333333%}
    .xl2-left{left:16.66666667%}
    .xl3-left{left:25%}
    .xl4-left{left:33.33333333%}
    .xl5-left{left:41.66666667%}
    .xl6-left{left:50%}
    .xl7-left{left:58.33333333%}
    .xl8-left{left:66.66666667%}
    .xl9-left{left:75%}
    .xl10-left{left:83.33333333%}
    .xl11-left{left:91.66666667%}
    .xl12-left{left:100%}
    .xl0-right{right:0}
    .xl1-right{right:8.33333333%}
    .xl2-right{right:16.66666667%}
    .xl3-right{right:25%}
    .xl4-right{right:33.33333333%}
    .xl5-right{right:41.66666667%}
    .xl6-right{right:50%}
    .xl7-right{right:58.33333333%}
    .xl8-right{right:66.66666667%}
    .xl9-right{right:75%}
    .xl10-right{right:83.33333333%}
    .xl11-right{right:91.66666667%}
    .xl12-right{right:100%}
    .xl0-move{margin-left:0}
    .xl1-move{margin-left:8.33333333%}
    .xl2-move{margin-left:16.66666667%}
    .xl3-move{margin-left:25%}
    .xl4-move{margin-left:33.33333333%}
    .xl5-move{margin-left:41.66666667%}
    .xl6-move{margin-left:50%}
    .xl7-move{margin-left:58.33333333%}
    .xl8-move{margin-left:66.66666667%}
    .xl9-move{margin-left:75%}
    .xl10-move{margin-left:83.33333333%}
    .xl11-move{margin-left:91.66666667%}
    .xl12-move{margin-left:100%}
}
@media (min-width:640px){.container{width:640px}
    .xs1,.xs10,.xs11,.xs12,.xs2,.xs3,.xs4,.xs5,.xs6,.xs7,.xs8,.xs9{float:left}
    .xs1{width:8.33333333%}
    .xs2{width:16.66666667%}
    .xs3{width:25%}
    .xs4{width:33.33333333%}
    .xs5{width:41.66666667%}
    .xs6{width:50%}
    .xs7{width:58.33333333%}
    .xs8{width:66.66666667%}
    .xs9{width:75%}
    .xs10{width:83.33333333%}
    .xs11{width:91.66666667%}
    .xs12{width:100%}
    .xs0-left{left:0}
    .xs1-left{left:8.33333333%}
    .xs2-left{left:16.66666667%}
    .xs3-left{left:25%}
    .xs4-left{left:33.33333333%}
    .xs5-left{left:41.66666667%}
    .xs6-left{left:50%}
    .xs7-left{left:58.33333333%}
    .xs8-left{left:66.66666667%}
    .xs9-left{left:75%}
    .xs10-left{left:83.33333333%}
    .xs11-left{left:91.66666667%}
    .xs12-left{left:100%}
    .xs0-right{right:0}
    .xs1-right{right:8.33333333%}
    .xs2-right{right:16.66666667%}
    .xs3-right{right:25%}
    .xs4-right{right:33.33333333%}
    .xs5-right{right:41.66666667%}
    .xs6-right{right:50%}
    .xs7-right{right:58.33333333%}
    .xs8-right{right:66.66666667%}
    .xs9-right{right:75%}
    .xs10-right{right:83.33333333%}
    .xs11-right{right:91.66666667%}
    .xs12-right{right:100%}
    .xs0-move{margin-left:0}
    .xs1-move{margin-left:8.33333333%}
    .xs2-move{margin-left:16.66666667%}
    .xs3-move{margin-left:25%}
    .xs4-move{margin-left:33.33333333%}
    .xs5-move{margin-left:41.66666667%}
    .xs6-move{margin-left:50%}
    .xs7-move{margin-left:58.33333333%}
    .xs8-move{margin-left:66.66666667%}
    .xs9-move{margin-left:75%}
    .xs10-move{margin-left:83.33333333%}
    .xs11-move{margin-left:91.66666667%}
    .xs12-move{margin-left:100%}
}
@media (min-width:960px){.container{width:960px}
    .xm1,.xm10,.xm11,.xm12,.xm2,.xm3,.xm4,.xm5,.xm6,.xm7,.xm8,.xm9{float:left}
    .xm1{width:8.33333333%}
    .xm2{width:16.66666667%}
    .xm3{width:25%}
    .xm4{width:33.33333333%}
    .xm5{width:41.66666667%}
    .xm6{width:50%}
    .xm7{width:58.33333333%}
    .xm8{width:66.66666667%}
    .xm9{width:75%}
    .xm10{width:83.33333333%}
    .xm11{width:91.66666667%}
    .xm12{width:100%}
    .xm0-left{left:0}
    .xm1-left{left:8.33333333%}
    .xm2-left{left:16.66666667%}
    .xm3-left{left:25%}
    .xm4-left{left:33.33333333%}
    .xm5-left{left:41.66666667%}
    .xm6-left{left:50%}
    .xm7-left{left:58.33333333%}
    .xm8-left{left:66.66666667%}
    .xm9-left{left:75%}
    .xm10-left{left:83.33333333%}
    .xm11-left{left:91.66666667%}
    .xm12-left{left:100%}
    .xm0-right{right:0}
    .xm1-right{right:8.33333333%}
    .xm2-right{right:16.66666667%}
    .xm3-right{right:25%}
    .xm4-right{right:33.33333333%}
    .xm5-right{right:41.66666667%}
    .xm6-right{right:50%}
    .xm7-right{right:58.33333333%}
    .xm8-right{right:66.66666667%}
    .xm9-right{right:75%}
    .xm10-right{right:83.33333333%}
    .xm11-right{right:91.66666667%}
    .xm12-right{right:100%}
    .xm0-move{margin-left:0}
    .xm1-move{margin-left:8.33333333%}
    .xm2-move{margin-left:16.66666667%}
    .xm3-move{margin-left:25%}
    .xm4-move{margin-left:33.33333333%}
    .xm5-move{margin-left:41.66666667%}
    .xm6-move{margin-left:50%}
    .xm7-move{margin-left:58.33333333%}
    .xm8-move{margin-left:66.66666667%}
    .xm9-move{margin-left:75%}
    .xm10-move{margin-left:83.33333333%}
    .xm11-move{margin-left:91.66666667%}
    .xm12-move{margin-left:100%}
}
@media (min-width:1240px){.container{width:1240px}
    .xb1,.xb10,.xb11,.xb12,.xb2,.xb3,.xb4,.xb5,.xb6,.xb7,.xb8,.xb9{float:left}
    .xb1{width:8.33333333%}
    .xb2{width:16.66666667%}
    .xb3{width:25%}
    .xb4{width:33.33333333%}
    .xb5{width:41.66666667%}
    .xb6{width:50%}
    .xb7{width:58.33333333%}
    .xb8{width:66.66666667%}
    .xb9{width:75%}
    .xb10{width:83.33333333%}
    .xb11{width:91.66666667%}
    .xb12{width:100%}
    .xb0-left{left:0}
    .xb1-left{left:8.33333333%}
    .xb2-left{left:16.66666667%}
    .xb3-left{left:25%}
    .xb4-left{left:33.33333333%}
    .xb5-left{left:41.66666667%}
    .xb6-left{left:50%}
    .xb7-left{left:58.33333333%}
    .xb8-left{left:66.66666667%}
    .xb9-left{left:75%}
    .xb10-left{left:83.33333333%}
    .xb11-left{left:91.66666667%}
    .xb12-left{left:100%}
    .xb0-right{right:0}
    .xb1-right{right:8.33333333%}
    .xb2-right{right:16.66666667%}
    .xb3-right{right:25%}
    .xb4-right{right:33.33333333%}
    .xb5-right{right:41.66666667%}
    .xb6-right{right:50%}
    .xb7-right{right:58.33333333%}
    .xb8-right{right:66.66666667%}
    .xb9-right{right:75%}
    .xb10-right{right:83.33333333%}
    .xb11-right{right:91.66666667%}
    .xb12-right{right:100%}
    .xb0-move{margin-left:0}
    .xb1-move{margin-left:8.33333333%}
    .xb2-move{margin-left:16.66666667%}
    .xb3-move{margin-left:25%}
    .xb4-move{margin-left:33.33333333%}
    .xb5-move{margin-left:41.66666667%}
    .xb6-move{margin-left:50%}
    .xb7-move{margin-left:58.33333333%}
    .xb8-move{margin-left:66.66666667%}
    .xb9-move{margin-left:75%}
    .xb10-move{margin-left:83.33333333%}
    .xb11-move{margin-left:91.66666667%}
    .xb12-move{margin-left:100%}
}

.colx2-4,.colx12-7{float: left;}
.colx2-4{width:20%;}
.colx12-7{width: 14.285%;}
.perH5{height: 5%;}
.perH10{height: 10%;}
.perH15{height: 15%;}
.perH20{height: 20%;}
.perH25{height: 25%;}
.perH30{height: 30%;}
.perH33{height: 33.33333%;}
.perH35{height: 35%;}
.perH40{height: 40%;}
.perH45{height: 45%;}
.perH50{height: 50%;}
.perH100{height: 100%;}
.perW20{width: 20%;}
.perW30{width: 30%;}
.perW40{width: 40%;}
.border-1px{border:0.0625em solid #009cff;}
.ec_wrap{width:100%;height:100%}

/********* 清除浮动 *********/
.line-big:after{content:" ";display:block;clear:both;visibility:hidden;overflow:hidden}



/* 页头 */
.headerNavMenu{overflow:visible;position:relative;font-size:1em;height:8.333333em;color:#fff;background-image:url(../images/shouye_head_bg.jpg);background-size:100% 100%;background-repeat:no-repeat no-repeat;}
.headerbg{position:absolute;top:50%;height: 4.166666em;width: 100%;z-index:0;background-image:url(../images/top_bj.png);background-size:100% 100%;background-repeat:no-repeat no-repeat}
@media (min-device-width:1364px){
    .titleLogo{position: absolute;top: -2.0em;width: 24em;left: 50%;margin-left: -12em;}
}
@media (min-device-width:1918px){
    .titleLogo{position: absolute;top:-2.8em;width: 30em;left: 50%;margin-left: -15em;}
}
.titleLogo .img{width: 100%;}
.top_info{height:50px;}
.top_info .top-search{padding:7px 0;}
.top_info input{width:14.28571em;height:36px;background:rgba(7,115,249,.3);border-radius:21px;border:none;font-family:"微软雅黑";font-size:14px;padding:0 15px;color:#fff;float:left;}
.top_info .head{margin-right:20px;padding-top:5px;}
.head img{width:40px;height:40px;float:left}
.head span{font-size:12px;color:#0c8ea4;line-height:40px;float:left;padding-left:10px}
.top_info .exit{margin-right:25px;padding-top:5px;}
.exit img{width:30px;height:30px;float:left;margin-top:5px}
.exit a{font-size:12px;color:#0c8ea4;line-height:40px;float:left;padding-left:10px}

/* 中间 */
@media (min-device-width:1364px){
    .middleContent{position: relative;height:700px;/* top:8.333333em;bottom:2.666666em;left: 0;right: 0; */}
    .topWrapper{position: absolute;top:0;bottom:13em;;left: 20px;right: 20px;}
    .bottomWrapper{position: absolute;bottom:0;left: 20px;right: 20px;height: 13em;;}
}
@media (min-device-width:1918px){
    .middleContent{position: relative;height:980px;/* top:8.333333em;bottom:2.666666em;left: 0;right: 0; */}
    .topWrapper{position: absolute;top:0;bottom:13em;;left: 20px;right: 20px;}
    .bottomWrapper{position: absolute;bottom:0;left: 20px;right: 20px;height: 13em;;}
}

/* 底部 */
.footer{width:100%;height:2.666666em;background:url(../images/bottom.png) no-repeat;background-size:100% 100%;/*position:absolute;bottom:0;*/}
.footer span{font-size:14px;color:#13f0f8;line-height:32px;display:block;text-align:center}


/* 内容 */
#sidebar_left,#sidebar_mid,#sidebar_right{height:100%}
.sidebar_ptb{padding:0.625em 0;height:100%;}
.cnt-title .titlebar{height:1.5em;line-height:.9em;position:relative;z-index:9;font-size:1.25em;color:#fff;font-family:"Microsoft YaHei";font-weight:bold;}
.ecWrap{width:100%;height:100%;position:relative;z-index:19}
.t-obc,.cnt-obc{position:absolute;top:0;left:0;bottom:0;right:0;z-index:-1;}
.tcnt-bg-color{background-color:#fff;}


/* 左边排版 */
/* 1366 */
@media (min-device-width:1364px){
    .slidebar_left_box{float:left;width:100%;height: 50%;padding:0.625em 0;}
    .slidebar_left_cnt{width:100%;height:100%;padding:2.3em 0 0;box-sizing:border-box;position:relative;}
    .slidebar_left_cnt.s-l-c1{background-image:url(../images/mid_one_c.png);background-size:100% 100%;background-repeat:no-repeat no-repeat;}
    .slidebar_left_cnt.s-l-c2{background-image:url(../images/mid_two_c.png);background-size:100% 100%;background-repeat:no-repeat no-repeat;}
    .slidebar_left_cnt .cnt-title{height:2.3em;margin:-2.3em 0 0;line-height:2.3em;position:relative;padding-left: 30px;}
    .slidebar_left_cnt .title-cnt{font-size: 16px;color: #13f0f8;line-height: 32px;margin: 0;}
    .slidebar_left_cnt .title-cnt .img{float: left;margin-right: 10px;margin-top:2px;width: 1.75em;}
    .slidebar_left_cnt .cnt-content{height:100%;position:relative}
    .s-l-b1 .slb1{height:25%}
    .s-l-b1 .slb1-ec-cnt{width:100%;height:100%;position:relative;float:left;width:100%;}
    .s-l-b1 .slb1 .slb1-tt{position:absolute;bottom:7px;left:0;width:100%;height:20px;line-height:20px;text-align:center;font-size:14px;color:#666}
    .slidebar_left_cnt .t-obc{}
    .slidebar_left_cnt .cnt-obc{}
    .one_box.up{padding:0;}
    .one_box.down{padding-top:10px;}
    .one_box li.item{float:left;padding-left:2.2em;}
    .one_box li.item .pking{display:block;width:80px;height:80px;border-radius:50%;border:2px solid #0c6cb5;text-align:center;padding:0.5em;}
    .one_box li p{font-size:24px;color:#42f842;}
    .one_box li span{display:block;font-size:12px;color:#fff;letter-spacing:1px}
    .one_box li p.color_2{color:#f8d442}
    .one_box li p.color_3{color:#ff5636}
    .two_box{padding:5px 4em 10px 14px;;height: 100%;}
    .two_box li{float:left;width:50%;height: 33.333333%;}
    .two_box li .pking{display: block;height: 100%;width:100%;padding:10px;}
    .two_box li .pking>.pdking{height: 100%;background:rgba(7,115,249,.3);}
    .two_box li img{margin:0 3px;float:left;width: 3.0em;}
    .two_box li span{font-size:1.0em;color:#13f0f8;display:block;float:left;letter-spacing:1px;height: 100%;vertical-align: middle;display: table;}
}

/* 1920 */
@media (min-device-width:1918px){
    .slidebar_left_box{float:left;width:100%;height: 50%;padding:0.625em 0;}
    .slidebar_left_cnt{width:100%;height:100%;padding:2.3em 0 0;box-sizing:border-box;position:relative;}
    .slidebar_left_cnt.s-l-c1{background-image:url(../images/mid_one_c.png);background-size:100% 100%;background-repeat:no-repeat no-repeat;}
    .slidebar_left_cnt.s-l-c2{background-image:url(../images/mid_two_c.png);background-size:100% 100%;background-repeat:no-repeat no-repeat;}
    .slidebar_left_cnt .cnt-title{height:2.3em;margin:-2.3em 0 0;line-height:2.3em;position:relative;padding-left: 30px;}
    .slidebar_left_cnt .title-cnt{font-size: 16px;color: #13f0f8;line-height: 32px;margin: 0;}
    .slidebar_left_cnt .title-cnt .img{float: left;margin-right: 10px;margin-top:2px;width: 1.75em;}
    .slidebar_left_cnt .cnt-content{height:100%;position:relative}
    .s-l-b1 .slb1{height:25%}
    .s-l-b1 .slb1-ec-cnt{width:100%;height:100%;position:relative;float:left;width:100%;}
    .s-l-b1 .slb1 .slb1-tt{position:absolute;bottom:7px;left:0;width:100%;height:20px;line-height:20px;text-align:center;font-size:14px;color:#666}
    .slidebar_left_cnt .t-obc{}
    .slidebar_left_cnt .cnt-obc{}
    .one_box.up{padding-top:40px;}
    .one_box.down{padding-top:20px;}
    .one_box li.item{float:left;padding-left:2.5em;}
    .one_box li.item .pking{display:block;width:120px;height:120px;padding:1.4em;border-radius:50%;border:2px solid #0c6cb5;text-align:center;}
    .one_box li p{font-size:24px;color:#42f842;}
    .one_box li span{display:block;font-size:16px;color:#fff;letter-spacing:1px;margin-top: 20px;}
    .one_box li p.color_2{color:#f8d442}
    .one_box li p.color_3{color:#ff5636}
    .two_box{padding:28px 7em 10px 30px;height: 100%;}
    .two_box li{float:left;width:50%;height: 33.333333%;}
    .two_box li .pking{display: block;height: 100%;width:100%;padding:10px;}
    .two_box li .pking>.pdking{height: 100%;background:rgba(7,115,249,.3);}
    .two_box li img{margin:0 3px;float:left;width: 3.0em;}
    .two_box li span{font-size: 16px;color:#13f0f8;display:block;float:left;letter-spacing:1px;height: 100%;vertical-align: middle;display: table;}
}


/* 中间排版 */
@media (min-device-width:1364px){
    .sidebar_mid_p{padding:0.625em 5px;height:100%}
    .slidebar_mid_box{float:left;width:100%;padding:0.625em 0}
    .slidebar_mid_cnt{width:100%;height:100%;padding:1.875em 0 0;box-sizing:border-box;position: relative;}
    .slidebar_mid_cnt .cnt-content{height: 100%;position: relative;}
    .slidebar_mid_cnt.s-m-c1{padding:0}
    #sidebar_mid .s-m-b1{height:100%}
    .flMidbgline{position: absolute;top:50%;left: -56px;background-image:url(../images/access_both_left.png);background-size:100% 100%;background-repeat:no-repeat no-repeat;width:40px;height: 240px;margin-top:-120px;}
    .frMidbgline{position: absolute;top:50%;right: -56px;background-image:url(../images/access_both_right.png);background-size:100% 100%;background-repeat:no-repeat no-repeat;width:40px;height: 240px;margin-top:-120px;}
    .access_main{width:10em;height:10em;position:absolute;top:50%;left:50%;margin-top:-5em;margin-left:-5em;}
    .rotation.img{position: absolute;top: 0;left: 0;width: 10em;height: 10em;}
    .access_main .txtCenter{font-size:1.833333em;color:#13f0f8;line-height:5.454545em;display:block;text-align:center;height:5.454545em;}
    .rotatemenu{padding:0;margin:0;position:absolute;top:-80px;left:-80px;border:150px solid transparent;cursor:default;border-radius:50%}
    .rotatemenu li{position:absolute;top:-14em;left:-14em;transform-origin:14em 14em}
    .rotatemenu li .item{width: 7em;height: 7em;background-image:url(../images/app_bj1.png);background-repeat: no-repeat;background-size: 100% 100%;cursor: pointer;}
    .app .imgWz{display:block;text-align: center;padding-top:1em;}
    .app .imgWz img{display: inline-block;width: 4em;}
    .app .ttname{font-size:14px;color:#fff;line-height: 1.0em;display:block;text-align:center;height: 1.0em;}
    .app .ttname:hover{color:#13F0F8}
    .app_1{transform:rotate(60deg)}
    .app_1 .item{transform:rotate(-60deg)}
    .app_2{transform:rotate(90deg)}
    .app_2 .item{transform:rotate(-90deg)}
    .app_3{transform:rotate(120deg)}
    .app_3 .item{transform:rotate(-120deg)}
    .app_4{transform:rotate(150deg)}
    .app_4 .item{transform:rotate(-150deg)}
    .app_5{transform:rotate(180deg)}
    .app_5 .item{transform:rotate(-180deg)}
    .app_6{transform:rotate(210deg)}
    .app_6 .item{transform:rotate(-210deg)}
    .app_7{transform:rotate(240deg)}
    .app_7 .item{transform:rotate(-240deg)}
    .app_8{transform:rotate(270deg)}
    .app_8 .item{transform:rotate(-270deg)}
    .app_9{transform:rotate(300deg)}
    .app_9 .item{transform:rotate(-300deg)}
    .app_10{transform:rotate(330deg)}
    .app_10 .item{transform:rotate(-330deg)}
    .app_11{transform:rotate(360deg)}
    .app_11 .item{transform:rotate(-360deg)}
    .app_12{transform:rotate(390deg)}
    .app_12 .item{transform:rotate(-390deg)}
}

@media (min-device-width:1918px){
    .sidebar_mid_p{padding:0.625em 5px;height:100%}
    .slidebar_mid_box{float:left;width:100%;padding:0.625em 0}
    .slidebar_mid_cnt{width:100%;height:100%;padding:1.875em 0 0;box-sizing:border-box;position: relative;}
    .slidebar_mid_cnt .cnt-content{height: 100%;position: relative;}
    .slidebar_mid_cnt.s-m-c1{padding:0}
    #sidebar_mid .s-m-b1{height:100%}
    .flMidbgline{position: absolute;top:50%;left: -56px;background-image:url(../images/access_both_left.png);background-size:100% 100%;background-repeat:no-repeat no-repeat;width:40px;height: 240px;margin-top:-120px;}
    .frMidbgline{position: absolute;top:50%;right: -56px;background-image:url(../images/access_both_right.png);background-size:100% 100%;background-repeat:no-repeat no-repeat;width:40px;height: 240px;margin-top:-120px;}
    .access_main{width:14em;height:14em;position:absolute;top:50%;left:50%;margin-top:-7em;margin-left:-7em;}
    .rotation.img{position: absolute;top: 0;left: 0;width: 14em;height: 14em;}
    .access_main .txtCenter{font-size:2em;color:#13f0f8;line-height:7.0em;display:block;text-align:center;height:7.0em;}
    .rotatemenu{padding:0;margin:0;position:absolute;top:-55px;left:-55px;border:150px solid transparent;cursor:default;border-radius:50%}
    .rotatemenu li{position:absolute;top:-18em;left:-18em;transform-origin:18em 18em;}
    .rotatemenu li .item{width: 9em;height: 9em;background-image:url(../images/app_bj1.png);background-repeat: no-repeat;background-size: 100% 100%;cursor: pointer;}
    .app .imgWz{display:block;text-align: center;padding-top:2em;}
    .app .imgWz img{display: inline-block;width: 4em;}
    .app .ttname{font-size:16px;color:#fff;line-height: 1.875em;display:block;text-align:center;height: 1.875em;}
    .app .ttname:hover{color: #13F0F8;}
    .app_1{transform:rotate(60deg)}
    .app_1 .item{transform:rotate(-60deg)}
    .app_2{transform:rotate(90deg)}
    .app_2 .item{transform:rotate(-90deg)}
    .app_3{transform:rotate(120deg)}
    .app_3 .item{transform:rotate(-120deg)}
    .app_4{transform:rotate(150deg)}
    .app_4 .item{transform:rotate(-150deg)}
    .app_5{transform:rotate(180deg)}
    .app_5 .item{transform:rotate(-180deg)}
    .app_6{transform:rotate(210deg)}
    .app_6 .item{transform:rotate(-210deg)}
    .app_7{transform:rotate(240deg)}
    .app_7 .item{transform:rotate(-240deg)}
    .app_8{transform:rotate(270deg)}
    .app_8 .item{transform:rotate(-270deg)}
    .app_9{transform:rotate(300deg)}
    .app_9 .item{transform:rotate(-300deg)}
    .app_10{transform:rotate(330deg)}
    .app_10 .item{transform:rotate(-330deg)}
    .app_11{transform:rotate(360deg)}
    .app_11 .item{transform:rotate(-360deg)}
    .app_12{transform:rotate(390deg)}
    .app_12 .item{transform:rotate(-390deg)}
}

.rotation.img {
    -webkit-transform: rotate(360deg);
    -moz-animation: rotation 3s linear infinite;
    -webkit-animation: rotation 3s linear infinite;
    -o-animation: rotation 3s linear infinite;
    -ms-animation: rotation 3s linear infinite;
    animation: rotation 3s linear infinite;
}
@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}
@-moz-keyframes rotation {
    from {
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}
@-ms-keyframes rotation {
    from {
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}
@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}

/*.access_main .rotatemenu{transition: all 5s linear;
    animation: hovertreespin 10s linear 0s infinite;}
@keyframes hovertreespin {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg);
    }
}
.access_main .rotatemenu:hover {
    -webkit-animation-play-state:paused;
}*/
/*.app_1:hover,.app_2:hover,.app_3:hover,.app_4:hover,.app_5:hover,.app_6:hover,.app_7:hover,.app_8:hover,.app_9:hover,.app_10:hover,.app_11:hover,.app_12:hover {
    -webkit-animation-play-state:paused;
}*/

/*.app_1 {
    -webkit-animation-name: rotate_app_1;
    -webkit-animation-duration: 3000s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode:forwards;
}
@-webkit-keyframes rotate_app_1 {
    from {
        transform:rotate(60deg)
    }
    to {
        transform:rotate(36000deg)
    }
}
.app_2 {
    -webkit-animation-name: rotate_app_2;
    -webkit-animation-duration: 3000s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode:forwards;
}
@-webkit-keyframes rotate_app_2 {
    from {
        transform:rotate(90deg)
    }
    to {
        transform:rotate(36000deg)
    }
}
.app_3 {
    -webkit-animation-name: rotate_app_3;
    -webkit-animation-duration: 3000s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode:forwards;
}
@-webkit-keyframes rotate_app_3 {
    from {
        transform:rotate(120deg)
    }
    to {
        transform:rotate(36000deg)
    }
}
.app_4 {
    -webkit-animation-name: rotate_app_4;
    -webkit-animation-duration: 3000s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode:forwards;
}
@-webkit-keyframes rotate_app_4 {
    from {
        transform:rotate(150deg)
    }
    to {
        transform:rotate(36000deg)
    }
}
.app_5 {
    -webkit-animation-name: rotate_app_5;
    -webkit-animation-duration: 3000s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode:forwards;
}
@-webkit-keyframes rotate_app_5 {
    from {
        transform:rotate(180deg)
    }
    to {
        transform:rotate(36000deg)
    }
}
.app_6 {
    -webkit-animation-name: rotate_app_6;
    -webkit-animation-duration: 3000s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode:forwards;
}
@-webkit-keyframes rotate_app_6 {
    from {
        transform:rotate(210deg)
    }
    to {
        transform:rotate(36000deg)
    }
}
.app_7 {
    -webkit-animation-name: rotate_app_7;
    -webkit-animation-duration: 3000s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode:forwards;
}
@-webkit-keyframes rotate_app_7 {
    from {
        transform:rotate(240deg)
    }
    to {
        transform:rotate(36000deg)
    }
}
.app_8 {
    -webkit-animation-name: rotate_app_8;
    -webkit-animation-duration: 3000s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode:forwards;
}
@-webkit-keyframes rotate_app_8 {
    from {
        transform:rotate(270deg)
    }
    to {
        transform:rotate(36000deg)
    }
}
.app_9 {
    -webkit-animation-name: rotate_app_9;
    -webkit-animation-duration: 3000s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode:forwards;
}
@-webkit-keyframes rotate_app_9 {
    from {
        transform:rotate(300deg)
    }
    to {
        transform:rotate(36000deg)
    }
}
.app_10 {
    -webkit-animation-name: rotate_app_10;
    -webkit-animation-duration: 3000s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode:forwards;
}
@-webkit-keyframes rotate_app_10 {
    from {
        transform:rotate(330deg)
    }
    to {
        transform:rotate(36000deg)
    }
}
.app_11 {
    -webkit-animation-name: rotate_app_11;
    -webkit-animation-duration: 3000s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode:forwards;
}
@-webkit-keyframes rotate_app_11 {
    from {
        transform:rotate(360deg)
    }
    to {
        transform:rotate(36000deg)
    }
}
.app_12 {
    -webkit-animation-name: rotate_app_12;
    -webkit-animation-duration: 3000s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode:forwards;
}
@-webkit-keyframes rotate_app_12 {
    from {
        transform:rotate(390deg)
    }
    to {
        transform:rotate(36000deg)
    }
}*/

/* 右边排版 */
@media (min-device-width:1364px){
    .slidebar_right_box{float:left;width:100%;height:50%;padding:0.625em 0;}
    .slidebar_right_cnt{width:100%;height:100%;padding:2.3em 0 0;box-sizing:border-box;position: relative;}
    .slidebar_right_cnt.s-r-c1{background-image:url(../images/mid_three_c.png);background-size:100% 100%;background-repeat:no-repeat no-repeat;}
    .slidebar_right_cnt.s-r-c2{background-image:url(../images/mid_four_c.png);background-size:100% 100%;background-repeat:no-repeat no-repeat;}
    .slidebar_right_cnt .cnt-title{height:2.3em;margin:-2.3em 0 0;line-height:2.3em;position:relative;}
    .slidebar_right_cnt .title-cnt{font-size: 16px;color: #13f0f8;line-height: 32px;margin: 0;}
    .slidebar_right_cnt .more{font-size: 16px;color: #13f0f8;font-weight: 700;
        line-height: 32px;float: right;position: absolute;top:0;right: 40px;}
    .slidebar_right_cnt .title-cnt .img{float: left;margin-right: 10px;margin-top:2px;width: 1.75em;}
    .slidebar_right_cnt .cnt-content{width:100%;height:100%;position:relative}
    .slidebar_right_cnt .t-obc{}
    .slidebar_right_cnt .cnt-obc{}
    .three_box.up{padding: 15px 20px 12px 30px;}
    .three_box.down{padding: 0px 20px 12px 54px;}
    .three_box li.item{position: relative;float:left;padding-left:2.2em;margin: 10px 0;}  .three_box li.add-icon{float:left;margin: 25px 30px;width: 60px;height:60px;cursor:pointer;background: url(../images/main/add.png) no-repeat left top /100% 100%;}
    .three_box li:nth-child(4){margin-left: 40px;}
    .three_box li.item .pking{display:block;width:80px;height:80px;border-radius:14px;text-align:center;padding:0.5em; background-image:url(../images/kj_mod_bj.png);background-size: 100% 100%;background-repeat: no-repeat; }
    .three_box li p{font-size:24px;color:#42f842;}
    .three_box li span{display:block;width:100%;font-size:12px;color:#fff;letter-spacing:1px;margin-top:10px;}
    .three_box li p.color_2{color:#f8d442}
    .three_box li p.color_3{color:#ff5636}
    .four_box{padding: 4px 30px 10px 4em;height: 100%;}
    .four_box li{float:left;width:50%;height: 33.333333%;}
    .four_box li .pking{display: block;height: 100%;width:100%;padding:10px;}
    .four_box li .pking>.pdking{height: 100%;background:rgba(7,115,249,.3);display: block;}
    .four_box li img{margin:6px 10px;float:left;width: 2.2em;}
    .four_box li span{font-size:1.0em;color:#13f0f8;display:block;float:left;letter-spacing:1px;height: 100%;vertical-align: middle;display: table;}
}
@media (min-device-width:1918px){
    .slidebar_right_box{float:left;width:100%;height:50%;padding:0.625em 0;}
    .slidebar_right_cnt{width:100%;height:100%;padding:2.3em 0 0;box-sizing:border-box;position: relative;}
    .slidebar_right_cnt.s-r-c1{background-image:url(../images/mid_three_c.png);background-size:100% 100%;background-repeat:no-repeat no-repeat;}
    .slidebar_right_cnt.s-r-c2{background-image:url(../images/mid_four_c.png);background-size:100% 100%;background-repeat:no-repeat no-repeat;}
    .slidebar_right_cnt .cnt-title{height:2.3em;margin:-2.3em 0 0;line-height:2.3em;position:relative;}
    .slidebar_right_cnt .title-cnt{font-size: 16px;color: #13f0f8;line-height: 32px;margin: 0;}
    .slidebar_right_cnt .more{font-size: 16px;color: #13f0f8;font-weight: 700;
        line-height: 32px;float: right;position: absolute;top:0;right: 40px;}
    .slidebar_right_cnt .title-cnt .img{float: left;margin-right: 10px;margin-top:2px;width: 1.75em;}
    .slidebar_right_cnt .cnt-content{width:100%;height:100%;position:relative;overflow: hidden;}
    .slidebar_right_cnt .t-obc{}
    .slidebar_right_cnt .cnt-obc{}
    .three_box.up{padding:50px 20px 12px 54px;}
    .three_box.down{padding:10px 20px 12px 100px;}
    .three_box li.item{position: relative;float:left;padding-left:2.5em;margin: 7px 0;}
    .three_box li.add-icon{float:left;margin: 25px 30px;width: 60px;height:60px;cursor:pointer;background: url(../images/main/add.png) no-repeat left top /100% 100%;}
    .three_box li:nth-child(4){margin-left: 40px;}
    .three_box li.add-icon:nth-child(4){margin-left: 60px;}
    .three_box li.item .pking{display:block;width:120px;height:120px;padding:1.4em;border-radius:14px;text-align:center; background-image:url(../images/kj_mod_bj.png);background-size: 100% 100%;background-repeat: no-repeat;}
    .three_box li p{font-size:24px;color:#42f842;}
    .three_box li span{display:block;width:100%;font-size:16px;color:#fff;letter-spacing:1px;margin-top: 20px;}
    .three_box li p.color_2{color:#f8d442}
    .three_box li p.color_3{color:#ff5636}
    .four_box{padding:28px 30px 10px 7em;height: 100%;}
    .four_box li{float:left;width:50%;height: 33.333333%;}
    .four_box li .pking{display: block;height: 100%;width:100%;padding:10px;}
    .four_box li .pking>.pdking{height: 100%;background:rgba(7,115,249,.3);display: block;}
    .four_box li img{margin:6px 10px;float:left;width: 2.2em;}
    .four_box li span{font-size: 16px;color:#13f0f8;display:block;float:left;letter-spacing:1px;height: 100%;vertical-align: middle;display: table;}
}

/*支撑应用*/
@media (min-device-width:1364px){
    .sup_box{width:100%;height:182px;margin:0 auto;margin-top:-5px}
    .sup_box_left{width:50px;height:182px;background:url(../images/sup_bj_left.png) no-repeat;float:left}
    .sup_box_mid{width:calc(100% - 100px);height:182px;float:left;background:url(../images/sup_bj_mid.png) repeat-x}
    .sup_box_right{width:50px;height:182px;float:right;background:url(../images/sup_bj_right.png) no-repeat}
    .sup_title{width:100%;margin-top:22px}
    .sup_title span{font-size:16px;color:#13f0f8;line-height:30px}
    .sup_title .under{width:94%;height:4px;background:#13f0f8;background-image:-webkit-linear-gradient(left,rgba(49,243,255,1) 0,rgba(0,45,112,1) 80%,rgba(0,34,85,1) 100%);background-image:-moz-linear-gradient(left center ,rgba(49,243,255,1) 0,rgba(0,45,112,1) 80%,rgba(0,34,85,1) 100%);background-image:-ms-linear-gradient(left ,rgba(49,243,255,1) 0,rgba(0,45,112,1) 80%,rgba(0,34,85,1) 100%);background-image:linear-gradient(left center ,rgba(49,243,255,1) 0,rgba(0,45,112,1) 80%,rgba(0,34,85,1) 100%);filter:progid: DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#275093', EndColorStr='#22FFFFFF')}
    .sup_cont{padding:20px 0}
    .sup_cont li{margin-right:158px;margin-bottom:0px;float:left;width:10em;}
    .sup_cont li img{width:11px;height:12px;float:left;margin-top:9px;margin-right:5px}
    .sup_cont span{font-size:16px;color:#076afc;line-height:30px}
    .sup_cont li:nth-child(5){margin-right:0}
}


@media (min-device-width:1918px){
    .sup_box{width:100%;height:182px;margin:0 auto;margin-top:-5px}
    .sup_box_left{width:50px;height:182px;background:url(../images/sup_bj_left.png) no-repeat;float:left}
    .sup_box_mid{width:calc(100% - 100px);height:182px;float:left;background:url(../images/sup_bj_mid.png) repeat-x}
    .sup_box_right{width:50px;height:182px;float:right;background:url(../images/sup_bj_right.png) no-repeat}
    .sup_title{width:100%;margin-top:22px}
    .sup_title span{font-size:16px;color:#13f0f8;line-height:30px}
    .sup_title .under{width:94%;height:4px;background:#13f0f8;background-image:-webkit-linear-gradient(left,rgba(49,243,255,1) 0,rgba(0,45,112,1) 80%,rgba(0,34,85,1) 100%);background-image:-moz-linear-gradient(left center ,rgba(49,243,255,1) 0,rgba(0,45,112,1) 80%,rgba(0,34,85,1) 100%);background-image:-ms-linear-gradient(left ,rgba(49,243,255,1) 0,rgba(0,45,112,1) 80%,rgba(0,34,85,1) 100%);background-image:linear-gradient(left center ,rgba(49,243,255,1) 0,rgba(0,45,112,1) 80%,rgba(0,34,85,1) 100%);filter:progid: DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#275093', EndColorStr='#22FFFFFF')}
    .sup_cont{padding:12px 0}
    .sup_cont li{margin-right:21px;margin-bottom:0px;float:left;width: 10em;}
    .sup_cont li img{width:11px;height:12px;float:left;margin-top:9px;margin-right:5px}
    .sup_cont span{font-size:16px;color:#076afc;line-height:30px}
    .sup_cont li:nth-child(5){margin-right:0}
}


