.py_big_con{
	width: 100%;
	height: 100%;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	padding: 0px 30px;
	padding: 0px 1%;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
}
.big_head{
	height:280px;
}
.py_bug_con{
	width:100%;
	height: calc(100% - 290px);
}
.py_big_footer{
	width: 100%;
	height: 150px;
	background: #0a0e2f;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	padding-top: 8px;
}
.py_big_head{
	/*width: 604px;*/
	height: 43px;
	/*background: url(../images/title.png) no-repeat;*/
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	position: absolute;
	top: -41%;
	left: 50%;
	/*margin-left: -302px;*/
	background: url(../v2/img/xuanz_01.png) no-repeat;
	width: 560px;
	margin-left: -280px;
}
.date_{
	 width: 100%;
	display: inline-block;
	padding: 5px 10px;
}

.date{
	color: #00cbd6;
	float: right;
	font-size: 16px;
	margin-top: 11px;
}
.nav{
	position: relative;
	width: 100%;
	height: 60px;
	margin-top: 47px;
}
.py_ul_l {
	float: left;
	width: 100%;
	height: 100%;
}
.py_ul_l li{
	float: left;

}
.py_ul_l li:nth-child(5){
	margin-right:38%;
}
.py_ul_l li a{
	display: inline-block;
	width: 160px;
	height: 60px;
	line-height:60px;
	text-align: center;
	color: #b4e1f7;
	text-align: center;
	font-size: 18px;
}
.nav_bg{
	background: url("../img/nav_bg.png") no-repeat;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
}


.py_ul_l li:nth-child(2),
.py_ul_l li:nth-child(4),
.py_ul_l li:nth-child(7),
.py_ul_l li:nth-child(9){
	width: 45px;
	height: 60px;
	background: url("../img/nav_border.png") no-repeat;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
}
.location{
	width: 100%;
	margin-top: 45px;
}

.location_l{
	float: left;
	width: 19%;
}
.jd{

	width: 205px;
	display: inline-block;
	vertical-align: middle;
}
.jd .icon_pic{
	width: 10px;
	height: 28px;
	margin-right: 10px;
	float: left;
	background: url("../img/tiao_bj.png") repeat-x;
}
.jd .icon_pic_top{
	background: url("../img/tiao_top.png") repeat-x;
}
.location_r{
    width: 39%;
    height: 43px;
    margin: auto;
}
.location_r ul{
	width: 100%;
	height: 100%;
}
.icon_number{
	color: #0bcae3;
	font-size: 20px;
	font-weight: bold;
	 height: 60px;
    line-height: 60px;
    float: left;
}
.icon_number_1{
	color: #f85567;
}
.icon_number_2{
	color: #17ed17;
}
.icon_number_3{
	color: #0df1f9;
}
.location ul li>span{
	float: left;
    color: #b4e1f7;
    display: inline-block;
    font-size: 14px;
    vertical-align: middle;
    padding: 5px 10px 5px 5px;
}
.py_big_footer_con{
	width: 100%;
	height: 96%;
}
.py_big_footer  h2{
	color: #fff;
	font-size: 18px;
	font-weight: normal;
}


.py_big_content{
    width:100%;
	height: calc(100% - 0px);
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
	/*background: #f00;*/
}
.py_big_content>div{
    float: left;
}
.py_big_l{
    width: 44.5%;
    margin-right: 40px;
    margin-right: 0.5%;
}

.py_big_l>div{
       width: 100%;
    height: 63.5%;
    background-size: 100% 100%;
}
.py_big_l>div.hddx{
	    height: 36%;
    margin-top: 1.5%;
}
.py_big_l>div:hover{
	cursor:pointer;
}

.py_big_l>div>h2{
	    width: 240px;
    margin-left:44px;
    height: 33px;
    line-height: 33px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    background: url(../img/kuang_top.png) no-repeat;
    background-size: 100% 100%;
    margin-bottom: -5px;
}
.py_big_l_pub{
    width: 100%;
    height:92%;
    overflow: hidden;
	padding: 5px;
	background: url(../img/kuang_bottom.png) no-repeat;
	 background-size: 100% 100%;
}
.hddx .py_big_l_pub{
	    background: none;
    height: 100%;
    padding: 0;
}
.hddx>.py_big_l_pub>div{
	width:50%;
	height:100%;
}
.py_big_bottom_l{
	width: 49% !important;
	margin-right: 1%;
	float: left;
}
.py_big_bottom_r{
	width: 49% !important;
	margin-right: 1%;
	float: right;
}
.hddx>div>.py_bottom_l_con{
	width:100%;
	height:86%;
	background: url(../img/kuang_bottom.png) no-repeat;
    background-size: 100% 100%;	
}
.hddx>div>h2{
	width: 190px;
    margin-left: 20px;
    height: 33px;
    line-height: 33px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    background: url(../img/kuang_top.png) no-repeat;
    background-size: 100% 100%;
    margin-bottom: -3px;
}
/*中间*/
.py_big_m{
    width: 55%;
    height: 100%;
    margin-right: 40px;
    margin-right: 0%;
}
.map_m{
    width: 100%;
    height: 61%;
	/*background: url(../img/middle_top.png) no-repeat;*/
	-webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}

.map_m h2{
	width: 168px;
    margin-left:53px;
    height: 32px;
    line-height: 32px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    background: url(../img/kuang_top.png) no-repeat;
    margin-bottom: -5px;
}
.map_m >div{
	width: 100%;
    height: 96%;
    overflow: hidden;
    padding: 5px;
  
    background-size: 100% 100%;
}
.map_m_con{
	  background: url("../img/kuang_bottom.png") no-repeat;
}
.ssjh_h2{
    height: 40px;
    line-height: 40px;
    text-align: left;
    color: #57cee4;
    font-size: 23px;
    margin-bottom:10px;
}
.cle_1{
	width:15px;
	height:15px;
	background:#b2e20b;
	position:absolute;
	top:29%;
	left:29%;
	border-radius:50%;
	z-index:100;
}
.cle_1::after,.cle_1::before{
			content: '';
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background-color: #b2e20b;
			border-radius: 50%;
}
		.cle_1::before {
			animation: scale 2s infinite linear;
		}

		.cle_1::after {
			animation: scale 2s 1s infinite linear;
		}

		@keyframes scale_1 {
			0% {
				
			}

			100% {
				transform: scale(3);
				opacity: 0;
			}
		}
		.cle{
		width:15px;
		height:15px;
		background:#b2e20b;
		position:absolute;
		top:71%;
		left:29%;
		border-radius:50%;
		z-index:100;
	}
.cle::after,.cle::before{
			content: '';
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background-color: #b2e20b;
			border-radius: 50%;
}
		.cle::before {
			animation: scale 2s infinite linear;
		}

		.cle::after {
			animation: scale 2s 1s infinite linear;
		}

		@keyframes scale {
			0% {
				
			}

			100% {
				transform: scale(3);
				opacity: 0;
			}
		}
		
				.cle_2{
		width:15px;
		height:15px;
		background:#b2e20b;
		position:absolute;
		top:47%;
		left:49%;
		border-radius:50%;
		z-index:100;
	}
.cle_2::after,.cle_2::before{
			content: '';
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background-color: #b2e20b;
			border-radius: 50%;
}
		.cle_2::before {
			animation: scale_2 2s infinite linear;
		}

		.cle_2::after {
			animation: scale_2 2s 1s infinite linear;
		}

		@keyframes scale_2 {
			0% {
				
			}

			100% {
				transform: scale(3);
				opacity: 0;
			}
		}
					.cle_3{
		    width: 15px;
    height: 15px;
    background: #b2e20b;
    position: absolute;
    top: 10%;
    left: 34%;
    border-radius: 50%;
    z-index: 100;
	}
.cle_3::after,.cle_3::before{
			content: '';
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background-color: #b2e20b;
			border-radius: 50%;
}
		.cle_3::before {
			animation: scale_3 2s infinite linear;
		}

		.cle_3::after {
			animation: scale_3 2s 1s infinite linear;
		}

		@keyframes scale_3 {
			0% {
				
			}

			100% {
				transform: scale(3);
				opacity: 0;
			}
		}
					.cle_4{
		    width: 15px;
    height: 15px;
    background: #b2e20b;
    position: absolute;
    top: 50%;
    left: 25%;
    border-radius: 50%;
    z-index: 100;
	}
.cle_4::after,.cle_4::before{
			content: '';
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background-color: #b2e20b;
			border-radius: 50%;
}
		.cle_4::before {
			animation: scale_4 2s infinite linear;
		}

		.cle_4::after {
			animation: scale_4 2s 1s infinite linear;
		}

		@keyframes scale_4 {
			0% {
				
			}

			100% {
				transform: scale(3);
				opacity: 0;
			}
		}
					.cle_5{
		width:15px;
		height:15px;
		background:#b2e20b;
		position:absolute;
		top:45%;
		left:25%;
		border-radius:50%;
		z-index:100;
	}
.cle_5::after,.cle_5::before{
			content: '';
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background-color: #b2e20b;
			border-radius: 50%;
}
		.cle_5::before {
			animation: scale_5 2s infinite linear;
		}

		.cle_5::after {
			animation: scale_5 2s 1s infinite linear;
		}

		@keyframes scale_5 {
			0% {
				
			}

			100% {
				transform: scale(3);
				opacity: 0;
			}
		}
					.cle_6{
		    width: 15px;
    height: 15px;
    background: #b2e20b;
    position: absolute;
    top: 25%;
    left: 65%;
    border-radius: 50%;
    z-index: 100;
	}
.cle_6::after,.cle_6::before{
			content: '';
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background-color: #b2e20b;
			border-radius: 50%;
}
		.cle_6::before {
			animation: scale_6 2s infinite linear;
		}

		.cle_6::after {
			animation: scale_6 2s 1s infinite linear;
		}

		@keyframes scale_6 {
			0% {
				
			}

			100% {
				transform: scale(3);
				opacity: 0;
			}
		}

.py_big_r{
	width: 26%;
	height: 100%;
}
.py_big_r>div{
    width: 100%;
    height: 49%;
   /* background: url(../img/pydp_bg_con.png) no-repeat;*/
    background-size: 100% 100%;
}
.py_big_r>div:nth-child(1){
	margin-bottom: 2%;
}
.py_big_r>div>h2{
	    width: 144px;
    margin-left: 26px;
    height: 33px;
    line-height: 33px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    background: url(../img/kuang_top.png) no-repeat;
    background-size: 100% 100%;
    margin-bottom: -3px;
}
.py_big_r_pub{
    width: 100%;
    height:92%;
    overflow: hidden;
	padding: 5px;
	background: url(../img/kuang_bottom.png) no-repeat;
	background-size: 100% 100%;
}

.list_table{
     width: 100%;
    height: 38%;
   /* border: 1px solid #ff3a45;*/
    overflow: hidden;
    margin-top: 2%;
}
.list_table h2{
	width: 168px;
    margin-left: 52px;
    height: 32px;
    line-height: 32px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    background: url(../img/kuang_top.png) no-repeat;
    background-size: 100% 100%;
    margin-bottom: -2px;
}
/*.table_con{
    width: 100%;
    height: 100%;
}*/
.list_table_con{
	width: 100%;
    height: 85%;
    padding: 5px;
    background: url(../img/kuang_bottom.png) no-repeat;
    background-size: 100% 100%;
}
@keyframes runing{
    0%{transform:translateY(0px)}

    100%{transform:translateY(-140px)}
}
.list_table thead{
    width: 100%;
}
.list_table tbody{
    width: 100%;
}
.list_table th{
    height: 45px;
    line-height: 45px;
    color: #fff;
    font-size: 18px;
    font-weight: normal;
    font-family: "microsoft yahei";
}
.list_table td{
    height:40px;
    line-height: 40px;
    color: #25d2f5;
}
.list_table th,td{
    text-align: center;
    /* border: 1px solid #000;*/
    -o-text-overflow:ellipsis;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;
}
.sjjh_con_head a span{
	display: inline-block;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border:1px solid #00ceca;
	color:#fff;
	padding: 2px 5px;
	margin-left: 2%;
	margin-right: 2%;
	font-size: 12px;
}
.ul{
	width: 282px;
	height: 259px;
	/*background: #ff0;*/
	margin: auto;
	position: relative;
}
/*�����ƶ�����*/
