<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>已发布详情</title>
    <meta http-equiv="Expires" content="0"/>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link type="text/css" rel="stylesheet" href="${_static}/js/lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="${_static}/js/lib/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="${_static}/css/sms/common.css"/>
    <link rel="stylesheet" type="text/css" href="${_static}/css/sms/zstyle.css"/>
</head>
<body>
<div class="zworkspace-body">
    <div class="clear rleasebox">
        <div class="rlease-left fl">
            <!---再次编辑还未写-->
            <div class="btnbox" >
                <span class="spancurrent"  id="edit">再次编辑</span>


            </div>
            <ul>
                <li>
                    <span>短信主题：</span>
                    <span class="qudao">
                            <input class="qudaoinput" id="topic" type="text">
                    </span>
                </li>
                <li>
                    <span>发送账号：</span>
                    <span class="qudao">
                            <input class="qudaoinput" id="contactPerson" type="text">
                    </span>
                </li>
                <li>
                    <span>发送人：</span>
                    <span class="qudao">
                            <input class="qudaoinput" id="sender" type="text">
                    </span>
                </li>
                <li>
                    <span>接收人：</span>
                    <span class="qudao">
                            <input class="qudaoinput" id="receiver" type="text">
                    </span>
                </li>
                <li>
                    <!--成功与否的个数暂时写死-->
                    <span>发送成功3个，未成功0个</span>
                    <span>发送时间：</span>
                    <span class="qudao">
                            <input class="qudaoinput" id="sendtime" type="text">
                    </span>
                </li>
                <li>
                    <span>短信正文：</span>
                    <span class="qudao">
                            <textarea class="qudaoinput" id="txt" type="text"/>
                    </span>
                </li>
            </ul>
        </div>




    </div>

</div>




<script>
    var urlPost ="${_gate_url}";//跳转后台
    var _cp = "${_cp}";//跳转前台
    var sta = 0;//0发布1修改
    var id = null;//新增id空，由于js与修改公用，要进行区分
</script>
<script type="text/javascript" src="${_static}/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="${_static}/js/jquery.combobox.js"></script>
<script type="text/javascript" src="${_static}/js/hengyun/hengyun_ajax.js"></script>

<script type="text/javascript" src="${_static}/js/lib/layer/layer.js" charset="utf-8"></script>
<script type="text/javascript" src="${_static}/js/lib/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src="${_static}/js/lib/webuploader/webuploader.min.js"></script>
<script type="text/javascript" src="${_static}/js/lib/jquery/jquery.cookie.js" charset="utf-8"></script>
<script type="text/javascript" src="${_static}/js/lib/chosen/chosen.jquery.min.js"></script>
<script type="text/javascript" src="${_static}/js/lib/serializeJSON/jquery.serializejson.min.js"></script>
<script type="text/javascript" src="${_static}/js/lib/ValidateForm/Validform_v5.3.2_min.js"></script>
<script type="text/javascript" src="${_static}/js/lib/ValidateForm/Valid.js"></script>
<script type="text/javascript" src="${_static}/js/lib/webuploader/webuploader.min.js"></script>

<script>
    $(function(){




    })

</script>

<input type="hidden" id="attachmentId"/>
<input type="hidden" id="attachmentUrl"/>
</body>
</html>