@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?7eargq');
  src:  url('fonts/icomoon.eot?7eargq#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?7eargq') format('truetype'),
    url('fonts/icomoon.woff?7eargq') format('woff'),
    url('fonts/icomoon.svg?7eargq#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon1:before {
  content: "\e60e";
}
.icon-yduipaibanleixingliebiao:before {
  content: "\e695";
}
.icon-home1:before {
  content: "\e60b";
}
.icon-gaojingyichuli:before {
  content: "\e60c";
}
.icon-sousuojieguo:before {
  content: "\e63c";
}
.icon-yujingxinxi:before {
  content: "\e60d";
}
.icon-icon:before {
  content: "\e614";
}
.icon-jichuxinxi:before {
  content: "\e630";
}
.icon-weibiaoti5:before {
  content: "\e609";
}
.icon-gonggujieguo:before {
  content: "\e61f";
}
.icon-fuwu1:before {
  content: "\e60a";
}
.icon-fenxi1:before {
  content: "\e668";
}
.icon-zaixianjianguan:before {
  content: "\e618";
}
.icon-yichuli:before {
  content: "\e6c7";
}
.icon-yingyong1:before {
  content: "\e768";
}
.icon-tubiaolunkuo_huaban:before {
  content: "\e606";
}
.icon-wangluoanquanshebeijiankong:before {
  content: "\e61a";
}
.icon-fuwuqi:before {
  content: "\e6a4";
}
.icon-jisuanqi:before {
  content: "\e613";
}
.icon-cunchu:before {
  content: "\e603";
}
.icon-Group-:before {
  content: "\e6ac";
}
.icon-shujukuPercona:before {
  content: "\e9d7";
}
.icon-ziyuan:before {
  content: "\e607";
}
.icon-fuwuqizhuji:before {
  content: "\e65c";
}
.icon-wendangdocument76:before {
  content: "\e721";
}
.icon-home:before {
  content: "\e605";
}
.icon-ketangpeixun:before {
  content: "\e703";
}
.icon-yijin03-zaixianzixun:before {
  content: "\e608";
}
.icon-gaojingdaichuli:before {
  content: "\e602";
}
.icon-guzhangleixing:before {
  content: "\e600";
}
.icon-yunweirenyuan:before {
  content: "\e677";
}
.icon-fenxi:before {
  content: "\e648";
}
.icon-fuwu:before {
  content: "\eb36";
}
.icon-yingyong:before {
  content: "\e626";
}
.icon-fabu:before {
  content: "\e604";
}
.icon-7:before {
  content: "\e61d";
}
.icon-8:before {
  content: "\e6a3";
}
.icon-9:before {
  content: "\e611";
}
.icon-10:before {
  content: "\e711";
}
.icon-M-xiaoxi:before {
  content: "\e61b";
}
.icon-ybb_index:before {
  content: "\e601";
}
.icon-2:before {
  content: "\e62e";
}
.icon-uniE900:before {
  content: "\e900";
}
.icon-1:before {
  content: "\e901";
}
.icon-3:before {
  content: "\e902";
}
.icon-4:before {
  content: "\e903";
}
.icon-5:before {
  content: "\e904";
}
.icon-6 .path1:before {
  content: "\e905";
  color: rgb(0, 0, 0);
}
.icon-6 .path2:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-6 .path3:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(232, 71, 49);
}
.icon-6 .path4:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
