.settingTle{
    line-height: 36px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
}
.iptTle,.iptUnit,.radioTle{
    font-size: 14px;
    color: #333;
    font-weight: normal;
    margin-bottom: 30px;
}
.iptTle{
    margin-left: 2em;
}
