<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hengyunsoft.platform.sms.repository.template.dao.TemplateMapper">
  <resultMap id="BaseResultMap" type="com.hengyunsoft.platform.sms.entity.template.po.SmsTemplate">
    <!--
    @mbggenerated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="channel_id" jdbcType="VARCHAR" property="channelId" />
    <result column="app_id" jdbcType="VARCHAR" property="appId" />
    <result column="app_name" jdbcType="VARCHAR" property="appName" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="template_param" jdbcType="VARCHAR" property="templateParam" />
    <result column="template_code" jdbcType="VARCHAR" property="templateCode" />
    <result column="sign_name" jdbcType="VARCHAR" property="signName" />
    <result column="template_describe" jdbcType="VARCHAR" property="templateDescribe" />
    <result column="create_user" jdbcType="BIGINT" property="createUser" />
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--
    @mbggenerated
    -->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--
    @mbggenerated
    -->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--
    @mbggenerated
    -->
    id, channel_id, app_id, app_name, name, type, content, create_time, update_time, 
    template_param, template_code, sign_name, template_describe, create_user, create_user_name, update_user
  </sql>
  <select id="selectByExample" parameterType="com.hengyunsoft.platform.sms.repository.template.example.TemplateExample" resultMap="BaseResultMap">
    <!--
    @mbggenerated
    -->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from msgs_sms_template
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="groupByClause != null">
      group by ${groupByClause}
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limitValue != null">
      limit ${limitValue}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--
    @mbggenerated
    -->
    select 
    <include refid="Base_Column_List" />
    from msgs_sms_template
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectEntity" parameterType="com.hengyunsoft.platform.sms.repository.template.example.TemplateExample" resultMap="BaseResultMap">
    <!--
    @mbggenerated
    -->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from msgs_sms_template
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="groupByClause != null">
      group by ${groupByClause}
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    limit 0,1 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--
    @mbggenerated
    -->
    delete from msgs_sms_template
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.hengyunsoft.platform.sms.repository.template.example.TemplateExample">
    <!--
    @mbggenerated
    -->
    delete from msgs_sms_template
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <update id="removeByExample" parameterType="com.hengyunsoft.platform.sms.entity.template.po.SmsTemplate">
    <!--
    @mbggenerated
    -->
    update msgs_sms_template
    set is_delete = 1 

    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </update>
  <update id="removeByPrimaryKey" parameterType="com.hengyunsoft.platform.sms.entity.template.po.SmsTemplate">
    <!--
    @mbggenerated
    -->
    update msgs_sms_template
    set is_delete = 1 

     where 1=1 and id = #{id,jdbcType=BIGINT}
  </update>
  <insert id="insert" parameterType="com.hengyunsoft.platform.sms.entity.template.po.SmsTemplate">
    <!--
    @mbggenerated
    -->
    insert into msgs_sms_template (id, channel_id, app_id, 
      app_name, name, type, 
      content, create_time, update_time, 
      template_param, template_code, sign_name, 
      template_describe, create_user, create_user_name, update_user
      )
    values (#{id,jdbcType=BIGINT}, #{channelId,jdbcType=VARCHAR}, #{appId,jdbcType=VARCHAR}, 
      #{appName,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{content,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{templateParam,jdbcType=VARCHAR}, #{templateCode,jdbcType=VARCHAR}, #{signName,jdbcType=VARCHAR}, 
      #{templateDescribe,jdbcType=VARCHAR}, #{createUser,jdbcType=BIGINT}, #{createUserName,jdbcType=VARCHAR}, #{updateUser,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="batchInsert" parameterType="java.util.List">
    <!--
    @mbggenerated
    -->
    insert into msgs_sms_template (id, channel_id, app_id, app_name, name, type, content, create_time, update_time, template_param, template_code, sign_name, template_describe, create_user, create_user_name, update_user ) values 
    <foreach collection="list" index="index" item="item" separator=",">
      (#{item.id,jdbcType=BIGINT}, #{item.channelId,jdbcType=VARCHAR}, #{item.appId,jdbcType=VARCHAR}, 
        #{item.appName,jdbcType=VARCHAR}, #{item.name,jdbcType=VARCHAR}, #{item.type,jdbcType=VARCHAR}, 
        #{item.content,jdbcType=VARCHAR}, #{item.createTime,jdbcType=TIMESTAMP}, #{item.updateTime,jdbcType=TIMESTAMP}, 
        #{item.templateParam,jdbcType=VARCHAR}, #{item.templateCode,jdbcType=VARCHAR}, 
        #{item.signName,jdbcType=VARCHAR}, #{item.templateDescribe,jdbcType=VARCHAR}, #{item.createUser,jdbcType=BIGINT}, 
        #{item.createUserName,jdbcType=VARCHAR}, #{item.updateUser,jdbcType=VARCHAR})
    </foreach>
  </insert>
  <insert id="insertSelective" parameterType="com.hengyunsoft.platform.sms.entity.template.po.SmsTemplate">
    <!--
    @mbggenerated
    -->
    insert into msgs_sms_template
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="channelId != null">
        channel_id,
      </if>
      <if test="appId != null">
        app_id,
      </if>
      <if test="appName != null">
        app_name,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="templateParam != null">
        template_param,
      </if>
      <if test="templateCode != null">
        template_code,
      </if>
      <if test="signName != null">
        sign_name,
      </if>
      <if test="templateDescribe != null">
        template_describe,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="createUserName != null">
        create_user_name,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="channelId != null">
        #{channelId,jdbcType=VARCHAR},
      </if>
      <if test="appId != null">
        #{appId,jdbcType=VARCHAR},
      </if>
      <if test="appName != null">
        #{appName,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="templateParam != null">
        #{templateParam,jdbcType=VARCHAR},
      </if>
      <if test="templateCode != null">
        #{templateCode,jdbcType=VARCHAR},
      </if>
      <if test="signName != null">
        #{signName,jdbcType=VARCHAR},
      </if>
      <if test="templateDescribe != null">
        #{templateDescribe,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=BIGINT},
      </if>      
      <if test="createUserName != null">
        #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hengyunsoft.platform.sms.repository.template.example.TemplateExample" resultType="java.lang.Integer">
    <!--
    @mbggenerated
    -->
    select count(*) from msgs_sms_template
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--
    @mbggenerated
    -->
    update msgs_sms_template
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.channelId != null">
        channel_id = #{record.channelId,jdbcType=VARCHAR},
      </if>
      <if test="record.appId != null">
        app_id = #{record.appId,jdbcType=VARCHAR},
      </if>
      <if test="record.appName != null">
        app_name = #{record.appName,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null">
        type = #{record.type,jdbcType=VARCHAR},
      </if>
      <if test="record.content != null">
        content = #{record.content,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.templateParam != null">
        template_param = #{record.templateParam,jdbcType=VARCHAR},
      </if>
      <if test="record.templateCode != null">
        template_code = #{record.templateCode,jdbcType=VARCHAR},
      </if>
      <if test="record.signName != null">
        sign_name = #{record.signName,jdbcType=VARCHAR},
      </if>
      <if test="record.templateDescribe != null">
        template_describe = #{record.templateDescribe,jdbcType=VARCHAR},
      </if>
      <if test="record.createUser != null">
        create_user = #{record.createUser,jdbcType=BIGINT},
      </if>      
      <if test="record.createUserName != null">
        create_user_name = #{record.createUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.updateUser != null">
        update_user = #{record.updateUser,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--
    @mbggenerated
    -->
    update msgs_sms_template
    set id = #{record.id,jdbcType=BIGINT},
      channel_id = #{record.channelId,jdbcType=VARCHAR},
      app_id = #{record.appId,jdbcType=VARCHAR},
      app_name = #{record.appName,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=VARCHAR},
      content = #{record.content,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      template_param = #{record.templateParam,jdbcType=VARCHAR},
      template_code = #{record.templateCode,jdbcType=VARCHAR},
      sign_name = #{record.signName,jdbcType=VARCHAR},
      template_describe = #{record.templateDescribe,jdbcType=VARCHAR},
      create_user = #{record.createUser,jdbcType=BIGINT},
      create_user_name = #{record.createUserName,jdbcType=VARCHAR},
      update_user = #{record.updateUser,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hengyunsoft.platform.sms.entity.template.po.SmsTemplate">
    <!--
    @mbggenerated
    -->
    update msgs_sms_template
    <set>
      <if test="channelId != null">
        channel_id = #{channelId,jdbcType=VARCHAR},
      </if>
      <if test="appId != null">
        app_id = #{appId,jdbcType=VARCHAR},
      </if>
      <if test="appName != null">
        app_name = #{appName,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="templateParam != null">
        template_param = #{templateParam,jdbcType=VARCHAR},
      </if>
      <if test="templateCode != null">
        template_code = #{templateCode,jdbcType=VARCHAR},
      </if>
      <if test="signName != null">
        sign_name = #{signName,jdbcType=VARCHAR},
      </if>
      <if test="templateDescribe != null">
        template_describe = #{templateDescribe,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=BIGINT},
      </if>      
      <if test="createUser != null">
        create_user_name = #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hengyunsoft.platform.sms.entity.template.po.SmsTemplate">
    <!--
    @mbggenerated
    -->
    update msgs_sms_template
    set channel_id = #{channelId,jdbcType=VARCHAR},
      app_id = #{appId,jdbcType=VARCHAR},
      app_name = #{appName,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      template_param = #{templateParam,jdbcType=VARCHAR},
      template_code = #{templateCode,jdbcType=VARCHAR},
      sign_name = #{signName,jdbcType=VARCHAR},
      template_describe = #{templateDescribe,jdbcType=VARCHAR},
      create_user = #{createUser,jdbcType=BIGINT},
      create_user_name = #{createUserName,jdbcType=VARCHAR},
      update_user = #{updateUser,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <resultMap id="appMap" type="com.hengyunsoft.platform.sms.dto.AppCountResultDTO">
  		<result column="appName" jdbcType="VARCHAR" property="appName" />
  		<result column="count" jdbcType="INTEGER" property="count" />
  </resultMap>
  <resultMap id="senderMap" type="com.hengyunsoft.platform.sms.dto.PersonalCountResultDTO">
  		<result column="sender" jdbcType="VARCHAR" property="sender" />
  		<result column="count" jdbcType="INTEGER" property="count" />
  </resultMap>
  <select id="getAppTemplateCreate" resultMap="appMap">
		select app_name as appName,count(id) as count
		from msgs_sms_template where 1=1
	  <if test="startTime != null">
        and create_time &gt; #{startTime}
      </if>
	  <if test="endTime != null">
        and create_time &lt; #{endTime}
      </if>
		group by app_id,app_name order by count desc limit 6
  </select>
  <select id="getPersonalTemplateCreate" resultMap="senderMap">
		select create_user as sender,count(id) as count
		from msgs_sms_template where 1=1
	  <if test="startTime != null">
        and create_time &gt; #{startTime}
      </if>
	  <if test="endTime != null">
        and create_time &lt; #{endTime}
      </if>
		group by create_user order by count desc limit 6
  </select>
  <resultMap id="templateMap" type="com.hengyunsoft.platform.sms.dto.TemplateDTO">
  		<result column="id" jdbcType="BIGINT" property="id" />
  		<result column="name" jdbcType="VARCHAR" property="name" />
  		<result column="template_param" jdbcType="VARCHAR" property="param" />
  </resultMap>
  <select id="getTemplateSByChannelId" parameterType="java.lang.Long" resultMap="templateMap">
		select id,name,template_param
		from msgs_sms_template where channel_id = #{channelId,jdbcType=BIGINT}
  </select>
  <resultMap id="templateListMap" type="com.hengyunsoft.platform.sms.entity.template.dos.SmsTemplateListDO">
  		<result column="id" jdbcType="BIGINT" property="id" />
  		<result column="name" jdbcType="VARCHAR" property="name" />
  		<result column="channel_name" jdbcType="VARCHAR" property="channelName" />
  		<result column="template_code" jdbcType="VARCHAR" property="templateCode" />
  		<result column="template_describe" jdbcType="VARCHAR" property="templateDescribe" />
  		<result column="create_user_name" jdbcType="VARCHAR" property="createUserName" />  		
  		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <select id="getSmsTemplateList" parameterType="com.hengyunsoft.platform.sms.entity.template.dos.QuerySmsTemplateDO" resultMap="templateListMap">
		select st.id,st.name,mc.name as channel_name,st.template_code,st.template_describe,st.create_user_name,st.create_time
		from msgs_sms_template st 
		left join msgs_channel mc on st.channel_id = mc.id
		where 1=1
	   <if test="querySmsTemplateDTO.userId != null and querySmsTemplateDTO.userId != ''">
         and st.create_user = #{querySmsTemplateDTO.userId}
       </if>
       <if test="querySmsTemplateDTO.channelId != null and querySmsTemplateDTO.channelId != ''">
         and st.channel_id = #{querySmsTemplateDTO.channelId}
       </if>
       <if test="querySmsTemplateDTO.name != null and querySmsTemplateDTO.name != ''">
         and st.name like #{querySmsTemplateDTO.name,typeHandler=fullLike}
       </if>
       <if test="querySmsTemplateDTO.templateCode != null and querySmsTemplateDTO.templateCode != ''">
         and st.template_code like #{querySmsTemplateDTO.templateCode,typeHandler=fullLike}
       </if>
       <if test="querySmsTemplateDTO.startTime != null and querySmsTemplateDTO.startTime != ''">
         and st.create_time &gt; #{querySmsTemplateDTO.startTime}
       </if>
       <if test="querySmsTemplateDTO.endTime != null and querySmsTemplateDTO.endTime != ''">
         and st.create_time &lt; #{querySmsTemplateDTO.endTime}
       </if>
        order by st.create_time desc
  </select>
</mapper>