<!DOCTYPE>
<html>

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>大屏展示</title>
		<link rel="stylesheet" href="${_static}/v2/platform_bg/nui/css/nui.css" />
		<link rel="stylesheet" href="${_static}/v2/platform_bg/css/index.css" />
		<link rel="stylesheet" href="${_static}/v2/css_base/base.css" />
		<link rel="stylesheet" href="${_static}/v2/css/index.css" />
		<script src="${_static}/v2/js/jquery-1.11.1.min.js"></script>
		<script src="${_static}/v2/platform_bg/js/banner.js"></script>
		<script src="${_static}/v2/js/share.js"></script>
		<script src="${_static}/v2/js/base.js"></script>
		<script src="${_static}/v2/js/echarts.js"></script>
	</head>

	<body>
		<div class="content">
			<div id="index" class="section platform_bg" style="overflow: hidden;">
				<div class="banner-img"></div>
				<canvas id="canvas"></canvas>
			</div>
		</div>
		<!-- 内容区-->
		<div class="py_big_con clearfix">
			<div class="big_head">
				<div class="date_">
					<div class="date"></div>
				</div>
				<div class="nav">
					<ul class="py_ul_l clearfix">
						<li>
							<a href="index.html">
								整体概览
							</a>
						</li>
						<li></li>
						<li>
							<a href="share.html">
								共享交换
							</a>
						</li>
						<li></li>
						<li>
							<a href="appIntegrate.html">
								应用集成
							</a>
						</li>
						<li>
							<a href="operate.html">
								运维监控
							</a>
						</li>
						<li></li>
						<li>
							<a href="jbtz.html">
								降本提质
							</a>
						</li>
						<li></li>
						<li>
							<a href="supervision.html">
								统一监管
							</a>
						</li>
					</ul>
					<a href="main.html" class="py_big_head clearfix"></a>

				</div>
				<ul class="num-group">
					<li class="num-item">
						<div class="title">已接入部门</div>
						<div class="icon_number">
							<div class="num">
								<div class="contain">
									<span class="original">1</span>
								</div>
							</div>
							<div class="num">
								<div class="contain">
									<span class="original">4</span>
								</div>
							</div>
							<div class="unit">个</div>
						</div>
					</li>
					<li class="num-item">
						<div class="title">数据目录</div>
						<div class="icon_number">
							<div class="num">
								<div class="contain">
									<span class="original">1</span>
								</div>
							</div>
							<div class="num">
								<div class="contain">
									<span class="original">2</span>
								</div>
							</div>
							<div class="num">
								<div class="contain">
									<span class="original">2</span>
								</div>
							</div>
							<div class="num">
								<div class="contain">
									<span class="original">4</span>
								</div>
							</div>
							<div class="unit">个</div>
						</div>
					</li>
					<li class="num-item">
						<div class="title">数据集</div>
						<div class="icon_number">
							<div class="num">
								<div class="contain">
									<span class="original">1</span>
								</div>
							</div>
							<div class="num">
								<div class="contain">
									<span class="original">2</span>
								</div>
							</div>
							<div class="num">
								<div class="contain">
									<span class="original">2</span>
								</div>
							</div>
							<div class="num">
								<div class="contain">
									<span class="original">4</span>
								</div>
							</div>
							<div class="unit">个</div>
						</div>
					</li>
					<li class="num-item">
						<div class="title">API</div>
						<div class="icon_number">
							<div class="num">
								<div class="contain">
									<span class="original">1</span>
								</div>
							</div>
							<div class="num">
								<div class="contain">
									<span class="original">2</span>
								</div>
							</div>
							<div class="num">
								<div class="contain">
									<span class="original">2</span>
								</div>
							</div>
							<div class="num">
								<div class="contain">
									<span class="original">4</span>
								</div>
							</div>
							<div class="unit">个</div>
						</div>
					</li>
					<li class="num-item"> 
						<div class="title">平台访问量</div>
						<div class="icon_number">
							<div class="num">
								<div class="contain">
									<span class="original">5</span>
								</div>
							</div>
							<div class="num">
								<div class="contain">
									<span class="original">0</span>
								</div>
							</div>
							<div class="num">
								<div class="contain">
									<span class="original">5</span>
								</div>
							</div>
							<div class="num">
								<div class="contain">
									<span class="original">4</span>
								</div>
							</div>
							<div class="unit">次</div>
						</div>
					</li>
					<li class="num-item">
						<div class="title">调用次数</div>
						<div class="icon_number">
							<div class="num">
								<div class="contain">
									<span class="original">5</span>
								</div>
							</div>
							<div class="num">
								<div class="contain">
									<span class="original">0</span>
								</div>
							</div>
							<div class="num">
								<div class="contain">
									<span class="original">2</span>
								</div>
							</div>
							<div class="num">
								<div class="contain">
									<span class="original">2</span>
								</div>
							</div>
							<div class="unit">次</div>
						</div>
					</li>
				</ul>
			</div>

			<div class="py_bug_con">
				<div class="py_big_content">
					<div class="py_big_l">
						<div class="sshdl">
							<h2>平台数据情况</h2>
							<a href="javascript:void(0);">
								<div class="py_big_l_pub">
									<div id="dataPlatform_ptsjqq" style="width:90%;height: 94%;margin-left:20px;margin-top:3%;"></div>
								</div>
							</a>
						</div>
						<div class="hddx">
							<h2>部门共享情况</h2>
							<a href="javascript:void(0);">
								<div class="py_big_l_pub">
									<div id="dataPlatform_bmsyqk" style="width: 100%;height: 100%;margin-left:20px;margin-top:15px;"></div>

								</div>
							</a>
						</div>
					</div>
					<div class="py_big_m">
						<div class="map_m">
							<h2>API调用TOP10</h2>
							<div class="map_m_con">
								<div id="dataPlatform_ybq" style="width: 100%;height: 94%;margin-left:20px;"></div>
							</div>
						</div>
						<div class="list_table">
							<h2>数据趋势</h2>
							<div class="list_table_con" id="dataPlatform_sjqs">

							</div>
						</div>
					</div>
					<div class="py_big_r">

						<div class="qyrctj">
							<h2>关系图</h2>
							<a href="javascript:void(0);">
								<div class="py_big_r_pub" id="dataPlatform_gxt"></div>
							</a>
						</div>
						<div class="hdyw">
							<h2>云标签</h2>
							<a href="javascript:void(0);">
								<div class="py_big_r_pub">

									<iframe src="dataPlatform_api.html" width="100%" height="100%" scrolling='no' style="border:none;"></iframe>
								</div>
							</a>
						</div>
					</div>
				</div>

			</div>
		</div>

	</body>
	<script type="text/javascript">
		//		$('.num-group .num span').animate({
		//			marginTop:'-35px'
		//		},700)

		//		require.config({
		//			paths: {
		//				echarts: 'http://echarts.baidu.com/build/dist'
		//			}
		//		});

		// 使用
		//		require(
		//			[
		//				'echarts',
		//按需加载 (例如:使用柱状图就加载bar模块)
		//'echarts/chart/line',             //折线（面积）图
		//'echarts/chart/bar',             //柱状（条形）图
		//'echarts/chart/scatter',        //散点（气泡）图
		//'echarts/chart/k',             //K线图
		//'echarts/chart/pie',             //饼（圆环）图
		//'echarts/chart/radar',         //雷达（面积）图
		//'echarts/chart/chord',         //和弦图
		//'echarts/chart/force',         //力导向布局图
		//'echarts/chart/map',             //地图
		//'echarts/chart/gauge',         //仪表盘
		//'echarts/chart/funnel',         //漏斗图
		//'echarts/chart/eventRiver',    //事件河流图
		//'echarts/chart/venn',         //韦恩图
		//'echarts/chart/treemap',        //矩形树图
		//'echarts/chart/tree',         //树图
		//				'echarts/chart/wordCloud', //字符云
		//'echarts/chart/mix',             //混搭
		//'echarts/chart/component',    //组件
		//'echarts/chart/other',         //其他
		//'echarts/chart/theme',         //主题
		//'echarts/chart/topic',         //专题
		////			],
		//			function(ec) {
		//				// 基于准备好的dom，初始化echarts图表
		//				var myChart = ec.init(document.getElementById('main'));
		//
		//				function createRandomItemStyle() {
		//					/*return {
		//					    normal: {
		//					        color: 'rgb(' + [
		//					            Math.round(Math.random() * 160),
		//					            Math.round(Math.random() * 160),
		//					            Math.round(Math.random() * 160)
		//					        ].join(',') + ')'
		//					    }
		//					};*/
		//				}
		//
		//				option = {
		//					title: {
		//
		//						link: 'http://www.google.com/trends/hottrends'
		//					},
		//					tooltip: {
		//						show: true
		//					},
		//					series: [{
		//						name: '',
		//						type: 'wordCloud',
		//						size: ['120%', '120%'],
		//						textRotation: [0, 45, 90, -45],
		//						textPadding: 0,
		//						autoSize: {
		//							enable: true,
		//							minSize: 14
		//						},
		//						data: [{
		//								name: "部门",
		//								value: 1000,
		//								itemStyle: {
		//									normal: {
		//										color: '#562cd9'
		//									}
		//								}
		//							},
		//							{
		//								name: "单位",
		//								value: 30,
		//								itemStyle: {
		//									normal: {
		//										color: '#698cd9'
		//									}
		//								}
		//							},
		//							{
		//								name: "名称",
		//								value: 50,
		//								itemStyle: {
		//									normal: {
		//										color: '#11d2e9'
		//									}
		//								}
		//							},
		//							{
		//								name: "电话",
		//								value: 60,
		//								itemStyle: {
		//									normal: {
		//										color: '#ff66ff'
		//									}
		//								}
		//							},
		//							{
		//								name: "企业名称",
		//								value: 30,
		//								itemStyle: {
		//									normal: {
		//										color: '#7293fc'
		//									}
		//								}
		//							},
		//							{
		//								name: "情况",
		//								value: 60,
		//								itemStyle: {
		//									normal: {
		//										color: '#107dba'
		//									}
		//								}
		//							},
		//							{
		//								name: "机构",
		//								value: 30,
		//								itemStyle: {
		//									normal: {
		//										color: '#8f89dd'
		//									}
		//								}
		//							},
		//							{
		//								name: "区县",
		//								value: 46,
		//								itemStyle: {
		//									normal: {
		//										color: '#ff66ff'
		//									}
		//								}
		//							},
		//							{
		//								name: "事项",
		//								value: 44,
		//								itemStyle: {
		//									normal: {
		//										color: '#ff66ff'
		//									}
		//								}
		//							},
		//							{
		//								name: "名录",
		//								value: 30,
		//								itemStyle: {
		//									normal: {
		//										color: '#11d2e9'
		//									}
		//								}
		//							},
		//							{
		//								name: "服务",
		//								value: 35,
		//								itemStyle: {
		//									normal: {
		//										color: '#107dba'
		//									}
		//								}
		//							},
		//							{
		//								name: "联系人",
		//								value: 32,
		//								itemStyle: {
		//									normal: {
		//										color: '#8f89dd'
		//									}
		//								}
		//							},
		//							{
		//								name: "数据目录",
		//								value: 21,
		//								itemStyle: createRandomItemStyle()
		//							},
		//							{
		//								name: "KXAN",
		//								value: 52,
		//								itemStyle: {
		//									normal: {
		//										color: '#698cd9'
		//									}
		//								}
		//							},
		//							{
		//								name: "地址",
		//								value: 44,
		//								itemStyle: {
		//									normal: {
		//										color: '#562cd9'
		//									}
		//								}
		//							},
		//							{
		//								name: "api",
		//								value: 63,
		//								itemStyle: {
		//									normal: {
		//										color: '#ff66ff'
		//									}
		//								}
		//							},
		//							{
		//								name: "服务",
		//								value: 45,
		//								itemStyle: {
		//									normal: {
		//										color: '#11d2e9'
		//									}
		//								}
		//							},
		//							{
		//								name: "名录",
		//								value: 40,
		//								itemStyle: {
		//									normal: {
		//										color: '#7293fc'
		//									}
		//								}
		//							},
		//							{
		//								name: "机构名称",
		//								value: 30,
		//								itemStyle: {
		//									normal: {
		//										color: '#107dba'
		//									}
		//								}
		//							},
		//							{
		//								name: "单位名称",
		//								value: 40,
		//								itemStyle: {
		//									normal: {
		//										color: '#8f89dd'
		//									}
		//								}
		//							}
		//						]
		//					}]
		//				};
		//
		//				// 为echarts对象加载数据 
		//				myChart.setOption(option);
		//			}
		//		);
	</script>

</html>