.py_big_con{
	width: 100%;
	height: 100%;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	padding: 0px 30px;
	padding: 0px 2%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
}
.big_head{
	height:210px;
}
.py_bug_con{
	width:100%;
	height: calc(100% - 330px);
}
.py_big_footer{
	width: 100%;
	height: 250px;
	/*background: #0a0e2f;*/
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	padding-top: 16px;
}

.date{
	color: #00cbd6;
	float: right;
	font-size: 16px;
	margin-top: 11px;
}
.py_ul_l li{
	float: left;

}
.py_ul_l li:nth-child(5){
	margin-right:38%;
}
.py_ul_l li a{
	display: inline-block;
	width: 160px;
	height: 60px;
	line-height:60px;
	text-align: center;
	color: #b4e1f7;
	text-align: center;
	font-size: 18px;
}
.nav_bg{
	background: url("../img/nav_bg.png") no-repeat;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
}


.py_ul_l li:nth-child(2),
.py_ul_l li:nth-child(4),
.py_ul_l li:nth-child(7),
.py_ul_l li:nth-child(9){
	width: 45px;
	height: 60px;
	/*background: url("../img/nav_border.png") no-repeat;*/
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
}
.location{
	height: 43px;
	width: 100%;
	/*background: green;*/
	margin-top: 25px;
}
.location span{
	height: 43px;
	line-height: 43px;
	color: #00cbd6;
	display: inline-block;
	font-size: 16px;
	vertical-align: middle;
}
.location_l{
	float: left;
	width: 19%;
}
.jd{

	width: 205px;
	display: inline-block;
	vertical-align: middle;
}
.jd .icon_pic{
	width: 10px;
	height: 28px;
	margin-right: 10px;
	float: left;
	background: url("../img/tiao_bj.png") repeat-x;
}
.jd .icon_pic_top{
	background: url("../img/tiao_top.png") repeat-x;
}
.location_r{
	float: left;
	width: 80%;
	height:43px;
	/*background: pink;*/
}
.location_r ul{
	width: 100%;
	height: 100%;
}
.location_r ul li{
	float: left;
	margin-left:90px;
}
.icon_number_bg{
	width: 29px;
	height: 43px;
	display: inline-block;
	background: url(../img/number_bg.png) no-repeat;
	vertical-align: middle;
	font-size: 30px;
	color: #fff;
	font-style: normal;
	padding-left: 5px;

}
.py_big_footer_con{
	width: 100%;
	height: 96%;
}
.py_big_footer_con{
	width: 100%;
	height: 100%;
	padding-left: 5px;
}
.py_big_footer_con li{
	height: 100%;
	width: 24%;
	margin-right: 1%;
	float: left;
	position: relative;
	background: url(../img/bottom_k.png) no-repeat;
	background-size: 100% 100%;
}
.py_big_footer_con li:nth-last-child{
	margin-right: 0;
}
#footer_con_1,#footer_con_2,#footer_con_3,#footer_con_4{
	width: 96%;
	height: 92%;
	padding-top: 2%;
	padding-left: 2%;
}
.py_big_footer_con li div.con_right{
	width: 50%;
	height: 33px;
	font-size: 17px;
	text-align: right;
	position: absolute;
	right: 27px;
	top: 11px;
	
}
.color_red{
	color: #BF5365;
}
.color_blue{
	color: #3D72AD;
}
.color_gray{
	color: #52658C;
}
.color_yellow{
	color: #876C4E;
}
.py_big_footer  h2{
	color: #fff;
	font-size: 18px;
	font-weight: normal;
}


.py_big_content{
    width:100%;
	height: 540px;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
	/*background: #f00;*/
}
.py_big_content>div{
    float: left;
}
.py_big_l{
    width: 38%;
    height: 100%;
    margin-right: 2%;
} 
.web_image h2{

}

.py_big_l>div{
    width: 100%;
    height: 100%;
	margin-bottom: 2%;
}
.py_big_l>div:nth-child(1){
	margin-bottom: 2%;
}
.py_big_l>div:hover{
	cursor:pointer;
}

.py_big_l>div>h2{
	width: 144px;
	padding-left: 36px;
	line-height: 30px;
	color: #fff;
	font-size: 16px;
	height: 33px;
	background: url(../img/kuang_top.png);
	background-size: 100% 100% ;
	position: relative;
	bottom: -5px;
	margin-left: 37px;
}
.py_big_l>div>a{
	height: calc(100% - 33px);
    display: block;
    background: url(../img/kuang_bottom.png);
    background-size: 100% 100% ;
    cursor: default;
}
#py_big_l_pub{
    width: 100%;
    height: 100%;
    overflow: hidden;
	padding: 5px;
}


/*中间*/
.py_big_m{
    width: 28%;
    height: 100%;
    margin-right: 2%;
    margin-top: 4px;
}
.eq_status{
	height: 110px;
	width: 100%;
}
.eq_status h2{
	height: 33px;
	color: #40CED3;
	font-size: 18px;
}
.eq_status div{
	height: calc(100% - 33px);
	
	/*background: url(../img/pydp_bg_right.png) no-repeat;
	background-size:100% 100% ;*/
}
.eq_status div ul{
	width: 100%;
	height: 100%;
}
.eq_status div ul li{
	width: 33%;
	height: 100%;
	float: left;
	text-align: center;
	padding-top: 5px;
}
.eq_status div ul li span{
	color: #B4E1F7;
	font-size:17px ;
}
.eq_status div ul li p{
	color: #16ED16;
	font-size: 30px;
	line-height: 24px;
}
.eq_status .eq_status_main_2 ul li{
	width: 50%;
}
.eq_status .eq_status_main{
	background: url(../img/组-62.png) no-repeat;
	background-size: 100% 100%;
}
.eq_status .eq_status_main_2{
	background:  url(../img/组-62-拷贝.png);
	background-size: 100% 100%;
}
.eq_status div.eq_status_main ul li:nth-child(2) p{
	color: #4AADF2;
}
.eq_status div.eq_status_main ul li:nth-child(3) p{
	color: #D04460;
}
.eq_status div.eq_status_main_2 ul li:nth-child(1) p{
	color: #D04460;
}
.eq_status div.eq_status_main_2 ul li:nth-child(2) p{
	color: #4AADF2;
}

.top_10{
	width: 100%;
	height: 77%;
}
.top_10 h2{
	width: 100%;
	height: 40px;
	color: #40CED3;
	line-height: 36px;
	font-size: 18px;
}
.top_10>div{
	width: 100%;
	height: calc(100% - 33px);
	/*background: url(../img/item-64.png) no-repeat;*/
	background-size: 100% 100%;
}
.top_10 div table{
	width:100%;
	height: 100%;
	border:0;
	margin:0;
	text-align:center;
	border-collapse:collapse;
	border-spacing:0;
	/*background: #0E1337;*/
	background: rgba(5, 107, 188,.4);
}
.top_10 div table th{
	background:#1B2D80;
	font-weight:normal;
	line-height:30px;
	font-size:14px;
	color:#3BC6E0;
}
.top_10 div table td{
	line-height:30px;
	color:#fff;
}
.top_10 div table tr:nth-child(even){
	background: rgba(27, 45, 128, 0.3);
}
.top_10 div table tr:hover{
	background:#73B1E0;
	color:#FFF;
}
.top_10 div table td,table th{
	border: none;
}

.py_big_r{
	width: 30%;
	height: 100%;
	margin-top: 4px;
}
#error_deal_1{
	width: 55%;
	height: 100%;
	float: left;
	padding-bottom: 20px;
}
#error_deal_2{
	width: 45%;
	height: 100%;
	float: left;
	padding-top: 20px;
}


.ssjh_h2{
    height: 40px;
    line-height: 40px;
    text-align: left;
    color: #57cee4;
    font-size: 23px;
    margin-bottom:10px;
}
.cle_1{
	width:15px;
	height:15px;
	background:#b2e20b;
	position:absolute;
	top:29%;
	left:29%;
	border-radius:50%;
	z-index:100;
}
.cle_1::after,.cle_1::before{
			content: '';
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background-color: #b2e20b;
			border-radius: 50%;
}
		.cle_1::before {
			animation: scale 2s infinite linear;
		}

		.cle_1::after {
			animation: scale 2s 1s infinite linear;
		}

		@keyframes scale_1 {
			0% {
				
			}

			100% {
				transform: scale(3);
				opacity: 0;
			}
		}
		.cle{
		width:15px;
		height:15px;
		background:#b2e20b;
		position:absolute;
		top:71%;
		left:29%;
		border-radius:50%;
		z-index:100;
	}
.cle::after,.cle::before{
			content: '';
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background-color: #b2e20b;
			border-radius: 50%;
}
		.cle::before {
			animation: scale 2s infinite linear;
		}

		.cle::after {
			animation: scale 2s 1s infinite linear;
		}

		@keyframes scale {
			0% {
				
			}

			100% {
				transform: scale(3);
				opacity: 0;
			}
		}
		
				.cle_2{
		width:15px;
		height:15px;
		background:#b2e20b;
		position:absolute;
		top:47%;
		left:49%;
		border-radius:50%;
		z-index:100;
	}
.cle_2::after,.cle_2::before{
			content: '';
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background-color: #b2e20b;
			border-radius: 50%;
}
		.cle_2::before {
			animation: scale_2 2s infinite linear;
		}

		.cle_2::after {
			animation: scale_2 2s 1s infinite linear;
		}

		@keyframes scale_2 {
			0% {
				
			}

			100% {
				transform: scale(3);
				opacity: 0;
			}
		}
					.cle_3{
		    width: 15px;
    height: 15px;
    background: #b2e20b;
    position: absolute;
    top: 10%;
    left: 34%;
    border-radius: 50%;
    z-index: 100;
	}
.cle_3::after,.cle_3::before{
			content: '';
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background-color: #b2e20b;
			border-radius: 50%;
}
		.cle_3::before {
			animation: scale_3 2s infinite linear;
		}

		.cle_3::after {
			animation: scale_3 2s 1s infinite linear;
		}

		@keyframes scale_3 {
			0% {
				
			}

			100% {
				transform: scale(3);
				opacity: 0;
			}
		}
					.cle_4{
		    width: 15px;
    height: 15px;
    background: #b2e20b;
    position: absolute;
    top: 50%;
    left: 25%;
    border-radius: 50%;
    z-index: 100;
	}
.cle_4::after,.cle_4::before{
			content: '';
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background-color: #b2e20b;
			border-radius: 50%;
}
		.cle_4::before {
			animation: scale_4 2s infinite linear;
		}

		.cle_4::after {
			animation: scale_4 2s 1s infinite linear;
		}

		@keyframes scale_4 {
			0% {
				
			}

			100% {
				transform: scale(3);
				opacity: 0;
			}
		}
					.cle_5{
		width:15px;
		height:15px;
		background:#b2e20b;
		position:absolute;
		top:45%;
		left:25%;
		border-radius:50%;
		z-index:100;
	}
.cle_5::after,.cle_5::before{
			content: '';
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background-color: #b2e20b;
			border-radius: 50%;
}
		.cle_5::before {
			animation: scale_5 2s infinite linear;
		}

		.cle_5::after {
			animation: scale_5 2s 1s infinite linear;
		}

		@keyframes scale_5 {
			0% {
				
			}

			100% {
				transform: scale(3);
				opacity: 0;
			}
		}
					.cle_6{
		    width: 15px;
    height: 15px;
    background: #b2e20b;
    position: absolute;
    top: 25%;
    left: 65%;
    border-radius: 50%;
    z-index: 100;
	}
.cle_6::after,.cle_6::before{
			content: '';
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background-color: #b2e20b;
			border-radius: 50%;
}
		.cle_6::before {
			animation: scale_6 2s infinite linear;
		}

		.cle_6::after {
			animation: scale_6 2s 1s infinite linear;
		}

		@keyframes scale_6 {
			0% {
				
			}

			100% {
				transform: scale(3);
				opacity: 0;
			}
		}


/*.qyrctj_con{
    background: url("../img/qyrctj.png") no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}
.hdyw_con{
    background: url("../img/hdywqs.png") no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}*/
/*ת����ԲȦ��ʼ*/
/*.quan_big{
   width: 100px;
    height: 100px;
    width:46%;
    height:46%;
	position: absolute;
    /!* top: 58px; *!/
    /!* left: 57px; *!/
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
    transition: all 0.5s ease-in-out 0s;
}
.quan_small{
    width: 50px;
    height: 50px;
    width:23%;
    height:23%;
    font-size: 12px;
    transition: all 0.5s ease-in-out 0s;
}
.quan_2{
    top: 140px;
    top: 65%;
    left: 18px;
    left: 8%;
    opacity: 1;
    transition: all 0.5s ease-in-out 0s;
}
.quan_3{
    top: 58px;
    top: 27%;
    left: 2%;
    left: 2px;
    opacity: 1;
}
.quan_4{
       top: 0px;
    left: 71px;
    left: 31%;
    opacity: 1;
}
.quan_5{
    top: 31px;
    left: 152px;
    top: 14%;
    left: 70%;
    opacity: 1;
}
.quan_6{
    top: 112px;
    top: 51%;
    left: 166px;
    left: 77%;
    opacity: 1;
}
.quan_7{
    top: 165px;
    top: 77%;
    left: 100px;
    left: 46%;
    opacity: 1
}
.quan_8{
   top: 165px;
    left: 75px;
    opacity: 1;
}
.quan_9{
    top: 166px;
    left: 69px;
    opacity: 1;
}
.quan_10{
    top: 139px;
    left: 18px;
    opacity: 1;
}
.quan_cen{
    top: 96px;
    left: 96px;
    transition: all 1s ease-in-out 1s;
    opacity: 0;
}
.box{
    width: 217px;
    height: 217px;
    position: relative;
    display: inline-block;
    /!* background: pink;
    margin: 200px 600px;*!/
    margin-left: 25%;
    margin-top:10px;
}
.box ul{
	width: 100%;
    height: 100%;
}*/

/*ul li span{
    display: inline-block;
    width: 100%;
    height: 100%;
    padding-top: 31%;
    text-decoration: none;
}*/
/*.quan_big span {
	text-decoration: none;
}
.quan_small span{
    padding-top: 17%;
}
ul li span p{
    width: 100%;
    text-align: center;
    color: #fff;
    margin:0px;
}
ul li span:hover{
	 text-decoration: none;
} */
/*ת����ԲȦ����*/
/*�����ƶ���ʼ*/
.list_table{
    width: 100%;
    height: 230px;
   /* border: 1px solid #ff3a45;*/
    overflow: hidden;
}
.table_con{
    width: 100%;
    height: 100%;
}
.list_table table{
    width: 100%;
   /*  height: 100%; */
    border-collapse: collapse;
    -o-text-overflow: ellipsis;
    table-layout: fixed;
    word-break: break-all;
    word-wrap: break-word;
}
.div_tbody{
    width: 100%;
    height: 185px;
    overflow: hidden;
    position: relative;
}
.tab_tbody{
    position: absolute;
    animation: runing 6s ease  infinite;
}
.tab_tbody:hover{
    animation-play-state: paused;
}
.tab_tbody tr:hover{
    cursor:pointer;
}
@keyframes runing{
    0%{transform:translateY(0px)}

    100%{transform:translateY(-140px)}
}
.list_table thead{
    width: 100%;
}
.list_table tbody{
    width: 100%;
}
.list_table th{
    height: 45px;
    line-height: 45px;
    color: #fff;
    font-size: 18px;
    font-weight: normal;
    font-family: "microsoft yahei";
}
.list_table td{
    height:40px;
    line-height: 40px;
    color: #25d2f5;
}
.list_table th,td{
    text-align: center;
    /* border: 1px solid #000;*/
    -o-text-overflow:ellipsis;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;
}
.sjjh_con_head a span{
	display: inline-block;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border:1px solid #00ceca;
	color:#fff;
	padding: 2px 5px;
	margin-left: 2%;
	margin-right: 2%;
	font-size: 12px;
}
.ul{
	width: 282px;
	height: 259px;
	/*background: #ff0;*/
	margin: auto;
	position: relative;
}
/*�����ƶ�����*/

.header_yyjk{
	height: 320px;
}
.footer_yyjk{
	height: 220px;
}
.data_display{
	height: 150px;
	margin-top: 0;
	padding: 10px 22%;
}
.data_display_ul{
	width: 100%;
	height: 100%;
}
.data_display_ul li{
	float: left;
	width: 192px;
	height: 90px;
	background: url(../img/con_top.png) no-repeat;
	background-size: 100% 100%;
	margin-left: 55px;
}
.data_display_ul_li{
	width: 100%;
	height: 68%;
}
.data_display_ul_li div{
	width: 50%;
	height: 100%;
	float: left;
}
.data_display_ul_li div span{
	height: 32px;
	line-height: 34px;
    width: 100%;
    color: #00cbd6;
    display: inline-block;
    font-size: 29px;
    vertical-align: middle;
    text-align: center;
}
.data_display_ul_li div p{
	width: 100%;
	text-align: center;
	color: #A5D2EA;
	font-size: 15px;
}
.data_display_ul_li div .data_li_error{
	color: red;
}
.data_display_ul>li>p{
	height: 32%;
	width: 100%;
	text-align: center;
	color: #FFF;
	font-size: 17px;
}
.py_big_r .top_10 h2{
	height: 28px;
}
.py_big_r .top_10 .error_deal{
	height: calc(100% - 15px);
}
