/* reset */
* {
	margin: 0px;
	padding: 0px;
	/* 点击高亮 */
	-webkit-tap-highlight-color:transparent;

	/* 设置盒子的*/
	-webkit-box-sizing: border-box;
	box-sizing:border-box;

}
html,body {
	font-size: 14px;
	font-family: "microsoft yahei";
	color: #3f3f3f;
	min-width: 1280px;
	/*min-height: 768px;*/
	height: 100%;
	
}
body{
	background: #070E1F url(../images/bg_bk.png) no-repeat;
}
.w{
	width: 1200px;
	margin: 0 auto;
}
a {
	text-decoration: none;
	color: #3f3f3f;
}
ol,ul {
	list-style: none;
}
input,button {
/*	去除系统默认的样式，如CheckBox点击选中不了*/
	/*-webkit-appearance:none;*/
	border: 0  none;
	outline: 0 none;
}
input{
	padding-left: 5px;
	padding-right: 5px;
}
button{
	cursor: pointer;
}
h1,h2,h3,h4,h5,h6{
	font-weight: normal;
}
/* comman */
 .f_left {
 	float: left;
 }
 .f_right {
 	float: right;
 }
.clearfix::after,
.clearfix::before{
    content: ".";
    line-height: 0;
    height: 0;
    display: block;
    visibility: hidden;
    clear: both;
}



 

