/*index主体内容导航栏*/
.view-framework-head{
	width: 97%;
	height: 40px;
	background: #f5f5f5;	
	margin: 0 auto;
	margin-top: 15px;
}
.view-head-content{
	float: right;
	width: 99.5%;
	border-left: 2px solid #105396;
	height: 20px;
	margin-top: 10px;
	line-height: 20px;
	font-size: 14px;
	color: #000;
	padding-left: 5px;
	font-family: "黑体";
}
.view-head-content i{
	font-style: normal;
}
/*新建发布*/
.list-section-message{
	width: 95% !important;
	margin: 0 auto;	
}

.tab_nei{
	color: #66707a;
}
.active>a{
	color: #63b5db;
}
.metismenu .arrow{
	line-height: 1.8;
	margin-right: 15%;
}
a{
	text-decoration: none !important;
}
a:hover{
	text-decoration: none;
	color: #63b5db
}
