@charset "utf-8";

/*朱志强 2018-3-21*/

.clear:before,.clearfix:before,.clear:after,.clearfix:after{content: '';display: block;clear: both;}

.fl{float: left;}

.fr{float: right;}

/*新建发布*/
html,body{
	height: 100%;
}
.zworkspace-body{
	width: 100%;
	height: calc(100% - 30px);
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	overflow: auto;

}
.rleasebox{
	border: solid 1px #dddddd;
	height: 100%;
	background-color: #fafafa;
	padding: 20px;
	position: relative;
	min-height: 690px;
}

.rlease-left{
	width: calc(100% - 300px);
}

.dele{
	color: #0093d0;
	cursor: pointer;
}
.rlease-left>ul>li {
	margin-bottom: 24px;
}
.rlease-left ul li>span{
	display: inline-block;
	width: 80px;
	text-align: center;
	font-size: 14px;

}

.rlease-left ul li .qudao{
	display: inline-block;
	width: calc(100% - 85px);
    height: 32px;
    position: relative;
}

.qudao input{
	width: 100%;
	height: 32px;
	border:solid 1px #d6d6d6;
	text-indent: 1em;
	
}
.qudao textarea{
	width: 100%;
	height: 80px;
	max-height: 80px !important;
	border:solid 1px #d6d6d6;
	text-indent: 1em;

}
.zhengwen textarea{
	width: 100%;
	height: 332px;
	border:solid 1px #d6d6d6;
	text-indent: 1em;
}
.rlease-left ul li .zhengwen{
	display: inline-block;
	width: calc(100% - 448px);
	height: 32px;
	position: relative;
}

/* 下拉框 */
.combo{display:inline-block;position:relative;white-space:nowrap;margin:0;padding:0;border-width:1px;border-style:solid;overflow:hidden;vertical-align:middle;}
.combo .combo-text{font-size:14px;border:0;line-height:20px;height:20px;margin:0;padding:0 5px;vertical-align:baseline;width: 153px!important;}
.combo-arrow{width:18px;height:20px;overflow:hidden;display:inline-block;vertical-align:top;cursor:pointer;opacity:.6;filter:alpha(opacity=60)}
.combo-arrow-hover{opacity:1;filter:alpha(opacity=100)}
.combo-panel{background-color:#fff;border-color:#d6d6d6;overflow-y:auto;border-radius:4px}
.combo-arrow{background:url(../../images/combo_arrow.jpg) no-repeat center center}
.combo,.combo-panel{background-color:#fff;padding:0;}
.combo{border-color:#d6d6d6;background-color:#fff;border-radius: 0px;}
.combo-arrow-hover{background-color:#fff}
.combobox-item{background-color:#fdfdfd;color:#333;line-height:30px;text-align:left;font-size:14px;padding:3px 0 3px 10px}
.combobox-item-hover{background-color:#e2effa;color:#333}
.combobox-item-selected{background-color:#188ddf;color:#fff}
.combo-p{border-color: #d6d6d6;}
.textbox-addon{position: absolute;right: 10px!important;}
.textbox-text{text-indent: 1em;}


.qudaoul{
	position: absolute;
	top: 38px;
	left: 0px;
	width: 100%;
	border:solid 1px #d0d0d0; 
	display: none;
	background-color: white;
	z-index: 1;
box-sizing:border-box;
-moz-box-sizing:border-box; /* Firefox */
-webkit-box-sizing:border-box; /* Safari */	
}
.qudaoul li{
	line-height: 40px;
	border-bottom: solid 1px #d0d0d0;
	text-indent: 2em;
	cursor: pointer;
}

.addbox{
	border-top: solid 1px #e0e0e0;
}

.addbox span{
	display: block;
	width: 100px;
	text-align: center;
	line-height: 40px;
	color: #0093d0;	
	font-size: 16px;
	cursor: pointer;
}
.addbox span:first-child{
	padding-left: 30px;
	background:url(../../images/addicon.jpg) no-repeat;
    background-position: 28% 50%;
    margin-left: auto;
    margin-right: auto;
}

.contactors{
	display: inline-block;
	width: calc(100% - 733px);
    height: 40px;
    border:solid 1px #d6d6d6;	
    text-indent: 1em;
}

.btnbox{
	/*position: absolute;*/
	margin-top: 10px;
	bottom: 20px;
	left: 20px;
}

.btnbox span{
	display: inline-block;
	margin-right: 10px;
	height: 38px;
	line-height: 38px;
	padding: 0 15px;
	border: solid 1px #0091d0;
	border-radius: 7px;
	background-color: #fff;
	color: #0091d0;
	cursor: pointer;
}
.btnbox .spancurrent{
	color: #fff;
	background-color: #0091d0;
}
.btnbox1{
	/*position: absolute;*/
	margin-top: 10px;
	bottom: 20px;
	left: 20px;
}

.btnbox1 span{
	display: inline-block;
	margin-right: 10px;
	height: 38px;
	line-height: 38px;
	padding: 0 15px;
	border: solid 1px #0091d0;
	border-radius: 7px;
	background-color: #fff;
	color: #0091d0;
	cursor: pointer;
}
.btnbox1 .spancurrent{
	color: #fff;
	background-color: #0091d0;
}


.rlease-right{
	width:280px;
}
.rlease-search{
	margin-bottom: 20px;
}
.rlease-search>span{
	display: inline-block;
	text-indent: 0.5em;
	border-left: solid 2px #0091d0;
	font-size: 16px;
	margin-bottom: 15px;
}

.rlease-search>div{
	width: 100%;
	height: 280px;
	border: solid 1px #afdaed;
	padding: 20px 0px;
}

.searchinput{
	display: block;
	width: calc(100% - 40px);
	margin-left: auto;
	margin-right: auto;
	height: 38px;
	border:solid 1px #cccccc; 
	background:url(../../images/searchicon.png) no-repeat;
    background-position: 96% 50%;
	padding-right: 32px;
}
.searchinput input{
	width: 100%;
	height: 36px;
	text-indent: 1em;
}

.idul li{
	line-height: 40px;
	text-align: left;
	padding-left: 22px;
	font-size: 16px;
	cursor: pointer;
}

.idul li:hover{
	background-color: #c9e3fe;

}

.idul .contactli{
	background-color: #c9e3fe;
}
.contactli{
	background-color: #c9e3fe;
}
.idulbox{
	margin-top: 15px;
	height: 202px;
	overflow: auto;
}

/* 手写下拉框 */
.sinput{
	border: solid 1px #d6d6d6;	
	background: url(../../images/combo_arrow.jpg) no-repeat;
	background-position: 96% 50%; 
	background-color: #fff;
	text-indent: 1em;
	cursor: pointer;
}
.selectUl{
	position: absolute;
	left: 84px;
	top: 39px;
	border: solid 1px #d6d6d6;
	background-color: white;
	width: 190px;
	z-index: 1000;
	display: none;
}

.selectUl li{
	line-height: 30px;
	text-indent: 1em;
}

.selectUl li:hover{
	background-color: #c9e3fe;
}

.mstext{
	width: 100%;
	min-height: 200px;
	border: solid 1px #e0e0e0;
	resize:none;
	text-indent: 2em;
	margin-top: 20px;
}
.myEditor{
	width: 100%;
	min-height: 200px;
	margin-top: 20px;
}

.wbtitle{
	width: 100%;
	border: solid 1px #e0e0e0;
	height: 40px;
	line-height: 40px;
	color: #666;
	margin-top: 15px;
	text-indent: 1em;
	display: none;
}


/*再次编辑*/
.edita_content{
	width: 80%;
	height: auto;
	margin-left: 20px;
	border: 1px solid #ddd;
	margin-top: 20px;
	padding: 20px;
	padding-bottom: 0px;
}
.edita_content ul>li{
	margin-bottom:30px;
}
.spancurrent1{
	display: block;
	padding:5px 10px;
	border: 1px solid #ddd;
	border-radius: 5px;
	width: 80px;
	margin-left: 20px;
	color: #fff;
	background-color: #0091d0;
}

.treebox{
	width:100%;
	height: 600px;
	border:solid 1px #e0e0e0;
	margin-top: 20px;
	background-color: #fff;
	overflow: auto;
}

.treebox .treecontainer{
	display: none;
	padding: 15px;
}
.treebox .treecontainer:first-child{
	display: block;
}
.messagetext{
	border: solid 1px #e0e0e0;
	margin-top: 10px;
}
.messagetext>div{
	width: 50%;
	padding: 20px;
}
.messagetext-right{
	border-left: solid 1px #e0e0e0;
}
.messagetext-left ul li{
	width: 100%;
	margin-bottom: 12px;
}

.messagetext-right>span{
	font-size: 14px;
}
.messagetext-right>p{
	background-color: white;
	line-height: 26px;
	padding: 10px;
	margin-top: 10px;
	max-height: 300px;
	overflow: auto;
}

.tipsbox{
	background-color: #fff;
	padding: 10px;
	border: solid 1px #e0e0e0;
	margin-top: 15px;
}

.tipsbox span{
	font-size: 14px;
}

.tipsbox p{
	line-height: 26px;
	text-indent: 1em;
}