<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hengyunsoft.platform.developer.repository.fast.document.dao.FastAppDocTaskMapper">
  <resultMap id="BaseResultMap" type="com.hengyunsoft.platform.developer.entity.fast.po.document.FastAppDocTask">
    <!--
    @mbggenerated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="app_id" jdbcType="VARCHAR" property="appId" />
    <result column="current_user_type" jdbcType="VARCHAR" property="currentUserType" />
    <result column="next_user_type" jdbcType="VARCHAR" property="nextUserType" />
    <result column="next_user_id" jdbcType="BIGINT" property="nextUserId" />
    <result column="handle_status" jdbcType="VARCHAR" property="handleStatus" />
    <result column="link_status" jdbcType="VARCHAR" property="linkStatus" />
    <result column="name_" jdbcType="VARCHAR" property="name" />
    <result column="target_" jdbcType="VARCHAR" property="target" />
    <result column="rank_" jdbcType="VARCHAR" property="rank" />
    <result column="title_" jdbcType="VARCHAR" property="title" />
    <result column="desc_" jdbcType="VARCHAR" property="desc" />
    <result column="content_" jdbcType="LONGVARCHAR" property="content" />
    <result column="doc_unit" jdbcType="VARCHAR" property="docUnit" />
    <result column="doc_num" jdbcType="VARCHAR" property="docNum" />
    <result column="doc_time" jdbcType="TIMESTAMP" property="docTime" />
    <result column="doc_code" jdbcType="VARCHAR" property="docCode" />
    <result column="doc_type" jdbcType="VARCHAR" property="docType" />
    <result column="urgency_degree" jdbcType="VARCHAR" property="urgencyDegree" />
    <result column="attachment_url" jdbcType="VARCHAR" property="attachmentUrl" />
    <result column="attachment_name" jdbcType="VARCHAR" property="attachmentName" />
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName" />
    <result column="create_user" jdbcType="BIGINT" property="createUser" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_user" jdbcType="BIGINT" property="updateUser" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--
    @mbggenerated
    -->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--
    @mbggenerated
    -->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--
    @mbggenerated
    -->
    id, app_id, current_user_type, next_user_type, next_user_id, handle_status, link_status, 
    name_, target_, rank_, title_, desc_, content_, doc_unit, doc_num, doc_time, doc_code, 
    doc_type, urgency_degree, attachment_url, attachment_name, create_user_name, create_user, 
    create_time, update_user, update_time
  </sql>
  <select id="selectByExample" parameterType="com.hengyunsoft.platform.developer.repository.fast.document.example.FastAppDocTaskExample" resultMap="BaseResultMap">
    <!--
    @mbggenerated
    -->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from b_fast_app_doc_task
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="groupByClause != null">
      group by ${groupByClause}
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limitValue != null">
      limit ${limitValue}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--
    @mbggenerated
    -->
    select 
    <include refid="Base_Column_List" />
    from b_fast_app_doc_task
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectEntity" parameterType="com.hengyunsoft.platform.developer.repository.fast.document.example.FastAppDocTaskExample" resultMap="BaseResultMap">
    <!--
    @mbggenerated
    -->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from b_fast_app_doc_task
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="groupByClause != null">
      group by ${groupByClause}
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    limit 0,1 
  </select>
  <select id="selectByAppIdAndId" parameterType="map" resultMap="BaseResultMap">
    <!--
    @mbggenerated
    -->
    select
    <include refid="Base_Column_List" />
    from b_fast_app_doc_task
    where 1=1 and app_id = #{appId,jdbcType=VARCHAR} and id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAppIdById" parameterType="map" resultType="java.lang.String">
    <!--
    @mbggenerated
    -->
    select app_id 
    from b_fast_app_doc_task
    where 1=1 and id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--
    @mbggenerated
    -->
    delete from b_fast_app_doc_task
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.hengyunsoft.platform.developer.repository.fast.document.example.FastAppDocTaskExample">
    <!--
    @mbggenerated
    -->
    delete from b_fast_app_doc_task
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <delete id="deleteByIds" parameterType="list">
    <!--
    @mbggenerated
    -->
    delete from  b_fast_app_doc_task where id in 
    <foreach close=")" collection="list" index="index" item="item" open="(" separator=",">
      #{item}
    </foreach> 
  </delete>
  <delete id="deleteByAppIdAndId" parameterType="java.lang.Long">
    <!--
    @mbggenerated
    -->
    delete from b_fast_app_doc_task
    where id = #{id,jdbcType=BIGINT}
     and app_id = #{appId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByAppIdAndIds" parameterType="list">
    <!--
    @mbggenerated
    -->
    delete from  b_fast_app_doc_task where id in 
    <foreach close=")" collection="list" index="index" item="item" open="(" separator=",">
      #{item}
    </foreach> 
     and app_id = #{appId,jdbcType=VARCHAR}
  </delete>
  <update id="removeByExample" parameterType="com.hengyunsoft.platform.developer.entity.fast.po.document.FastAppDocTask">
    <!--
    @mbggenerated
    -->
    update b_fast_app_doc_task
    set is_delete = 1 

    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </update>
  <update id="removeByAppIdAndIds" parameterType="com.hengyunsoft.platform.developer.entity.fast.po.document.FastAppDocTask">
    <!--
    @mbggenerated
    -->
    update b_fast_app_doc_task
    set is_delete = 1 
 where 1=1 and id in 
 <foreach close=")" collection="list" index="index" item="item" open="(" separator=",">
    #{item}
  </foreach>
     and app_id = #{appId,jdbcType=VARCHAR}
  </update>
  <update id="removeByPrimaryKey" parameterType="com.hengyunsoft.platform.developer.entity.fast.po.document.FastAppDocTask">
    <!--
    @mbggenerated
    -->
    update b_fast_app_doc_task
    set is_delete = 1 

     where 1=1 and id = #{id,jdbcType=BIGINT}
  </update>
  <update id="removeByAppIdAndId" parameterType="com.hengyunsoft.platform.developer.entity.fast.po.document.FastAppDocTask">
    <!--
    @mbggenerated
    -->
    update b_fast_app_doc_task
    set is_delete = 1 

     where 1=1 and id = #{id,jdbcType=BIGINT}
     and app_id = #{appId,jdbcType=VARCHAR}
  </update>
  <insert id="insert" parameterType="com.hengyunsoft.platform.developer.entity.fast.po.document.FastAppDocTask">
    <!--
    @mbggenerated
    -->
    insert into b_fast_app_doc_task (id, app_id, current_user_type, 
      next_user_type, next_user_id, handle_status, 
      link_status, name_, target_, 
      rank_, title_, desc_, 
      content_, doc_unit, doc_num, 
      doc_time, doc_code, doc_type, 
      urgency_degree, attachment_url, attachment_name, 
      create_user_name, create_user, create_time, 
      update_user, update_time)
    values (#{id,jdbcType=BIGINT}, #{appId,jdbcType=VARCHAR}, #{currentUserType,jdbcType=VARCHAR}, 
      #{nextUserType,jdbcType=VARCHAR}, #{nextUserId,jdbcType=BIGINT}, #{handleStatus,jdbcType=VARCHAR}, 
      #{linkStatus,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{target,jdbcType=VARCHAR}, 
      #{rank,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{desc,jdbcType=VARCHAR}, 
      #{content,jdbcType=LONGVARCHAR}, #{docUnit,jdbcType=VARCHAR}, #{docNum,jdbcType=VARCHAR}, 
      #{docTime,jdbcType=TIMESTAMP}, #{docCode,jdbcType=VARCHAR}, #{docType,jdbcType=VARCHAR}, 
      #{urgencyDegree,jdbcType=VARCHAR}, #{attachmentUrl,jdbcType=VARCHAR}, #{attachmentName,jdbcType=VARCHAR}, 
      #{createUserName,jdbcType=VARCHAR}, #{createUser,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateUser,jdbcType=BIGINT}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="batchInsert" parameterType="java.util.List">
    <!--
    @mbggenerated
    -->
    insert into b_fast_app_doc_task (id, app_id, current_user_type, next_user_type, next_user_id, handle_status, link_status, name_, target_, rank_, title_, desc_, content_, doc_unit, doc_num, doc_time, doc_code, doc_type, urgency_degree, attachment_url, attachment_name, create_user_name, create_user, create_time, update_user, update_time ) values 
    <foreach collection="list" index="index" item="item" separator=",">
      (#{item.id,jdbcType=BIGINT}, #{item.appId,jdbcType=VARCHAR}, #{item.currentUserType,jdbcType=VARCHAR}, 
        #{item.nextUserType,jdbcType=VARCHAR}, #{item.nextUserId,jdbcType=BIGINT}, #{item.handleStatus,jdbcType=VARCHAR}, 
        #{item.linkStatus,jdbcType=VARCHAR}, #{item.name,jdbcType=VARCHAR}, #{item.target,jdbcType=VARCHAR}, 
        #{item.rank,jdbcType=VARCHAR}, #{item.title,jdbcType=VARCHAR}, #{item.desc,jdbcType=VARCHAR}, 
        #{item.content,jdbcType=LONGVARCHAR}, #{item.docUnit,jdbcType=VARCHAR}, #{item.docNum,jdbcType=VARCHAR}, 
        #{item.docTime,jdbcType=TIMESTAMP}, #{item.docCode,jdbcType=VARCHAR}, #{item.docType,jdbcType=VARCHAR}, 
        #{item.urgencyDegree,jdbcType=VARCHAR}, #{item.attachmentUrl,jdbcType=VARCHAR}, 
        #{item.attachmentName,jdbcType=VARCHAR}, #{item.createUserName,jdbcType=VARCHAR}, 
        #{item.createUser,jdbcType=BIGINT}, #{item.createTime,jdbcType=TIMESTAMP}, #{item.updateUser,jdbcType=BIGINT}, 
        #{item.updateTime,jdbcType=TIMESTAMP})
    </foreach>
  </insert>
  <insert id="insertSelective" parameterType="com.hengyunsoft.platform.developer.entity.fast.po.document.FastAppDocTask">
    <!--
    @mbggenerated
    -->
    insert into b_fast_app_doc_task
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="appId != null">
        app_id,
      </if>
      <if test="currentUserType != null">
        current_user_type,
      </if>
      <if test="nextUserType != null">
        next_user_type,
      </if>
      <if test="nextUserId != null">
        next_user_id,
      </if>
      <if test="handleStatus != null">
        handle_status,
      </if>
      <if test="linkStatus != null">
        link_status,
      </if>
      <if test="name != null">
        name_,
      </if>
      <if test="target != null">
        target_,
      </if>
      <if test="rank != null">
        rank_,
      </if>
      <if test="title != null">
        title_,
      </if>
      <if test="desc != null">
        desc_,
      </if>
      <if test="content != null">
        content_,
      </if>
      <if test="docUnit != null">
        doc_unit,
      </if>
      <if test="docNum != null">
        doc_num,
      </if>
      <if test="docTime != null">
        doc_time,
      </if>
      <if test="docCode != null">
        doc_code,
      </if>
      <if test="docType != null">
        doc_type,
      </if>
      <if test="urgencyDegree != null">
        urgency_degree,
      </if>
      <if test="attachmentUrl != null">
        attachment_url,
      </if>
      <if test="attachmentName != null">
        attachment_name,
      </if>
      <if test="createUserName != null">
        create_user_name,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="appId != null">
        #{appId,jdbcType=VARCHAR},
      </if>
      <if test="currentUserType != null">
        #{currentUserType,jdbcType=VARCHAR},
      </if>
      <if test="nextUserType != null">
        #{nextUserType,jdbcType=VARCHAR},
      </if>
      <if test="nextUserId != null">
        #{nextUserId,jdbcType=BIGINT},
      </if>
      <if test="handleStatus != null">
        #{handleStatus,jdbcType=VARCHAR},
      </if>
      <if test="linkStatus != null">
        #{linkStatus,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="target != null">
        #{target,jdbcType=VARCHAR},
      </if>
      <if test="rank != null">
        #{rank,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="desc != null">
        #{desc,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=LONGVARCHAR},
      </if>
      <if test="docUnit != null">
        #{docUnit,jdbcType=VARCHAR},
      </if>
      <if test="docNum != null">
        #{docNum,jdbcType=VARCHAR},
      </if>
      <if test="docTime != null">
        #{docTime,jdbcType=TIMESTAMP},
      </if>
      <if test="docCode != null">
        #{docCode,jdbcType=VARCHAR},
      </if>
      <if test="docType != null">
        #{docType,jdbcType=VARCHAR},
      </if>
      <if test="urgencyDegree != null">
        #{urgencyDegree,jdbcType=VARCHAR},
      </if>
      <if test="attachmentUrl != null">
        #{attachmentUrl,jdbcType=VARCHAR},
      </if>
      <if test="attachmentName != null">
        #{attachmentName,jdbcType=VARCHAR},
      </if>
      <if test="createUserName != null">
        #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hengyunsoft.platform.developer.repository.fast.document.example.FastAppDocTaskExample" resultType="java.lang.Integer">
    <!--
    @mbggenerated
    -->
    select count(*) from b_fast_app_doc_task
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--
    @mbggenerated
    -->
    update b_fast_app_doc_task
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.appId != null">
        app_id = #{record.appId,jdbcType=VARCHAR},
      </if>
      <if test="record.currentUserType != null">
        current_user_type = #{record.currentUserType,jdbcType=VARCHAR},
      </if>
      <if test="record.nextUserType != null">
        next_user_type = #{record.nextUserType,jdbcType=VARCHAR},
      </if>
      <if test="record.nextUserId != null">
        next_user_id = #{record.nextUserId,jdbcType=BIGINT},
      </if>
      <if test="record.handleStatus != null">
        handle_status = #{record.handleStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.linkStatus != null">
        link_status = #{record.linkStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null">
        name_ = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.target != null">
        target_ = #{record.target,jdbcType=VARCHAR},
      </if>
      <if test="record.rank != null">
        rank_ = #{record.rank,jdbcType=VARCHAR},
      </if>
      <if test="record.title != null">
        title_ = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.desc != null">
        desc_ = #{record.desc,jdbcType=VARCHAR},
      </if>
      <if test="record.content != null">
        content_ = #{record.content,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.docUnit != null">
        doc_unit = #{record.docUnit,jdbcType=VARCHAR},
      </if>
      <if test="record.docNum != null">
        doc_num = #{record.docNum,jdbcType=VARCHAR},
      </if>
      <if test="record.docTime != null">
        doc_time = #{record.docTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.docCode != null">
        doc_code = #{record.docCode,jdbcType=VARCHAR},
      </if>
      <if test="record.docType != null">
        doc_type = #{record.docType,jdbcType=VARCHAR},
      </if>
      <if test="record.urgencyDegree != null">
        urgency_degree = #{record.urgencyDegree,jdbcType=VARCHAR},
      </if>
      <if test="record.attachmentUrl != null">
        attachment_url = #{record.attachmentUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.attachmentName != null">
        attachment_name = #{record.attachmentName,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserName != null">
        create_user_name = #{record.createUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.createUser != null">
        create_user = #{record.createUser,jdbcType=BIGINT},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateUser != null">
        update_user = #{record.updateUser,jdbcType=BIGINT},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--
    @mbggenerated
    -->
    update b_fast_app_doc_task
    set id = #{record.id,jdbcType=BIGINT},
      app_id = #{record.appId,jdbcType=VARCHAR},
      current_user_type = #{record.currentUserType,jdbcType=VARCHAR},
      next_user_type = #{record.nextUserType,jdbcType=VARCHAR},
      next_user_id = #{record.nextUserId,jdbcType=BIGINT},
      handle_status = #{record.handleStatus,jdbcType=VARCHAR},
      link_status = #{record.linkStatus,jdbcType=VARCHAR},
      name_ = #{record.name,jdbcType=VARCHAR},
      target_ = #{record.target,jdbcType=VARCHAR},
      rank_ = #{record.rank,jdbcType=VARCHAR},
      title_ = #{record.title,jdbcType=VARCHAR},
      desc_ = #{record.desc,jdbcType=VARCHAR},
      content_ = #{record.content,jdbcType=LONGVARCHAR},
      doc_unit = #{record.docUnit,jdbcType=VARCHAR},
      doc_num = #{record.docNum,jdbcType=VARCHAR},
      doc_time = #{record.docTime,jdbcType=TIMESTAMP},
      doc_code = #{record.docCode,jdbcType=VARCHAR},
      doc_type = #{record.docType,jdbcType=VARCHAR},
      urgency_degree = #{record.urgencyDegree,jdbcType=VARCHAR},
      attachment_url = #{record.attachmentUrl,jdbcType=VARCHAR},
      attachment_name = #{record.attachmentName,jdbcType=VARCHAR},
      create_user_name = #{record.createUserName,jdbcType=VARCHAR},
      create_user = #{record.createUser,jdbcType=BIGINT},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_user = #{record.updateUser,jdbcType=BIGINT},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hengyunsoft.platform.developer.entity.fast.po.document.FastAppDocTask">
    <!--
    @mbggenerated
    -->
    update b_fast_app_doc_task
    <set>
      <if test="appId != null">
        app_id = #{appId,jdbcType=VARCHAR},
      </if>
      <if test="currentUserType != null">
        current_user_type = #{currentUserType,jdbcType=VARCHAR},
      </if>
      <if test="nextUserType != null">
        next_user_type = #{nextUserType,jdbcType=VARCHAR},
      </if>
      <if test="nextUserId != null">
        next_user_id = #{nextUserId,jdbcType=BIGINT},
      </if>
      <if test="handleStatus != null">
        handle_status = #{handleStatus,jdbcType=VARCHAR},
      </if>
      <if test="linkStatus != null">
        link_status = #{linkStatus,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name_ = #{name,jdbcType=VARCHAR},
      </if>
      <if test="target != null">
        target_ = #{target,jdbcType=VARCHAR},
      </if>
      <if test="rank != null">
        rank_ = #{rank,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        title_ = #{title,jdbcType=VARCHAR},
      </if>
      <if test="desc != null">
        desc_ = #{desc,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content_ = #{content,jdbcType=LONGVARCHAR},
      </if>
      <if test="docUnit != null">
        doc_unit = #{docUnit,jdbcType=VARCHAR},
      </if>
      <if test="docNum != null">
        doc_num = #{docNum,jdbcType=VARCHAR},
      </if>
      <if test="docTime != null">
        doc_time = #{docTime,jdbcType=TIMESTAMP},
      </if>
      <if test="docCode != null">
        doc_code = #{docCode,jdbcType=VARCHAR},
      </if>
      <if test="docType != null">
        doc_type = #{docType,jdbcType=VARCHAR},
      </if>
      <if test="urgencyDegree != null">
        urgency_degree = #{urgencyDegree,jdbcType=VARCHAR},
      </if>
      <if test="attachmentUrl != null">
        attachment_url = #{attachmentUrl,jdbcType=VARCHAR},
      </if>
      <if test="attachmentName != null">
        attachment_name = #{attachmentName,jdbcType=VARCHAR},
      </if>
      <if test="createUserName != null">
        create_user_name = #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByAppIdAndIdSelective" parameterType="com.hengyunsoft.platform.developer.entity.fast.po.document.FastAppDocTask">
    <!--
    @mbggenerated
    -->
    update b_fast_app_doc_task
    <set>
      <if test="appId != null">
        app_id = #{appId,jdbcType=VARCHAR},
      </if>
      <if test="currentUserType != null">
        current_user_type = #{currentUserType,jdbcType=VARCHAR},
      </if>
      <if test="nextUserType != null">
        next_user_type = #{nextUserType,jdbcType=VARCHAR},
      </if>
      <if test="nextUserId != null">
        next_user_id = #{nextUserId,jdbcType=BIGINT},
      </if>
      <if test="handleStatus != null">
        handle_status = #{handleStatus,jdbcType=VARCHAR},
      </if>
      <if test="linkStatus != null">
        link_status = #{linkStatus,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name_ = #{name,jdbcType=VARCHAR},
      </if>
      <if test="target != null">
        target_ = #{target,jdbcType=VARCHAR},
      </if>
      <if test="rank != null">
        rank_ = #{rank,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        title_ = #{title,jdbcType=VARCHAR},
      </if>
      <if test="desc != null">
        desc_ = #{desc,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content_ = #{content,jdbcType=LONGVARCHAR},
      </if>
      <if test="docUnit != null">
        doc_unit = #{docUnit,jdbcType=VARCHAR},
      </if>
      <if test="docNum != null">
        doc_num = #{docNum,jdbcType=VARCHAR},
      </if>
      <if test="docTime != null">
        doc_time = #{docTime,jdbcType=TIMESTAMP},
      </if>
      <if test="docCode != null">
        doc_code = #{docCode,jdbcType=VARCHAR},
      </if>
      <if test="docType != null">
        doc_type = #{docType,jdbcType=VARCHAR},
      </if>
      <if test="urgencyDegree != null">
        urgency_degree = #{urgencyDegree,jdbcType=VARCHAR},
      </if>
      <if test="attachmentUrl != null">
        attachment_url = #{attachmentUrl,jdbcType=VARCHAR},
      </if>
      <if test="attachmentName != null">
        attachment_name = #{attachmentName,jdbcType=VARCHAR},
      </if>
      <if test="createUserName != null">
        create_user_name = #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
     and app_id = #{appId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hengyunsoft.platform.developer.entity.fast.po.document.FastAppDocTask">
    <!--
    @mbggenerated
    -->
    update b_fast_app_doc_task
    set app_id = #{appId,jdbcType=VARCHAR},
      current_user_type = #{currentUserType,jdbcType=VARCHAR},
      next_user_type = #{nextUserType,jdbcType=VARCHAR},
      next_user_id = #{nextUserId,jdbcType=BIGINT},
      handle_status = #{handleStatus,jdbcType=VARCHAR},
      link_status = #{linkStatus,jdbcType=VARCHAR},
      name_ = #{name,jdbcType=VARCHAR},
      target_ = #{target,jdbcType=VARCHAR},
      rank_ = #{rank,jdbcType=VARCHAR},
      title_ = #{title,jdbcType=VARCHAR},
      desc_ = #{desc,jdbcType=VARCHAR},
      content_ = #{content,jdbcType=LONGVARCHAR},
      doc_unit = #{docUnit,jdbcType=VARCHAR},
      doc_num = #{docNum,jdbcType=VARCHAR},
      doc_time = #{docTime,jdbcType=TIMESTAMP},
      doc_code = #{docCode,jdbcType=VARCHAR},
      doc_type = #{docType,jdbcType=VARCHAR},
      urgency_degree = #{urgencyDegree,jdbcType=VARCHAR},
      attachment_url = #{attachmentUrl,jdbcType=VARCHAR},
      attachment_name = #{attachmentName,jdbcType=VARCHAR},
      create_user_name = #{createUserName,jdbcType=VARCHAR},
      create_user = #{createUser,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByAppIdAndId" parameterType="com.hengyunsoft.platform.developer.entity.fast.po.document.FastAppDocTask">
    <!--
    @mbggenerated
    -->
    update b_fast_app_doc_task
    set app_id = #{appId,jdbcType=VARCHAR},
      current_user_type = #{currentUserType,jdbcType=VARCHAR},
      next_user_type = #{nextUserType,jdbcType=VARCHAR},
      next_user_id = #{nextUserId,jdbcType=BIGINT},
      handle_status = #{handleStatus,jdbcType=VARCHAR},
      link_status = #{linkStatus,jdbcType=VARCHAR},
      name_ = #{name,jdbcType=VARCHAR},
      target_ = #{target,jdbcType=VARCHAR},
      rank_ = #{rank,jdbcType=VARCHAR},
      title_ = #{title,jdbcType=VARCHAR},
      desc_ = #{desc,jdbcType=VARCHAR},
      content_ = #{content,jdbcType=LONGVARCHAR},
      doc_unit = #{docUnit,jdbcType=VARCHAR},
      doc_num = #{docNum,jdbcType=VARCHAR},
      doc_time = #{docTime,jdbcType=TIMESTAMP},
      doc_code = #{docCode,jdbcType=VARCHAR},
      doc_type = #{docType,jdbcType=VARCHAR},
      urgency_degree = #{urgencyDegree,jdbcType=VARCHAR},
      attachment_url = #{attachmentUrl,jdbcType=VARCHAR},
      attachment_name = #{attachmentName,jdbcType=VARCHAR},
      create_user_name = #{createUserName,jdbcType=VARCHAR},
      create_user = #{createUser,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
     and app_id = #{appId,jdbcType=VARCHAR}
  </update>
</mapper>