<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="Expires" content="0"/>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/>
    <!-- 外部CSS引入 -->
    <link type="text/css" rel="stylesheet" href="${_static}/js/lib/bootstrap/css/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="${_static}/js/lib/jqgrid/css/ui.jqgrid-bootstrap.css">
    <link type="text/css" rel="stylesheet" href="${_static}/themes/blue/css/ui.css">
    <link type="text/css" rel="stylesheet" href="${_static}/css/sys_com/com.css">
    <link type="text/css" rel="stylesheet" href="${_static}/css/core/module.css">
    <link rel="stylesheet" type="text/css" href="${_static}/js/lib/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="${_static}/css/sms/common.css"/>
    <link rel="stylesheet" type="text/css" href="${_static}/css/sms/zstyle.css"/>
    <link type="text/css" rel="stylesheet" href="${_static}/js/lib/zTree/css/zTreeStyle/zTreeStyle.css"/>
    <link href="${_static}/css/viewCss/module/home.css?v=0" rel="stylesheet" type="text/css"/>
</head>

<body>

<div class="zworkspace-body" style="padding: 0;height: 100%;">
    <div class="clear rleasebox" style="padding: 0;border: none;">
        <div class="row" style="margin-top: 0;">
                <!-- begin 页面内容主体 -->
            <div class="content-card">
                <div class="row">
                    <div class="col-sm-3 card card-1">
                        <div class="card-content">
                            <p>已发送短信数量：<span id="sendNum">--</span>个</p>
                        </div>
                    </div>
                    <div class="col-sm-3 card card-2">
                        <div class="card-content">
                            <p>草稿箱短信数量：<span id="draftNum">--</span>个</p>
                        </div>
                    </div>
                    <div class="col-sm-3 card card-3">
                        <div class="card-content">
                            <p>短信模板数量：<span id="modleNum">--</span>个</p>
                        </div>
                    </div>
                    <div class="col-sm-3 card card-4">
                        <div class="card-content">
                            <p>短信服务账号数量：<span id="accountNum">--</span>个</p>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 25px">
                    <div class="col-sm-12" style="background-color: #fff;padding: 0;">
                        <div class="chart-container">
                            <div id="chart1" class="chart"></div>
                        </div>
                        <br>
                        <div class="chart-container">
                            <div id="chart2" class="chart"></div>
                        </div>
                        <br>
                        <div class="chart-container">
                            <div id="chart3" class="chart"></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- end 页面内容主体 -->
        </div>
    </div>
</div>

<!--begin 外部JS引入 -->
<script type="text/javascript">
    var _GATE_URL = "${_gate_url}";
</script>
<script type="text/javascript" src="${_static}/js/lib/echarts/echarts.common.min.js"></script>
<script type="text/javascript" src="${_static}/js/lib/jquery/jquery.min.js"></script>
<script type="text/javascript" src="${_static}/js/lib/jquery/jquery.cookie.js" charset="utf-8"></script>
<script type="text/javascript" src="${_static}/js/hengyun/hengyun_ajax.js"></script>
<script type="text/javascript" src="${_static}/js/hengyun/hengyun_resource.js"></script>
<script type="text/javascript" src="${_js}/viewJs/module/home.js?v=1"></script>
<!--end 外部JS引入 -->
</body>
</html>