<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Expires" content="0"/>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link type="text/css" rel="stylesheet" href="../../statics/js/lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../../statics/js/lib/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../../statics/js/lib/chosen/chosen.min.css">
    <link rel="stylesheet" href="../../statics/themes/blue/css/ui.css">
    <link rel="stylesheet" href="../../statics/css/module.css">
    <style type="text/css">
    	.workspace-body, .workspace-body .col-sm-4, .workspace-body .col-xs-4{min-height: 100%;}
    	.workspace-body .col-sm-4, .workspace-body .col-xs-4{border: 1px solid #ddd; border-width: 0 1px 0 1px;}
    </style>
</head>
<body>
<div class="workspace-body">
    <div class="col-sm-5 col-xs-5">
        <div class="list-content">
            <div class="form-inline">
            	<table class="table table-hover">
            		<caption>
            			部门
            			<button type="button" class="btn btn-primary search-button pull-right">搜索</button>
            			<input name="" class="form-control pull-right" placeholder="" style="width: 50%;"/>
            		</caption>
            		<col width="20"></col>
            		<col ></col>
            		<col width="20"></col>
            		<tbody>
            			<tr>
            				<td><input type="checkbox" name="" id="" value="" /></td>
            				<td class="text-left">xx部门</td>
            				<td class="text-left"><i class="fa fa-chevron-right"></i></td>
            			</tr>
            			<tr>
            				<td><input type="checkbox" name="" id="" value="" /></td>
            				<td class="text-left">xx部门</td>
            				<td class="text-left"><i class="fa fa-chevron-right"></i></td>
            			</tr>
            			<tr>
            				<td><input type="checkbox" name="" id="" value="" /></td>
            				<td class="text-left">xx部门</td>
            				<td class="text-left"><i class="fa fa-chevron-right"></i></td>
            			</tr>
            		</tbody>
            	</table>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-xs-4">
        <div class="list-content">
            <div class="form-inline">
            	<table class="table table-hover">
            		<caption>
            			人员
            			<button type="button" class="btn btn-primary search-button pull-right">搜索</button>
            			<input name="" class="form-control pull-right" placeholder="" style="width: 50%;"/>
            		</caption>
            		<col width="20"></col>
            		<col ></col>
            		<tbody>
            			<tr>
            				<td><input type="checkbox" name="" id="" value="" /></td>
            				<td class="text-left">张薇</td>
            			</tr>
            			<tr>
            				<td><input type="checkbox" name="" id="" value="" /></td>
            				<td class="text-left">张超</td>
            			</tr>
            			<tr>
            				<td><input type="checkbox" name="" id="" value="" /></td>
            				<td class="text-left">张敏</td>
            			</tr>
            		</tbody>
            	</table>
            </div>
        </div>
    </div>
    <div class="col-sm-3 col-xs-3">
        <div class="list-content">
            <div class="form-inline">
            	<table class="table">
            		<caption>已选对象</caption>
            		<tbody>
            			<tr>
            				<td class="text-left">张薇</td>
            			</tr>
            			<tr>
            				<td class="text-left">张超</td>
            			</tr>
            			<tr>
            				<td class="text-left">张敏</td>
            			</tr>
            		</tbody>
            	</table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="../../statics/js/lib/jquery/jquery.min.js"></script>
<script type="text/javascript" src="../../statics/js/lib/chosen/chosen.jquery.min.js"></script>
<script type="text/javascript" src="../../statics/themes/blue/js/ui.js"></script>
<script type="text/javascript" src="../../statics/js/module.js"></script>
<script type="text/javascript">
</script>
</body>
</html>