<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Expires" content="0"/>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link type="text/css" rel="stylesheet" href="../../statics/js/lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../../statics/js/lib/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../../statics/js/lib/chosen/chosen.min.css">
    <link rel="stylesheet" href="../../statics/themes/blue/css/ui.css">
    <link rel="stylesheet" href="../../statics/css/module.css">
</head>
<body>
<div class="workspace-body">
    <div class="row">
        <div class="col-sm-12">
            <div class="list-content">
                <div class="form-inline">
                	<table class="table">
                		<col width="20"></col>
                		<col ></col>
                		<col width="60"></col>
                		<col width="150"></col>
                		<thead>
                			<tr>
                				<th><input type="checkbox" name="" id="" value="" /></th>
                				<th class="text-left">文件名</th>
                				<th>大小</th>
                				<th>更新日期</th>
                			</tr>
                		</thead>
                		<tbody>
                			<tr>
                				<td><input type="checkbox" name="" id="" value="" /></td>
                				<td class="text-left"><img class="pull-left" src="../../statics/images/banjie-icon.png" alt="" /><span>我的资源</span></td>
                				<td></td>
                				<td>2017-11-30</td>
                			</tr>
                			<tr>
                				<td><input type="checkbox" name="" id="" value="" /></td>
                				<td class="text-left"><img class="pull-left" src="../../statics/images/banjie-icon.png" alt="" /><span>个人文档</span></td>
                				<td></td>
                				<td>2017-11-30</td>
                			</tr>
                			<tr>
                				<td><input type="checkbox" name="" id="" value="" /></td>
                				<td class="text-left"><img class="pull-left" src="../../statics/images/banjie-icon.png" alt="" /><span>数据资料</span></td>
                				<td></td>
                				<td>2017-11-30</td>
                			</tr>
                		</tbody>
                	</table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="../../statics/js/lib/jquery/jquery.min.js"></script>
<script type="text/javascript" src="../../statics/js/lib/chosen/chosen.jquery.min.js"></script>
<script type="text/javascript" src="../../statics/themes/blue/js/ui.js"></script>
<script type="text/javascript" src="../../statics/js/module.js"></script>
<script type="text/javascript">
</script>
</body>
</html>