html,
body {
  margin: 0;
  height: 100%;
  overflow: auto;
}
.workspace-body {
  height: 100%;
  padding: 3% 3%;
  box-sizing: border-box;
}
.workspace-body .list-container {
  padding: 10px;
  background-color: rgba(168, 168, 168, 0.6);
  min-height: 100%;
  box-sizing: border-box;
}
.workspace-body .list-container .list {
  position: relative;
  padding: 12px 25px;
  background-color: #fff;
  margin-bottom: 20px;
}
.workspace-body .list-container .list pre{
  margin: 10px 0;
}