<!doctype html>
<html>
<head>
    <base href="<%=basePath%>">
    <title>模块提供商</title>
    <meta http-equiv="Expires" content="0"/>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link type="text/css" rel="stylesheet" href="${_static}/js/lib/bootstrap/css/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="${_static}/js/lib/jqgrid/css/ui.jqgrid-bootstrap.css">
    <link rel="stylesheet" href="${_static}/js/lib/zTree/css/zTreeStyle/zTreeStyle.css"/>
    <link rel="stylesheet" href="${_static}/themes/blue/css/ui.css">
    <link rel="stylesheet" href="${_static}/css/sys_com/com.css">
    <link rel="stylesheet" href="${_static}/css/core/module.css">
    <script src="${_static}/js/lib/jquery/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="${_static}/js/lib/zTree/js/jquery.ztree.core.min.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="${_static}/js/lib/jqgrid/js/jquery.jqGrid.js"></script>
    <script type="text/javascript" src="${_static}/js/lib/jqgrid/i18n/grid.locale-cn.js"></script>
    <script type="text/javascript" src="${_static}/js/hengyun/hengyun_ajax.js"></script>
    <script type="text/javascript" src="${_static}/js/app.js?v=1"></script>
    <script type="text/javascript" src="${_static}/js/module.js"></script>
    <script type="text/javascript" src="${_static}/js/lib/My97DatePicker/WdatePicker.js"></script>
    <script type="text/javascript" src="${_static}/js/lib/jquery/jquery.cookie.js" charset="utf-8"></script>
    <script type="text/javascript" src="${_static}/js/lib/layer/layer.js" charset="utf-8"></script>
    <style type="text/css">
        #right-box {
            width: 100%;
            height: calc(100% - 65px);
            border: 0;
        }
        .Wdate{
            width: 120px;
        }
        .form-inline .form-field {
            margin: 4px 0px 4px 0px;
        }
        .main {
            padding: 9px 6px;
        }
        .btn{
            padding: 8px 12px;
        }
    </style>
</head>
<body>
<div class="workspace-body">
    <div class="console-container clearfix">
            <div class="col-sm-12">
                <!-- begin 标题 -->
                <div class="console-title console-title-border clearfix">
                    <div class="pull-left">
                        <h5 class="page-title">
                            模块监控系统 &gt;<span class="page-title-scend">服务提供商</span>
                        </h5>
                    </div>
                    <div class="pull-right"></div>
                </div>
        </div>
        <!-- begin 页面内容主体 -->
        <div class="main">
            <div class="list-section">
                <form action="" class="form-inline search-form">
                    <div class="form-field">
                        <div class="form-group">
                            <label class="control-label">
                                <span class="text-danger"></span>
                                <span>提供商：</span>
                            </label>
                            <div class="form-control-wrap">
                                <input name="name" id="name" class="form-control" placeholder="" style="width: 110px;"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-field">
                        <div class="form-group">
                            <div class="form-control-wrap text-right">
                                <button type="button" class="btn btn-primary search-button" onclick="search()">
                                    <span class="glyphicon glyphicon-search"></span> 查询
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="form-field">
                        <div class="form-group">
                            <div class="form-control-wrap text-right">
                                <button type="button" class="btn btn-primary search-button" onclick="reset()">
                                    <span class="glyphicon glyphicon-refresh"></span> 重置
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="form-field">
                        <div class="form-group">
                            <div class="form-control-wrap text-right">
                                <button type="button" class="btn btn-primary search-button" onclick="createPage()">
                                    <span class="glyphicon glyphicon-plus"></span> 新增
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div id="right-box" class="list-section">
                <div class="grid-section">
                    <table id="list"></table>
                    <div id="pager"></div>
                </div>
            </div>
        </div>
        <!-- end 页面内容主体 -->
    </div>
</div>
<script type="text/javascript">
    var tableObj = null;//jqgrid表对象
    getdocumentList();

    function getdocumentList() {
        var height = $("#right-box").height() - 80;
        tableObj = $("#list").jqGrid({
                mtype: 'POST',
                postData: {"pageNo": 1, "pageSize": 10},
                datatype: "json",
                contentType: 'application/json',
                serializeGridData: function (postData) {
                    return JSON.stringify(postData);
                },
                url: '${_gate_url}/api/modular/provider/pageProviderInformation',
                colNames: ['提供商名称', '联系电话', '提供商简介', '提供商地址', '创建时间', '操作'],
                colModel: [{
                    name: 'name',
                    index: 'name',
                    sortable: false,
                }, {
                    name: 'phone',
                    index: 'phone',
                    sortable: false
                }, {
                    name: 'describle',
                    index: 'describle',
                    sortable: false
                }, {
                    name: 'address',
                    index: 'address',
                    sortable: false
                }, {
                    name: 'createTime',
                    index: 'createTime',
                    sortable: true,
                    formatter: formatterCreateTime
                }, {
                    name: 'act',
                    index: 'act',
                    title: false,
                    width: '350',
                    align: 'center',
                    sortable: false,
                    formatter: formatterAct
                }],
                jsonReader: {
                    root: "data.list",
                    page: "data.pageNum",
                    total: "data.pages",
                    records: "data.total"
                },
                rowNum: 10,
                pager: '#pager',
                height: height,
                onPaging: function (pgButton) {
                    var pageNo = $(".ui-pg-input").val();
                    pageNo = parseInt(pageNo);
                    var total = ($("#sp_1_pager_toppager").text()).replace(/,/g,'');
                    total = parseInt(total);
                    if (pgButton == "next") {
                        if (pageNo >= total) {
                            return false;
                        } else {
                            pageNo += 1;
                        }
                    } else if (pgButton == "prev") {
                        if (pageNo > 1) {
                            pageNo -= 1;
                        } else {
                            return false;
                        }
                    } else if (pgButton == "last") {
                        pageNo = total;
                    } else if (pgButton == "first") {
                        pageNo = 1;
                    }
                    var pageSize = $(".ui-pg-selbox").val();
                    if (pageNo != 0) {
                        $("#list").setGridParam({postData: {pageNo: pageNo, pageSize: pageSize}}).trigger("reloadGrid");
                        return false;
                    }
                }
           });
    }


    //创建时间格式化
    function formatterCreateTime(cellvalue, options, rawObject) {
        Date.prototype.Format = function (fmt) { //author: meizz
            var o = {
                "M+": this.getMonth() + 1, //月份
                "d+": this.getDate(), //日
                "h+": this.getHours(), //小时
                "m+": this.getMinutes(), //分
                "s+": this.getSeconds(), //秒
                "q+": Math.floor((this.getMonth() + 3) / 3), //季度
                "S": this.getMilliseconds() //毫秒
            };
            if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
            for (var k in o)
                if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
            return fmt;
        };
        return new Date(cellvalue.replace(/-/g, '/')).Format("yyyy-MM-dd hh:mm:ss");
    }


    //操作列
    function formatterAct(cellvalue, options, rawObject) {
        var returnValue = "";
        var id = rawObject.id;
        returnValue += '<span class="oper-separator"></span>';
        returnValue += '<a class="ui-button" href="javascript:" onclick="editPage(\'' + id + '\')">';
        returnValue += '修改</a>';
        returnValue += '<span class="oper-separator"></span>';
        returnValue += '<a class="ui-button marginLeft" href="javascript:void(0);" onclick="deletePage(\'' + id + '\')">';
        returnValue += '删除</a>';
        return returnValue;
    }

    //模糊查询
    function search() {
        var name = $('#name').val();
        tableObj.setGridParam({
            postData: {
                pageNo: 1, pageSize: 10, data: {
                    name: name
                }
            },
            datatype: "json",
            contentType: 'application/json',
            serializeGridData: function (postData) {
                return JSON.stringify(postData);
            }
        }, true).trigger('reloadGrid');
    }

    //刷新表格
    function reloadJqgrid() {
        var p = $("#list").jqGrid('getGridParam', 'page');//获取当前页
        var pageSize = $(".ui-pg-selbox").val();
        $("#list").setGridParam({
            postData: {pageNo: p, pageSize: pageSize},
            datatype: "json",
            contentType: 'application/json',
            serializeGridData: function (postData) {
                return JSON.stringify(postData);
            }
        }, true).trigger('reloadGrid');
    }



    /* 删除 */
    function deletePage(id) {
        parent.layer.confirm("您确定要删除此信息？", {
            title: '温馨提示',
            shade: [0.4, '#000'],
            btn: ['确定', '取消'] //按钮
        }, function (value, index, elem) {
            ajaxHengyun({
                type: "GET",
                async: false,
                dataType: 'json',
                url: "${_gate_url}/api/modular/provider/delete",
                data: {id: id},
                success: function (rows) {
                    if (rows.data) {
                        parent.home.reloadJqgrid();
                        parent.layer.msg("删除提供商信息成功！", {icon: 6, time: 2000});
                    } else {
                        parent.layer.msg("删除提供商信息失败，请稍后重试！", {icon: 5, time: 2000});
                    }
                }
            });
        }, function () {
            closeLayer();
        });
    }



    /* 弹出新增页面 */
    function createPage() {
        parent.layer.open({
            id: 'create',
            type: 2,
            anim: 6,
            title: '新增提供商信息',
            maxmin: false, //开启最大化最小化按钮
            area: ['50%', '60%'],
            content: "${_cp}/modular/providerAdd",
            btn: ['<span class="glyphicon glyphicon-ok"></span> 确定', '<span class="glyphicon glyphicon-remove"></span> 取消'],
            yes: function (index, layero) {
                var html = layero.context;
                var Id = html.getElementById("create");
                var iframe = $(Id).find("iframe").attr("name");
                var rowData = parent[iframe].save(index);
            }
        });
    }

    /* 弹出编辑页面 */
    function editPage(id) {
        parent.layer.open({
            id: 'edit',
            type: 2,
            anim: 6,
            title: '编辑提供商信息文档',
            maxmin: false, //开启最大化最小化按钮
            area: ['50%', '60%'],
            content: "${_cp}/modular/providerUpdate?id=" + id,
            btn: ['<span class="glyphicon glyphicon-ok"></span> 确定', '<span class="glyphicon glyphicon-remove"></span> 取消'],
            yes: function (index, layero) {
                var html = layero.context;
                var Id = html.getElementById("edit");
                var iframe = $(Id).find("iframe").attr("name");
                var rowData = parent[iframe].save(index);
            }
        });
    }

</script>
</body>
</html>