<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="Expires" content="0"/>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/>
    <!-- 外部CSS引入 -->
    <link type="text/css" rel="stylesheet" href="${_static}/js/lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="${_static}/js/lib/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="${_static}/css/core/sidenav.css">
    <link rel="stylesheet" href="${_static}/themes/blue/css/ui.css?v=1.0.0">
    <link rel="stylesheet" type="text/css" href="${_static}/css/adminIndex.css"/>
    <script type="text/javascript" src="${_static}/js/lib/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="${_static}/js/lib/jquery/jquery.cookie.js" charset="utf-8"></script>
    <script type="text/javascript" src="${_static}/js/hengyun/hengyun_resource.js"></script>
    <script type="text/javascript" src="${_static}/js/hengyun/hengyun_ajax.js"></script>
    <title>贵阳国家高新区数聚高新一体化基础系统平台</title>
</head>

<body>
<div class="view-framework">
    <header>
        <div class="header_left">
            <div class="logo">
                <img src="${_static}/images/adminImg/logo_01.png"/>
            </div>
        </div>
        <div class="header_right clearfix">
            <div class="search left clearfix">
                <input class="left" type="text" name="searchTxt" onfocus="searchTxt()" id="searchTxt" placeholder="搜索数据/应用/菜单"
                       oninput="setSearchTxtVal()"/>
                <lable class="right" for="searchTxt" id="searchBtn"><img src="${_static}/images/adminImg/icon0_01.png"/>
                </lable>
                <div class="searchList">
                    <ul>
                    </ul>
                </div>
            </div>
            <div class="infoTip">
                <img src="${_static}/images/adminImg/infoIcon.png"/>
                <span id="infoTotal">0</span>
            </div>
            <div class="userInfo right clearfix">
                <div class="userImg left">
                    <img alt="" src="${l_u_i_s.photo!''}"
                         onerror="this.onerror='';src='${_static}/images/adminImg/icon0_02.png'" , id="user_photo">
                </div>
                <div class="userTxt right">
                    <input type="hidden" value="${l_u_i_s.id}" id="userId">
                    <input type="hidden" value="${l_u_i_s.ownSystem}" id="systemCode">
                    <label class="userName">${l_u_i_s.name!''}</label>
                    <span class="chevronDown"><img id="rotate" class=""
                                                   src="${_static}/images/adminImg/icon0_03.png"/></span>
                </div>
                <ul>
                    <li><a href="javascript:void(0);" onclick="personInfoPage()">基本信息</a></li>
                    <li><a href="javascript:void(0);" onclick="repassword()">密码修改</a></li>
                    <li><a href="${_cp}/logout">退出</a></li>
                </ul>
            </div>
        </div>
    </header>
    <!-- begin 首页主体 -->
    <div class="view-framework-body view-framework-sidebar-full">
        <!-- begin 左边导航 -->
        <div class="view-framework-sidebar">
            <div class="sidebar-content">
                <div class="sidebar-inner">
                    <div class="sidebar-fold">
                        <img width="22" height="22" style="margin-top: 9px;"
                             src="${_static}/images/core/index/sidebar_close.png"/>
                    </div>
                    <div class="sidebar-mask"></div>
                    <div class="sidebar-collapse">
                        <ul class="nav" id="side-menu">
                            <li>
                                <a href="${_cp}/admin/allInfoPage?type=all" class="J_menuItem" target="home">
                                    <span class="navicon navicon_01"></span>
                                    <span class="nav-label">全部消息</span>
                                </a>
                            </li>
                            <li id="notReadMsg" class="active">
                                <a href="${_cp}/admin/pageMore?type=all" class="J_menuItem" target="home">
                                    <span class="navicon navicon_02"></span>
                                    <span class="nav-label">未读消息</span>
                                </a>
                            </li>
                            <li>
                                <a href="${_cp}/admin/readInfoPage?type=all" class="J_menuItem" target="home">
                                    <span class="navicon navicon_03"></span>
                                    <span class="nav-label">已读消息</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- end 左边导航 -->
            </div>
        </div>
        <!-- begin 工作区 -->
        <div class="view-framework-main">
            <div class="view-framework-workspace">
                <iframe id="home" name="home" frameborder="0" scrolling="no" width="100%" height="100%"
                        src="${_cp}/admin/pageMore"></iframe>
            </div>
        </div>
        <!-- end 工作区 -->
    </div>
    <!-- end 首页主体 -->
    <footer>
        <ul class="clearfix">
            <li><img src="${_static}/images/adminImg/icon_gz_01.png"/></li>
            <li><img src="${_static}/images/adminImg/icon_gz_02.png"/></li>
            <li>
                <p>主办：贵阳国家高新技术产业开发区管委会</p>
                <p>备案序号：黔ICP备54815478号</p>
            </li>
            <li>
                <p>技术支持单位：中科恒运股份有限公司</p>
                <p><img class="left" src="${_static}/images/adminImg/icon_gz_03.png"/>黔公网安备：12135401101120</p>
            </li>
        </ul>
    </footer>
</div>

<!-- 外部JS引入 -->
<script src="${_static}/js/lib/metisMenu/jquery.metisMenu.js"></script>
<script src="${_static}/js/lib/bootstrap/3.3.6/bootstrap.min.js"></script>
<script src="${_static}/js/lib/metisMenu/hplus.min.js"></script>
<script src="${_static}/js/lib/tipsy/jquery.tipsy.js"></script>
<script src="${_static}/js/lib/layer/layer.js"></script>
<script src="${_static}/js/index.js"></script>

<!-- 自定义JS -->
<script type="text/javascript">
    if (window.top != window.self) {
        top.location.href = "${_cp}/admin/index";
    };
    $("#infoTotal").click(function(){
        $("#home").attr("src", "${_cp}/admin/pageMore?type=all");
        $("#side-menu li").removeClass("active");
        $("#notReadMsg").addClass("active");
    });
    var userId = $("#userId").val();
    var systemCode=$("#systemCode").val();
    $(".userTxt,.userInfo ul").off("mouseenter").on("mouseenter", function () {
        $("#rotate").addClass("rotate");
        $(".userInfo ul").css("display", "inline-block");
    });
    $(".userTxt,.userInfo ul").off("mouseleave").on("mouseleave", function () {
        $("#rotate").removeClass("rotate");
        $(".userInfo ul").css("display", "none");
    });
    //搜索结果跳转
    $("#searchBtn").click(function(){

        window.location.href="${_cp}/admin/search";
    });
    
	function searchTxt(){
       window.location.href="${_cp}/admin/search";
    };
    /* 跳转密码修改页面 */
    function repassword() {
        layer.open({
            id: 'repassword',
            type: 2,
            anim: 6,
            title: '密码修改',
            maxmin: false, //开启最大化最小化按钮
            area: ['540px', '320px'],
            content: "${_cp}/admin/repassword?id=" + userId,
            btn: ['<span class="glyphicon glyphicon-ok"></span> 提交', '<span class="glyphicon glyphicon-remove"></span> 取消'],
            yes: function (index, layero) {
                var iframeWin = window[layero.find('iframe')[0]['name']];
                iframeWin.save(index);
            }
        });
    };

    /* 跳转基本信息页面 */
    function personInfoPage() {
        layer.open({
            id: 'personInfoPage',
            type: 2,
            anim: 6,
            title: '基本信息',
            maxmin: false, //开启最大化最小化按钮
            area: ['720px', '600px'],
            content: "${_cp}/admin/personInfoPage?id=" + userId+"&systemCode="+systemCode,
            btn: ['<span class="glyphicon glyphicon-ok"></span> 提交', '<span class="glyphicon glyphicon-remove"></span> 取消'],
            // btn: ['<span class="glyphicon glyphicon-remove"></span> 关闭'],
            yes: function (index, layero) {
                var iframeWin = window[layero.find('iframe')[0]['name']];
                iframeWin.save(index);
            }
        });
    };
    /*获取消息总数*/
    getInfoTotal();

    function getInfoTotal() {
        ajaxHengyun({
            type: 'post',
            url: '${_gate_url}/api/msgs/bbs/msg/getNotReadMsg',
            contentType: 'application/json',
            data: JSON.stringify({
                pageNo: 1,
                pageSize: 1,
                data: {
                    conditions: "all",
                    userId: userId
                }
            }),
            success: function (res) {
                if (res.errmsg == "ok") {
                    $("#infoTotal").text(res.data.total);
                }
                ;
            }
        })
    };
    if ("${type}") {
        $("#home").attr("src", "${_cp}/admin/pageMore?type=${type}");
    }
    $(".logo").click(function(){
        window.location.href="${_cp}/admin/index";
    });
</script>

</body>

</html>