<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>贵阳国家高新区数聚高新一体化基础系统平台</title>
    <link rel="stylesheet" type="text/css" href="${_static}/js/lib/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="${_static}/js/lib/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="${_static}/js/lib/layer/skin/layer.css">
    <link rel="stylesheet" type="text/css" href="${_static}/css/adminIndex.css"/>
</head>
<body>
<div class="container">
    <div class="infoContainer">
        <input type="hidden" value="${l_u_i_s.id}" id="userId">
        <h3 class="clearfix">未读消息
        </h3>
        <div class="infoMain">
            <ul id="infoType" class="clearfix">
                <li id="all" class="active">全部</li>
                <li id="needHandle">待办（<span>0</span>）</li>
                <li id="message">消息（<span>0</span>）</li>
            </ul>
            <table id="systemList" class="default-table tab-title-top">
                <thead>
                <tr>
                    <th width="60">序号</th>
                    <th>标题内容</th>
                    <th width="200">来源</th>
                    <th width="200">类型</th>
                    <th width="180">时间</th>
                    <th width="80">操作</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <ul class="setact clearfix">
                <li class="all"><input type="checkbox" name="checkbox" />全部</li>
                <li id="removeBtn">删除</li>
                <li id="readMsgs">标记已读</li>
            </ul>
            <div class="text-center clearfix">
                <ul class="pagination" id="pagination" ></ul>
                <p class="pull-right currentPage">共<span id="totalNum"></span>条数据&nbsp;&nbsp;当前第<span id="pageNum" class="colorBlue"></span>页/共<span id="totalPages"  class="colorBlue">10</span>页</p>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="${_static}/js/lib/jquery/jquery.min.js"></script>
<script type="text/javascript" src="${_static}/js/lib/jquery/jquery.cookie.js" charset="utf-8"></script>
<script type="text/javascript" src="${_static}/js/hengyun/hengyun_ajax.js"></script>
<script type="text/javascript" src="${_static}/js/jquery.easing.min.js"></script>
<script type="text/javascript" src="${_static}/js/jquery.lavalamp.min.js"></script>
<script type="text/javascript" src="${_static}/js/lib/layer/layer.js"></script>
<script src="${_static}/js/lib/jqPaginator/jqPaginator.js" type="text/javascript" charset="utf-8"></script>
<script>
    var _type = "${type}";
    var gateUrl = "${_gate_url}";
</script>
<script src="${_static}/js/viewJs/pageMore.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>
