<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Expires" content="0"/>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link type="text/css" rel="stylesheet" href="${_static}/js/lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="${_static}/js/lib/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="${_static}/js/lib/chosen/chosen.min.css">
    <link rel="stylesheet" href="${_static}/themes/blue/css/ui.css">
    <link rel="stylesheet" href="${_static}/css/module.css">
</head>
<body>
<div class="workspace-body configure">
    <div class="col-sm-12 col-xs-12">
        <div class="list-content">
            <div class="form-inline">
            	<h3>请输入原始密码:</h3>
            	<input type="text" name="" id="oldPassword" class="folderName" autocomplete="off" onfocus="this.type='password'"/>
                <h3>设置的新密码:</h3>
            	<input type="text" name="" id="newPassword" class="folderName" autocomplete="off" onfocus="this.type='password'"/>
                <h3>确认新密码:</h3>
                <input type="text" name="" id="newTwoPassword" class="folderName" autocomplete="off" onfocus="this.type='password'"/>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="${_static}/js/lib/jquery/jquery.min.js"></script>
<script type="text/javascript" src="${_static}/js/lib/jquery/jquery.cookie.js" charset="utf-8"></script>
<script type="text/javascript" src="${_static}/js/hengyun/hengyun_ajax.js"></script>
<script type="text/javascript" src="${_static}/js/lib/chosen/chosen.jquery.min.js"></script>
<script type="text/javascript" src="${_static}/themes/blue/js/ui.js"></script>
<script type="text/javascript" src="${_static}/js/module.js"></script>
<script type="text/javascript">
    function save(index){
        var oldPassVal = $("#oldPassword").val();
        var newPassVal = $("#newPassword").val();
        var newTwoPassVal = $("#newTwoPassword").val();
        var error=[];
        if(!oldPassVal){
            error.push("原密码");
        };
        if(!newPassVal){
            error.push("新密码");
        };
        if(!newTwoPassVal){
            error.push("确认密码");
        };
        if(error.length>0){
            parent.layer.msg(error.join("、")+"不能为空",{time:1500});
            return false;
        };
        if(newPassVal!=newTwoPassVal){
            $("#newTwoPassword").val("");
            parent.layer.msg("两次输入的密码不一致，请重新输入",{time:1500});
            return false;
        };
        var data={
            id:"${id}",
            oldPassword:oldPassVal,
            newPassword:newPassVal,
            truePassword:newTwoPassVal,
        };
        ajaxHengyun({
            url: '${_gate_url}/api/admin/p/user/updatePsw',
            contentType: 'application/json',
            type: 'POST',
            data: JSON.stringify(data),
            success: function (res) {
                if (res.data) {
                    parent.layer.msg("密码修改成功！", {icon: 6, time: 1000});
                    parent.layer.close(index);
                } else {
                    parent.layer.msg(res.errmsg, {time: 1000});
                }
            }
        })
    };
</script>
</body>
</html>