<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hengyunsoft.platform.modular.repository.modular.dao.ModularTagMapper">

    <!--根据模块id删除模块和分类的关联表信息-->
    <select id="deleteTagsByModularId"  parameterType="java.lang.Long">
        DELETE FROM modular_tag WHERE modular_id = #{id,jdbcType=BIGINT}
    </select>

</mapper>
