.row {
    margin: 0 0;
    margin-bottom: 15px;
    padding-bottom: 15px;
}

.console-title {
    min-height: 20px;
    text-align: center;
    font-size: 18px;
    color: #000000;
    border-bottom: none;
}

.list-section {
    padding-bottom: 24px;
    background: #fff;
}

.list-content {
    width: 95%;
    margin: 0 auto;
}

.list-content h5 {
    margin: 0 0;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #0099cc;
}

.list-content h4 {
    font-size: 12px;
    line-height: 12px;
    font-family: "微软雅黑";
    vertical-align: middle;
}

label.control-label {
    text-align: right;
}

table.infoList tr th {
    border: 1px solid #e1e6eb;
    padding: 10px 12px;
    vertical-align: middle;
    width: 180px;
    font-weight: normal;
}

table.infoListTab tr th {
    width: auto;
}

.upuserhead {
    position: absolute;
    top: 0;
    right: 0;
}

.uploader {
    width: 100%;
}

table.infoList tbody tr td input.form-control {
    width: 100%;
}

table.infoList tbody tr td select.form-control {
    width: 100%;
}
.spliter{
    margin: 0 10px;
}
.handle{
    color: #337ab7;
    text-decoration: none;
}