<!DOCTYPE html>
<html>
<#include "/module/header.html">
<head>
    <meta charset="UTF-8">
    <title>服务监控系统 </title>
    <link rel="stylesheet" type="text/css" href="${_static}/js/lib/layer/skin/layer.css">
    <link rel="stylesheet" type="text/css" href="${_static}/css/appServiceManage.css"/>
    <script>
        var pageType="provideList";
    </script>
</head>
<body>
<div class="main-box clearfix">

    <#include "/module/navLeft.html">
    <div class="right-box">
        <div class="top-bar">
            <div class="text-title pull-left">
                功能管理 > <span class="active">列表</span>
            </div>
            <a href="${_cp}/module/provideCreate" class="button-icon pull-right">
                <img src="${_static}/images/add_icon.png"/> 新增功能
            </a>
        </div>
        <div class="main" ng-app="app" ng-controller="controller" ng-cloak>
            <div class="main_item clearfix" ng-repeat="(idx, rows) in appList" on-finish-render-filters>
                <h3 class="clearfix">
                    <span class="left main_item_title">{{rows.typeName}}</span>
                </h3>
                <div class="main_item_conter clearfix" ng-repeat="item in rows.children">
                    <div class="left">
                        <img ng-src="{{item.logo || '${_static}/images/default.png'}}" onError="item.logo='${_static}/images/default.png'"/>
                    </div>
                    <div class="right">
                        <h3>{{item.name}}</h3>
                        <p class="texTellipsis">{{item.desc}}</p>
                    </div>
                    <div class="main_item_conter_hover">
                        <ul class="clearfix">
                            <li><a href="${_cp}/module/provideEdit?id={{item.id}}">修改</a></li>
                            <li ng-if="item.status == 1"><a href="javascript:void(0);" ng-click="doAct(item.id, 'outmoded', idx)">过时</a></li>
                            <li ng-if="item.status == 10"><a href="javascript:void(0);" ng-click="doAct(item.id, 'cancelOutmoded', idx)">取消过时</a></li>
                            <li ng-if="item.status == 1 || item.status == 10"><a href="javascript:void(0);" ng-click="doAct(item.id, 'stopUsing', idx)">停用</a></li>
                            <li ng-if="item.status == 20"><a href="javascript:void(0);" ng-click="doAct(item.id, 'startUsing', idx)">启用</a></li>
                            <li><a href="${_cp}/module/provideView?id={{item.id}}">详情</a></li>
                            <li><a href="${_cp}/module/apiDoc?moduleId={{item.id}}">API列表</a></li>
                            <li><a href="${_cp}/module/peakAnalysis">调用情况</a></li>
                            <li><a href="${_cp}/module/provideConsumerManger?moudleId={{item.id}}">消费列表</a></li>
                            <li class="autoWidth"><a href="${_cp}/module/provideDocManage?moduleId={{item.id}}&moduleName={{item.name}}">帮助文档</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<#include "/module/footer.html">
<script type="text/javascript" src="${_static}/js/lib/layer/layer.js"></script>
<script>
    var app = angular.module('app', []);
    app.controller('controller', function ($scope,$http,token,dataJson) {
        var urlPrev = getUrlPrev('${_gate_url}');
        // 操作启用停用等的状态常量
        var actType = {
            // 过时
            outmoded: 'outmoded',
            // 停用
            stopUsing: 'stopUsing',
            // 启用
            startUsing: 'startUsing',
            // 取消过时
            cancelOutmoded: 'cancelOutmoded'
        }
        
        getAllList();
        
        function getAllList(){
            $http.get(urlPrev + '/dictionary/findDictionary?typeCode[]=module.type',{
                headers:getHeaders(),
            }).success(function (res) {
                $scope.dictionaryList = res.data;
                $http.get(urlPrev + 'serviceModuleApply/getList?HYtimestamp=' + Date.now(),{
                    headers:getHeaders()
                }).success(function (res) {
                    $scope.appList = dataJson.get(res.data,$scope.dictionaryList["module.type"]);
                });
            });
        };
        $(".main").on('mouseenter','.main_item_conter',function () {
            $(this).find(".main_item_conter_hover").css("display", "block");
        });
        $(".main").on('mouseleave','.main_item_conter',function () {
            $(this).find(".main_item_conter_hover").css("display", "none");
        });
        $scope.$on('ngRepeatFinished', function (ngRepeatFinishedEvent) {
            //下面是在table render完成后执行的js
            var element = $(".texTellipsis");
            if(element.length>0){
                element.each(function (index,value) {
                    var height = $(value)[0].scrollHeight;
                    var tempstr = $(value)[0].innerHTML;
                    var len = tempstr.length;
                    var i = 0;
                    if(height>60){
                        var temp = "";
                        $(value)[0].innerHTML = temp;
                        while($(value)[0].scrollHeight <= 60){
                            temp = tempstr.substring(0, i+1);
                            i++;
                            $(value)[0].innerHTML = temp;
                        }
                        var slen = temp.length;
                        tempstr = temp.substring(0, slen-1);
                        len = tempstr.length
                        $(value)[0].innerHTML = tempstr.substring(0, len-1) +"......";
                    }
                })
            }
        });
        // 过时、启用等操作的提交
        $scope.submit = function (data) {
            $http.post(urlPrev + 'serviceModuleApply/moduleMixHandle', data, {
                headers:getHeaders(),
            }).success(function (res) {
                if (res.errcode === 0) {
                    parent.layer.closeAll();
                    parent.layer.msg('操作成功！');
                    getAllList();
                } else {
                    parent.layer.msg(res.errmsg);
                }
            });
        }
        // idx: applist的索引号，这样就可以循环当前类下面的数据
        $scope.doAct = function (id, type, idx) {
            var data = {
                id: id,
                mixHandleType: type
            }
            switch(type) {
                // 过时
                case actType.outmoded:
                    var list = $scope.appList[idx].children.filter(function(item){
                        return item.id !== id
                    });
                    var options = ['建议模块：<select style="width: 140px;" id="adviseModule"><option value="-1">无</option>'];
                    for (var i = 0; i < list.length; i++) {
                        var name = list[i].name;
                        options.push('<option value="'+i+'">'+name+'</option>');
                    }
                    options.push('<select>');
                    parent.layer.confirm(options.join(''), {
                        title: '请选择建议的模块',
                        btn: ['确定','取消'],
                    }, function(index) {
                        var index = $('#adviseModule').val();
                        if (index != '-1') {
                            data.adviseModuleId = list[index].id;
                            data.adviseModuleName = list[index].name;
                        }
                        $scope.submit(data);
                    });
                    break
                // 停用
                case actType.stopUsing:
                    parent.layer.confirm("您确定停用吗？",{btn: ['确定','取消']},function(index) {
                        $scope.submit(data);
                    });
                    break
                // 取消过时
                case actType.cancelOutmoded:
                    parent.layer.confirm("您确定取消过时吗？",{btn: ['确定','取消']},function(index) {
                        $scope.submit(data);
                    });
                    break
                // 启用
                case actType.startUsing:
                    parent.layer.confirm("您确定启用吗？",{btn: ['确定','取消']},function(index) {
                        $scope.submit(data);
                    });
                    break
            }
        }
    }).service('token',function () {
        this.getToken = function () {
            return getToken();
        }
    }).service('dataJson',function () {
        this.get = function (oldData,dictionaryList) {
        
            var newData = [];
            if(oldData.length){
                $.each(oldData,function (index,value) {
                    $.each(dictionaryList,function (index2,value2) {
                        if(value.moduleType == index2){
                            value.moduleName = value2;
                        }
                    });
                    var appObj = value;
                    if(newData.length){
                        flag = true;
                        $.each(newData,function (index1,value1) {
                            value1.typeName
                            if(value.moduleName == value1.typeName){
                                value1.children.push(appObj);
                                flag = false;
                                return false;
                            }
                        })
                        if(flag){
                            var obj = {
                                typeName:value.moduleName,
                                children:[appObj]
                            }
                            newData.push(obj);
                        }
                    }else{
                        var obj = {
                            typeName:value.moduleName,
                            children:[appObj]
                        }
                        newData.push(obj);
                    }
                })
            }
            return newData;
        }
    }).directive('onFinishRenderFilters', function ($timeout) {
        return {
            restrict: 'A',
            link: function(scope, element, attr) {
                if (scope.$last === true) {
                    $timeout(function() {
                        scope.$emit('ngRepeatFinished');
                    });
                }
            }
        };
    });
</script>
</body>
</html>