.main {
    padding: 18px;
    height: calc(100% - 65px);
    background: #f2f2f2;
    float: left;
    width: 100%;
    margin: 0px;
    padding-top: 5px;
}

.searchbox {
    width: 100%;
    border: solid 1px #e0e0e0;
    padding: 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box; /* Firefox */
    -webkit-box-sizing: border-box; /* Safari */
    background-color: #fff;
}

.searchbox input {
    display: inline-block;
    width: 200px;
    height: 32px;
    border: solid 1px #e0e0e0;
}

.searchbox button {
    margin-left: 5px;
}

.maincontent {
    margin-top: 10px;
    height: calc(100% - 38px);
}

.maincontent > div {
    height: auto;
}

.upsort {
    overflow-y: auto;
    width: 230px;
    padding: 10px;
    height: calc(50% - -5px);
    background-color: #fff;
    margin-bottom: 10px;
}

.upsortmin{
    min-height: 370px;
}

.upsort > span {
    display: block;
    border-bottom: solid 1px #06C;
    line-height: 30px;
}

.upsort-title {
    display: block;
    line-height: 30px;
}

.main-center {
    width: calc(100% - 500px);
    margin-left: 20px;
    margin-right: 20px;
    background-color: #f2f2f2;

    box-sizing: border-box;
    -moz-box-sizing: border-box; /* Firefox */
    -webkit-box-sizing: border-box; /* Safari */
}

.imgspan {
    display: block;
    width: 100px;
    height: 100px;
    border: solid 1px #e0e0e0;
    background-color: #f2f2f2;

}

.imgspan img {
    width: 100%;
    height: 100%;
}

.main-center {
    overflow: auto;
}

.main-center ul li {
    padding: 10px;
    background-color: #fff;
    border: solid 1px #e0e0e0;
    margin-bottom: 12px;

}

.textdiv {
    width: calc(100% - 110px);
}

.text-littlediv {
    width: 200px;
}

.text-littlediv span {
    display: block;
    color: #2d9eca;
    line-height: 26px;
}

.text-p {
    display: block;
    height: 95px;
    width: calc(100% - 245px);
    margin-left: auto;
    margin-right: auto;
    margin-top: 6px;
    border: solid 1px #e0e0e0;
    resize: none;
    text-indent: 1em;
    outline: none;
}

.text-littlediv2 {
    width:calc(100% - 72px);
}

.text-littlediv2 span {

    color: #2d9eca;
}

.text-p2 {
    width: calc(100% - 240px);
}

.text-p2 span {
    margin-right: 30px;
}

.pagebox {
    margin-top: 20px;
    float: right;
}

.pagebox a {
    display: block;
    padding: 6px 9px;
    border: solid 1px #e0e0e0;
    color: #2d9eca;
    border-right: 0;
    background-color: #fff;
    float: left;
}

.pagebox a:last-child {
    border: solid 1px #e0e0e0;
}

#findCategoryTop10 tr {
    line-height: 30px;
}

.positionrea{
    position: relative;
}

.btnbox {
    /*margin-top: 33px;*/
    position: absolute;
    right: 6px;
    top: 110px;
}

.maincontent {
    margin-top: 10px;
    height: calc(100% - 75px);
}

.htitle {
    line-height: 30px;
    border: solid 1px #e0e0e0;
    background-color: #fff;
    text-indent: 1em;
    margin-bottom: 5px;
    font-size: 100%;
}

.text-littlediv {
    width: 240px;
}

.text-littlediv span {
    color: #333;
}

.text-littlediv a, .text-littlediv2 a,.upsort-title a {
    color: #2d9eca;
}