<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <!-- begin 外部CSS引入 -->
    <link rel="stylesheet" type="text/css"
          href="${_lib}/jqgrid/css/ui.jqgrid-bootstrap.css">
    <link rel="stylesheet" type="text/css"
          href="${_lib}/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css"
          href="${_lib}/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css"
          href="${_lib}/chosen/bootstrap-chosen.css">
    <link rel="stylesheet" type="text/css"
          href="${_lib}/webuploader/webuploader.css">
    <link rel="stylesheet"
          href="${_cp}/static/themes/blue/css/ui.css?v=0.1">
    <link rel="stylesheet" href="${_cp}/static/css/app.css">
    <link rel="stylesheet" href="${_cp}/static/css/viewCss/worklog/leaderView.css">
    <!-- end 外部CSS引入 -->
</head>

<body>
<div class="workspace-body">
    <div class="console-container">
        <div class="row">
            <div class="col-sm-12">
                <!-- begin 标题 -->
                <div class="console-title console-title-border clearfix">
                    <div class="pull-left">
                        <h5>
                            日志管理 &gt; <font color="#0099cc">我收到的日志</font>
                        </h5>
                    </div>
                </div>
                <!-- begin 页面内容主体 -->
                <div class="list-section">
                    <div class="list-content clearfix">
                        <h5>日志查看</h5>
                        <div class="col-sm-12">
                            <form action="" class="form-inline search-form">
                                <div class="form-field">
                                    <div class="form-group">
                                        <label class="control-label">
                                            <span class="text-danger"></span>
                                            <span>部门：</span>
                                        </label>
                                        <div class="form-control-wrap ">
                                            <select id="select0" name="deptId" class="form-control select-w"
                                                    style="width: 153px;">
                                                <option value="" selected>全部</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-field">
                                    <div class="form-group">
                                        <label class="control-label">
                                            <span class="text-danger"></span>
                                            <span>姓名：</span>
                                        </label>
                                        <div class="form-control-wrap">
                                            <input name="name" class="form-control"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-field">
                                    <div class="form-group">
                                        <div class="form-control-wrap text-right">
                                            <button type="button" class="btn btn-primary search-button">
                                                <span class="glyphicon glyphicon-search"></span>
                                                查询
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- 日志查看代码开始 -->
                        <div id="content" class="col-md-12 widget-chart text-center">
                            <div style="clear: both; margin-bottom: 0;"></div>
                        </div>
                    </div>
                </div>
                <!-- end 页面内容主体 -->
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var _GATE_URL = "${_gate_url}";
    var _cp = "${_cp}";
</script>
<!--begin 外部JS引入 -->
<script type="text/javascript" src="${_lib}/jquery/jquery.min.js"></script>
<script type="text/javascript" src="${_static}/js/lib/jquery/jquery.cookie.js"></script>
<script type="text/javascript" src="${_lib}/jqgrid/js/jquery.jqGrid.js"></script>
<script type="text/javascript" src="${_lib}/jqgrid/i18n/grid.locale-cn.js"></script>
<script type="text/javascript" src="${_lib}/chosen/chosen.jquery.min.js"></script>
<script type="text/javascript" src="${_lib}/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src="${_lib}/webuploader/webuploader.min.js"></script>
<script type="text/javascript" src="${_cp}/static/themes/blue/js/ui.js"></script>
<script type="text/javascript" src="${_cp}/static/js/app.js"></script>
<!--end 外部JS引入 -->
<script type="text/javascript" src="${_cp}/static/js/lj.js"></script>
<!--begin 自定义JS -->
<script type="text/javascript" src="${_static}/js/hengyun/hengyun_ajax.js"></script>
<script type="text/javascript" src="${_cp}/static/js/viewJs/worklog/leaderView.js"></script>
<!--end 自定义JS -->
</body>
</html>