<html>
<head>
    <link rel="stylesheet" href="${_static}/css/reset.css">
    <link rel="stylesheet" href="${_lib}/jqgrid/css/ui.jqgrid-bootstrap.css">
    <link rel="stylesheet" href="${_lib}/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="${_lib}/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="${_lib}/chosen/bootstrap-chosen.css">
    <link rel="stylesheet" href="${_lib}/webuploader/webuploader.css">
    <link rel="stylesheet" href="${_lib}/jquery-step/jquery.step.css">
    <link rel="stylesheet" href="${_static}/themes/blue/css/ui.css?v=0.1">
    <link rel="stylesheet" href="${_static}/css/app.css">
    <link rel="stylesheet" href="${_static}/css/core/module.css">
    <link rel="stylesheet" href="${_static}/css/viewCss/worklog/myworklog.css">
    <!-- end 外部CSS引入 -->
</head>
<body>
<div class="workspace-body">
    <div class="console-container">
        <div class="row">
            <div class="col-sm-12">
                <!-- begin 标题 -->
                <div class="console-title console-title-border clearfix">
                    <div class="pull-left">
                        <h5>日志管理 > <font color="#0099cc" id="worklogUserName">的日志</font></h5>
                    </div>
                </div>
                <div class="form-inline">
                    <div class="form-field">
                        <div class="form-group">
                            <label class="control-label">
                                <span class="text-danger"></span>
                                <span>日期：</span>
                            </label>
                            <div class="form-control-wrap">
                                <input id="startTime" name="startTime" class="form-control Wdate" placeholder=""/> — <input id="endTime" name="endTime" class="form-control Wdate" placeholder=""/>
                            </div>
                        </div>
                    </div>
                    <div class="form-field">
                        <div class="form-group">
                            <div class="form-control-wrap text-right">
                                <button type="button" class="btn btn-primary search-button" id="searchBtn">
                                    <span class="glyphicon glyphicon-search"></span> 查询
                                </button>
                            </div>
                        </div>
                    </div>
                    <div id="fillLog" class="pull-right hidden">
                        <a href="/gxqpt-mt/module/createWorklog" target="home">
                            <button class="btn btn-primary btn-create">
                                <span class="glyphicon glyphicon-plus"></span>
                                填写日志
                            </button>
                        </a>
                    </div>
                    <div class="pull-right hidden" id="btn-back" style="margin: 15px 5px 0 0;">
                        <a href="javascript:void(0);" class="btn-back">返回</a>
                    </div>
                </div>
                <div class="list-section">
                    <div class="list-content">
                        <div id="worklogList" class="form-inline view-info" style="padding: 15px"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var _cp = "${_cp}";
    var _GATE_URL = "${_gate_url}";
</script>
<script type="text/javascript" src="${_lib }/jquery/jquery.min.js"></script>
<script type="text/javascript" src="${_static}/js/lib/jquery/jquery.cookie.js" charset="utf-8"></script>
<script type="text/javascript" src="${_static}/js/hengyun/hengyun_ajax.js"></script>
<script type="text/javascript" src="${_lib }/jqgrid/js/jquery.jqGrid.js"></script>
<script type="text/javascript" src="${_lib }/jqgrid/i18n/grid.locale-cn.js"></script>
<script type="text/javascript" src="${_lib }/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src="${_lib }/chosen/chosen.jquery.min.js"></script>
<script type="text/javascript" src="${_lib}/layer/layer.js"></script>
<script type="text/javascript" src="${_static}/js/viewJs/worklog/myworklog.js?v=1"></script>
</body>
</html>
