<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<link type="text/css" rel="stylesheet"  href="${_lib }/jqgrid/css/ui.jqgrid-bootstrap.css">
	<link rel="stylesheet" type="text/css" href="${_lib }/font-awesome/css/font-awesome.min.css">
	<link type="text/css" rel="stylesheet"  href="${_lib }/chosen/chosen.min.css">
	<link type="text/css" rel="stylesheet"  href="${_lib }/webuploader/webuploader.css">
	<link type="text/css" rel="stylesheet"  href="${_lib }/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" href="${_static}/themes/blue/css/ui.css?v=0.1">
	<link rel="stylesheet" href="${_static }/js/lib/webuploader/upload.css"/>
	<link rel="stylesheet" href="${_static}/css/core/module.css">
	<link type="text/css" rel="stylesheet" href="${_lib}/ValidateForm/Validform.css"/>
	<!-- end 外部CSS引入 -->

	<!-- begin 自定义样式 -->
	<link rel="stylesheet" href="${_css}/viewCss/worklog/view.css">
	<!-- end   自定义样式 -->
</head>
<div class="workspace-body">
	<div class="console-container">
		<div class="row">
			<div class="col-sm-12">
				<!-- begin 标题 -->
				<div class="console-title console-title-border clearfix">
					<div class="pull-left">
						<h5 class="page-title">
							工作日志 &gt; <span class="page-title-scend">日志详情</span>
						</h5>
					</div>
				</div>
			</div>
			<div class="col-sm-12">
				<div class="log-box">
					<form action="" id="reply-content">
						<table class="table default-table infoList infoListTab">
							<tr>
								<th width="120">描述信息：</th>
								<td>
									<ol id="desc"></ol>
								</td>
							</tr>
							<tr>
								<th >附件展示信息：</th>
								<td>
									<ul class="filelist"></ul>
								</td>
							</tr>
							<tr>
								<th >抄送人：</th>
								<td id="csPerson">
								</td>
							</tr>
							<tr class="none">
								<th>回复历史：</th>
								<td>
									<div id="reply-container"></div>
								</td>
							</tr>
							<tr class="none">
								<th>回复：</th>
								<td colspan="1">
									<textarea id="content" class="form-control pull-left" style="width:100%;color: #666;background: none;" name="descript" id="descript" rows="5" cols="" dataType="*" nullmsg="回复内容不能为空！"></textarea>
								</td>
							</tr>
						</table>
						<div class="text-center none">
							<button id="saveOk" class="btn btn-primary btn-submit" type="button">
								提交
							</button>
                            <button type="button" class="btn btn-default btn-back none"> 取消 </button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
    var _GATE_URL = "${_gate_url}";
    var _cp = "${_cp}";
</script>
<script type="text/javascript" src="${_lib }/jquery/jquery.min.js"></script>
<script type="text/javascript" src="${_static}/js/lib/jquery/jquery.cookie.js"></script>
<script type="text/javascript" src="${_lib}/ValidateForm/Validform_v5.3.2_min.js"></script>
<script type="text/javascript" src="${_lib}/ValidateForm/Valid.js"></script>
<script type="text/javascript" src="${_static}/js/hengyun/hengyun_ajax.js"></script>
<script type="text/javascript" src="${_js}/viewJs/worklog/view.js"></script>
</body>
</html>
