<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="Expires" content="0"/>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/>
    <!-- 外部CSS引入 -->
    <link type="text/css" rel="stylesheet" href="${_static}/js/lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="${_static}/js/lib/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="${_static}/themes/blue/css/ui.css?v=0.1">
    <link href="${_static}/css/viewCss/module/home.css" rel="stylesheet" type="text/css"/>
</head>

<body>

<div class="workspace-body">
    <div class="console-container">
        <div class="row">
            <div class="col-sm-12">
                <!-- begin 标题 -->
                <div class="console-title console-title-border clearfix">
                    <div class="pull-left">
                        <h5 class="page-title">
                            云盘管理系统 &gt; 统计分析 &gt; <span class="page-title-scend">文件类别分析</span>
                        </h5>
                    </div>
                </div>
                <div class="form-inline">
                    <div class="form-field">
                        <div class="form-group">
                            <label class="control-label">
                                <span class="text-danger">*</span>
                                <span>起始月份：</span>
                            </label>
                            <div class="form-control-wrap">
                                <input name="submittedFileName" id="stateTime" class="form-control Wdate"
                                       placeholder="" onfocus="WdatePicker({dateFmt:'yyyy-MM',maxDate:'#F{$dp.$D(\'endTime\')}'})" autocomplete="off"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-field">
                        <div class="form-group">
                            <label class="control-label">
                                <span class="text-danger">*</span>
                                <span>终止月份：</span>
                            </label>
                            <div class="form-control-wrap">
                                <input name="submittedFileName" id="endTime" class="form-control Wdate"
                                       placeholder="" onfocus="WdatePicker({dateFmt:'yyyy-MM',minDate:'#F{$dp.$D(\'stateTime\')}'})" autocomplete="off"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-field">
                        <div class="form-group">
                            <div class="form-control-wrap text-right">
                                <button type="button" class="btn btn-primary search-button">
                                    确定
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row col-sm-12 col-md-12" style="margin-top: 25px">
                    <div class="chart-container w100">
                        <div id="top" class="echartsItem"></div>
                    </div>
                </div>
                <div class="row col-sm-12 col-md-12" style="margin-top: 25px">
                    <div class="chart-container w100">
                        <div id="bottom" class="echartsItem"></div>
                    </div>
                </div>
                <!-- end 页面内容主体 -->
            </div>
        </div>
    </div>
</div>

<!--begin 外部JS引入 -->
<script type="text/javascript">
    var _GATE_URL = "${_gate_url}";
</script>
<script type="text/javascript" src="${_static}/js/lib/jquery/jquery.min.js"></script>
<script type="text/javascript" src="${_static}/js/lib/echarts/echarts.min.js"></script>
<script type="text/javascript" src="${_static}/js/lib/jquery/jquery.cookie.js" charset="utf-8"></script>
<script type="text/javascript" src="${_static}/js/hengyun/hengyun_ajax.js"></script>
<script type="text/javascript" src="${_static}/js/hengyun/hengyun_resource.js"></script>
<script type="text/javascript" src="${_static}/js/lib/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src="${_js}/viewJs/analysis/categoryAnalysis.js?v=2"></script>
<script type="text/javascript" src="${_static}/js/module.js?v=2"></script>
<!--end 外部JS引入 -->
</body>
</html>