@charset "UTF-8"; 

body,h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
	font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma,
		"Hiragino Sans GB", STHeiti, "Microsoft YaHei";
}

body {
	font-size: 12px;
}

/* 
body {
	font-size: 12px;
    color: #333;
    height: auto;
    font-family: 'Microsoft Yahei', 'Helvetica Neue', 'Luxi Sans', 'DejaVu Sans', Tahoma, 'Hiragino Sans GB', STHeiti;
}
 */

.index-top {
	position: fixed;
	overflow:hidden;
	top: 0px;
	left: 0px;
	height: 81px;
	width: 100%;
	z-index: 100;
	/* background-image: url("../images/index/index-top-bg.png"); */
	background: #06C;
	background-repeat: repeat-x;
	min-width: 1000px;
}

.index-logo {
	position: absolute;
	top: 12px; left : 15px; z-index : 101;
	height: 28px;
	z-index: 101;
}

.index-logo .text-title{
	font-size: 25px;
	color: #fff;
}
.index-top-shortcut {
	position: absolute;
	top: 13px;
	right: 20px;
	z-index: 101;
	height: 47px;
	text-align: center;
}

.index-top-shortcut ul {
	list-style: none;
	display: table;
}

.index-top-shortcut #tm {
	float: left;
	margin-top: 20px;
	color: #fff;
}

.index-top-shortcut ul li {
	float: left;
	width: 5em;
	opacity:0;
}

.index-top-shortcut ul li a {
	text-decoration: none;
}

.index-top-shortcut ul li a img {
	width: 39px;
	height: 40px;
}

.index-top-shortcut ul li span {
	color: #fff;
    display:block;
}

.index-top-splitline {
	color: #fff;
}

/* begin 内容页面样式 */

.console-title h1, .console-title h2, .console-title h3, .console-title h4, .console-title h5, .console-title h6 {
    display: inline-block;
    text-indent: 8px;
    border-left: 2px solid #88B7E0;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 8px;
}

.view-framework-topbar {
	position: fixed;
    width: 100%;
    height: 50px;
    background: #09C;
    z-index: 101;
}

.view-framework-topbar .topbar-wrap {
	position: relative;
    z-index: 100;
    clear: both;
    height: 50px;
    background: #09C;
    font-size: 12px;
    min-width: 990px;
}

.view-framework-topbar .topbar-wrap a {
	text-decoration: none;
}

.topbar-clearfix:BEFORE,  .topbar-clearfix:AFTER {
	display: table;
    content: " ";
    clear: both;
}

.topbar-wrap .topbar-head {
	background: #008fbf;
    height: 50px;
    position: relative;
    z-index: 3;
}

.topbar-wrap .topbar-left {
	float: left;
}

.topbar-wrap .topbar-logo {
	background: #0087b4;
	display: block;
    width: 50px;
    font-size: 28px;
    color: #FFF;
    text-align: center;
    line-height: 50px;
}

.topbar-wrap .topbar-logo span,  .topbar-wrap .topbar-home-link span {
	line-height: 50px;
}

.topbar-btn {
    color: #fff;
    font-size: 14px;
    line-height: 50px;
}

.topbar-btn:hover,.topbar-btn.topbar-btn-dark {
    background: #008fbf;
    color: #fff;
}

.topbar-home-link {
    padding: 0 20px;
    margin-right: 1px;
    background: #09c;
}

.topbar-info {
    background: #008fbf;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
}

.topbar-right {
    float: right;
}

.topbar-notice {
    position: relative;
    font-size: 12px;
    margin-left: 1px;
    padding: 0 12px 0 8px !important;
}

.topbar-btn-notice {
    width: auto;
    display: block;
    height: 50px;
}

.topbar-btn-notice .topbar-btn-notice-icon {
    font-size: 24px;
    line-height: 50px;
    vertical-align: text-bottom;
    color: #fff;
}

.topbar-btn-notice .topbar-btn-notice-icon {
    font-size: 24px;
    line-height: 50px;
    vertical-align: text-bottom;
    color: #fff;
}

.topbar-btn-notice .topbar-btn-notice-num {
    font-size: 12px;
    color: #fff;
    background: #ff9900;
    border-radius: 5px;
    padding: 2px 5px;
    display: inline-block;
    margin-top: 15px;
    line-height: 16px;
    vertical-align: top;
    text-align: center;
}

.topbar-notice .topbar-notice-panel {
    position: absolute;
    top: 48px;
    left: -185px;
    width: 440px;
    border-radius: 2px;
    z-index: 15;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.175);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.175);
    box-shadow: 0 1px 2px rgba(0,0,0,0.175);
}

.topbar-notice .topbar-notice-panel {
    display: none;
}

.topbar-notice span:FIRST-CHILD {
	color: #fff;
}


.topbar-notice .topbar-notice-panel .topbar-notice-arrow {
    background: url(../images/notice-arrow.png) 0 0 no-repeat;
    width: 11px;
    height: 6px;
    position: absolute;
    top: -6px;
    left: 220px;
}

.topbar-notice .topbar-notice-panel .topbar-notice-head {
    height: 50px;
    background-color: #eaedf1;
    padding: 0 15px;
    line-height: 50px;
    color: #333;
    font-size: 14px;
}


.topbar-notice .topbar-notice-panel .topbar-notice-body {
    height: 300px;
    overflow-y: auto;
    background: #fff;
    font-size: 12px;
}

.topbar-notice .topbar-notice-panel .topbar-notice-body ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.topbar-notice .topbar-notice-panel .topbar-notice-body ul li {
    height: 60px;
    line-height: 20px;
    border-bottom: 1px solid #eaedf1;
}

.topbar-notice .topbar-notice-panel .topbar-notice-body ul li a {
    display: block;
    height: 100%;
    padding: 10px 10px;
    background: #fff;
    color: #333;
}

.topbar-notice .topbar-notice-panel .topbar-notice-body ul li a .topbar-notice-link {
    display: block;
    max-width: 300px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #06c;
}

.topbar-notice .topbar-notice-panel .topbar-notice-class {
    padding: 8px 0;
    float: right;
}

.topbar-notice .topbar-notice-panel .topbar-notice-class .topbar-notice-class-name {
    display: block;
    height: 24px;
    line-height: 24px;
    width: 66px;
    background: #eaedf1;
    text-align: center;
    border-radius: 3px;
}

.topbar-notice .topbar-notice-panel .topbar-notice-foot {
    height: 50px;
    line-height: 50px;
    background: #fff;
    text-align: center;
}

.topbar-info-item {
    display: inline-block;
    margin-left: 1px;
}

.topbar-info .dropdown .dropdown-menu {
    width: 100%;
    min-width: 0;
    margin: 0;
    border: none;
}

.dropdown .dropdown-menu {
    z-index: 1;
    font-size: 12px;
    border-radius: 0;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.dropdown-menu {
    font-size: 12px;
    border-radius: 0px;
    padding: 0px;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
}

.topbar-info .topbar-info-btn {
    height: 40px;
    border-bottom: 1px solid #eaedf1;
}

.topbar-info .topbar-info-btn a {
    line-height: 39px;
    padding-left: 10px;
}

.dropdown .dropdown-menu a {
    padding: 0;
}

.dropdown-menu li a {
    padding: 7px 16px;
}

.topbar-info .topbar-btn {
    padding: 0 10px;
    height: 50px;
    display: block;
    z-index: 2;
    background: #09c;
}

.blank.h15{
	height: 15px;
}


.console-container {
	background: #f2f2f2;
	margin: 15px 15px;
	padding: 8px 0;
	height: calc(100% - 30px);
}
.console-title-border {
    border-bottom: 1px solid #DDD;
}

.console-title {
    padding: 12px 0px;
    min-height: 20px;
}

.margin-top, .margin-top-1 {
    margin-top: 8px !important;
}

.alert {
    padding: 6px 12px;
    line-height: 18px;
    margin-bottom: 6px;
    border-radius: 0px;
}
.alert-info {
    color: #555;
    background-color: #F9F9F9;
    border-color: #DDD;
}
.margin-top-2 {
    margin-top: 16px !important;
}
.margin-top-3 {
    margin-top: 24px !important;
}

.form-inline .form-field {
    margin: 4px 8px 4px 0px;
    display: inline-block;
    vertical-align: middle;
}

.form-inline .form-group {
    margin: 4px 8px 4px 0px;
}

label.control-label {
    font-weight: normal;
    font-size: 12px;
    color: #666;
}

.form-inline .form-control-wrap {
    display: inline-block;
    vertical-align: middle;
}

.form-control {
	height: 32px;
    border-radius: 0px;
    padding: 6px;
    -webkit-transition: none;
    transition: none;
    font-size: 12px;
}

.form-group {
    margin-top: 8px;
    margin-bottom: 16px;
}

.label-width {
    width: 150px;
}

.w50 {
    width: 50px !important;
}
.w60 {
    width: 60px !important;
}
.w84 {
    width: 84px !important;
}

.w153 {
    width: 153px !important;
}

.w200 {
    width: 200px !important;
}
.w240 {
    width: 240px !important;
}
.w300 {
    width: 300px !important;
}
.w13pecent {
	width: 13% !important;
}
.w87pecent {
	width: 87% !important;
}
.w30pecent {
	width: 29% !important;
}
.w70pecent {
	width: 70% !important;
}
.w40pecent {
	width: 39% !important;
}
.w60pecent {
	width: 60% !important;
}
.w100pecent {
    width: 100% !important;
}

.select-w {
    width: 160px;
}

.view-info .text-position {
    position: relative;
    top: 7px;
}


.view-info {
    margin-left: 10px;
   /*  font-size: 13px; */
    margin: 0 auto;
    padding-top: 15px;
    padding-left: 10px;
}

.view-info ul {
	margin: 0;
    padding: 0;
    overflow: hidden;
    border-top-color: #e1e6eb;
    border-left-color: #e1e6eb;
    border-right-color: white;
    border-style: solid;
    border-width: 1px 1px 0 1px;
    width: 792px;
    list-style: none;
}

.view-info ul li {
	/*
    overflow: hidden;
    */
    height: 48px;
    width: 395px;
    clear: none;
    float: left;
    border-left-color: white;
    border-top-color: white;
    border-right: 1px solid #e1e6eb;
    border-bottom: 1px solid #e1e6eb;
}

.view-lab1 {
	clear: none;
    float: left;
    margin: 0;
    width: 127px;
    text-align: right;
    padding-right: 10px;
    background-color: #F5F6FA;
    color: #999;
    height: 47px;
    line-height: 32px;
    border-right: 1px solid #e1e6eb;
    padding: 8px 8px;
    font-weight: normal;
}

.view-col {
	display: inline-block;
}
.view-lab2 {
	clear: none;
    margin: 0;
    width: 127px;
    text-align: right;
    padding-right: 10px;
    background-color: #F5F6FA;
    color: #999;
    height: 100%;
    border-right: 1px solid #e1e6eb;
    padding: 8px 8px;
    font-weight: normal;
}

.view-info ul li.col2 {
	width: 790px;
}

.view-text {
	color: rgb(51, 51, 51);
	clear: none;
	float: left;
	display: inline-block;
    text-align: left;
    overflow: inherit;
    height: 100%;
    line-height: 32px;
    vertical-align:middle;
	padding: 8px 8px;
}
.view-text-col {
	display: inline-block;
}

.btn {
    font-size: 12px;
    border-radius: 0px;
    padding: 8px 16px;
    height: 32px;
    line-height: 14px;
}

.btn-default {
    color: #333;
    border: 1px solid #ddd;
    background-color: #f7f7f7;
}

.btn-primary {
    color: #fff;
    border: 1px solid #09c;
    background-color: #09c;
}

.btn-primary:hover {
    color: #fff;
    border: 1px solid #28b5d6;
    background-color: #28b5d6;
}

.view-framework-body {
	position: absolute;
	width: 100%;
	top: 81px;
	bottom: 0px;
	background-color: #000;
	z-index: 100
}


.view-framework-sidebar {
	position: fixed;
	width: 215px;
	top: 81px;
	bottom: 0px;
	background-color: #f5f5f5;
	z-index: 102;
	overflow-x: hidden
}

.view-framework-sidebar .sidebar-content {
	width: 215px;
	height: 100%;
	overflow: auto;
	overflow-x: hidden
}

.view-framework-sidebar .sidebar-fold {
	height: 40px;
    width: 215px;
    background-color: #e7e7e7;
    border-bottom: 1px solid #eaeaea;
    color: #aeb9c2;
    text-align: center;
    line-height: 40px !important;
    font-size: 12px;
    cursor: pointer;
    -webkit-user-select: none;
}

.view-framework-sidebar .sidebar-fold i,.view-framework-sidebar .sidebar-fold img,.view-framework-sidebar .sidebar-fold span {
	display: inline-block;
	vertical-align: middle;
}

.view-framework-sidebar .sidebar-fold:HOVER {
	 /* background: #37424f; */
}

.view-framework-sidebar .sidebar-fold i {
	line-height: 40px;
}

.view-framework-sidebar .sidebar-nav {
	width: 180px;
}

.view-framework-sidebar .sidebar-nav .sidebar-title {
	height: 40px;
    background: #22282e;
    color: #fff;
    line-height: 40px;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
}


.view-framework-sidebar .sidebar-nav ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    overflow: hidden;
}

.sidebar-nav ul li a {
	display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
    color: #4d4d4d;
    text-decoration: none;
}

.sidebar-nav li.active a {
	background: #ccc;
}

.sidebar-nav li.active .nav-icon {
	color: #fff;
}

.sidebar-nav li:hover {
	background: #ddd;
}

.sidebar-nav li:hover .nav-icon {
	color: #fff;
}

.sidebar-nav ul li a .nav-icon {
	width: 50px;
	line-height:40px;
	height: 40px;
	display:inline-block;
    text-align: center;
    /* font-size: 16px; */
    font-size: 2em; 
    float: left;
    color: #1496c7;
    /* color: #999; */
}

.sidebar-nav ul li a .nav-icon img {
	margin-top: 6px;
    width: 28px;
    height: 28px;
}

.view-framework-sidebar .sidebar-nav .nav-item {
	position: relative;
}


.view-framework-sidebar-mini .view-framework-main {
	left: 50px
}

.view-framework-sidebar-mini .view-framework-sidebar, .view-framework-sidebar-mini .sidebar-fold {
	width: 50px;
}

.view-framework-sidebar-full .view-framework-main {
	left: 215px
}

.view-framework-main {
	width: auto;
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    overflow: hidden;
    background: #FFF;
}

.view-framework-workspace {
	height: 100%;
}

.workspace-col-1 .workspace-body {
	left: 180px;
}

.workspace-body, .workspace-navbar, .workspace-navbar-collapse {
	left: 0;
}

.workspace-body {
	position: absolute;
    width: auto;
    top: 0px;
    bottom: 10px;
    right: 0px;
    overflow: hidden;
    overflow-y: auto;
    -webkit-transition: all 0.2s ease;
}

.workspace-col-1 .workspace-navbar {
	width: 180px;
}

.workspace-navbar {
    position: absolute;
	float: left;
    background-color: #EAEDF1;
    top: 0px;
    bottom: 0px;
    z-index: 2;
    overflow: hidden;
    -webkit-transition: all 0.2s ease;
}

.workspace-navbar .workspace-nav-stage {
    position: absolute;
    width: 180px;
    overflow: hidden;
    top: 0px;
    bottom: 0px;
    right: 0px;
}

.workspace-navbar .workspace-nav-title {
	width: 180px;
    height: 70px;
    line-height: 70px;
    background: #D9DEE4;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
	font-weight: bold;
    text-indent: 20px;
}

.workspace-navbar .workspace-nav-list {
	position: absolute;
    top: 70px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    overflow-y: auto;
    overflow-x: hidden;
}

.workspace-navbar .workspace-nav-list ul { 
	list-style: none;
    padding: 0px;
    margin: 0px;
}

.workspace-navbar .workspace-nav-list ul li.active { 
	background-color: #FFF;
}

.workspace-navbar .workspace-nav-list li a {
	width: 180px;
    height: 40px;
    line-height: 40px;
    display: block;
    color: #333;
    cursor: pointer;
}

.workspace-navbar .workspace-nav-list .nav-icon {
	width: 30px;
    height: 40px;
    float: left;
    text-align: center;
    font-size: 16px;
    color: #333;
}

.workspace-navbar .workspace-nav-list .nav-title {
	width: 138px;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.workspace-col-1 .viewFramework-product-navbar-collapse {
	left: 160px
}

.workspace-col-1 .viewFramework-product-navbar-collapse .product-navbar-collapse
	{
	right: -7px;
	left: auto
}

.workspace-col-1 .viewFramework-product-navbar-collapse .product-navbar-collapse>span
	{
	color: #546478
}

.workspace-col-1 .viewFramework-product-navbar-collapse .product-navbar-collapse-bg
	{
	right: 0;
	left: auto;
	border-bottom: 9px solid transparent;
	border-left: none;
	border-right: 13px solid #f7f7f7;
	border-top: 9px solid transparent
}

.workspace-col-1 .viewFramework-product-navbar-collapse .icon-collapse-left
	{
	display: inline
}

.workspace-col-1 .viewFramework-product-navbar-collapse .icon-collapse-right
	{
	display: none
}

.workspace-col-1 .viewFramework-product-navbar-collapse:hover .product-navbar-collapse
	{
	right: 0;
	left: auto
}

.workspace-col-1 .viewFramework-product-navbar-collapse:hover .product-navbar-collapse-bg
	{
	border-bottom: 8px solid transparent;
	border-left: none;
	border-right: 20px solid #f7f7f7;
	border-top: 8px solid transparent
}

.inline-block {
    display: inline-block !important;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
}

.margin-left, .margin-left-1 {
    margin-left: 8px !important;
}

.breakall {
    word-break: break-all;
    word-wrap: break-word;
}

.oper-separator {
	height: 26px;
    border: none;
    border-left: 2px solid #e1e6eb;
    margin: 0 6px;
}

/* begin default table */

.default-table {
    background: #FFF;
    font-size: 12px;
    margin-top: 8px;
    border: 1px solid #e1e6eb;
}

.default-table thead tr th {
    padding: 8px 8px;
    font-weight: normal;
    color: #999;
    border-bottom: 1px solid #e1e6eb;
    background-color: #F5F6FA;
}

.table-hover tbody tr:hover td {
    background-color: #F9F9FA;
}

.default-table tbody tr td {
    padding: 12px 8px;
    border-top: 0px;
    border-bottom: 1px solid #e1e6eb;
    vertical-align: middle;
}

.default-table tfoot tr td {
    padding: 12px 8px;
    border-bottom: 1px solid #e1e6eb;
    vertical-align: middle;
}

.default-table-bordered > thead > tr > th, 
.default-table-bordered > tbody > tr > th, 
.default-table-bordered > tfoot > tr > th, 
.default-table-bordered > thead > tr > td, 
.default-table-bordered > tbody > tr > td, 
.default-table-bordered > tfoot > tr > td {
	border: none;
	border-bottom: 1px solid #e1e6eb;
}


/* begin jqgrid table */

/* 

.ui-jqgrid .table {
	margin-top: 0;
	border: none;
}

.ui-jqgrid .ui-jqgrid-toppager table,
.ui-jqgrid .table, 
.ui-jqgrid .ui-jqgrid-toppager table td {
	border: none;
}

.ui-jqgrid .ui-jqgrid-hdiv {
	border-bottom: 1px solid #e1e6eb;
}

.ui-jqgrid .ui-jqgrid-bdiv {
	overflow: hidden;
}

.ui-jqgrid .ui-jqgrid-btable tbody tr.jqgrow td {
    white-space: normal;
}

.ui-paging-pager tbody tr td {
	border-bottom-width: 0;
} */

/* 隐藏底部分页 */
.ui-corner-bottom, .ui-jqgrid > .ui-jqgrid-pager {
	display: none;
}
.ui-jqgrid-titlebar {
	height: 40px;
	line-height: 24px;
	color: #676a6c;
	background-color: #F9F9F9;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .5)
}

.ui-jqgrid .ui-jqgrid-title {
	float: left;
	margin-left: 5px;
	font-weight: 700
}

.ui-jqgrid .ui-jqgrid-titlebar {
	position: relative;
	border-left: 0 solid;
	border-right: 0 solid;
	border-top: 0 solid
}

::-webkit-scrollbar-track {
	background-color: #F5F5F5
}

::-webkit-scrollbar {
	width: 6px;
	height: 6px;
	background-color: #F5F5F5
}

::-webkit-scrollbar-thumb {
	background-color: #999;
}

/* end jqgrid table */

/* end table */

.btn-xs {
    font-size: 12px;
    padding: 2px 8px;
    height: 20px;
    line-height: 14px;
}

.pagination-info {
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    padding: 0px 16px;
    color: #888;
}

.pagination {
    margin: 0px;
    vertical-align: middle;
    border-radius: 0px;
}

.pagination li:first-child>a, .pagination li:first-child>span {
    border-radius: 0px;
}

.pagination li:last-child>a, .pagination li:last-child>span {
    border-radius: 0px;
}

.pagination li a, .pagination li span {
    height: 32px;
    line-height: 20px;
    color: #333;
    cursor: pointer;
    border-color: #CCC;
}

.pagination li.active a, .pagination li.active span {
    background-color: #09C;
    border: 1px solid #09C;
}

.pagination li.active a:hover, .pagination li.active span:hover {
    background-color: #09C;
    border: 1px solid #09C;
}

.pagination-goto {
	display: inline-block;
    vertical-align: middle;
    zoom: 1;
    padding: 0px 15px;
}

.pagination-goto input.ipt {
    width: 40px;
    display: inline-block;
    margin-right: 6px;
}

.pagination-goto .btn {
    padding: 8px;
}

.btn.disabled, .btn[disabled] {
    text-shadow: none;
    filter: none;
    opacity: 1;
    color: #bbb;
    border: 1px solid #ddd;
    background-color: #f7f7f7;
}

/* end 内容页面样式 */


/* ztree 样式 */
/* 
.ztree li {
	position: relative;
	padding: 4px 0;
}

.ztree li span.button.switch {
	width: 16px;
    height: 16px;
    margin-top: 5px;
}

.ztree li span.button.noline_open {
	background: url(../images/ztree/head-icon.png) -64px -25px no-repeat;
}

.ztree li span.button.noline_close {
	background: url(../images/ztree/head-icon.png) -80px -3px no-repeat;
}

.ztree li.select {
	background-color: #FBA830;
}

.ztree li a {
	position:absolute;
	left:15px;
	right:5px;
	padding: 4px;
}

.ztree li a:HOVER {
	text-decoration: none;
	background-color:#E5EFFB;
}

.ztree li a.curSelectedNode {
    padding: 4px;
    background-color: #FBA830;
    color: #333;
    height: 16px;
    border: 1px #FBA830 solid;
    opacity: 1.0;
}

.ztree li span.button.pIcon01_ico_open {
	margin-right: 2px;
	background: url(../images/ztree/close.png) no-repeat scroll
		0 0 transparent;
	vertical-align: top;
	*vertical-align: middle
}

.ztree li span.button.pIcon01_ico_close {
	margin-right: 2px;
	background: url(../images/ztree/close.png) no-repeat scroll
		0 0 transparent;
	vertical-align: top;
	*vertical-align: middle
}

.ztree li span.button.icon01_ico_docu {
	margin-right: 2px;
	background: url(../images/ztree/close.png) no-repeat scroll
		0 0 transparent;
	vertical-align: top;
	*vertical-align: middle
} */

/* ztree 样式 */

ul.view-toolbar {
	list-style: none;
}

ul.view-toolbar li {
	float: left;
}

.nav-tabs {
    border-color: #ddd;
}

.nav-tabs>li {
    margin-left: -1px;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    z-index: 1;
}

.nav-tabs>li>a, .nav-tabs.nav-justified>li>a {
    border-radius: 0px 0px 0px 0px;
}

.nav-tabs>li.active {
    border-top: 0px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    z-index: 3;
}

.nav-tabs>li>a, .nav-tabs>li>a:focus {
    color: #666;
    border-left: 0px;
    border-right: 0px;
    margin-right: 0px;
    padding: 10px 16px;
    background: #FBFAF8;
    border-bottom: 0px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    border-top: 2px solid #00a2ca;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px solid #FFF;
    color: #333;
}

/* 隐藏tab内容 */
.tab-content .tab {
	display: none;
}

