<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Expires" content="0"/>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link type="text/css" rel="stylesheet" href="${_static}/js/lib/bootstrap/css/bootstrap.css">

    <link rel="stylesheet" href="${_static}/js/lib/bootstrap-select-1.12.4/dist/css/bootstrap-select.min.css">

    <link rel="stylesheet" type="text/css" href="${_static}/js/lib/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="${_static}/js/lib/chosen/chosen.min.css">
    <link rel="stylesheet" type="text/css" href="${_static}/js/lib/ValidateForm/Validform.css">
    <link rel="stylesheet" href="${_static}/themes/blue/css/ui.css">
    <link rel="stylesheet" href="${_static}/css/core/module.css">
    <link rel="stylesheet" href="${_static}/css/sys_com/com.css">
    <link type="text/css" rel="stylesheet" href="${_static}/js/lib/jqgrid/css/ui.jqgrid-bootstrap.css">
    <script src="${_static}/js/lib/jquery/jquery.min.js" type="text/javascript" charset="utf-8"></script>

    <script src="${_static}/js/lib/bootstrap/3.3.6/bootstrap.min.js"></script>
    <script src="${_static}/js/lib/bootstrap-select-1.12.4/dist/js/bootstrap-select.min.js"></script>
    <script src="${_static}/js/lib/bootstrap-select-1.12.4/dist/js/i18n/defaults-zh_CN.min.js"></script>

    <script type="text/javascript" src="${_static}/js/lib/jqgrid/js/jquery.jqGrid.js"></script>
    <script type="text/javascript" src="${_static}/js/lib/jqgrid/i18n/grid.locale-cn.js"></script>
    <script type="text/javascript" src="${_static}/js/hengyun/hengyun_ajax.js"></script>
    <script type="text/javascript" src="${_static}/js/app.js"></script>
    <script type="text/javascript" src="${_static}/js/module.js"></script>
    <script type="text/javascript" src="${_static}/js/lib/layer/layer.js" charset="utf-8"></script>
    <script type="text/javascript" src="${_static}/js/lib/ValidateForm/Valid.js"></script>
    <script type="text/javascript" src="${_static}/js/lib/jquery/jquery.cookie.js" charset="utf-8"></script>
    <script type="text/javascript" src="${_static}/js/hengyun/hengyun_ajax.js"></script>
    <script type="text/javascript" src="${_static}/js/lib/serializeJSON/jquery.serializejson.min.js"></script>
    <script type="text/javascript" src="${_static}/js/lib/ValidateForm/Validform_v5.3.2_min.js"></script>
    <style>
        .file {
            filter: alpha(opacity:0);
            opacity: 0;
            width: 0px;
        }
       .list-section .selWid-form-search{
           width:170px!important;
           max-width: none;
       }

        /*.bootstrap-select > .dropdown-toggle{
            z-index: 0;
        }*/
        .Validform_info{z-index:9999;}
    </style>



</head>
<body>
<div class="workspace-body" style="padding-top: 30px;">
    <div class="col-md-12 col-lg-12">
        <div class="row">
            <!--内容-->
            <div class="list-section">
                <div class="list-content">
                    <div class="form-inline">
                        <form id="dataForm" action="" method="post">
                            <input type="hidden" id="appId" name="appId">
                            <table class="table default-table table-title-left" id="table">
                                <tbody>
                               <tr>
                                    <th><sub class="required">*</sub>告警名称</th>
                                    <td colspan="3"><input class="form-control inp-form" id="name" name="name" dataType="*1-50"
                                               nullmsg="告警名称不能为空！" errormsg="请不要超过50字符！"/>
                                    </td>
                               </tr>

                               <tr>
                                    <th><sub class="required">*</sub>应用系统</th>
                                   <td colspan="3">
                                       <select class="selectpicker form-control" multiple id="system" name="system" dataType="*" nullmsg="应用系统不能为空！">

                                       </select>
                                   </td>
                                </tr>

                                <tr>
                                    <th><sub class="required">*</sub>告警级别</th>
                                    <td >
                                        <select id="warnLevel" name="warnLevel" class="form-control chosen-select selWid-form-search" style="width: 100%" dataType="*" nullmsg="告警级别不能为空！">
                                            <option value=""></option>
                                            <option value="1">一级</option>
                                            <option value="2">二级</option>
                                            <option value="3">三级</option>
                                        </select>
                                    </td>
                                    <th><sub class="required">*</sub>日志类型</th>
                                    <td >
                                        <select id="logType" name="logType"  onchange="onChange()" class="form-control chosen-select selWid-form-search" style="width: 100%" dataType="*" nullmsg="日志类型不能为空！">
                                            <option value=""></option>
                                            <option value="APP">应用系统</option>
                                            <option value="APACHE">APACHE</option>
                                            <option value="TOMCAT">TOMCAT</option>
                                            <option value="NGINX">NGINX</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th><sub class="required">*</sub>是否启用</th>
                                    <td colspan="3">
                                        <input type="radio" name="isEnable" value="1" checked="true"/>是
                                        <input type="radio" name="isEnable" value="0" />否
                                    </td>
                                </tr>
                                <tr>
                                    <th><sub class="required">*</sub>告警描述</th>
                                    <td colspan="3">
                                        <textarea rows="6" class="form-control textarea-form"
                                                  id="warnDescription" name="warnDescription" dataType="*1-200" nullmsg="告警描述不能为空！" errormsg="请不要超过80字符！"></textarea>
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                            <button type="button" class="btn-submit hidden"></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
     var index;


    //获取应用系统
    getSystemList();
    function save(num) {
        index = num;
        $('.btn-submit').click();
    }

    $('.btn-submit').valid({
        form: '#dataForm',
        //showAllError:可选项 true | false，true：提交表单时所有错误提示信息都会显示，
        //false：一碰到验证不通过的就停止检测后面的元素，只显示该元素的错误信息;
        showAllError: true,
        ignoreHidden: true,
        checkpassed: function () {
            saveObj();
        }
    });

    /*提交*/
    function saveObj() {
        //应用系统
        var system="";
        var value = $('#system').val();
        if(value.length>0){
            var systemValue = "";
            for(var i=0;i<value.length;i++){
                if(i==0){
                    systemValue = value[0];
                }else{
                    systemValue = systemValue+","+value[i]
                }
            }
        }

        $('#appId').val(systemValue);
        var data = $("#dataForm").serializeJSON();
        ajaxHengyun({
            type: "POST",
            async: false,
            dataType: 'json',
            contentType: 'application/json',
            url: "${_gate_url}/api/logs/warn/saveWarnRule",
            data: JSON.stringify(data),
            success: function (rows) {
                if (rows.data) {
                    parent.home.reloadJqgrid();
                    parent.layer.msg("保存成功！", {icon: 6, time: 1000});
                    parent.layer.close(index);
                } else {
                    parent.layer.msg("保存出错，请重试！", {time: 1000});
                }
            }
        });
    };
     /* 获取应用系统*/
     function getSystemList() {
         ajaxHengyun({
             type: "GET",
             async: false,
             dataType: 'json',
             url: "${_gate_url}/api/developer/application/findList",
             data:{type:1},
             success: function (rows) {
                 if (rows.data) {
                     $('#system').append('<option value=""></option>');
                     var arr = rows.data;
                     for(var i=0;i<arr.length;i++){
                         var appId = arr[i].appId;
                         var name = arr[i].name;
                         $('#system').append('<option value='+appId+'>'+name+'</option>');

                     }
                 }
             }
         });
     }

    function onChange(){
        $("tr[name='test']").remove();
        var logType = $('#logType').val();
        if(logType==''){

        }else if(logType=='APP'){
            var str = '<tr name="test"><td colspan="4"><input type="radio" name="warnType" value="QUANTITY" checked="true" onclick="getRadio()"/>数量告警:'+
                    '<span id="span1">在<input type="text" id="quantityTimeInterval" class="form-control" name="quantityTimeInterval" dataType="n1-3,positive" nullmsg="不能为空！" errormsg="请填写1-3位正整数！"/>分钟内'+
                    '<p style="display: inline-block;"><select id="quantityLogLevel" class="form-control" name="quantityLogLevel" dataType="*" nullmsg="告警级别不能为空！">'+
                    '<option value=""></option><option value="DEBUG">DEBUG</option><option value="INFO">INFO</option> '+
                    '<option value="WARN">WARN</option> <option value="ERROR">ERROR</option><option value="FATAL">FATAL</option>'+
                    '</select></p>日志数大于或等于'+
                    '<input type="text" id="quantityUpperLimit" class="form-control" name="quantityUpperLimit" dataType="n1-3,positive"  nullmsg="不能为空！" errormsg="请填写1-3位正整数！"/>'+
                    '条时，触发告警</span>'+
                    '</td></tr>'+
                    '<tr name="test"><td colspan="4">'+
                    '<input type="radio" name="warnType" value="KEY" onclick="getRadio()"/>关键词告警:'+
                '<span id="span2" style="display: none">当日志中出现关键词'+
                '<input type="text" id="keyContent" class="form-control" name="keyContent" style="width: 130px;" dataType="*1-50" nullmsg="关键字不能为空！" errormsg="请不要超过50字符！"/>'+
                '（多个关键词用“，”号隔开）时，触发告警</span>'+
                '</td></tr>';
            $("#table tbody").append(str);
        }else{
            var str='<tr name="test"><td colspan="4"><input type="radio" name="warnType" value="QUANTITY" checked="true" onclick="getRadio()"/>数量告警:'+
            '<span id="span3">在<input type="text" id="quantityTimeInterval" class="form-control" name="quantityTimeInterval" dataType="n1-3,positive"  nullmsg="不能为空！" errormsg="请填写1-3位正整数！"/>分钟内'+
                '同一IP大于或等于'+
                '<input type="text" id="quantityUpperLimit" class="form-control" name="quantityUpperLimit" dataType="n1-3,positive"  nullmsg="不能为空！" errormsg="请填写1-3位正整数！"/>'+
                '条时，触发告警</span>'+
                '</td></tr><tr name="test">'+
                '<td colspan="4">'+
                '<input type="radio" name="warnType" value="RESPONSE" onclick="getRadio()"/>响应时长告警:'+
                '<span id="span4" style="display: none">响应时长超过'+
                '<input type="text" id="responseDuration" class="form-control" name="responseDuration" dataType="n1-3,positive"  nullmsg="不能为空！" errormsg="请填写1-3位正整数！"/>'+
                '秒时，触发告警</span>'+
                '</td></tr>';
            $("#table tbody").append(str);
        }
     }

     function getRadio(evt){
         var evt=evt || window.event;
         var e =evt.srcElement || evt.target;
         if(e.value=='KEY'){
             $('#span2').show();
             $('#span1').hide();
         }else if(e.value=='QUANTITY'){
             $('#span1').show();
             $('#span3').show();
             $('#span2').hide();
             $('#span4').hide();
         }else if(e.value=='RESPONSE'){
             $('#span4').show();
             $('#span3').hide();
         }
     }
</script>
</body>
</html>