#org-container{
	width: auto;
    height: 60px;
    line-height: 60px;
    margin-right: 20px;
}
#org-container a{
	color: #fff;
	text-decoration: underline;
	cursor: pointer;
}
#user_photo{
	border-radius: 50%;
}