@charset "utf-8";

.gray-bg{
    padding:15px;
}
.table{
    border-collapse:collapse;
}
.table-responsive .btn-primary{
    margin-bottom:10px;
}
.table td{
    min-width:80px;
}
.table-text tbody td{
    text-align: left;
}