.sidebar-mask{
	width: 100%;
	height: 100%;
	position: absolute;
	background: rgba(0,0,0,0);
	z-index: 30;
	display: none;
}
.nav>li.active {
    /*border-left: 4px solid #19aa8d;*/
    background: #FFFFFF;
}
.nav>li.active>a {
    color: #2d9eca;
}
.nav>li>a {
    color: #676e79;
    font-weight: 600;
    padding: 14px 20px 14px 12px;
}
.nav>li>a:hover {
    background-color: #FFFFFF;
    color: #333333;
}
.nav>li>a:focus {
    background-color: #FFFFFF;
    color: #2d9eca;
}

.arrow {
    float: right;
    margin-top: 2px;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fa.arrow:before {
    content: "\f104";
}
.arrow-down.active>a>.fa.arrow:before {
    content: "\f107";
}

.nav.nav-second-level.collapse[style] {
    height: auto!important;
}

.nav-second-level li, .nav-third-level li {
    border-bottom: none!important;
}

.nav li>a {
    display: block;
    line-height: 22px;
}

.nav>li span{
	display: inline-block;
	line-height: 22px;
	vertical-align: top;
}
.nav .navicon{
	width: 22px;
	height: 22px;
    margin-right: 20px;
}
.nav .nav-label{
	padding-left: 12px;
}
.nav .homeImg{
	background: url(../images/icon/homeImg.png) 0 0;
}

.nav .navicon_default{
	background: url(../images/icon/navicon_default.png) 0 0;
}

.nav .navicon_01{
	background: url(../images/icon/yico_01.png) 0 0;
}
.nav .navicon_02{
	background: url(../images/icon/yico_02.png) 0 0;
}
.nav .navicon_03{
	background: url(../images/icon/yico_03.png) 0 0;
}
.nav .navicon_04{
	background: url(../images/icon/yico_04.png) 0 0;
}
.nav .navicon_05{
	background: url(../images/icon/yico_05.png) 0 0;
}
.nav .navicon_06{
	background: url(../images/icon/yico_06.png) 0 0;
}
.nav .navicon_07{
	background: url(../images/icon/yico_07.png) 0 0;
}
.nav .navicon_08{
	background: url(../images/icon/yico_08.png) 0 0;
}
.nav .navicon_16{
	background: url(../images/icon/navicon_16.png) 0 0;
}
.nav>li.active>a>.navicon {
    background-position: 0 -21px;
}
.nav>li>a:focus>.navicon {
    background-position: 0 -21px;
}

.nav-second-level li a {
    padding: 7px 15px 7px 10px;
    padding-left: 30px;
}