html,
body {
  margin: 0;
  height: 100%;
  overflow: auto;
}
.workspace-body {
  height: 100%;
  padding: 8% 5%;
  box-sizing: border-box;
}
.workspace-body .list-container {
  padding: 10px;
  background-color: rgba(168, 168, 168, 0.6);
  min-height: 100%;
  box-sizing: border-box;
}
.workspace-body .list-container .list {
  position: relative;
  padding: 12px 25px 12px 5px;
  background-color: #fff;
  margin-bottom: 20px;
}
.workspace-body .list-container .list:after {
  content: '>';
  position: absolute;
  right: 2px;
  font-size: 20px;
  top: 50%;
  margin-top: -10px;
  text-align: center;
  width: 20px;
  height: 20px;
  line-height: 20px;
}
.detail {
  padding: 10px;
  background-color: rgba(168, 168, 168, 0.6);
  min-height: 100%;
  box-sizing: border-box;
}
