<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hengyunsoft.platform.msgs.repository.msgsmessage.dao.BlogSendStatusMapper">
  <resultMap id="BaseResultMap" type="com.hengyunsoft.platform.msgs.entity.msgsmessage.po.BlogSendStatus">
    <!--
    @mbggenerated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="msg_id" jdbcType="VARCHAR" property="msgId" />
    <result column="channel_id" jdbcType="VARCHAR" property="channelId" />
    <result column="channel_name" jdbcType="VARCHAR" property="channelName" />
    <result column="send_status" jdbcType="INTEGER" property="sendStatus" />
    <result column="result" jdbcType="VARCHAR" property="result" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--
    @mbggenerated
    -->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--
    @mbggenerated
    -->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--
    @mbggenerated
    -->
    id, msg_id, channel_id, channel_name, send_status, result, create_time
  </sql>
  <select id="selectByExample" parameterType="com.hengyunsoft.platform.msgs.repository.msgsmessage.example.BlogSendStatusExample" resultMap="BaseResultMap">
    <!--
    @mbggenerated
    -->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from msgs_blog_send_status
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="groupByClause != null">
      group by ${groupByClause}
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limitValue != null">
      limit ${limitValue}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--
    @mbggenerated
    -->
    select 
    <include refid="Base_Column_List" />
    from msgs_blog_send_status
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectEntity" parameterType="com.hengyunsoft.platform.msgs.repository.msgsmessage.example.BlogSendStatusExample" resultMap="BaseResultMap">
    <!--
    @mbggenerated
    -->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from msgs_blog_send_status
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="groupByClause != null">
      group by ${groupByClause}
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    limit 0,1 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--
    @mbggenerated
    -->
    delete from msgs_blog_send_status
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.hengyunsoft.platform.msgs.repository.msgsmessage.example.BlogSendStatusExample">
    <!--
    @mbggenerated
    -->
    delete from msgs_blog_send_status
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <update id="removeByExample" parameterType="com.hengyunsoft.platform.msgs.entity.msgsmessage.po.BlogSendStatus">
    <!--
    @mbggenerated
    -->
    update msgs_blog_send_status
    set is_delete = 1 

    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </update>
  <update id="removeByPrimaryKey" parameterType="com.hengyunsoft.platform.msgs.entity.msgsmessage.po.BlogSendStatus">
    <!--
    @mbggenerated
    -->
    update msgs_blog_send_status
    set is_delete = 1 

     where 1=1 and id = #{id,jdbcType=BIGINT}
  </update>
  <insert id="insert" parameterType="com.hengyunsoft.platform.msgs.entity.msgsmessage.po.BlogSendStatus">
    <!--
    @mbggenerated
    -->
    insert into msgs_blog_send_status (id, msg_id, channel_id, 
      channel_name, send_status, result, 
      create_time)
    values (#{id,jdbcType=BIGINT}, #{msgId,jdbcType=VARCHAR}, #{channelId,jdbcType=VARCHAR}, 
      #{channelName,jdbcType=VARCHAR}, #{sendStatus,jdbcType=INTEGER}, #{result,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="batchInsert" parameterType="java.util.List">
    <!--
    @mbggenerated
    -->
    insert into msgs_blog_send_status (id, msg_id, channel_id, channel_name, send_status, result, create_time ) values 
    <foreach collection="list" index="index" item="item" separator=",">
      (#{item.id,jdbcType=BIGINT}, #{item.msgId,jdbcType=VARCHAR}, #{item.channelId,jdbcType=VARCHAR}, 
        #{item.channelName,jdbcType=VARCHAR}, #{item.sendStatus,jdbcType=INTEGER}, #{item.result,jdbcType=VARCHAR}, 
        #{item.createTime,jdbcType=TIMESTAMP})
    </foreach>
  </insert>
  <insert id="insertSelective" parameterType="com.hengyunsoft.platform.msgs.entity.msgsmessage.po.BlogSendStatus">
    <!--
    @mbggenerated
    -->
    insert into msgs_blog_send_status
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="msgId != null">
        msg_id,
      </if>
      <if test="channelId != null">
        channel_id,
      </if>
      <if test="channelName != null">
        channel_name,
      </if>
      <if test="sendStatus != null">
        send_status,
      </if>
      <if test="result != null">
        result,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="msgId != null">
        #{msgId,jdbcType=VARCHAR},
      </if>
      <if test="channelId != null">
        #{channelId,jdbcType=VARCHAR},
      </if>
      <if test="channelName != null">
        #{channelName,jdbcType=VARCHAR},
      </if>
      <if test="sendStatus != null">
        #{sendStatus,jdbcType=INTEGER},
      </if>
      <if test="result != null">
        #{result,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hengyunsoft.platform.msgs.repository.msgsmessage.example.BlogSendStatusExample" resultType="java.lang.Integer">
    <!--
    @mbggenerated
    -->
    select count(*) from msgs_blog_send_status
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--
    @mbggenerated
    -->
    update msgs_blog_send_status
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.msgId != null">
        msg_id = #{record.msgId,jdbcType=VARCHAR},
      </if>
      <if test="record.channelId != null">
        channel_id = #{record.channelId,jdbcType=VARCHAR},
      </if>
      <if test="record.channelName != null">
        channel_name = #{record.channelName,jdbcType=VARCHAR},
      </if>
      <if test="record.sendStatus != null">
        send_status = #{record.sendStatus,jdbcType=INTEGER},
      </if>
      <if test="record.result != null">
        result = #{record.result,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--
    @mbggenerated
    -->
    update msgs_blog_send_status
    set id = #{record.id,jdbcType=BIGINT},
      msg_id = #{record.msgId,jdbcType=VARCHAR},
      channel_id = #{record.channelId,jdbcType=VARCHAR},
      channel_name = #{record.channelName,jdbcType=VARCHAR},
      send_status = #{record.sendStatus,jdbcType=INTEGER},
      result = #{record.result,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hengyunsoft.platform.msgs.entity.msgsmessage.po.BlogSendStatus">
    <!--
    @mbggenerated
    -->
    update msgs_blog_send_status
    <set>
      <if test="msgId != null">
        msg_id = #{msgId,jdbcType=VARCHAR},
      </if>
      <if test="channelId != null">
        channel_id = #{channelId,jdbcType=VARCHAR},
      </if>
      <if test="channelName != null">
        channel_name = #{channelName,jdbcType=VARCHAR},
      </if>
      <if test="sendStatus != null">
        send_status = #{sendStatus,jdbcType=INTEGER},
      </if>
      <if test="result != null">
        result = #{result,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hengyunsoft.platform.msgs.entity.msgsmessage.po.BlogSendStatus">
    <!--
    @mbggenerated
    -->
    update msgs_blog_send_status
    set msg_id = #{msgId,jdbcType=VARCHAR},
      channel_id = #{channelId,jdbcType=VARCHAR},
      channel_name = #{channelName,jdbcType=VARCHAR},
      send_status = #{sendStatus,jdbcType=INTEGER},
      result = #{result,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="getByMsgId" parameterType="java.lang.String" resultMap="BaseResultMap">
  	  select id,msg_id,channel_id,channel_name,send_status,result,create_time 
  	  from msgs_blog_send_status 
  	  where msg_id = #{msgId,jdbcType=VARCHAR}  
  </select>
  
  <resultMap id="msgSendErrorMap" type="com.hengyunsoft.platform.msgs.entity.msgsmessage.dos.MsgAnalysisSendErrorDO">
    <result column="result" jdbcType="VARCHAR" property="name" />
    <result column="count" jdbcType="INTEGER" property="count" />
  </resultMap>
  <resultMap id="msgSendExceptionMap" type="com.hengyunsoft.platform.msgs.entity.msgsmessage.dos.MsgAnalysisSendExceptionDO">
    <result column="year_" jdbcType="VARCHAR" property="year" />
    <result column="month_" jdbcType="VARCHAR" property="month" />
    <result column="count" jdbcType="INTEGER" property="count" />
  </resultMap>
  <!-- 各类型渠道发送问题TOP10 -->
  <select id="getMsgSendErrorTop10" resultMap="msgSendErrorMap">
  	  select
        case
            when result = 'text not find domain!' then '找不到域'
            when result = 'appkey not bind domain!' then '未绑定域'
            when result = 'update weibo too fast!' then '更新太快'
            when result = 'repeat content!' then '重复内容'
        else result end AS result,
  	    count(id) as count
  	  from msgs_blog_send_status
  	  where send_status=2 and channel_id in
  	  <foreach close=")" collection="list" index="index" item="item" open="(" separator=",">
        #{item}
      </foreach>
  	  group by result order by count limit 10
  </select>
  <!-- 各渠道类型异常情况分析(近六个月数据) -->
  <select id="getMsgSendExceptionCount" resultMap="msgSendExceptionMap">
  	  select date_.year_,date_.month_,count(1) as count
	  from
		(select year(mwss.create_time) year_,month(mwss.create_time) month_ 
		from msgs_blog_send_status mwss left join msgs_channel mc on mwss.channel_id = mc.id
		where (mwss.create_time BETWEEN date_sub(now(),interval 6 month) and now()) and mwss.send_status=2 
		and mc.create_user =#{userId}) date_
	  group by date_.year_,date_.month_
	  order by date_.year_,date_.month_
  </select>
</mapper>