<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hengyunsoft.platform.msgs.repository.msgsmessage.dao.WeChatMessageRecordMapper">
  <resultMap id="BaseResultMap" type="com.hengyunsoft.platform.msgs.entity.msgsmessage.po.WeChatMessageRecord">
    <!--
    @mbggenerated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="msg_id" jdbcType="VARCHAR" property="msgId" />
    <result column="app_id" jdbcType="VARCHAR" property="appId" />
    <result column="app_name" jdbcType="VARCHAR" property="appName" />
    <result column="sender" jdbcType="VARCHAR" property="sender" />
    <result column="topic" jdbcType="VARCHAR" property="topic" />
    <result column="channel_id" jdbcType="VARCHAR" property="channelId" />
    <result column="draft" jdbcType="INTEGER" property="draft" />
    <result column="start_time" jdbcType="VARCHAR" property="startTime" />
    <result column="digest" jdbcType="VARCHAR" property="digest" />
    <result column="img_text" jdbcType="LONGVARCHAR" property="imgText" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--
    @mbggenerated
    -->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--
    @mbggenerated
    -->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--
    @mbggenerated
    -->
    id, msg_id, app_id, app_name, sender, topic, channel_id, draft, start_time, digest, 
    img_text, create_time, update_time
  </sql>
  <select id="selectByExample" parameterType="com.hengyunsoft.platform.msgs.repository.msgsmessage.example.WeChatMessageRecordExample" resultMap="BaseResultMap">
    <!--
    @mbggenerated
    -->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from msgs_wechat_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="groupByClause != null">
      group by ${groupByClause}
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limitValue != null">
      limit ${limitValue}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--
    @mbggenerated
    -->
    select 
    <include refid="Base_Column_List" />
    from msgs_wechat_record
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectEntity" parameterType="com.hengyunsoft.platform.msgs.repository.msgsmessage.example.WeChatMessageRecordExample" resultMap="BaseResultMap">
    <!--
    @mbggenerated
    -->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from msgs_wechat_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="groupByClause != null">
      group by ${groupByClause}
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    limit 0,1 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--
    @mbggenerated
    -->
    delete from msgs_wechat_record
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.hengyunsoft.platform.msgs.repository.msgsmessage.example.WeChatMessageRecordExample">
    <!--
    @mbggenerated
    -->
    delete from msgs_wechat_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <update id="removeByExample" parameterType="com.hengyunsoft.platform.msgs.entity.msgsmessage.po.WeChatMessageRecord">
    <!--
    @mbggenerated
    -->
    update msgs_wechat_record
    set is_delete = 1 

    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </update>
  <update id="removeByPrimaryKey" parameterType="java.lang.Long">
    <!--
    @mbggenerated
    -->
    update msgs_wechat_record
    set is_delete = 1 

     where 1=1 and id = #{id,jdbcType=BIGINT}
  </update>
  <insert id="insert" parameterType="com.hengyunsoft.platform.msgs.entity.msgsmessage.po.WeChatMessageRecord">
    <!--
    @mbggenerated
    -->
    insert into msgs_wechat_record (id, msg_id, app_id, 
      app_name, sender, topic, 
      channel_id, draft, start_time, 
      digest, img_text, create_time, 
      update_time)
    values (#{id,jdbcType=BIGINT}, #{msgId,jdbcType=VARCHAR}, #{appId,jdbcType=VARCHAR}, 
      #{appName,jdbcType=VARCHAR}, #{sender,jdbcType=VARCHAR}, #{topic,jdbcType=VARCHAR}, 
      #{channelId,jdbcType=VARCHAR}, #{draft,jdbcType=INTEGER}, #{startTime,jdbcType=VARCHAR}, 
      #{digest,jdbcType=VARCHAR}, #{imgText,jdbcType=LONGVARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="batchInsert" parameterType="java.util.List">
    <!--
    @mbggenerated
    -->
    insert into msgs_wechat_record (id, msg_id, app_id, app_name, sender, topic, channel_id, draft, start_time, digest, img_text, create_time, update_time ) values 
    <foreach collection="list" index="index" item="item" separator=",">
      (#{item.id,jdbcType=BIGINT}, #{item.msgId,jdbcType=VARCHAR}, #{item.appId,jdbcType=VARCHAR}, 
        #{item.appName,jdbcType=VARCHAR}, #{item.sender,jdbcType=VARCHAR}, #{item.topic,jdbcType=VARCHAR}, 
        #{item.channelId,jdbcType=VARCHAR}, #{item.draft,jdbcType=INTEGER}, #{item.startTime,jdbcType=VARCHAR}, 
        #{item.digest,jdbcType=VARCHAR}, #{item.imgText,jdbcType=LONGVARCHAR}, #{item.createTime,jdbcType=TIMESTAMP}, 
        #{item.updateTime,jdbcType=TIMESTAMP})
    </foreach>
  </insert>
  <insert id="insertSelective" parameterType="com.hengyunsoft.platform.msgs.entity.msgsmessage.po.WeChatMessageRecord">
    <!--
    @mbggenerated
    -->
    insert into msgs_wechat_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="msgId != null">
        msg_id,
      </if>
      <if test="appId != null">
        app_id,
      </if>
      <if test="appName != null">
        app_name,
      </if>
      <if test="sender != null">
        sender,
      </if>
      <if test="topic != null">
        topic,
      </if>
      <if test="channelId != null">
        channel_id,
      </if>
      <if test="draft != null">
        draft,
      </if>
      <if test="startTime != null">
        start_time,
      </if>
      <if test="digest != null">
        digest,
      </if>
      <if test="imgText != null">
        img_text,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="msgId != null">
        #{msgId,jdbcType=VARCHAR},
      </if>
      <if test="appId != null">
        #{appId,jdbcType=VARCHAR},
      </if>
      <if test="appName != null">
        #{appName,jdbcType=VARCHAR},
      </if>
      <if test="sender != null">
        #{sender,jdbcType=VARCHAR},
      </if>
      <if test="topic != null">
        #{topic,jdbcType=VARCHAR},
      </if>
      <if test="channelId != null">
        #{channelId,jdbcType=VARCHAR},
      </if>
      <if test="draft != null">
        #{draft,jdbcType=INTEGER},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=VARCHAR},
      </if>
      <if test="digest != null">
        #{digest,jdbcType=VARCHAR},
      </if>
      <if test="imgText != null">
        #{imgText,jdbcType=LONGVARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hengyunsoft.platform.msgs.repository.msgsmessage.example.WeChatMessageRecordExample" resultType="java.lang.Integer">
    <!--
    @mbggenerated
    -->
    select count(*) from msgs_wechat_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--
    @mbggenerated
    -->
    update msgs_wechat_record
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.msgId != null">
        msg_id = #{record.msgId,jdbcType=VARCHAR},
      </if>
      <if test="record.appId != null">
        app_id = #{record.appId,jdbcType=VARCHAR},
      </if>
      <if test="record.appName != null">
        app_name = #{record.appName,jdbcType=VARCHAR},
      </if>
      <if test="record.sender != null">
        sender = #{record.sender,jdbcType=VARCHAR},
      </if>
      <if test="record.topic != null">
        topic = #{record.topic,jdbcType=VARCHAR},
      </if>
      <if test="record.channelId != null">
        channel_id = #{record.channelId,jdbcType=VARCHAR},
      </if>
      <if test="record.draft != null">
        draft = #{record.draft,jdbcType=INTEGER},
      </if>
      <if test="record.startTime != null">
        start_time = #{record.startTime,jdbcType=VARCHAR},
      </if>
      <if test="record.digest != null">
        digest = #{record.digest,jdbcType=VARCHAR},
      </if>
      <if test="record.imgText != null">
        img_text = #{record.imgText,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--
    @mbggenerated
    -->
    update msgs_wechat_record
    set id = #{record.id,jdbcType=BIGINT},
      msg_id = #{record.msgId,jdbcType=VARCHAR},
      app_id = #{record.appId,jdbcType=VARCHAR},
      app_name = #{record.appName,jdbcType=VARCHAR},
      sender = #{record.sender,jdbcType=VARCHAR},
      topic = #{record.topic,jdbcType=VARCHAR},
      channel_id = #{record.channelId,jdbcType=VARCHAR},
      draft = #{record.draft,jdbcType=INTEGER},
      start_time = #{record.startTime,jdbcType=VARCHAR},
      digest = #{record.digest,jdbcType=VARCHAR},
      img_text = #{record.imgText,jdbcType=LONGVARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hengyunsoft.platform.msgs.entity.msgsmessage.po.WeChatMessageRecord">
    <!--
    @mbggenerated
    -->
    update msgs_wechat_record
    <set>
      <if test="msgId != null">
        msg_id = #{msgId,jdbcType=VARCHAR},
      </if>
      <if test="appId != null">
        app_id = #{appId,jdbcType=VARCHAR},
      </if>
      <if test="appName != null">
        app_name = #{appName,jdbcType=VARCHAR},
      </if>
      <if test="sender != null">
        sender = #{sender,jdbcType=VARCHAR},
      </if>
      <if test="topic != null">
        topic = #{topic,jdbcType=VARCHAR},
      </if>
      <if test="channelId != null">
        channel_id = #{channelId,jdbcType=VARCHAR},
      </if>
      <if test="draft != null">
        draft = #{draft,jdbcType=INTEGER},
      </if>
      <if test="startTime != null">
        start_time = #{startTime,jdbcType=VARCHAR},
      </if>
      <if test="digest != null">
        digest = #{digest,jdbcType=VARCHAR},
      </if>
      <if test="imgText != null">
        img_text = #{imgText,jdbcType=LONGVARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hengyunsoft.platform.msgs.entity.msgsmessage.po.WeChatMessageRecord">
    <!--
    @mbggenerated
    -->
    update msgs_wechat_record
    set msg_id = #{msgId,jdbcType=VARCHAR},
      app_id = #{appId,jdbcType=VARCHAR},
      app_name = #{appName,jdbcType=VARCHAR},
      sender = #{sender,jdbcType=VARCHAR},
      topic = #{topic,jdbcType=VARCHAR},
      channel_id = #{channelId,jdbcType=VARCHAR},
      draft = #{draft,jdbcType=INTEGER},
      start_time = #{startTime,jdbcType=VARCHAR},
      digest = #{digest,jdbcType=VARCHAR},
      img_text = #{imgText,jdbcType=LONGVARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <select id="getIdByMsgId" parameterType="java.lang.String" resultType="java.lang.Long">
  	 select id from msgs_wechat_record where msg_id = #{msgId,jdbcType=VARCHAR} and draft = 1
  </select>
  
  
  <resultMap id="msgAnalysisChannelUsedMap" type="com.hengyunsoft.platform.msgs.entity.msgsmessage.dos.MsgAnalysisChannelUsedDO">
    <result column="name" jdbcType="VARCHAR" property="channelName" />
    <result column="mysend" jdbcType="INTEGER" property="personalUsed" />
    <result column="authorizeUsed" jdbcType="INTEGER" property="authorizeUsed" />
  </resultMap>
  
  <resultMap id="getMsgAllChannelUsedCountMap" type="com.hengyunsoft.platform.msgs.entity.msgsmessage.dos.MsgAllChannelUsedDO">
    <result column="year_" jdbcType="VARCHAR" property="year" />
    <result column="month_" jdbcType="VARCHAR" property="month" />
    <result column="count" jdbcType="INTEGER" property="count" />
  </resultMap>
  <resultMap id="getAppSendMap" type="com.hengyunsoft.platform.msgs.entity.msgsmessage.dos.MsgAnalysisSendErrorDO">
    <result column="app_name" jdbcType="VARCHAR" property="name" />
    <result column="count" jdbcType="INTEGER" property="count" />
  </resultMap>
  <resultMap id="msgActiveSendMap" type="com.hengyunsoft.platform.msgs.entity.msgsmessage.dos.MsgActiveSendDO">
    <result column="year_" jdbcType="VARCHAR" property="year" />
    <result column="month_" jdbcType="VARCHAR" property="month" />
    <result column="day_" jdbcType="VARCHAR" property="day" />
    <result column="count" jdbcType="INTEGER" property="count" />
  </resultMap>
  <resultMap id="msgPublisherPageMap" type="com.hengyunsoft.platform.msgs.entity.msgsmessage.dos.MsgsListBackDO">
    <result column="msg_id" jdbcType="BIGINT" property="id" />
    <result column="topic" jdbcType="VARCHAR" property="title" />
    <result column="create_time" jdbcType="VARCHAR" property="sendTime" />
    <result column="name" jdbcType="VARCHAR" property="channelName" />
    <result column="app_name" jdbcType="VARCHAR" property="appName" />
  </resultMap>
  
  <!-- 个人渠道使用情况 -->
  <select id="getMsgChannelUsedCount" resultMap="msgAnalysisChannelUsedMap">
  	 select data_.name,data_.mysend,(data_.count-data_.mysend) as authorizeUsed from 
		(select mc.name,count(1) as count,count(if(mwr.sender=#{userId},1,null)) as mysend
			from msgs_wechat_record mwr left join msgs_channel mc on mwr.channel_id=mc.id
			where mwr.draft=0 and mwr.channel_id in 
			<foreach collection="ids" index="index" item="item" open="(" separator="," close=")">
            	#{item}
        	</foreach>
			group by mwr.channel_id
		) data_
  </select>   
  <!-- 近一年高新区各类型渠道使用发展情况 -->
  <select id="getMsgAllChannelUsedCount" resultMap="getMsgAllChannelUsedCountMap">
  	  select date_.year_,date_.month_,count(1) as count
	  from
		(select year(create_time) year_,month(create_time) month_ 
		from msgs_wechat_record
		where (create_time BETWEEN date_sub(now(),interval 1 year) and now()) and draft=0) date_
	  group by date_.year_,date_.month_
	  order by date_.year_,date_.month_
  </select> 
  <!-- 个人渠道发布商次数TOP10 -->
  <select id="getPublisherSendTop10" resultMap="getAppSendMap">
		select table_.app_name,count(1) as count from 
			(SELECT app_id,app_name,channel_id FROM msgs_wechat_record
			UNION ALL
			SELECT app_id,app_name,channel_id FROM msgs_blog_record
			UNION ALL
			SELECT app_id,app_name,channel_id FROM msgs_mobile_record) table_	
		where 1=1
		<if test="ids != null">
			and	channel_id in
			<foreach collection="ids" index="index" item="item" open="(" separator="," close=")">
	            #{item}
	        </foreach>
		</if>
		group by table_.app_id,table_.app_name
  </select> 
  <!-- 近期发布商活跃情况分析 -->
  <select id="getActivePublisherSendCount" resultMap="msgActiveSendMap">
		select table_.app_id,table_.app_name,table_.channel_id,YEAR(table_.create_time) year_,month(table_.create_time) month_,day(table_.create_time) day_,count(1) as count
		from 
			(SELECT app_id,app_name,channel_id,create_time FROM msgs_wechat_record
			UNION ALL
			SELECT app_id,app_name,channel_id,create_time FROM msgs_blog_record
			UNION ALL
			SELECT app_id,app_name,channel_id,create_time FROM msgs_mobile_record) table_
		where table_.create_time BETWEEN date_sub(now(),interval 30 day) and now()
			and table_.app_id in 
		    <foreach collection="appIds" index="index" item="item" open="(" separator="," close=")">
	            #{item}
	        </foreach>
	        and table_.channel_id in
	        <foreach collection="channelIds" index="index" item="item" open="(" separator="," close=")">
	            #{item}
	        </foreach>
	        <if test="appId != null and appId != ''">
	        	and table_.app_id = #{appId}
	        </if>
		GROUP BY year_,month_,day_
		ORDER BY year_,month_,day_
  </select> 
  <!-- 发布商消息记录分页列表 -->
  <select id="getMsgsList" resultMap="msgPublisherPageMap">
		select table_.msg_id,table_.app_name,GROUP_CONCAT(mc.name SEPARATOR ';') as name,table_.topic,table_.create_time from 		
			(SELECT msg_id,app_id,app_name,channel_id,topic,if(start_time is null or start_time='',create_time,start_time) create_time,draft FROM msgs_wechat_record
			UNION ALL
			SELECT msg_id,app_id,app_name,channel_id,topic,if(start_time is null or start_time='',create_time,start_time) create_time,draft FROM msgs_blog_record
			UNION ALL
			SELECT msg_id,app_id,app_name,channel_id,topic,if(start_time is null or start_time='',create_time,start_time) create_time,draft FROM msgs_mobile_record) table_
		left join msgs_channel mc on table_.channel_id = mc.id
		where table_.draft = 0 and table_.channel_id in 
		<foreach collection="msgsMessagePublisherDTO.channelIds" index="index" item="item" open="(" separator="," close=")">
	         #{item}
	    </foreach>
	    <if test="msgsMessagePublisherDTO.appId != null and msgsMessagePublisherDTO.appId != ''">
	        and table_.app_id = #{msgsMessagePublisherDTO.appId}
	    </if>
	    <if test="msgsMessagePublisherDTO.channelType != null and msgsMessagePublisherDTO.channelType != ''">
	        and mc.channel_type = #{msgsMessagePublisherDTO.channelType}
	    </if>
	    <if test="msgsMessagePublisherDTO.name != null and msgsMessagePublisherDTO.name != ''">
	        and name like #{msgsMessagePublisherDTO.name}
	    </if>
	    <if test="msgsMessagePublisherDTO.createTimeStart != null and msgsMessagePublisherDTO.createTimeStart != ''">
	        and create_time &gt; #{msgsMessagePublisherDTO.createTimeStart}
	    </if>
	    <if test="msgsMessagePublisherDTO.createTimeEnd != null and msgsMessagePublisherDTO.createTimeEnd != ''">
	        and create_time &gt; #{msgsMessagePublisherDTO.createTimeEnd}
	    </if>
		group by table_.msg_id 
		order by table_.create_time desc
  </select> 
</mapper>