.row{
	margin: 0;
}
.card{
	height: 100%;
	min-height: 100px;
	box-sizing: border-box;
	width: 24.24%;
	position: relative;
	box-shadow: 4px 4px 4px #A8A8A8;
	transition: all 0.1s linear;
	text-align: center;
}
.card:hover{
	transform: scale(1.05);
	-webkit-transform: scale(1.05);
	-ms-transform: scale(1.05);
}
.card-1{
	background-color: #1CAF9A;
	margin-right: 1%;
}
.card-2{
	background-color: #D9534F;
	margin-right: 1%;
}
.card-3{
	background-color: #428BCA;
	margin-right: 1%;
}
.card-4{
	background-color: #009933;
	float: right;
}
.card-content{
	display: inline-block;
	text-align: left;
	font-size: 14px;
	margin-top: 23px;
}
.link{
	text-decoration: underline;
	cursor: pointer;
}
.chart-container{
	position: relative;
	width: 49%;
	height: 500px;
	padding: 20px;
	border: 1px dotted #a79d9d;
	box-sizing: border-box;
}
.radio-container{
	position: absolute;
	width: 100%;
	left: 0;
	top: 15px;
	height: 20px;
	line-height: 1;
	text-align: center;
	z-index: 1000;
}
.radio-inline{
	font-size: 14px;
}
.radio-inline input[type="radio"]{
	width: 16px;
	height: 16px;
}
.chart{
	height: 100%;
}