/*---------------初始化 begin----------------*/

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
	margin: 0;
	padding: 0;
}

body {
	font-size: 14px;
	font-family: 'Microsoft YaHei', '微软雅黑', STSong, '宋体', '\5B8B\4F53', 'Times New Roman', Verdana, Arial, Helvetica, sans-serif;
	min-height: 860px;
	min-width: 1280px;
}

td,
th,
caption {
	font-size: 12px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
	font-size: 100%;
}


/*address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal;}*/

a {
	color: #555;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

img {
	border: none;
}

ol,
ul,
li {
	list-style: none;
}

input,
textarea,
select,
button {
	font: 14px "\5B8B\4F53", Verdana, Helvetica, Arial, sans-serif;
}

table {
	border-collapse: collapse;
}

label {
	max-width: none;
}


/*---------------初始化 end----------------*/


/*-------------常用自定义样式 begin--------------*/

.clearfix:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}

.left{
	float: left;
}
.right{
	float: right;
}

/*-------------常用自定义样式 end---------------*/


/*---------------头部header begin-------------*/
body{
    /*min-width: 1280px;*/
}
header{
	width: 100%;
	height: 100px;
	background: #0A81C3;
}

.header_left{
	float: left;
}
.header_right{
	float: right;
}
.logo{
	height: 72px;
	margin: 14px 20px;
}
.logo img{
	width: 509px;
	height: 72px;
	cursor: pointer;
}
.search{
	width: 240px;
	height: 40px;
	background: #045789;
	border-radius: 30px;
	margin: 31px 30px 0 0;
	float: left;
	position: relative;
}
.search input{
	width: 160px;
	margin: 12px 15px;
    background: none;
    border: 0;
    outline: none;
    color: #fff;
}
input::-webkit-input-placeholder{
	color:#adaeb1;
}
input::-moz-placeholder{
	color:#adaeb1;
}
input:-ms-input-placeholder{
	color:#adaeb1;
}
.search img{
	width: 24px;
    margin: 8px 15px 0 0;
    cursor: pointer;
}
.searchList{
	float: left;
	width: 100%;
	background: #fff;
	position: absolute;
	top: 55px;
	z-index: 99;
	box-shadow: 2px 2px 2px #ddd;
	display: none;
}
.searchList ul li{
	padding: 0 12px;
}
.searchList ul li.frist{
	padding: 12px 12px;
}
.searchList ul li:hover{
	background: #f2f2f2;
	text-decoration: none;
}
.searchList ul li a{
	display: inline-block;
	line-height: 43px;
	width: calc(100% - 24px);
}
.searchList ul li a:hover{
	text-decoration: none;
}
.searchList ul li a span{
	color: red;
}

.infoTip{
	float: left;
	margin-top: 27px;
	margin-right: 20px;
	position: relative;
	cursor: pointer;
}
.infoTip img{
	width: 43px;
	height: 45px;
}
.infoTip span{
	position: absolute;
	display: none;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #FF0000;
	color: #fff;
	line-height: 25px;
	text-align: center;
	font-size: 12px;
	top: 0px;
	right: 0px;
	top: -9px;
	right: -6px;
	cursor: pointer;
}
.userInfo{
	margin-right: 20px;
}
.userImg img{
	width: 66px;
	height: 66px;
	margin: 15px;
	border-radius: 50%;
}
.userTxt{
	color: #fff;
    margin: 40px 16px 0 0;
}
.userTxt img,.userTxt label{
	cursor: pointer;
}
.userTxt img.rotate{
	transform: rotate(180deg);
}
.userName{
	margin-right: 6px;
}
.userInfo ul{
    position: absolute;
    right: 38px;
    top: 58px;
    width: 60px;
    text-align: center;
    background: #FFFFFF;
    /*font-weight: 700;*/
    box-shadow: 1px 1px 2px #ddd;
    display: none;
	z-index: 999;
}
.userInfo ul li{
	margin: 10px 0;
	width: 100%;
}
.userInfo ul li a{
	color: #0066cc;
	display: inline-block;
	width: 100%;
	font-size: 12px;
}
.userInfo ul li a:hover{
	text-decoration: none;
}

/*---------------头部header end---------------*/

/*---------------底部footer begin-------------*/
footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 115px;
	background: #2989b7 url(../images/adminImg/icon_gz_04.png) no-repeat center;
	text-align: center;
	color: #FFFFFF;
}
footer ul{
	display: inline-block;
	margin: 36px 0 0;
}
footer ul li{
	float: left;
	margin-right: 10px;
	text-align: left;
}
footer ul li p:first-child{
	margin-top: 4px;
	margin-right: 20px;
}
footer ul li p img{
	margin-top: 2px;
}
/*---------------底部footer end---------------*/

/*------------------主体内容 begin-------------*/
html,body,.container{
	height: 100%;
}
.container{
	background: #e2e3e7;
	padding: 20px 22px;
	width: auto;
	overflow: auto;
	min-height: 622px;
}
.main_left_title{
	position: relative;
}
.main_left_title a.more{
	font-size: 12px;
	top: 9px;
}
.main_left,.main_right{
	width: 295px;
	height: 712px;
	overflow: hidden;
	background: #FFFFFF;
	padding: 3px 10px;
}
#appList{
	height: 93%;
	overflow-y: auto;
	padding: 0 6px 0 0;
}
.main_left h3,.main_right h3,.main_center h3{
	font-size: 16px;
	color: #333;
	border-bottom: 1px solid #F8F6F9;
	margin-bottom: 10px;
}
.main_left h3 span,
.main_right h3 span,
.main_center h3 span{
	padding: 3px 0;
	margin-bottom: -1px;
	border-bottom: 2px solid #0187EA;
}
.main_right h3 span.right{
	color: #8ac8f5;
	cursor: pointer;
}
ul.ul_list li{
	float: left;
	width: 100%;
	/*height: 50px;*/
	margin-bottom: 10px;
	font-size: 16px;
	border-bottom: 1px dashed #999999;
}
ul.ul_list li a{
	display: inline-block;
	width: 100%;
	min-height: 50px;
	cursor: pointer;
}
ul.ul_list li a p{
	font-size: 14px;
	color: #333;
	width: 100%;
	/*white-space: nowrap;*/
	overflow: hidden;
	text-overflow: ellipsis;
}
ul.ul_list li a p span.time,
ul.ul_list li a p span.systemName{
	color:#999;
	width: auto;
	margin: 3px 0;
	font-size: 12px;
}
ul.ul_list li:hover a p,
ul.ul_list li:hover a p span{
	color: #2AA6E8;
}
ul.ul_list li:hover{
	border-bottom: 1px dashed #2AA6E8;
}
ul.ul_list li a:hover{
	text-decoration: none;
}
ul.ul_list li a i{
	margin: 16px 3px 0;
}
ul.ul_list li.item img{
	width: 30px;
	margin: 10px 10px 0 27px;
}
ul.ul_list li.item span{
	margin: 13px 0;
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.main_left ul.ul_list li.item span{
    width: 176px;
}
.main_left ul.ul_list li.item i{
	font-style: normal;
	display: inline-block;
	margin: 0;
	width: 112px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
/*.main_right ul.ul_list li.item span{
    width: 186px;
}*/
ul.ul_list li.item span sub{
	font-size: 12px;
    margin-bottom: 10px;
    color: #999;
    float: right;
    margin-top: 5px;
}
.create,.edit,.delete{
	display: none;
}
.main_center{
	margin: 0 330px;
	height: 700px;
	background: #FFFFFF;
	padding:10px 23px;
}
.main_center_top,
.main_center_bottom{
	position: relative;
	width: 100%;
    height: 336px;
    overflow: hidden;
}
.main_center_top{
	height: 330px;
}
.centerSecond{
	height: 330px;
}
.table{
	margin: 12px 0;
	table-layout: fixed;
	width: 100%;
}
.pageMore .table{
	margin:  0;
	table-layout: fixed;
	width: 100%;
}
.table thead tr th,
.table tbody tr td{
	padding: 10px 3px;
	text-align: center;	
	vertical-align: middle;
	border: 1px solid #ddd;
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.table thead tr th{
	background: #f9f8fd;
}
.table tbody tr td a{
	color: #50acf1;
}
.more{
	position: absolute;
    top: 22px;
    right: 0;
    color: #50acf1;
}
#document,#table_info,#table_earlyWarning,#table_mail{
	display: none;
}
.pzBtn{
	position: absolute;
	top: 0;
	right: 0;
	color: #50acf1;
}
.ptList{
	margin-top: 20px;
}
.ptList li{
	width: 10em;
	height: 94px;
	margin: 5px 6px;
	text-align: center;
	background: #E4F0F9;
	cursor: pointer;
	position: relative;
}
.ptListp{
	position: absolute;
	right: 3px;
	top: 3px;
	color: #333;
}
.editPtList{
	margin-top: 1px;
}
.ptList li img{
	width: 40px;
	height: 40px;
	margin-top: 6px;
}
.ptList li p{
	padding: 0 0 6px 0;
	color: #2AA6E8;
}
.nav_list{
	margin-top: 15px;
}
.nav_list li{
	color: #333;
	margin-bottom: 6px;
}
.nav_list>li>a{
	background: #F6F5F8;
	display: inline-block;
	width: 100%;
	line-height: 36px;
	font-size: 16px;
	color: #000;
	position: relative;
}
.nav_list li a:hover{
	text-decoration: none;
}
.nav_list li a span{
	margin: 9px;
}
.nav_list li a i{
	position: absolute;
	top: 9px;
	right:6px;
}
.navChildren{
	margin-left: 1em;
	display: none;
}
.navChildren img{
	width: 40px;
	height: 40px;
	float: left;
	margin-right: 6px;
}
.navChildren li a{
	line-height: 40px;
	display: inline-block;
	width: 100%;
}
.navChildren li a:hover{
	color: #2AA6E8;
}
.nav_list li.active .navChildren{
	display: inline-block;
}
/*------------------主体内容 end---------------*/

/*-----------------火焰灯效果 begin------------*/

.lava_with_border {
	position: relative;
	display: inline-block;
    height: 29px;
    padding: 15px 0 1px;
}

.lava_with_border li {
	position: relative;
	float: left;
}

.lava_with_border li a {
	float: left;
	font-weight: bold;
	color: #333333;
	font-size: 14px;
	top: 8px;
	margin: auto 10px;
	text-decoration: none;
	z-index: 3;
	cursor: default;
}

.lava_with_border li a:hover {
	text-decoration: none;
	color: #333333;
}

.lava_with_border li.back {
	/*height: 30px;*/
	border-bottom: 3px solid #0187EA;
	position: absolute;
	z-index: 2;
	bottom: 0;
}

.lava_with_border li a sup{
	min-width: 15px;
	height: 15px;
	display: inline-block;
	position: absolute;
	top: -15px;
	right: -6px;
	background: #ff0000;
	border-radius: 50%;
	text-align: center;
	line-height: 15px;
	color: #fff;
	font-weight: normal;
	font-size: 12px;
	padding: 2px;
}
.main hr{
	margin: 0;
    position: absolute;
    width: 100%;
    top: 42px;
    border: 1.5px solid #f2f2f2;
}
/*-----------------火焰灯效果 bend-------------*/

/*----------layer弹窗自定义样式 begin----------*/
.layui-layer{
	border-radius: 36px !important;
}
.layui-layer .layui-layer-title{
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.layui-layer .layui-layer-title,
.layui-layer .layui-layer-btn{
	color: #fff;
	background-color: #0987b0;
}
.layui-layer .layui-layer-btn{
	background-color: #fff;
	text-align: center;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
.layui-layer-btn .layui-layer-btn0{
	background: #228be6;
}
.layui-layer .layui-layer-ico{
	background: none;
}
.layui-layer .layui-layer-ico:before {
	content: "x";
	font-size: 16px;
	font-weight: normal;
	line-height: 14px;
	color: #fff;
}
/*----------layer弹窗自定义样式 end------------*/

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar,body::-webkit-scrollbar
{
	width: 5px;
	height: 5px;
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track,body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #eee;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb,body::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #999;
}


/****************************************************************************   信息结果 ************************************************************************************/
.infoContainer{
	min-height: 500px;
}
.infoContainer h3{
	border-left: 2px solid #1789E7;
	padding-left: 9px;
	line-height: 14px;
}
.infoMain{
	margin: 20px 0 0;
	padding: 10px;
	background: #fff;
}
.infoMain>ul li{
	float: left;
	padding: 10px 16px;
	background: #F6F6F6;
	color: #333;
	margin: 0 5px 0 0;
	font-size: 14px;
	cursor: pointer;
}
.infoMain>ul li.active{
	background: #1982C1;
	color: #fff;
}
.infoMain>ul li.all{
	background: none;
	/*margin-left: 4px;*/
}
.infoMain>ul li.all input{
	vertical-align: bottom;
	height: 18px;
	margin-top: 0px;
}
.tab-title-top{
	 width: 100%;
	 table-layout: fixed;
	 border: 0;
	 margin: 20px 0;
 }
.tab-title-top thead tr th{
	text-align: center;
	background: #1982C1;
	color: #fff;
	padding: 9px 0;
}
.tab-title-top tbody tr td{
	text-align: center;
	font-size: 14px;
	padding: 5px 0;
	border-bottom: 1px solid #ddd;
}
.tab-title-top tbody tr td.text-left{
    text-align: left;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.tab-title-top tbody tr.isReadTrue td{
	color: #999;
}
.tab-title-top tbody tr td input{
	vertical-align: bottom;
	height: 20px;
}
.tab-title-top tbody tr td a{
	color: #1982C1;
}
.pagination {
	display: inline-block;
	padding-left: 0;
	margin: 12px 0;
	border-radius: 4px;
}
/*.setact{
	position: absolute;
	margin-top: 14px;
}*/
/****************************************************************************   搜索结果 ************************************************************************************/
.searchContainer{
	min-height: 500px;
}
.searchContainer .search{
	width: 720px;
	height: 40px;
	background: #fff;
	border-radius: 3px;
	 margin: 0 auto;
	float: none;
	position: relative;
}
.searchContainer .search input::-webkit-input-placeholder{
	color:#ddd;
}
.searchContainer .search input::-moz-placeholder{
	color:#ddd;
}
.searchContainer .search input:-ms-input-placeholder{
	color:#ddd;
}
.searchContainer .search input {
	width: 630px;
	border: 0;
	outline: none;
	color: #333;
	margin: 12px 0;
}
#searchBtn{
	width: 40px;
	height: 40px;
}
#searchBtn img{
	margin: 8px 0 0 8px;
}
.btn-search{
	background: #2BB2FF;
	color:#fff;
	text-align: center;
	line-height: 40px;
	width: 50px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	cursor: pointer;
}
.searchInfoMain{
	width: 960px;
	background: #fff;
	margin: 20px auto;
	min-height: 450px;
	overflow: auto;
}
.list-contain {
	float: left;
	padding:0 20px 20px;
}

a.result-list-item {
	float: left;
	width: 100%;
	margin: 5px 0 20px;
	color: #333;
	transition: border .5s;
	text-decoration: none;
}

.result-list-item:hover,.result-list-item:visited {
	text-decoration: none;
	color: #333;
}

.text-title {
	color: #2BB2FF;
	padding-bottom: 2px;
	font-size: 16px;
}

.result-list-item .status {
	margin-top: 8px;
	color: #333;
}

.result-list-item .update-time {
	margin-top: 6px;
	color: #999;
}

.result-list-item .update-time .text-val {
	color: #999;
}
.currentPage {
	margin-top: 20px;
	color: #666;
	font-size: 14px;
	line-height: 36px;
	padding-right: 20px;
}
.searchnav{
	text-align: center;
	height: 40px;
	border-bottom: 1px solid #ddd;
}
.searchnav ul{
	display: inline-block;
	line-height: 39px;
}
.searchInfoMain li{
	float: left;
	margin: 0 6px;
	cursor: pointer;
}
.view-framework{
	height: 100%;
	position: relative;
}
.searchInfoMain li.active{
	color:#2BB2FF;
	border-bottom: 1px solid #2BB2FF;
}
.view-framework-sidebar{
	height: 100%;
	position: absolute;
	top: 0;
}
