/*---------------初始化 begin----------------*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td { margin: 0; padding: 0; }
body { font-size: 14px; font-family: 'Microsoft YaHei','微软雅黑',STSong,'宋体', '\5B8B\4F53','Times New Roman', Verdana, Arial, Helvetica, sans-serif; }
td, th, caption { font-size: 14px; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; font-size: 100%; }
/*address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal;}*/
a { color: #555; text-decoration: none; }
a:hover { text-decoration: underline; }
img { border: none; }
ol, ul, li { list-style: none; }
input, textarea, select, button { font: 14px "\5B8B\4F53",Verdana,Helvetica,Arial,sans-serif; }
table { border-collapse: collapse; }
label{max-width: none;}
.clearfix:after { clear: both; content: "."; display: block; height: 0; visibility: hidden; }
input[type="radio"], input[type="checkbox"]{vertical-align:middle; margin-top:2px;}
caption{line-height: 32px;}
.select-inp{width: 100%;}
.btn-select{padding: 0 10px; border-radius: 3px;}
sup{color: #09c; padding: 0 5px; font-size: 12px; cursor: pointer; display: none;}
i.fa{font-size: 19px; float: left; margin: 1px 5px 0 0;}
.tooltip_span i.fa{font-size: 14px; float: left; margin: 5px 5px 0 0;}
.btn-style{ padding: 5px 8px; height: auto; border-radius: 6px;}
#tip_p{visibility: hidden}
.btn-style:active,.btn-style:focus{ background:#09c; outline: none; border: 1px solid #0099cc;}
.w20{width: 20px;}
.w90{width: 90px;}
.w120{width: 120px;}
/*---------------初始化 end----------------*/


/*---------------页面排版样式 begin----------------*/
.row {margin: 0 0; margin-bottom: 15px; padding-bottom: 15px;}
/*页面标题*/
.console-title {min-height: 20px; text-align: center; font-size: 18px; color: #000000; margin-bottom: 10px;}
.page-title {border-left: 2px solid #6699cc; color: #666666; font-size: 14px;}
.page-title-scend {color: #0066cc;}
a.btn-back {color: #6699cc; font-size: 14px; cursor: pointer;}
a.link_a{ color: #0066cc;}
/*主体内容*/
.list-section {padding: 5px 10px; background: #fff; }
.list-section .selWid-form-search {width: 99px;}
.list-section .list-content { width: 100%; margin: 0 auto; }
.list-content h5 { margin: 0 0; padding-top: 10px; padding-bottom: 10px; border-bottom: 1px solid #0099cc; }
.ui-button {color:#6699cc;}
.form-inline .pull-right .form-field { margin: 4px 0px; }
.form-inline .pull-right .form-field .form-group{ margin: 4px 0px; }
.center{text-align: center;}
.configure h3{line-height: 30px; font-size: 14px; margin-top: 10px;}
.configure .folderName,.configure .form-inline .set-form{width: 100%;  border: 0; border-bottom: 1px solid #66afe9; outline: 0; padding: 3px 0;}
/*ul选项卡*/
.tab-ul{width: 100%; padding-bottom: 6px; border-bottom: 1px solid #f2f2f2;}
.tab-ul li{float: left; padding: 5px 20px; border-radius: 3px; background: #e7e7e7; color: #333; margin-right: 2px; cursor: pointer;}
.tab-ul li.active{background: #0099cc; color: #fff;}
#share{display: none;}
/*翻页*/
.pagerDiv{text-align: center;}
#Pager{ margin: auto; display: inline-block;}
#Pager li{ float: left; color: #333; font-size: 14px; margin: 0 3px;}
#Pager li i{ font-size: 12px; color: #09c; margin-top: 4px; cursor: pointer;}
#Pager li i.iDisabled{ color: #d5d5d5; cursor: auto;}
/*---------------页面排版样式 end----------------*/

/*---------------表格样式 begin---------------------- */
.table {
	margin-bottom: 10px;
}
.table > thead > tr > th,
.table > tbody > tr > td {
	border-bottom: 1px solid #ddd;
	text-align: center;
	vertical-align: middle;
}
.table-no-bordered > thead > tr > th,
.table-no-bordered > tbody > tr > td {
	border-bottom: 0;
	border-top: 0;
}
.table > thead > tr > .text-left,
.table > tbody > tr > .text-left{
	text-align: left;
}
.table > tbody > tr > td img {
	width: 19px;
	height: 19px;
	margin-right: 5px;
}
.table > tbody > tr > td span {
	white-space: nowrap;
	display: inline-block;
	width: 75%;
	overflow: hidden;
	text-overflow: ellipsis;
}
.table > tbody > tr > td span.tooltip_span{
	color: #1E90FF;
	width: auto;
	/*display: none;*/
}
.table > tbody > tr > td span i {
	font-style: normal;
	cursor: pointer;
}
.table > tbody > tr > td.tip_td{
	text-align: center;
	line-height: 50px;
	border-bottom: 0px solid #ddd;
}
.table > tbody > tr > td.tip_td:hover{
	background: #fff;
}
/*-----------表格样式 end-------------------*/


/*-----------webuploader文件上传样式 begin-------------------*/
.uploader {border: 1px solid #ddd;}
/*-----------webuploader文件上传样式 end-------------------*/


/*-----------layer弹窗样式begin-------------------*/
.layui-layer-iframe .layui-layer-title,.layui-layer-dialog .layui-layer-title {background-color: #0088b6; color: #fff; }
.layui-layer-iframe .layui-layer-btn,.layui-layer-page .layui-layer-btn,
.layui-layer-dialog .layui-layer-btn{ background-color: #0088b6; padding-top: 0; padding: 6px 0;}
.layui-layer-btn a { border: 1px solid #2e8ded; background-color: #2e8ded; color: #fff;}
/*-----------layer弹窗样式 end-------------------*/