.row {
    margin: 0 0;
    margin-bottom: 15px;
    padding-bottom: 15px;
}

.console-title {
    min-height: 20px;
    text-align: center;
    font-size: 18px;
    color: #000000;
}

.list-section {
    padding: 5px 10px;
    background: #fff;
}

.list-content {
    width: 100%;
    margin: 0 auto;
}

.list-content h5 {
    margin: 0 0;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #0099cc;
}

.list-content h4 {
    font-size: 12px;
    line-height: 12px;
    font-family: "微软雅黑";
    vertical-align: middle;
}

.grid-section {
}

.ui-jqgrid .ui-jqgrid-btable tbody tr.jqgrow td, .ui-jqgrid {
    background: #fff;
}

.ui-th-ltr, .ui-jqgrid .ui-jqgrid-htable th.ui-th-ltr, .ui-jqgrid .ui-jqgrid-btable
{
    text-align: center;
}