/*---------------初始化 begin----------------*/

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
	margin: 0;
	padding: 0;
}

body {
	font-size: 14px;
	font-family: 'Microsoft YaHei', '微软雅黑', STSong, '宋体', '\5B8B\4F53', 'Times New Roman', Verdana, Arial, Helvetica, sans-serif;
}

td,
th,
caption {
	font-size: 12px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
	font-size: 100%;
}


/*address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal;}*/

a {
	color: #555;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

img {
	border: none;
}

ol,
ul,
li {
	list-style: none;
}

input,
textarea,
select,
button {
	font: 14px "\5B8B\4F53", Verdana, Helvetica, Arial, sans-serif;
}

table {
	border-collapse: collapse;
}

label {
	max-width: none;
}


/*---------------初始化 end----------------*/


/*-------------常用自定义样式 begin--------------*/

.clearfix:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}

.left{
	float: left;
}
.right{
	float: right;
}

/*-------------常用自定义样式 end---------------*/


.table-title-left,
.table-title-left tbody tr th,
.table-title-left tbody tr td{
	border: 0;
}
.table-title-left tbody tr th{
	text-align: right;
	vertical-align: middle;
}
.photoUploader{
	display: none;
}
#filePicker{
	width: 120px;
}
#nopic{
	width: 120px;
	height: 120px;
	float: left;
}