<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="Expires" content="0"/>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/>
    <!-- 外部CSS引入 -->
    <link rel="stylesheet" type="text/css" href="${_css}/reset.css">
    <link type="text/css" rel="stylesheet" href="${_static}/js/lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="${_static}/js/lib/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="${_lib}/jquery-step/jquery.step.css">
    <link rel="stylesheet" href="${_static}/themes/blue/css/ui.css?v=0.2">
    <!-- <link rel="stylesheet" href="${_css}/app.css"> -->
    <link href="${_static}/css/viewCss/module/home.css?v=2" rel="stylesheet" type="text/css"/>
    <style>
        .view-framework-sidebar-mini .view-framework-main {
            left: 38px;
        }
    </style>
</head>

<body>

<div class="workspace-body">
    <div class="console-container">
        <div class="row">
            <div class="col-sm-12">
                <!-- begin 标题 -->
                <div class="console-title console-title-border clearfix">
                    <div class="pull-left">
                        <h5><font color="#0099cc">首页</font></h5>
                    </div>
                </div>
                <!-- begin 页面内容主体 -->
                <div class="content-card">
                    <div class="row">
                        <div class="col-sm-3 card card-1">
                            <div class="card-content">
                                <p>单位数量：<span id="orgNum">--</span>个</p>
                            </div>
                        </div>
                        <div class="col-sm-3 card card-2">
                            <div class="card-content">
                                <p>部门数量：<span id="dpmNum">--</span>个</p>
                            </div>
                        </div>
                        <div class="col-sm-3 card card-3">
                            <div class="card-content">
                                <p>应用数量：<span id="appNum">--</span>个</p>
                            </div>
                        </div>
                        <div class="col-sm-3 card card-4">
                            <div class="card-content">
                                <p>人员数量：<span id="empNum">--</span>个</p>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 25px">
                        <div class="col-sm-9 pull-left">
                            <div class="row">
                                <div class="chart-container pull-left" style="width: 100%;">
                                    <div id="chart1" class="chart"></div>
                                </div>
                            </div>
                            <div class="row" style="margin-top: 25px">
                                <div class="chart-container pull-left" style="width: 100%;">
                                    <div id="chart2" class="chart"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3 pull-left" style="margin-top: 5px;">
                            <h4 style="margin: 0 0 10px;">常用快捷入口菜单排名</h4>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th style="width: 50px;">序号</th>
                                        <th>菜单资源名称</th>
                                        <th style="width: 100px;">所属系统</th>
                                    </tr>
                                </thead>
                                <tbody id="tbody"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
                
                <!-- end 页面内容主体 -->
            </div>
        </div>
    </div>
</div>

<!--begin 外部JS引入 -->
<script type="text/javascript">
    var _GATE_URL = "${_gate_url}";
</script>
<script type="text/javascript" src="${_static}/js/lib/echarts/echarts.common.min.js"></script>
<script type="text/javascript" src="${_static}/js/lib/jquery/jquery.min.js"></script>
<script type="text/javascript" src="${_static}/js/lib/jquery/jquery.cookie.js" charset="utf-8"></script>
<script type="text/javascript" src="${_static}/js/hengyun/hengyun_ajax.js"></script>
<script type="text/javascript" src="${_static}/js/hengyun/hengyun_resource.js"></script>
<script type="text/javascript" src="${_js}/viewJs/module/home.js?v=1"></script>
<!--end 外部JS引入 -->
</body>
</html>